
 <!-- <div class="row">
  <div class="col-9"></div>

  <fieldset>
    <legend><i class="fa fa-filter icon-pad" aria-hidden="true"></i>Filter All Columns</legend>
    <input id="filtertestbox" [(ngModel)] = "filtertext" placeholder="Filter..." (input)="onFilterTextBoxChanged()" />
  </fieldset>  
</div> -->

<ag-grid-angular #agGrid 
  class="ag-theme-balham"
  [columnDefs]="colDefs"
  [rowData]="rowData"
  [gridAutoHeight]="true"
  [enableSorting]="true"
  [enableFilter]="true"
  [showToolPanel]="false"
  [toolPanelSuppressPivotMode]="true"
  [toolPanelSuppressRowGroups]="true"
  [toolPanelSuppressValues]="true"
  [toolPanelSuppressPivots]="true"
  [toolPanelSuppressColumnFilter]="true"
  [toolPanelSuppressColumnSelectAll]="true"
  [suppressMovableColumns]="true"
  [suppressRowTransform]="true"
  (toolPanelVisibleChanged)="onToolPanelVisibleChanged($event)"
  (columnVisible)="onColumnVisible($event)"
  [pivotMode]="false"
  [pagination]="true"
  [paginationPageSize]="20"
  (paginationChanged)="agGridPagination.onPaginationChanged($event)"
  [suppressPaginationPanel]="true"
  [frameworkComponents]="frameworkComponents"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
<ag-grid-pagination #agGridPagination [agGrid]="agGrid"></ag-grid-pagination>

