.form-check {
  margin: 0 0 0 15px;
}

.form-check-input {
  margin-left: -10px;
}

.form-check-label {
  padding-left: 10px;
}

.dropdown-width {
  min-width: 100px;
}

.program-search-table {
  margin: 10px;
  td {
    padding: 3px 10px;
  }
}


.mat-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  color: #fff;
    >  .mat-sort-header-button {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
  }
    > .mat-header-row, > .mat-row {
      display: table-row;
      min-height: 20px;
    > .mat-header-cell {
      display: table-cell;
      height: 38px;
      padding: 0 10px;
      color: #ffffff;
      vertical-align: middle;
    }
    > .mat-header-cell, > .mat-cell {
      display: table-cell;
      height: 38px;
      border: 1px solid #7b8389;
      font-size: 14px;
      padding: 0 10px;
      vertical-align: middle;
    }
    > .mat-header-cell {
      font-size: 16px;
    }
  }
}

mat-header-row {
  background-color: #24527b;
  color: #ffffff;
}

mat-row:nth-child(even) {
    background: #dbe8f7;
  }

mat-row:nth-child(odd){
    background: #eae9e9;
  }

.program-view-link {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
