.form-check {
  margin: 0 0 0 15px;
}

.form-check-input {
  margin-left: -10px;
}

.form-check-label {
  padding-left: 10px;
}

mat-table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

.mat-header-cell  {
  font-size: 15px;
  color: #fff;
}

.mat-sort-header-button {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

mat-header-row {
  min-height: 40px;
  background-color: #24527b;
  color: #ffffff;
}

mat-row {
  border: 1px solid #7b8389;
}

mat-row:nth-child(even) {
    background: #dbe8f7;
  }

mat-row:nth-child(odd){
    background: #eae9e9;
  }

.mat-sort-header-button {
  color: #fff;
}

.ng-container {
  border: 1px solid #7b8389;
}

.program-view-link {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
