<app-header></app-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isloggedin">
    <div class="col-md-12">
      <div class=row>
        <div class="col-md-10 mb-2">
          <span class="h5 mr-sm-4">Select Program to View:</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header"><i class="fa fa-filter icon-pad" aria-hidden="true"></i>Filter By</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    Appropriation
                  </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                    OpAgency
                  </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                    ??
                  </label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group inline-name">
                    <label class="mb-1">RDTE:</label>
                    <select class="form-control-sm mb-2 mr-sm-1">
                      <option>items</option>
                      <option>items</option>
                      <option>items</option>
                    </select>
                  </div>
                  <div class="form-group inline-name">
                    <label class="mb-1">5Y:</label>
                    <select class="form-control-sm mb-2 mr-sm-1">
                      <option>items</option>
                      <option>items</option>
                      <option>items</option>
                    </select>
                  </div>
                  <div class="form-group inline-name">
                    <label class="mb-1">???:</label>
                    <select class="form-control-sm mb-2 mr-sm-1">
                      <option>items</option>
                      <option>items</option>
                      <option>items</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    BA/BLIN
                  </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                    OpAgency
                  </label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                    BA
                  </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                    ??
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="h6">Select Program of Interest</div>
                  <table class="program-filter-table">
                    <thead>
                      <tr>
                        <th class="row-width">Program</th>
                        <th class="row-width">Subprogram</th>
                        <th class="row-width">Varaint</th>
                        <th>Org</th>
                        <th>OpAgency</th>
                        <th>Manager</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                      <tr class="row-blue">
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                      </tr>
                      <tr class="row-light">
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                      </tr>
                      <tr class="row-blue">
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                      </tr>
                      <tr class="row-light">
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                        <td class="">-</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
