<div class="row">
  <div class="col-md-11 col-sm-12 mb-3">
    <table class="GeneratedTable">
      <thead>
        <tr>
          <th class="row-width">Appropriation</th>
          <th class="row-width">Budget</th>
          <th>Cycle</th>
          <th>FY16</th>
          <th>FY17</th>
          <th>FY18</th>
          <th>FY19</th>
          <th>FY20</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="row-lt-gray text-center" rowspan="3">RDT&amp;E</td>
          <td class="row-lt-gray text-center" rowspan="3">BA4</td>
          <td>PBR18</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
        </tr>
        <tr class="row-lt-blue">
          <td>POM19</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
        </tr>
        <tr class="row-lt-green">
          <td></td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
        </tr>
        <tr>
          <td class="row-lt-gray text-center" rowspan="3">RDT&amp;E</td>
          <td class="row-lt-gray text-center" rowspan="3">BA5</td>
          <td>PBR18</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
        </tr>
        <tr class="row-lt-blue">
          <td>POM19</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
        </tr>
        <tr class="row-lt-green">
          <td></td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
        </tr>
        <tr class="row-lt-gray row-border-top font-weight-bold">
          <td class="row-lt-gray text-center" rowspan="3">PROC</td>
          <td class="row-lt-gray text-center" rowspan="3">PHM0001</td>
          <td class="row-white font-weight-normal">PBR18</td>
          <td class="text-right row-white font-weight-normal">-</td>
          <td class="text-right row-white font-weight-normal">786</td>
          <td class="text-right row-white font-weight-normal">32,172</td>
          <td class="text-right row-white font-weight-normal">41,179</td>
          <td class="text-right row-white font-weight-normal">41,179</td>
        </tr>
        <tr class="row-lt-blue">
          <td>POM19</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
        </tr>
        <tr class="row-lt-green">
          <td class="text-danger"></td>
          <td class="text-right">-</td>
          <td class="text-right text-danger">(786)</td>
          <td class="text-right text-danger">()</td>
          <td class="text-right text-danger">()</td>
          <td class="text-right text-danger">()</td>
        </tr>
        <tr class="row-lt-gray font-weight-bold">
          <td class="text-center light-cell" colspan="2" rowspan="3">Total Funds Request</td>
          <td>Baseline</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
        </tr>
        <tr class="row-lt-gray font-weight-bold">
          <td>POM19</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
        </tr>
        <tr class="row-lt-gray font-weight-bold">
          <td>Delta</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right text-danger">-</td>
          <td class="text-right text-danger">-</td>
          <td class="text-right text-danger">-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-sm-10 mb-3">
    <fieldset>
      <legend>Add Funding Line</legend>
      <span class="form-group inline-name">
        <label class="mb-1 mr-sm-2">RDT&amp;E</label>
        <select class="form-control-sm mb-2 mr-sm-4">
           <option>items</option>
           <option>items</option>
           <option>items</option>
         </select>
      </span>
      <span class="form-group inline-name">
        <label class="mb-1 mr-sm-2">BA7</label>
        <select class="form-control-sm mb-2 mr-sm-4">
           <option>items</option>
           <option>items</option>
           <option>items</option>
        </select>
      </span>
      <span class="form-group">
        <label class="badge badge-light mr-sm-4"><h6>Item</h6></label>
      </span>
      <span class="form-group">
        <label class="badge badge-light mr-sm-4"><h6>OpAgency</h6></label>
      </span>
      <span class="form-group">
        <label class="badge badge-light mr-sm-4"><h6>Prog Element</h6></label>
      </span>
      <table class="GeneratedTable">
        <thead>
          <tr>
            <th>FY19</th>
            <th>FY20</th>
            <th>FY21</th>
            <th>FY22</th>
            <th>FY23</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row-lt-blue">
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">3,153</td>
            <td class="text-right">8,077</td>
            <td class="text-right">10,898</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
  <div class="col-md-3 col-sm-1">
    <button class="btn btn-primary">
        <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
        Add Funding Line
      </button>
  </div>
</div>
