<div class="row">
  <div class="col-12 mb-3">
    <div id="pr-funds" class="table-editable">
      <table class="pr-funds-table">
        <thead>
          <tr class="white-top-table-header font-italic">
            <td></td>
            <td></td>
            <td></td>
            <td>PY-1</td>
            <td>PY</td>
            <td>CY</td>
            <td>BY</td>
            <td>BY+1</td>
            <td>BY+2</td>
            <td>BY+3</td>
            <td>BY+4</td>
            <td>CTC</td>
          </tr>
          <tr>
            <th class="row-width">Appropriation</th>
            <th class="row-width">Budget</th>
            <th>Cycle</th>
            <th>FY16</th>
            <th>FY17</th>
            <th>FY18</th>
            <th>FY19</th>
            <th>FY20</th>
            <th>FY21</th>
            <th>FY22</th>
            <th>FY23</th>
            <th>>>FY23</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="row-lt-gray text-center" rowspan="3">RDT&amp;E</td>
            <td class="row-lt-gray text-center" rowspan="3">BA4</td>
            <td>PBR18</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr>
            <td>POM19</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>

          </tr>
          <tr class="row-light">
            <td></td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr>
            <td class="row-lt-gray text-center" rowspan="3">RDT&amp;E</td>
            <td class="row-lt-gray text-center" rowspan="3">BA5</td>
            <td>PBR18</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr>
            <td>POM19</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover">-</td>
          </tr>
          <tr class="row-light">
            <td></td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr class="row-lt-gray row-border-top font-weight-bold">
            <td class="row-lt-gray text-center" rowspan="3">PROC</td>
            <td class="row-lt-gray text-center" rowspan="3">PHM0001</td>
            <td class="row-white font-weight-normal">PBR18</td>
            <td class="text-right row-white font-weight-normal">-</td>
            <td class="text-right row-white font-weight-normal">786</td>
            <td class="text-right row-white font-weight-normal">32,172</td>
            <td class="text-right row-white font-weight-normal">41,179</td>
            <td class="text-right row-white font-weight-normal">41,179</td>
            <td class="text-right row-white font-weight-normal">-</td>
            <td class="text-right row-white font-weight-normal">-</td>
            <td class="text-right row-white font-weight-normal">-</td>
            <td class="text-right row-white font-weight-normal">-</td>
          </tr>
          <tr>
            <td>POM19</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover"></td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover"></td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover"></td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover"></td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover"></td>
            <td contenteditable="true" class="text-right cell-lt-blue data-hover"></td>
          </tr>
          <tr class="row-light">
            <td class="text-danger"></td>
            <td class="text-right">-</td>
            <td class="text-right text-danger">(786)</td>
            <td class="text-right text-danger">()</td>
            <td class="text-right text-danger">()</td>
            <td class="text-right text-danger">()</td>
            <td class="text-right text-danger">()</td>
            <td class="text-right text-danger">()</td>
            <td class="text-right text-danger">()</td>
            <td class="text-right text-danger">()</td>
          </tr>
          <tr class="row-lt-gray font-weight-bold">
            <td class="text-center light-cell" colspan="2" rowspan="3">Total Funds Request</td>
            <td>POM18 Baseline</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr class="row-lt-gray font-weight-bold">
            <td>POM19</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr class="row-lt-gray font-weight-bold">
            <td>Delta</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 mb-3">
        <fieldset>
          <legend>Add Funding Line #1</legend>
          <div class="row mb-3">
            <div class="col-2">
              <span class="form-group">
                <div class="mb-2 primary-label">Appropriation</div>
                  <select class="form-control-sm dropdown-width">
                   <option>RDT&amp;E</option>
                 </select>
               </span>
              </div>
              <div class="col-2">
                <span class="form-group">
                  <div class="mb-2 primary-label">BA/BLIN</div>
                    <select class="form-control-sm dropdown-width">
                     <option>BA7</option>
                  </select>
                </span>
              </div>
              <div class="col-2">
                <span class="form-group">
                  <div class="mb-2 primary-label">Item</div>
                    <select class="form-control-sm dropdown-width">
                     <option>Item</option>
                   </select>
                </span>
              </div>
              <div class="col-2">
                <span class="form-group">
                  <div class="mb-2 primary-label">OpAgency</div>
                    <select class="form-control-sm dropdown-width">
                     <option>OpAgency</option>
                   </select>
                </span>
              </div>
              <div class="col-2">
                <span class="form-group">
                <div class="mb-2 primary-label">Program Element</div>
                <select class="form-control-sm dropdown-width">
                  <option>Program Element</option>
                </select>
              </span>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-12">
                <div id="pr-funding-line" class="table-editable">
                  <table class="pr-funds-table">
                    <thead>
                      <tr>
                        <th>FY19</th>
                        <th>FY20</th>
                        <th>FY21</th>
                        <th>FY22</th>
                        <th>FY23</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row-lt-blue">
                        <td contenteditable="true" class="text-right data-hover">-</td>
                        <td contenteditable="true" class="text-right data-hover">-</td>
                        <td contenteditable="true" class="text-right data-hover">3,153</td>
                        <td contenteditable="true" class="text-right data-hover">8,077</td>
                        <td contenteditable="true" class="text-right data-hover">10,898</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary">
                  <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                  Add Funding Line
                </button>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
