fieldset { padding: 20px;}

.pr-funds-table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border: 1px solid #7b8389;
  color: #000000;

  thead {
    background-color: #24527b;
    color: #ffffff;
  }

  th {
    border: 1px solid #7b8389;
    padding: 6px;
    padding: 2px 10px;
    font-weight: 500;
    text-align: center;
  }

  td {
    border: 1px solid #7b8389;
    padding: 6px;
    padding: 2px 10px;
  }

  .data-hover:hover {
    cursor: pointer;
    background-color: #eae9e9;;
  }

  .row-border-bottom {
    border-bottom: 4px solid #7b8389;
  }

  .row-white {
    background-color: #ffffff;
  }

  .row-border-top {
    border-top: 4px solid #7b8389;
  }

  .light-cell {
    background-color: #ddd;
  }

  .row-light {
    background-color: #eae9e9;
    color: #000000;
  }

  .row-lt-blue {
    background-color: #c6d9f1;
    color: #000000;
  }

  .cell-lt-blue {
    background-color: #c6d9f1;
    color: #000000;
  }

  .row-lt-gray {
    background-color: #ccc;
    color: #000000;
  }

  .white-top-table-header  {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    color: #000;
  }

  .white-top-table-header > td {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    color: #000;
    text-align: center;
  }

}

.table-editable {
  position: relative;

  th {
    padding: 8px;
  }

  tr > td {
   padding: 8px;
  }

}

.table-remove {
  color: #700;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;

  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;

  &:hover {
    color: #0b0;
  }
}

.dropdown-width {
  width: 100%;
}
