div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action:hover {
  cursor: pointer;
}

fa-icon {
  margin-left: 15px;
  font-size: x-large;
}

fa-icon:hover {
  cursor: pointer;
  color: red;
}

.icon-review {
  margin-left: 15px;
  &:hover .review-file {
    color: red;
  }
}

.review-file,
.review-check {
  text-align: center;
}

.review-file {
  color: black;
  margin-left: 0;
}

.review-check {
  font-size: small;
  color: white;
  margin-left: -15px;
  top: 11px;
}

.review-check:hover {
  color: white;
}
