div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action:hover {
  cursor: pointer;
}

fa-icon {
  margin-left: 15px;
  font-size: x-large;
}

fa-icon:hover {
  cursor: pointer;
  color: red;
}

.icon-review {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 5em;
  line-height: 4em;
  vertical-align: middle;
  &:hover .review-file {
    color: red;
  }
}

.review-file,
.review-check {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.review-file {
  color: black;
}

.review-check {
  font-size: small;
  color: white;
}

.review-check:hover {
  color: white;
}
