<app-header></app-header>
<div class="row main-content">
  <div class="col-12">
    <div class="row">
      <div class="col-5 mb-4">
        <div class="form-group">
          <span class="h5">Open Execution Phase FY  </span>
          <span>
            <select class="form-control-sm" [(ngModel)]="phase" (change)="updatetable()">
              <option *ngFor="let p of phases" [ngValue]="p">{{p.fy}}</option>
            </select>
          </span> 
        </div>
      </div>
      <div class="col-5" *ngIf="!this.phase">
        There are no Execution Phases ready to be opened.
      </div>
      <div class="col-7" *ngIf="this.phase">
        <span class="pull-right">
          <button class="btn btn-primary mb-2" (click)=openExe() [disabled]="!submitable()">Open Execution Phase</button>
        </span>
        <span class="pull-right">
          <button class="btn btn-primary pull-right mb-2" (click)=demoCreatePlans()>Demo Only - Create All Plans</button>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ag-grid-angular #agGrid class="ag-theme-balham" style="width:100%"
            [gridOptions]="agOptions"
            [rowData]='exelines'
            [enableColResize]="'true'"
            (paginationChanged)="agGridPagination.onPaginationChanged($event)"
            (gridReady)="onGridReady($event)">
          </ag-grid-angular>
          <ag-grid-pagination #agGridPagination [agGrid]="agGrid"></ag-grid-pagination>
      </div>
    </div>
  </div>
</div>
