<div class="main">
    <h3>Mission Priorities
        <ng-container *ngIf="selectedYear">
            <span>Opened</span>
        </ng-container>
    </h3>
</div>

<ng-container *ngIf="availableYears">
    <pfm-dropdown (onSelectionChanged)="yearSelected($event)" [label]="'For'" [required]="true" [id]="id" [fieldName]="'name'" [fieldLabel]="'name'" [options]="availableYears"></pfm-dropdown>
</ng-container>

<ng-container *ngIf="selectedYear">
    <div class="grid-container">
        <pfm-datagrid (onGridIsReady)="onGridIsReady($event)" (onAddNewRowEvent)="onAddNewRow($event)" (onCellAction)="handleCellAction($event)" [showAddRow]="true" [columns]="columns" [rows]="missionData"></pfm-datagrid>
    </div>
</ng-container>

<pfm-busy [busy]="busy"></pfm-busy>