.grid-container{
  width: 100%;
  height: calc(100vh);
}

.section-actions{
  display: flex;
  flex-grow: 1;
}

.float-right{
  align-items: flex-end;
}

.float-left{
  align-items: flex-start;
}

.modal{

}

.modal-content{
  width: 80vh;
}


.pull-left{
  width: 100%;
}
