<div class="main">
    <div class="float-left">
        <h3>Mission Priorities
            <ng-container *ngIf="selectedYear && !POMLocked">
                <span> - Opened</span>
            </ng-container>
            <ng-container *ngIf="POMLocked && !POMClosed">
                <span> - Locked</span>
            </ng-container>
            <ng-container *ngIf="POMClosed">
                <span> - Closed</span>
            </ng-container>
        </h3>
    </div>
    <div *ngIf="POMManager && selectedYear && !POMLocked">
        <button type="button" class="btn btn-primary float-right" (click)="lockPlanningPhase()">
            Lock Planning Phase
        </button>
    </div>
    <div *ngIf="POMManager && POMLocked && !POMClosed">
        <button type="button" class="btn btn-primary float-right" (click)="closePlanningPhase()">
            Close Planning Phase
        </button>
    </div>
</div>

<br>
<br>

<ng-container *ngIf="availableYears" class="float-left">
    <pfm-dropdown (onSelectionChanged)="yearSelected($event)" [type]="'labelDropdown'" [label]="'For:'" [required]="true" [id]="id" [fieldName]="'name'" [fieldLabel]="'name'" [options]="availableYears"></pfm-dropdown>
</ng-container>

<ng-container *ngIf="selectedYear">
    <div class="grid-container">
        <pfm-datagrid (onGridIsReady)="onGridIsReady($event)" (onColumnIsReady)="onColumnIsReady($event)" (onRowDragEndEvent)="onRowDragEnd($event)" (onAddNewRowEvent)="onAddNewRow($event)" (onCellAction)="handleCellAction($event)" [showAddRow]="true" [columns]="columns" [rows]="missionData" [tabToNextCell]="tabToNextCell.bind(this)"></pfm-datagrid>
    </div>
</ng-container>



<ng-container *ngIf="showUploadDialog">
    <pfm-secure-upload (onFilesUploaded)="handleNewAttachments($event)"></pfm-secure-upload>
</ng-container>

<pfm-busy [busy]="busy"></pfm-busy>
