<div>
    <ng-container *ngIf="data.canEdit">
        <div>
            <fa name="edit" title="Edit"></fa>
        </div>

    </ng-container>

    <ng-container>
        <div>
            <fa name="trash" title="Delete"></fa>
        </div>
    </ng-container>

    <ng-container>
        <div>
            <fa name="upload" title="Upload"></fa>
        </div>
    </ng-container>

    <ng-container>
        <div>
            <fa name="save" title="Save"></fa>
        </div>
    </ng-container>
</div>
