<div class="text-danger mb-3" *ngIf="invalid">Variants exceed the total amount of the Funding Line</div>
<div class="row">
  <div class="col-12">
    <!-- Select a FundingLine -->
    <div class="row mb-4">
      <div class="col-3">
        <span class="form-group">
          <select class="form-control-sm dropdown-width" [(ngModel)]="fund" name="fl" [disabled]="false" (change)="initData()">
            <option value="null" disabled selected>Select a Funding Line</option>
            <option *ngFor="let fl of procFundingLines()" [ngValue]="fl">
              {{fl.appropriation}} / {{fl.baOrBlin}} / {{fl.item}} / {{fl.opAgency}}
            </option>
          </select>
        </span>
      </div>
      <div *ngIf="fundsAvailable" class="col-3 font-red"> There are {{fundsAvailable}} unaccounted for Procurement funds. </div>
    </div>
    <!-- Show each variant for the selected FundingLine-->
    <div *ngIf="fund" class="row mb-4">
      <div *ngFor="let variant of fund.variants index as variantIndex" class="col-md-12 mb-4" id="variant">
        <div class="row">
          <div class="col-auto mt-1">
            <label class="variant-titles mr-sm-3"><span>{{variant.number}}.</span> <span>{{variant.shortName}}</span></label>
            <span *ngIf="!variant?.bulkOrigin" class="remove-variant" data-toggle="modal" data-target="#modal" (click)="deleteVariant(variantIndex)">
              <i class="fa fa-trash"></i>
            </span>
          </div>
          <div class="col-auto">
            <button class="btn btn-light" (click)="addRow(variant.shortName)">
              <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
              New Service Line
            </button>
          </div>
        </div>
        <ag-grid-angular class="ag-theme-balham group-header-white "
                         [gridAutoHeight]="true"
                         [toolPanelSuppressSideButtons]="true"
                         [suppressMovableColumns]="true"
                         [suppressRowTransform]="true"
                         [showToolPanel]="false"
                         [enableSorting]="true"
                         [enableFilter]="true"
                         [columnDefs]="columnDefs"
                         [singleClickEdit]="true"
                         [stopEditingWhenGridLosesFocus]="true"
                         [frameworkComponents]="frameworkComponents"
                         [context]="context"
                         (gridReady)="onGridReady($event, variant)">
        </ag-grid-angular>
      </div>
        <fieldset class="ml-3 mt-2">
          <legend>Add Variant</legend>
          <table class="add-variant-table">
            <tbody>
              <tr>
                <td>
                  <button class="btn btn-primary" (click)="toggleShowAddVariance()">
                    <i *ngIf="!showAddVariant" class="fa fa-plus-circle" aria-hidden="true"></i>
                    <i *ngIf="showAddVariant" class="fa fa-minus-circle" aria-hidden="true"></i>
                    <span class="mr-1">New Variant</span>
                  </button>
                </td>
                <ng-container *ngIf="showAddVariant">
                  <td>
                    <span class="form-group variant-name">
                      <label>*Name</label>
                    </span>
                  </td>
                  <td>
                    <input class="mb-2 form-control forminput" [(ngModel)]="newVariantName">
                  </td>
                  <td>
                    <button class="btn btn-primary" (click)="addVariant()" [disabled]="!(newVariantName)">
                      <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                      <span class="mr-1">Add</span>
                    </button>
                  </td>

                </ng-container>
              </tr>
            </tbody>
          </table>
        </fieldset>
    </div>
  </div>
</div>
