.user-approver {
  padding: 5px;

 label {
    color:#24527b;
    display: inline-block;
  }
  .single-row{
    display: flex;
  }
 .nda {
    margin: 0;
    color:#24527b;
  }

  .nda-valid {
    color: green;
  }

   .nda-not-valid {
    color: red;
  }

  .user-data {
    font-weight: 500;
    display: inline-block;
    padding:  0 0 10px 5px;
  }

  .controls {
    clear: both;
    margin:0;
  }
}
