label, select {
  color:#24527b;
  width: 300px;
  margin: 0 0 10px 0;
}


.nda {
  margin: 0;
  color:#24527b;
}

.nda-valid {
  color: green;
}

.nda-not-valid {
  color: red;
}

.firstname, .lastname {
  display: inline;
  width: 300px;
  padding: 6px 4px;
}

.middle {
  display: inline;
  width: 60px;
  padding: 6px 4px;
}

.inline-name {
  display: inline;
  float: left;
  margin-right: 4px;
}

.applyinput {
  width: 300px;
  padding: 5px;
  padding: 6px 4px;
  clear: both;
  margin-bottom: 15px;
}

.controls {
  clear: both;
  margin-bottom: 20px;
}

.grey-hr {
  border-bottom: 1px solid #ccc;
}
