<app-header-nologin></app-header-nologin>
<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-2 col-md-12">
    </div>
    <div class="col-lg-3 col-md-12">
      <div class="contact-box">
        <h5>Contact Us</h5>
        <p>Kevin McGowan<br>
        703-416-5810<br>
        <a href="mailto:mcgowank@battelle.org">mcgowank@battelle.org</a>
        <hr>
        <h6>Supporting Office:</h6>
        Program Analysis and Integration Office
        (PA&amp;IO)<br>
        Point of Contact: Anna Young<br>
        410-417-3755<br>
        <a href="mailto:anna.d.young5.civ@mail.mil">anna.d.young5.civ@mail.mil</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <h5>or Submit a Request</h5>
      <hr>
      <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                [(ngModel)]="user.firstname"
                name="firstname"
                #userFirstname="ngModel"
                minlength="2"
                placeholder="First Name"
                required
            >
            <div *ngIf="userFirstname.errors?.required && userFirstname.touched" class="alert alert-danger">First Name is required</div>
            <div *ngIf="userFirstname.errors?.minlength && userFirstname.touched" class="alert alert-danger">First Name should be at least 2 characters</div>
        </div>
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                [(ngModel)]="user.lastname"
                name="lastname"
                #userLastname="ngModel"
                minlength="2"
                placeholder="Last Name"
                required
            >
            <div *ngIf="userLastname.errors?.required && userLastname.touched" class="alert alert-danger">Last Name is required</div>
            <div *ngIf="userLastname.errors?.minlength && userLastname.touched" class="alert alert-danger">Last Name should be at least 2 characters</div>
        </div>
        <small class="well">Select preferred method of contact.</small>
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                [(ngModel)]="user.email"
                name="email"
                #userEmail="ngModel"
                placeholder="Email"
                required
            >
            <div *ngIf="userEmail.errors?.required && userEmail.touched" class="alert alert-danger">Email is required</div>
            <div *ngIf="userEmail.errors?.minlength && userEmail.touched" class="alert alert-danger">Email should be at least 4 characters</div>
        </div>
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                [(ngModel)]="user.phone"
                name="phone"
                #userPhone="ngModel"
                minlength="10"
                placeholder="Phone"
                required
            >

            <div *ngIf="userPhone.errors?.required && userPhone.touched" class="alert alert-danger">Phone is required</div>
          <div *ngIf="userPhone.errors?.minlength && userPhone.touched" class="alert alert-danger">Phone should be at least 10 characters</div>
        </div>
        <div class="form-group">
          <textarea
            type="text"
            class="form-control"
            [(ngModel)]="user.comment"
            name="comment"
            #usercomment="ngModel"
            placeholder="Please provide a detailed description of the assistance required.*   "
          >
          </textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>
    <div class="col-5 col-md-12">
    </div>
  </div>
</div>
