<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <h3>Create a new budget scenario for FY {{budget.fy}}</h3>
  </div>
  <div>
 Select budget: <select [(ngModel)]="selectedType" class="form-control-sm" (change)="filterScenarios()">
                    <option [ngValue]="'BES'" selected>BES</option>
                    <option [ngValue]="'PB'">PB</option>
                </select>
                <select [(ngModel)]="selectedAppropriation" class="form-control-sm" (change)="filterScenarios()">
                    <option [ngValue]="Appropriation.PROC" selected>PROC</option>
                    <option [ngValue]="Appropriation.RDTE">RDT&E</option>
                </select>
                <select [(ngModel)]="selectedScenario" class="form-control-sm">
                    <option *ngFor="let scenario of filteredScenarios" [ngValue]="scenario">{{scenario.name}}</option>
                </select>
  </div>
  <div *ngIf="selectedScenario">
      Assign name for the new budget being copied: <input [(ngModel)]="newName" />
    <span *ngIf="selectedType=='BES'">
      <input type="checkbox" [(ngModel)]="modifyType" /> modify type
    </span>
    <button (click)="copyBudget()">Copy Budget</button>
  </div>
</div>
