<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content mb-2" *ngIf="header.isAuthenticated">
    <div class="col-12">
      <div class="h5">Create a new budget scenario for FY {{budget.fy}}</div>
    </div>
  </div>
  <div class="row main-content">
      <div class="col-12">
        <span class="mr-2">
          <label>Select budget:</label> 
        </span>
        <span class="mr-2">
          <select [(ngModel)]="selectedType" class="form-control-sm" (change)="filterScenarios()">
            <option value="undefined" disabled selected>Select</option>
            <option [ngValue]="'BES'" selected>BES</option>
            <option [ngValue]="'PB'">PB</option>
          </select>
        </span>
        <span class="mr-2">
          <select [(ngModel)]="selectedAppropriation" class="form-control-sm" (change)="filterScenarios()">
              <option value="undefined" disabled selected>Select</option>  
              <option [ngValue]="Appropriation.PROC" selected>PROC</option>
              <option [ngValue]="Appropriation.RDTE">RDT&E</option>
          </select>
        </span>
        <span class="mr-2">
          <select [(ngModel)]="selectedScenario" class="form-control-sm">
              <option value="undefined" disabled selected>Select</option>
              <option *ngFor="let scenario of filteredScenarios" [ngValue]="scenario">{{scenario.name}}</option>
          </select>
        </span>
      </div>
    </div>
    <div class="row main-content">
      <div class="col-12">
        <div *ngIf="selectedScenario">
            <span class="mr-2">
              <label>Assign name for the new budget being copied: </label>
            </span>
            <span class="mr-2">
              <input [formControl]="newName" />
            </span>
            <span *ngIf="selectedType=='BES'">
              <input type="checkbox" [(ngModel)]="modifyType" (ngModelChange)="onModifyType()" /> modify type
            </span>
            <span class="text-danger" *ngIf="newName.touched && newName.invalid && newName.errors.required">Scenario name is required</span>
            <span class="text-danger" *ngIf="newName.invalid && newName.errors.alreadyExists">Scenario with this name already exists</span>
            <span>
              <button (click)="copyBudget()" [disabled]="newName.invalid">Copy Budget</button>
            </span>
        </div>
    </div>
  </div>
</div>
