<app-header></app-header>
<div class="container-fluid">
  <div class="row main-content mb-3">
    <div class="col-12">
      <div class="h5">Create a new budget scenario for FY {{budget?.fy}}</div>
    </div>
  </div>
  <div class="row main-content mb-3">
      <div class="col-12">
        <span class="mr-2">
          <label>Select budget:</label> 
        </span>
        <span class="mr-2">
          <select [(ngModel)]="selectedType" class="form-control-sm" (change)="filterScenarios()">
            <option value="undefined" disabled selected>Type</option>
            <option [ngValue]="'BES'">BES</option>
            <option [ngValue]="'PB'">PB</option>
          </select>
        </span>
        <span class="mr-2">
          <select [(ngModel)]="selectedAppropriation" class="form-control-sm" (change)="filterScenarios()">
              <option value="undefined" disabled selected>Appropriation</option>  
              <option [ngValue]="Appropriation.PROC">PROC</option>
              <option [ngValue]="Appropriation.RDTE">RDT&E</option>
          </select>
        </span>
        <span class="mr-2">
          <select [(ngModel)]="selectedScenario" class="form-control-sm">
              <option value="undefined" disabled selected>Name</option>
              <option *ngFor="let scenario of filteredScenarios" [ngValue]="scenario">{{scenario.name}}</option>
          </select>
        </span>
      </div>
    </div>
    <div *ngIf="selectedScenario">
      <div class="row main-content">
        <div class="col-10">
          <div class="form-group">
            <span class="mr-2">
              <label>Assign name for the new budget being copied:</label>
            </span>
            <span class="form-group mr-2">
              <input class="form-control form-input" [formControl]="newName" />  
              <div class="text-danger" *ngIf="!newName.pristine && newName.invalid && newName.errors.required">Scenario name is required</div>
              <div class="text-danger" *ngIf="newName.invalid && newName.errors.alreadyExists">Scenario with this name already exists</div>
            </span>
            <span class="mr-2" *ngIf="selectedType=='BES'">
                <input type="checkbox" [(ngModel)]="modifyType" (ngModelChange)="onModifyType()" /> modify type
              </span>
            <span class="mr-2">
            <button class="btn btn-primary" (click)="copyBudget()" [disabled]="newName.invalid">Copy Budget</button>
          </span>
          </div>
        </div>
      </div>
    </div>
</div>
