<div>
    <ng-container *ngIf="data.canEdit">
        <div (click)="editRow('edit')">
            <fa name="edit" title="Edit"></fa>
        </div>

    </ng-container>

    <ng-container *ngIf="data.canDelete">
        <div (click)="deleteRow('delete')">
            <fa name="trash" title="Delete"></fa>
            <fa name="caret-down"></fa>
        </div>
    </ng-container>

    <ng-container *ngIf="data.canUpload">
        <div (click)="uploadAttatchment('upload')">
            <fa name="upload" title="Upload"></fa>
        </div>
    </ng-container>

    <ng-container *ngIf="data.canSave">
        <div (click)="saveRow('save')">
            <fa name="save" title="Save"></fa>
        </div>
    </ng-container>
</div>
