<ng-template #novalue>
  <span class="program-values">
    <i>None</i>
  </span>
</ng-template>

<ng-template #value let-tagname="tagname" let-property="property">
  <select [(ngModel)]="current[property]" class="form-control-sm dropdown-width" name="{{tagname}}">
    <ng-container *ngIf="current[property]">
      <!-- we have an tagname set, but check that we have a recognized value -->
      <option *ngIf="!tagnames.has(tagname) || (tagnames.has(tagname) && !tagnames.get(tagname).has(current[property]))"
          [ngValue]="current[property] ">{{current[property]}} (Unknown value)</option>
    </ng-container>

    <option *ngFor="let t of tagnames.get(tagname) | mapAsList" [ngValue]="t.key" [attr.title]="t.value">{{t.value}}</option>
  </select>

  <!--span class="program-values" *ngIf="current?.tags[area] && tagnames.has( area ); else novalue">
    <ng-container *ngIf="tagnames.get( area ).has( current.tags[area] )">
      {{tagnames.get( area ).get( current.tags[area] )}}
    </ng-container>
    <ng-container *ngIf="!tagnames.get( area ).has( current.tags[area] )">
      {{current.tags[area]}} (Unknown value)
    </ng-container>
  </span-->
</ng-template>
<form *ngIf="current && tagnames">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-3">
              <div class="form-group inline-name mr-2">
                <label>Program ID</label>
                <input [(ngModel)]="current.shortName" class="program-values forminput" name="program-id">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group inline-name">
                <label>Program Name</label>
                <input [(ngModel)]="current.longName" class="program-values forminput" name="program-name">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group inline-name">
            <label>Parent Program for Subprogram</label>
            <span class="program-values" *ngIf="parentname; else novalue">{{parentname}}</span>
          </div>
        </div>
        <div class="col-3">
          <span class="form-group inline-name">
            <label class="mb-1">Type of Subprogram</label>
            <select [(ngModel)]="current.type" name="typeselect">
              <option [ngValue]="'PROGRAM'">Program</option>
              <option *ngIf="parentname" [ngValue]="'INCREMENT'">Increment</option>
              <option *ngIf="parentname" [ngValue]="'FOS'">Family of Systems</option>
              <option *ngIf="parentname" [ngValue]="'VARIANT'">Variant</option>
            </select>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Select Picture" aria-label="Browse Picture" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <span class="input-group-text">Browse</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Capability</legend>
            <span class="form-group inline-name">
              <label class="mb-1">Primary Cap.</label>
              <ng-container *ngTemplateOutlet="value;context:{tagname:'Primary Capability', property:'primaryCapability'}"></ng-container>
             </span>
            <span class="form-group inline-name">
              <label>Core</label>
              <ng-container *ngTemplateOutlet="value;context:{tagname:'Core Capability Area', property:'coreCapability'}"></ng-container>
            </span>
            <span class="form-group inline-name">
              <label>Secondary</label>
              <ng-container *ngTemplateOutlet="value;context:{tagname:'Secondary Capability', property:'secondaryCapability'}"></ng-container>
            </span>
            <!-- RPB: As far as I can tell, Tertiary Capability is a historical tag, not current -->
            <!--span class="form-group inline-name">
              <label>Tertiary</label>
              <ng-container *ngTemplateOutlet="value;context:{area:'Tertiary Capability'}"></ng-container>
            </span-->
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <fieldset>
          <legend>Area</legend>
            <span class="form-group inline-name">
              <label class="mb-1">Functional</label>
              <ng-container *ngTemplateOutlet="value;context:{tagname:'Functional Area', property:'functionalArea'}"></ng-container>
            </span>
            <span class="form-group inline-name">
              <label class="mb-1">Medical Cat.</label>
              <ng-container *ngTemplateOutlet="value;context:{tagname:'Medical Category', property:'medicalArea'}"></ng-container>
            </span>
            <span class="form-group inline-name">
              <label class="mb-1">NBC Cat.</label>
              <ng-container *ngTemplateOutlet="value;context:{tagname:'NBC Category', property:'nbcCategory'}"></ng-container>
            </span>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="form-group inline-name">
            <label>Emphasis</label>
            <ng-container *ngIf="current?.emphases && current?.emphases.length>0; else novalue">
              <span class="program-values" *ngFor="let e of current.emphases">{{e}}</span>
            </ng-container>
          </span>
          <span class="form-group inline-name">
            <label>BSV Nat. Strat.</label>
            <ng-container *ngTemplateOutlet="value;context:{tagname:'BSV National Strategy', property:'bsvStrategy'}"></ng-container>
          </span>
          <span class="form-group inline-name">
            <label>DASD POM</label>
            <ng-container *ngTemplateOutlet="value;context:{tagname:'DASD CBD', property:'dasdCbd'}"></ng-container>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="form-group inline-name">
            <label class="mb-1">Lead Component</label>
            <ng-container *ngTemplateOutlet="value;context:{tagname:'Lead Component', property:'leadComponent'}"></ng-container>
          </span>
          <span class="form-group inline-name">
            <label class="mb-1">Manager</label>
            <ng-container *ngTemplateOutlet="value;context:{tagname:'Manager', property:'manager'}"></ng-container>
          </span>
          <!--span class="form-group inline-name">
            <label class="mb-1">Branch</label>
            <select [(ngModel)]="current.branch" name="branch">
              <option [ngValue]="USA">Army</option>
              <option [ngValue]="USN">Navy</option>
              <option [ngValue]="USAF">Air Force</option>
              <option [ngValue]="USM">Marines</option>
              <option [ngValue]="USCG">Coast Guard</option>
            </select>
          </span-->
        </div>
      </div>
  <!--<div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-primary btn pull-left" disabled>Add Subprogram</button>
        </div>
      </div> -->
    </div>
    <div class="col-3">
      <div class="card border-light mb-3 text-center">
        <div class="img-placeholder">
          <img *ngIf="current?.imgLink" src="current.imgLink" />
          <i *ngIf="!current?.imgLink" class="fa fa-picture-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</form>
