label {
  color: #868e9b;
  margin: 0;
  margin-right: 6px;
  width: 100%;
}

select {
  margin-right: 20px;
}

.inline-name {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.forminput {
  width: 300px;
  padding: 6px 4px;
  clear: both;
  display: inline;
}

.forminput-sm {
  width: 130px;
  padding: 6px 4px;
  clear: both;
}
