.justification-container > div > google-chart {
  margin: auto;
}

.description-container > textarea,
.impact-container > textarea {
  min-height: 130px;
}

.non-editable {
  background-color: #fff;
  outline: none !important;
  border-color: transparent;
}
