<div class="container col-12">
  <div class="justification-container">
    <h3 class="col-12 text-center">POM Comparison</h3>
    <div class="row col-12">
      <google-chart #googleChart [data]="chartData" (chartReady)="onChartReady($event)"></google-chart>
    </div>
  </div>
  <div class="form-group row">
    <div class="description-container row col-12 mt-5">
      <p class="col-2">Description of Change</p>
      <textarea class="form-control col-10"></textarea>
    </div>
    <div class="impact-container row col-12 mt-5">
      <p class="col-2">Impact if not funded</p>
      <textarea class="form-control col-10"></textarea>
    </div>
  </div>
  <pfm-busy [busy]="busy"></pfm-busy>
</div>
