<fieldset class="custom-pr">
  <legend>Create Program Request for:</legend>
  <table>
    <tr>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{addNewPrForMode ? addNewPrForMode : 'Select an option'}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="setAddNewPrRadioMode('Previously Funded Program')">Previously Funded Program</a>
            <a class="dropdown-item" (click)="setAddNewPrRadioMode('New Increment')">New Increment</a>
            <a class="dropdown-item" (click)="setAddNewPrRadioMode('New FoS')">New FoS</a>
            <a class="dropdown-item" (click)="setAddNewPrRadioMode('New Subprogram')">New Subprogram</a>
            <a class="dropdown-item" (click)="setAddNewPrRadioMode('New Program')">New Program</a>
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="addNewPrForMode === 'Previously Funded Program' ||
                                       addNewPrForMode === 'New Increment' ||
                                       addNewPrForMode === 'New FoS'       ||
                                       addNewPrForMode === 'New Subprogram'">
          <div class="dropdown-label">
            <select [(ngModel)]="selectedProgramOrPr" class="form-control-sm" name="dummy">
              <option value="null" disabled selected>Select a {{initialSelectOption}}</option>
              <option *ngFor="let programOrPr of selectableProgramsOrPrs" [ngValue]="programOrPr">{{programOrPr.shortName}}</option>
            </select>
          </div>
        </div>
      </td>
      <td>
        <button class="btn btn-primary pull-right" type="button" (click)="next()" [disabled]="!addNewPrForMode || addNewPrForMode=='Select an option'">
          <span class="icon-pad">Next</span>
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </table>
</fieldset>
