$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-grey: #eae9e9;
$dark-grey: #848282;
$light-green: #ebf2de;

.custom-pr {
  width: 100%;
  padding: 10px 5px 5px 5px;
  // margin-top: -16px;
  min-height: 100px;
  max-height: 100px;
  // height: 90px;
  background-color: $white;
}

.dropdown-label {
  padding: 0 7px;
}


.dropdown-item {
  cursor: pointer;
}

