<j-header></j-header>
<div class="container-fluid">
  <!-- <div class="row main-content" *ngIf="header.isAuthenticated"> -->
  <div class="row main-content">
    <div class="col-12 mb-4">
      <div class="h5 mb-2">R-3</div>
      <table>
        <!-- Start Exhibit Header Section-->
        <tr class="readOnly borderRightBottom">
          <td colspan="14">
              <span class="title">Exhibit R-3, RDT&amp;E Project Cost Analysis: </span>
              <span>PB 2018 Chemical and Biological Defense Program</span>
          </td>
          <td colspan="3" class="borderBottom">
              <span class="title">Date: </span>
              <span class="date">Dec 2018</span>
          </td>
          </tr>
          <tr class="readOnly borderBottomBold borderRight">
            <td colspan="7">
                <div class="title">Appropriation/Budget Activity</div>
                <div>0400/5</div>
            </td>
            <td colspan="5">
                <div class="title">R-1 Program Element (Number/Name)</div>
                <div>PE 0604384BP/CHEMICAL/BIOLOGICAL DEFENSE (EMD)</div>
            </td>
            <td colspan="5">
                <div class="title">Project (Number/Name)</div>
                <div>IP5 INDIVIDUAL PROTECTION (EMD)</div>
            </td>
          </tr>
          <!-- End Exhibit Header Section-->
          <!-- Start Exhibit Delta Section-->
          <tr class="readOnly borderRightBottom alignCenter">
            <th colspan="4" class="alignLeft">DELTA ($ in Millions)</th>
            <th>Prior Years</th>
            <th colspan="2">FY 2016</th>
            <th>FY 2017</th>
            <th>FY 2018</th>
            <th>FY 2018 OCO</th>
            <th>FY 2018 Total</th>
            <th>FY 2019</th>
            <th>FY 2020</th>
            <th>FY 2021</th>
            <th>FY 2022</th>
            <th>Cost To Complete/th>
            <th>Total Cost</th>
          </tr>
          <tr class="readOnly alignCenter borderRightBottom borderBottomBold text-danger font-weight-bold">
            <td colspan="4" class="alignLeft borderRightBottom">IP5: INDIVIDUAL PROTECTION (EMD)</td>
            <td></td>
            <td>455</td>
            <td>7245</td>
            <td>0</td>
            <td></td>
            <td></td>
            <td>7285</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- End Exhibit Delta Section-->
          <!-- Start Product Development Section-->
          <tr class="borderRightBottom content alignCenter">
            <th colspan="2" class="alignLeft borderBottom">Product Development ($ in Millions)</th>
            <th class="noBorder"></th>
            <th class="noBorder"></th>
            <th class="borderRightBottom"></th>
            <th colspan="2">FY 2016</th>
            <th colspan="2">FY 2017</th>
            <th colspan="2">FY 2018 Base</th>
            <th colspan="2">FY 2018 OCO</th>
            <th>FY 2018 Total</th>
            <th colspan="3"></th>
          </tr>
          <tr class="borderRightBottom readOnly alignCenter">
            <th colspan="2">Cost Category Item</th>
            <th>Contract Method &amp; Type</th>
            <th>Performing Activity &amp; Location</th>
            <th>Prior Years</th>
            <th>Cost</th>
            <th>Award Date</th>
            <th>Cost</th>
            <th>Award Date</th>
            <th>Cost</th>
            <th>Award Date</th>
            <th>Cost</th>
            <th>Award Date</th>
            <th>Cost</th>
            <th>Cost To Complete</th>
            <th>Total Cost</th>
            <th>Target Value of Contract</th>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM HW - Modified M53 - Design Modification and Development</td>
            <td class="alignCenter">SS/CPFF</td>
            <td class="alignLeft">AVON Protection Systems Inc. : Cadillac, MI</td>
            <td>4.893</td>
            <td>1.67</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM HW - HWC-AP22P-14 (A)-Mask/Respirators/System Components</td>
            <td class="alignCenter">SS/CPFF</td>
            <td class="alignLeft">Cam Lock Limited : Aldershot Hampshire, UK</td>
            <td>0</td>
            <td>0.469</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM JSF - HW S Engineering and Manufacturing Contract</td>
            <td class="alignCenter">C/CPIF</td>
            <td class="alignLeft">GENTEX Corp. : Rancho Cucamonga, CA</td>
            <td>0</td>
            <td>0.469</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <!-- SubTotals-->
          <tr class="alignRight borderRightBottom readOnly">
            <td colspan="2" class="noBorder"></td>
            <td class="noBorder"></td>
            <td class="title">Subtotal</td>
            <td>6.987</td>
            <td>3.926</td>
            <td></td>
            <td>2.577</td>
            <td></td>
            <td>1.575</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>1.575</td>
            <td>-</td>
            <td>-</td>
            <td class="borderBottom">0</td>
          </tr>
          <!-- End Product Development Section-->
          <!-- Start Support Section-->
          <tr class="borderRightBottom content alignCenter">
            <th colspan="2" class="alignLeft borderBottom">Support ($ in Millions)</th>
            <th class="noBorder"></th>
            <th class="noBorder"></th>
            <th class="borderRightBottom"></th>
            <th colspan="2">FY 2016</th>
            <th colspan="2">FY 2017</th>
            <th colspan="2">FY 2018 Base</th>
            <th colspan="2">FY 2018 OCO</th>
            <th>FY 2018 Total</th>
            <th colspan="3"></th>
          </tr>
          <tr class="borderRightBottom readOnly alignCenter">
            <th colspan="2">Cost Category Item</th>
            <th>Contract<br />Method &amp; Type</th>
            <th>Performing<br />Activity &amp; Location</th>
            <th>Prior<br />Years</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Cost To<br />Complete</th>
            <th>Total<br />Cost</th>
            <th>Target<br />Value of<br />Contract</th>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM HW - HWC-AP22P-14 (A)-Mask/Respirators/System Components</td>
            <td class="alignCenter">SS/CPFF</td>
            <td class="alignLeft">Cam Lock Limited : Aldershot Hampshire, UK</td>
            <td>0</td>
            <td>0.469</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <!-- SubTotals-->
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM HW - Modified M53 - Design Modification and Development</td>
            <td class="alignCenter">SS/CPFF</td>
            <td class="alignLeft">AVON Protection Systems Inc. : Cadillac, MI</td>
            <td>4.893</td>
            <td>1.67</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM HW - HWC-AP22P-14 (A)-Mask/Respirators/System Components</td>
            <td class="alignCenter">SS/CPFF</td>
            <td class="alignLeft">Cam Lock Limited : Aldershot Hampshire, UK</td>
            <td>0</td>
            <td>0.469</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM JSF - HW S Engineering and Manufacturing Contract</td>
            <td class="alignCenter">C/CPIF</td>
            <td class="alignLeft">GENTEX Corp. : Rancho Cucamonga, CA</td>
            <td>0</td>
            <td>0.469</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <!-- End Support Section-->
          <!-- Start Test and Evaluation Section-->
          <tr class="borderRightBottom content alignCenter">
            <th colspan="2" class="alignLeft borderBottom">Test and Evaluation ($ in Millions)</th>
            <th class="noBorder"></th>
            <th class="noBorder"></th>
            <th class="borderRightBottom"></th>
            <th colspan="2">FY 2016</th>
            <th colspan="2">FY 2017</th>
            <th colspan="2">FY 2018 Base</th>
            <th colspan="2">FY 2018 OCO</th>
            <th>FY 2018 Total</th>
            <th colspan="3"></th>
          </tr>
          <tr class="borderRightBottom readOnly alignCenter">
            <th colspan="2">Cost Category Item</th>
            <th>Contract<br />Method &amp; Type</th>
            <th>Performing<br />Activity &amp; Location</th>
            <th>Prior<br />Years</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Cost To<br />Complete</th>
            <th>Total<br />Cost</th>
            <th>Target<br />Value of<br />Contract</th>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM HW - Modified M53 - Design Modification and Development</td>
            <td class="alignCenter">SS/CPFF</td>
            <td class="alignLeft">AVON Protection Systems Inc. : Cadillac, MI</td>
            <td>4.893</td>
            <td>1.67</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM HW - HWC-AP22P-14 (A)-Mask/Respirators/System Components</td>
            <td class="alignCenter">SS/CPFF</td>
            <td class="alignLeft">Cam Lock Limited : Aldershot Hampshire, UK</td>
            <td>0</td>
            <td>0.469</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM JSF - HW S Engineering and Manufacturing Contract</td>
            <td class="alignCenter">C/CPIF</td>
            <td class="alignLeft">GENTEX Corp. : Rancho Cucamonga, CA</td>
            <td>0</td>
            <td>0.469</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <!-- SubTotals-->
          <tr class="alignRight borderRightBottom readOnly">
            <td colspan="2" class="noBorder"></td>
            <td class="noBorder"></td>
            <td class="title">Subtotal</td>
            <td>6.987</td>
            <td>3.926</td>
            <td></td>
            <td>2.577</td>
            <td></td>
            <td>1.575</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>1.575</td>
            <td>-</td>
            <td>-</td>
            <td class="borderBottom">0</td>
          </tr>
          <!-- End Test and Evaluation Section-->
          <!-- Start Management Services Section-->
          <tr class="borderRightBottom content alignCenter">
              <th colspan="2" class="alignLeft borderBottom">Management Services ($ in Millions)</th>
              <th class="noBorder"></th>
              <th class="noBorder"></th>
              <th class="borderRightBottom"></th>
              <th colspan="2">FY 2016</th>
              <th colspan="2">FY 2017</th>
              <th colspan="2">FY 2018 Base</th>
              <th colspan="2">FY 2018 OCO</th>
              <th>FY 2018 Total</th>
              <th colspan="3"></th>
          </tr>
          <tr class="borderRightBottom readOnly alignCenter alignCenter">
            <th colspan="2">Cost Category Item</th>
            <th>Contract<br />Method &amp; Type</th>
            <th>Performing<br />Activity &amp; Location</th>
            <th>Prior<br />Years</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Award<br />Date</th>
            <th>Cost</th>
            <th>Cost To<br />Complete</th>
            <th>Total<br />Cost</th>
            <th>Target<br />Value of<br />Contract</th>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM HW - Modified M53 - Design Modification and Development</td>
            <td class="alignCenter">SS/CPFF</td>
            <td class="alignLeft">AVON Protection Systems Inc. : Cadillac, MI</td>
            <td>4.893</td>
            <td>1.67</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM HW - HWC-AP22P-14 (A)-Mask/Respirators/System Components</td>
            <td class="alignCenter">SS/CPFF</td>
            <td class="alignLeft">Cam Lock Limited : Aldershot Hampshire, UK</td>
            <td>0</td>
            <td>0.469</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <tr class="alignRight borderRightBottom">
            <td colspan="2" class="alignLeft">JSAM JSF - HW S Engineering and Manufacturing Contract</td>
            <td class="alignCenter">C/CPIF</td>
            <td class="alignLeft">GENTEX Corp. : Rancho Cucamonga, CA</td>
            <td>0</td>
            <td>0.469</td>
            <td>Mar 2015</td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>0</td>
            <td>Continuing</td>
            <td>Continuing</td>
            <td>0</td>
          </tr>
          <!-- SubTotals-->
          <tr class="alignRight borderRightBottom readOnly">
            <td colspan="2" class="noBorder"></td>
            <td class="noBorder"></td>
            <td class="title">Subtotal</td>
            <td>6.987</td>
            <td>3.926</td>
            <td></td>
            <td>2.577</td>
            <td></td>
            <td>1.575</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>1.575</td>
            <td>-</td>
            <td>-</td>
            <td class="borderBottom">0</td>
          </tr>
          <!-- End Management Services Section-->
          <!-- Project Totals-->
          <tr class="alignRight borderRightBottom readOnly">
            <td colspan="2" class="noBorder"></td>
            <td class="noBorder"></td>
            <td class="title">Project Cost Totals</td>
            <td>6.987</td>
            <td>3.926</td>
            <td></td>
            <td>2.577</td>
            <td></td>
            <td>1.575</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>1.575</td>
            <td>-</td>
            <td>-</td>
            <td>0</td>
          </tr>
          <tr>
            <td colspan="17" class="title">Remarks:</td>
          </tr>
      </table>
    </div>
  </div>
</div>
