<app-header></app-header>
<div *ngIf="header.isAuthenticated && community">
  <ng-container *ngIf="modelyear!=fy">
    <div>
      <h5>Create POM Scenario for FY {{fy}} based on PB
        <select ([ngModel])="modelyear" (change)="setYear($event.target.value)">
          <option *ngFor="let y of years" [value]="y" [selected]="y===modelyear">{{y}}</option>
        </select>
      </h5>
    </div>
    <div>Set Overall TOA for {{community.abbreviation}} Community
      <input [(ngModel)]="toa">
    </div>
  
    <div *ngFor="let o of orgs">
      <div>
        <span>{{o.abbreviation}}</span>
        <input [(ngModel)]="orgtoas[o.id]">
      </div>
    </div>
    <button (click)="submit()">Create Scenario</button>
  </ng-container>

  <ng-container *ngIf="modelyear===fy">
    <div>
      <h5>POM Scenario for FY {{fy}}</h5>
    </div>
    <div>Overall TOA for {{community.abbreviation}} Community {{toa}}</div>
  
    <div *ngFor="let o of orgs">
      <div>
        <span>{{o.abbreviation}}</span> {{orgtoas[o.id]}}
      </div>
    </div>
  </ng-container>
</div>
