fieldset {
  padding: 20px;
}

.table {
  th {
    background-color: #25527a;
    color: #ffffff;
  }
  tr:nth-child(even) { background-color: #f2f2f2; }
  tr:nth-child(odd) { background-color: #ffffff; }

  .toa-table-title {
    background-color: #ffffff;
  }

  .editable-field {
    &:hover {
      cursor: pointer;
      background-color: #cccccc;
  }
}

.table-editable {
  position: relative;



  th {
    padding: 8px;
  }

  tr > td {
   padding: 8px;
    }
  }

  .fa {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;

  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;

  &:hover {
    color: #0b0;
  }
}

.exceed-sum {

  color: #dc3545;

  &:before {
    content: " ( ";
  }
  &:after {
    content: " ) ";
  }
}


.table-editable  {

  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
}
