fieldset {
  padding: 20px;
}

.table {
  th {
    background-color: #25527a;
    color: #ffffff;
  }

  .toa-table-title {
    background-color: #ffffff;
  }

  .data-hover:hover {
    cursor: pointer;
    background-color: #cccccc;
  }
}

.table-editable {
  position: relative;

  th {
    padding: 8px;
  }

  tr > td {
   padding: 8px;
  }

  .fa {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;

  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;

  &:hover {
    color: #0b0;
  }

  .row-light {
    background-color: #eae9e9;
    color: #000000;
  }

}
