fieldset {
  padding: 20px;
}

.pom-label {
  color: #868e9b;
  margin: 0;
  width: 90px;
  display: inline-block;
}

.inline-name {
  display: inline;
}

.forminput {
  width: 400px;
  padding: 6px 4px;
  clear: both;
  display: inline-block;
}

.toa-input {
  width: 230px;
  padding: 6px 4px;
  clear: both;
  color: #000;
  display: inline-block;
}
