<fieldset>
  <legend>Unlocker</legend>
  <table class="worksheet-table">
    <tr>
      <td>
      <label class="pull-right">Select Target Workspace:</label>
      </td>
      <td>
        <div class="form-group">
          <select [(ngModel)]="selectedImportableWorkspace" class="form-control copy-select">
            <option *ngFor="let workspace of importableWorkspaces" [ngValue]="workspace">{{workspace.name}} - Number {{workspace.version}}</option>
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <div class="button-controls pull-right">
          <button class="btn btn-primary pull-right" (click)="onUnlock()" [disabled]="!selectedImportableWorkspace">Save</button>
          <button class="btn btn-secondary pull-right" (click)="operationOver.emit()" >Cancel</button>
        </div>
      </td>
    </tr>
  </table>
</fieldset>
