fa-icon {
  font-size: x-large;
  padding-left: 8px;
}

.reason-text-area {
  height: 98px;
}

:host {
  width: 100%;
  height: 100%;
}

:host ::ng-deep {
  .pfm-data {
    height: 100vh !important;
  }

  .pfm-data .main-header,
  .pfm-data .ag-header-group-cell.ag-header-group-cell-no-group {
    background: white;
    color: black;
    border-left: solid 1px #0000002b;
  }

  .modal-footer {
    display: flex;
    flex-grow: 1;
  }

  .pfm-data .ag-body-viewport .aggregate-cell,
  .pfm-data .ag-row-pinned {
    background-color: #ffeb3b59;
  }

  .pfm-data .ag-body-viewport .regular-cell {
    background-color: #bbced7;
  }

  .wrap-text {
    white-space: normal;
  }
}
