$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$white-border: 1px solid #ffffff;
$light-blue: #dbe8f7;
$light-grey: #eae9e9;
$dark-grey: #848282;
$light-green: #ebf2de;

fieldset {
  margin: 0;
  padding: 10px 20px;
}

.delta-row  {
  background: $light-grey;
}

.add-variant-table {
  td:first-child {
    padding-left: 0;
  }
  td {
    padding: 0 10px;
  }
}

.variant-name {
  display: inline;
}

.row-white {
  background-color: $white;
}

.row-border-top {
  border-top: 4px solid #7b8389;
}

.row-lt-green {
  background-color: $light-green;
  color: $black;
}

.variant-titles {
  font-size: 20px;
  padding: 0;
  color: #4f7494;
  font-weight: 500;
}

.remove-variant {
 i {
     &.fa {
      color: $black;
      opacity: .5;
      font-size: 18px;
      cursor: pointer;
    }
    &.fa:hover {
      color: red;
      opacity: .9;
    }
  }
}

.dropdown-width {
  width: 100%;
  height: 32px;
}

.remove-text {
  font-size: 11px;
  cursor: pointer;
  color: $dark-grey;
  &:hover {
    color: red;
    opacity: .9;
  }
}

.inline-name {
  display: inline-block;
  float: left;
}

input {
  height: 32px;
}
//
// .ag-header-group-cell-label{
//   display:table;
//   margin:0 auto;
// }

.font-red {
  color: red;
}
