<div class="row">
  <div class="col-md-12">
    <div class="row mb-4">
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <span class="form-group">
              <div class="primary-label mb-1">Select Funding Line</div>
              <select class="form-control-sm dropdown-width" [(ngModel)]="fund" name="fl" [disabled]="false" (change)="buildTables()">
                <option value=""></option>
                <option *ngFor="let fl of pr.fundingLines" [ngValue]="fl">
                  {{fl.appropriation}} / {{fl.blin}} / {{fl.item}} / {{fl.opAgency}}
                </option>
              </select>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="fund" class="row mb-4">
      <div *ngFor="let variant of myVariants index as variantIndex" class="col-md-12 mb-4" id="variant">
        <span class="form-group">
          <label class="variant-titles mr-sm-4">{{variant.number}} {{variant.shortName}}</label>
        </span>
        <span *ngIf="!variant?.bulkOrigin" class="remove-variant" data-toggle="modal" data-target="#modal"
                (click)="deleteVariant(variant)">
            <i class="fa fa-trash"></i>
        </span>
        <div class="table-editable">
          <table class="variants-table">
            <thead>
              <tr>
                <th>Service</th>
                <th>Contractor</th>
                <th>Unit Costs</th>
                <th>Cycle</th>
                <th *ngFor="let year of years">{{year}}</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let serviceLine of variant.serviceLines">
                <tr class="row-border-top">
                  <td class="text-center" rowspan="3">
                    {{serviceLine.branch}}
                    <span *ngIf="!serviceLine?.bulkOrigin" class="remove-variant" data-toggle="modal" data-target="#modal"
                      (click)="deleteServiceLine(variant, serviceLine)">
                      <i class="fa fa-trash"></i>
                    </span>
                  </td>
                  <td class="text-center" rowspan="3">{{serviceLine.contractor}}</td>
                  <td class="text-center" rowspan="3">{{serviceLine.unitCost}}</td>
                  <td>PB{{pomFy-1}}</td>
                  <td *ngFor="let year of years" class="text-right">{{serviceLine.pbQty[year] | dashForZero}}</td>
                  <td class="text-right">{{serviceLine.pbQty['sum'] | dashForZero }}</td>
                </tr>
                <tr>
                  <td>POM{{pomFy}}</td>
                  <td *ngFor="let year of years" contenteditable="true" class="editable-field" digits (blur)="onedit($event.target.textContent, variant, serviceLine, year)">
                    {{serviceLine.prQty[year] | dashForZero}}
                  </td>
                  <td class="text-right">{{serviceLine.prQty['sum'] | dashForZero }}</td>
                </tr>
                <tr class="row-lt-green">
                  <td>Delta</td>
                  <td *ngFor="let year of years" class="text-right">{{serviceLine.deltaQty[year]}}</td>
                  <td class="text-right">{{serviceLine.deltaQty['sum']}}</td>
                </tr>
              </ng-container>
              <tr class="row-border-top">
                <td colspan="4" class="totals-line text-right font-weight-bold">Totals:</td>
                <td *ngFor="let year of years" class="text-right">{{variant.totalQty[year] | dashForZero }}</td>
                <td class="text-right">{{variant.totalQty['sum'] | dashForZero }}</td>
              </tr>
              <tr>
                <td colspan="9" class="white-border">
                  <div class="row mb-2">
                    <div class="col-2">
                      <button class="btn btn-light" (click)="toggleShowAddServiceLine(variantIndex)">
                        <i *ngIf="showAddServiceLine[variantIndex]" class="fa fa-minus-circle icon-pad" aria-hidden="true"></i>
                        <i *ngIf="!showAddServiceLine[variantIndex]" class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                        New Service Line
                      </button>
                    </div>
                    <div *ngIf="showAddServiceLine[variantIndex]" class="col-10">
                      <div class="row">
                        <div class="col-2">
                          <label class="mb-1">Service</label>
                          <select name="branchSelect" class="form-control-sm dropdown-width mb-0 mr-3" [(ngModel)]="newServiceLineBranch">
                            <option value=""></option>
                            <option *ngFor="let branch of branches" [ngValue]="branch">{{branch}}</option>
                          </select>
                        </div>
                        <div class="col-2">
                          <label class="mb-1">Contractor</label>
                          <input class="form-control forminput mb-0 mr-3" [(ngModel)]="newServiceLineContractor">
                        </div>
                        <div class="col-2">
                          <label class="mb-1">Unit Cost</label>
                          <input class="form-control forminput mb-0 mr-3" type="number" [(ngModel)]="newServiceLineUnitCost">
                        </div>
                        <div class="col-2">
                          <label></label>
                          <button class="btn btn-primary" (click)="addServiceLine(variant, variantIndex)">
                            Add Service Line
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset>
          <legend>Add Variant</legend>
          <div class="row">
            <div *ngIf="!showAddVariant" class="col-3">
              <span>
                <button class="btn btn-primary" (click)="showAddVariant=true">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  <span class="mr-1">New Variant</span>
                </button>
              </span>
            </div>
          </div>
          <div *ngIf="showAddVariant" class="row mb-3">
            <div class="col-4">
              <span class="form-group">
                <div class="mb-1 primary-label">Name</div>
                <span class="form-group">
                  <input class="mb-2 form-control forminput" [(ngModel)]="newVariantName">
                </span>
              </span>
            </div>
            <div class="col-3">
              <span class="form-group">
                <div class="primary-label"> </div>
                <button class="btn btn-primary mt-4 mr-2" (click)="addVariant()" [disabled]="!(newVariantName)">
                  <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                  Add Variant
                </button>
              </span>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
