<div class="row">
  <!--Left column begins-->
  <div class="col-md-12">
    <ng-container *ngFor="let varname of varkeys">
      <variant-line [startyear]="startyear" [variants]="varmap.get( varname )"></variant-line>
    </ng-container>
    <div class="row mb-4">
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <span class="form-group">
              <div class="primary-label mb-1">Select Funding Line</div>
              <select class="form-control-sm dropdown-width" [(ngModel)]="fund" name="fl" [disabled]="false" (change)="buildTables()">
                <option value=""></option>
                <option *ngFor="let fl of pr.fundingLines" [ngValue]="fl">
                  {{fl.appropriation}} / {{fl.blin}} / {{fl.item}} / {{fl.opAgency}}
                </option>
              </select>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="fund" class="row mb-4">
      <div *ngFor="let variant of variants index as variantIndex" class="col-md-12 mb-4" id="variant">
        <span class="form-group">
          <label class="variant-titles mr-sm-4">{{variant.shortName}}</label>
        </span>
        <!--
        <span class="form-group">
          <label class="variant-titles mr-sm-4">{{variant.longName}}</label>
        </span>
        -->
        <span class="remove-variant" title="Remove Variant">
          <i class="fa fa-trash"></i>
        </span>

        <span class="h6 remove-text">Remove Variant</span>
        <!--
          <span *ngIf="!pr.pom?.bulkOrigin" class="remove-pr" data-toggle="modal" data-target="#modal"
                (click)="saveDeletionValues(pr.pom.id, pr.pom.shortName)">
            <i class="fa fa-trash"></i>
          </span>
        -->
        <div class="table-editable">
          <table class="proc-qty">
            <thead>
              <tr>
                <th>Service</th>
                <th>Contractor</th>
                <th>Unit Costs</th>
                <th>Cycle</th>
                <th *ngFor="let year of years">{{year}}</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let serviceLine of variant.serviceLines">
                <tr class="row-border-top">
                  <td class="text-center" rowspan="3">{{serviceLine.branch}}</td>
                  <td class="text-center" rowspan="3">{{serviceLine.contractor}}</td>
                  <td class="text-center" rowspan="3">{{serviceLine.unitCost}}</td>
                  <td>PB{{pomFy-1}}</td>
                  <td *ngFor="let year of years" class="text-right">{{serviceLine.pbQty[year] | dashForZero}}</td>
                  <td class="text-right">{{serviceLine.pbQty['sum'] | dashForZero }}</td>
                </tr>
                <tr>
                  <td>POM{{pomFy}}</td>
                  <td *ngFor="let year of years" contenteditable="true" class="editable-field" digits (blur)="onedit($event.target.textContent, variant, serviceLine, year)">
                    {{serviceLine.prQty[year] | dashForZero}}
                  </td>
                  <td class="text-right">{{serviceLine.prQty['sum'] | dashForZero }}</td>
                </tr>
                <tr class="row-lt-green">
                  <td>Delta</td>
                  <td *ngFor="let year of years" class="text-right">{{serviceLine.deltaQty[year]}}</td>
                  <td class="text-right">{{serviceLine.deltaQty['sum']}}</td>
                </tr>
              </ng-container>
              <tr class="row-border-top">
                <td colspan="4" class="text-right font-weight-bold">Totals:</td>
                <td *ngFor="let year of years" class="text-right">{{variant.totalQty[year] | dashForZero }}</td>
                <td class="text-right">{{variant.totalQty['sum'] | dashForZero }}</td>
              </tr>
              <tr>
                <td colspan="10">
                  <div class="row">
                    <button class="btn btn-light" (click)="toggleShowAddServiceLine(variantIndex)">
                      <i *ngIf="showAddServiceLine[variantIndex]" class="fa fa-minus-circle icon-pad" aria-hidden="true"></i>
                      <i *ngIf="!showAddServiceLine[variantIndex]" class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                      New Service Line
                    </button>
                    <div *ngIf="showAddServiceLine[variantIndex]" class="col-10">
                      <div class="row">
                        <div class="col-2">
                          <label class="mb-0">Service</label>
                          <select name="branchSelect" class="form-control-sm dropdown-width mb-0 mr-3" [(ngModel)]="newService">
                            <option value=""></option>
                            <option *ngFor="let service of services" [ngValue]="service">{{service}}</option>
                          </select>
                        </div>
                        <div class="col-2">
                          <label>Contractor</label>
                          <input class="form-control forminput mb-0 mr-3" [(ngModel)]="newContractor">
                        </div>
                        <div class="col-2">
                          <label>Unit Cost</label>
                          <input class="form-control forminput mb-0 mr-3" [(ngModel)]="newUnitCost">
                        </div>
                        <div class="col-1">
                          <button class="btn btn-primary mt-2" (click)="addServiceLine(variant, variantIndex)">
                            Add Service Line
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div lass="row">
        <div class="col-12 mb-3">
          <fieldset>
            <legend>Add Variant</legend>
            <div *ngIf="!showAddVariant" class="col-5 mt-4">
              <span>
                <button class="btn btn-primary" (click)="showAddVariant=true">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  <span class="mr-1">New Variant</span>
                </button>
              </span>
            </div>
            <div *ngIf="showAddVariant" class="row mb-3">
              <div class="col-4">
                <span class="form-group">
                  <div class="mb-1 primary-label">Name</div>
                  <span class="form-group">
                    <input class="mb-2 form-control forminput" [(ngModel)]="newVariantName">
                  </span>
                </span>
              </div>
              <div class="col-5">
                <span class="form-group">
                  <div class="mb-1 primary-label">Description</div>
                  <span class="form-group">
                    <input class="mb-2 form-control forminput" [(ngModel)]="newVariantDesc">
                  </span>
                </span>
              </div>
              <div class="col-2">
                <span class="form-group">
                  <div class="primary-label"> </div>
                  <button class="btn btn-primary mt-4" (click)="addVariant()" [disabled]="!(newVariantName && newVariantDesc)">
                    <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                    Add Variant
                  </button>
                </span>
              </div>
            </div>
          </fieldset>
          <j-feedback></j-feedback>
        </div>
      </div>

    </div>
  </div>
</div>