<app-header></app-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isloggedin">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-10 mb-4">
          <span class="h5">Programmatic Request for</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="card">
            <div class="card-body">
              <form>
                <div class="radio-buttons mb-3">
                  <div class="radio-item">
                    <input type="radio" id="ritema" name="ritem" value="ropt1">
                    <label for="ritema">An Existing or Requested Program</label>
                  </div>
                  <div class="radio-item">
                    <input type="radio" id="ritemb" name="ritem" value="ropt2">
                    <label for="ritemb">A New Subprogram</label>
                  </div>
                  <div class="radio-item">
                    <input type="radio" id="ritemc" name="ritem" value="ropt3">
                    <label for="ritemc">A New Program</label>
                  </div>
                </div>
                <span class="mr-sm-4">
                  <label class="primary-label mb-2">Select Program</label>
                  <select class="form-control-sm">
                      <option>Program 1</option>
                      <option>Program 2</option>
                    </select>
                </span>
                <span class="mb-2 mr-sm-2">
                  <label class="badge badge-light"><h6>Parent Program Name</h6></label>
                </span>
                <button class="btn btn-primary btn-sm" href="#" routerLink="/existing-program-request">
                  <span class="icon-pad">Next</span>
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
