.btn-file{
  position:relative
}

.btn-file input[type=file]{
position:absolute;
top:0;
right:0;
min-width:100%;
min-height:100%;
text-align:right;
filter:alpha(opacity=0);
opacity:0;
cursor:inherit;
display:block
}

input[readonly]{
background-color:#fff!important;
cursor:text!important;
}

.buttonaslist{
  border: 0;
  background: none;
  padding-right: 10px;
  cursor: hand;
}