<div class="card">
  <div class="card-header"><i class="fa fa-filter icon-pad" aria-hidden="true"></i>Filters</div>
    <div class="card-body">
      <div class="card-title">Select Program:</div>
<div class="form-group">
  <div>
    <select class="form-control-sm mb-2 mr-sm-2" [(ngModel)]="current" name="current">
          <option [ngValue]="p" *ngFor="let p of allprograms">{{p.shortName}}</option>
        </select>
  </div>
</div>
      <div class="dropdown">
        <a href="" class="dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Functional Areas</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">CA</a>
          <a class="dropdown-item" href="#">CB</a>
          <a class="dropdown-item" href="#">CM</a>
          <a class="dropdown-item" href="#">CO</a>
          <a class="dropdown-item" href="#">DE</a>
          <a class="dropdown-item" href="#">DT</a>
          <a class="dropdown-item" href="#">DW</a>
          <a class="dropdown-item" href="#">IP</a>
          <a class="dropdown-item" href="#">IS</a>
          <a class="dropdown-item" href="#">LS</a>
          <a class="dropdown-item" href="#">LF</a>
          <a class="dropdown-item" href="#">MB</a>
          <a class="dropdown-item" href="#">MP</a>
          <a class="dropdown-item" href="#">MS</a>
          <a class="dropdown-item" href="#">NT</a>
          <a class="dropdown-item" href="#">04</a>
          <a class="dropdown-item" href="#">PS</a>
          <a class="dropdown-item" href="#">SB</a>
          <a class="dropdown-item" href="#">TE</a>
          <a class="dropdown-item" href="#">TM</a>
          <a class="dropdown-item" href="#">TT</a>
        </div>
      </div>
      <!-- <div class="dropdown">
        <a href="" class="dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manager</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">CBA</a>
          <a class="dropdown-item" href="#">CBI</a>
          <a class="dropdown-item" href="#">CBM</a>
          <a class="dropdown-item" href="#">CBS</a>
          <a class="dropdown-item" href="#">CBT</a>
          <a class="dropdown-item" href="#">JPMCA</a>
          <a class="dropdown-item" href="#">JPMG</a>
          <a class="dropdown-item" href="#">JPMIS</a>
          <a class="dropdown-item" href="#">JPMMCS</a>
          <a class="dropdown-item" href="#">JPMP</a>
          <a class="dropdown-item" href="#">OTH</a>
          <a class="dropdown-item" href="#">SOFRCD</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="" class="dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aquisition Type</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Systems Acquisition</a>
          <a class="dropdown-item" href="#">RDT&amp;E Management Support</a>
          <a class="dropdown-item" href="#">Procurement</a>
          <a class="dropdown-item" href="#">Science &amp; Technology</a>
        </div>
      </div> -->

      <hr/>
      <span class="content-label">
        <div class="card-title">Format</div>
      </span>
      <div class="controls-filters">
        <div class="radio-item">
          <input type="radio" id="ritema" name="ritem" value="ropt1">
          <label for="ritema">%</label>
        </div>
        <div class="radio-item">
          <input type="radio" id="ritemb" name="ritem" value="ropt2">
          <label for="ritemb">$</label>
        </div>
      </div>
      <div>OSD Goals</div>
       <div class="osd">
         <div class="osd-red"></div>
         <span class="osd-data">5%</span>
       </div>
       <div class="osd">
         <div class="osd-yellow"></div>
         <span class="osd-data">10%</span>
       </div>
       <span>Highlighting:</span>
       <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
         <div class="handle"></div>
       </button>
   </div>
   <div>
    <hr/>
    <p>Here are some roles, you should see a role if you have that role. <br/>
      <span approle="Admin">Admin</span>
      <span approle="POM_Manager">POM_Manager</span>
      <span approle="User">User</span>
      <span approle="Program_Manager">Program_Manager</span>
      <span approle="Poophead">TestNotARole</span>
      <span approle="Las">Las</span> <br/>
      <span approle="Poophead,Las,Admin,POM_Manager,User,Program_Manager">Poophead or Las or Admin or POM_Manager or User or Program_Manager</span>
    </p>
    <p>Here are some permissions, you should see a permissions if you have it. <br/>
    <span apppermission="POM:*">POM:*</span>
    <span apppermission="POM:12">POM:12</span>
    <span apppermission="POM:read:12">POM:read:12</span>
    <span apppermission="Program:edit:1">Program:edit:1</span>
    </p>
  </div>
</div>
