<div class="row">
  <!--Left column begins-->
  <div class="col-11">
    <div class="card-header font-weight-bold">Prog 1 Increment A</div>
    <table class="GeneratedTable">
      <thead>
        <tr>
          <th class="row-width">Appropriation</th>
          <th class="row-width">Budget</th>
          <th>Cycle</th>
          <th>FY19</th>
          <th>FY20</th>
          <th>FY22</th>
          <th>FY23</th>
          <th>FY24</th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td class="row-lt-gray text-center" rowspan="3">RDT&amp;E</td>
        <td class="row-lt-gray text-center" rowspan="3">BA4</td>
        <td>PBR18</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-blue">
        <td>POM19</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-green">
        <td></td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr>
        <td class="row-lt-gray text-center" rowspan="3">RDT&amp;E</td>
        <td class="row-lt-gray text-center" rowspan="3">BA5</td>
        <td>PBR18</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-blue">
        <td>POM19</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-green">
        <td></td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-gray font-weight-bold">
        <td class="text-center" colspan="2" rowspan="3">Subtotal RDT&amp;E</td>
        <td>PBR18</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-gray font-weight-bold">
        <td>POM19</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-gray font-weight-bold">
        <td></td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-gray row-border-top font-weight-bold">
        <td class="row-lt-gray text-center" rowspan="3">PROC</td>
        <td class="row-lt-gray text-center" rowspan="3">PHM0001</td>
        <td class="row-white font-weight-normal">PBR18</td>
        <td class="text-right row-white font-weight-normal">Cell</td>
        <td class="text-right row-white font-weight-normal">Cell</td>
        <td class="text-right row-white font-weight-normal">Cell</td>
        <td class="text-right row-white font-weight-normal">Cell</td>
        <td class="text-right row-white font-weight-normal">Cell</td>
      </tr>
      <tr class="row-lt-blue">
        <td>POM19</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-green">
        <td class="text-danger"></td>
        <td class="text-right">Cell</td>
        <td class="text-right text-danger">Cell</td>
        <td class="text-right text-danger">Cell</td>
        <td class="text-right text-danger">Cell</td>
        <td class="text-right text-danger">Cell</td>
      </tr>
      <tr class="row-lt-gray font-weight-bold">
        <td class="text-center" colspan="2" rowspan="3">Subtotal PROC</td>
        <td>PBR18</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-gray font-weight-bold">
        <td>POM19</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-gray row-border-bottom font-weight-bold">
        <td></td>
        <td class="text-right">Cell</td>
        <td class="text-right text-danger">Cell</td>
        <td class="text-right text-danger">Cell</td>
        <td class="text-right text-danger">Cell</td>
        <td class="text-right text-danger">Cell</td>
      </tr>
      <tr class="row-lt-gray font-weight-bold">
        <td class="text-center light-cell" colspan="2" rowspan="3">Total Funds Request</td>
        <td>Baseline</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-gray font-weight-bold">
        <td>POM19</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
      </tr>
      <tr class="row-lt-gray font-weight-bold">
        <td>Delta</td>
        <td class="text-right">Cell</td>
        <td class="text-right">Cell</td>
        <td class="text-right text-danger">Cell</td>
        <td class="text-right text-danger">Cell</td>
        <td class="text-right text-danger">Cell</td>
      </tr>
    </tbody>
  </table>
</div>
