<ng-template #nomoney>
  <td class="text-right">-</td>
</ng-template>

<div class="row">
  <div class="col-12">
    <table class="GeneratedTable">
      <thead>
        <tr>
          <th class="row-width">Appropriation</th>
          <th class="row-width">Budget</th>
          <th>Cycle</th>
          <th>FY{{startyear}}</th>
          <th>FY{{startyear+1}}</th>
          <th>FY{{startyear+2}}</th>
          <th>FY{{startyear+3}}</th>
          <th>FY{{startyear+4}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let fl of appropriations; first as isFirstApp">
          <ng-container *ngFor="let blin of fl.blins; first as isFirstBlin">
            <ng-container *ngFor="let f of blin.cfunds; first as isFirstFund">
              <tr>
                <!--ng-container *ngIf="isFirstBlin">
                  <td class="row-lt-gray text-center" [attr.rowspan]="fl.rowspan">xx {{fl.appropriation}}</td>
                </ng-container-->
                <ng-container *ngIf="isFirstFund">
                  <td class="row-lt-gray text-center" [attr.rowspan]="blin.rowspan">{{fl.appropriation}}</td>
                  <td class="row-lt-gray text-center" [attr.rowspan]="blin.rowspan">{{blin.blin}}</td>
                </ng-container>

                <td class="text-right">{{f.cycle}}</td>
                <td class="text-right" *ngIf="f.funds.has(startyear); else nomoney">{{f.funds.get(startyear)}}</td>
                <td class="text-right" *ngIf="f.funds.has(startyear+1); else nomoney">{{f.funds.get(startyear+1)}}</td>
                <td class="text-right" *ngIf="f.funds.has(startyear+2); else nomoney">{{f.funds.get(startyear+2)}}</td>
                <td class="text-right" *ngIf="f.funds.has(startyear+3); else nomoney">{{f.funds.get(startyear+3)}}</td>
                <td class="text-right" *ngIf="f.funds.has(startyear+4); else nomoney">{{f.funds.get(startyear+4)}}</td>
              </tr>
            </ng-container>
          </ng-container>
          <tr class="row-lt-gray font-weight-bold row-border-bottom">
            <td class="text-center" colspan="2" rowspan="1">Subtotal {{fl.appropriation}}</td>
            <td>PBR18<i>??</i></td>
            <td class="text-right" *ngIf="fl.subtotals.has(startyear); else nomoney">{{fl.subtotals.get(startyear)}}</td>
            <td class="text-right" *ngIf="fl.subtotals.has(startyear+1); else nomoney">{{fl.subtotals.get(startyear+1)}}</td>
            <td class="text-right" *ngIf="fl.subtotals.has(startyear+2); else nomoney">{{fl.subtotals.get(startyear+2)}}</td>
            <td class="text-right" *ngIf="fl.subtotals.has(startyear+3); else nomoney">{{fl.subtotals.get(startyear+3)}}</td>
            <td class="text-right" *ngIf="fl.subtotals.has(startyear+4); else nomoney">{{fl.subtotals.get(startyear+4)}}</td>
          </tr>
        </ng-container>

        <tr class="row-lt-gray font-weight-bold">
          <td class="text-center light-cell" colspan="2" rowspan="1">Total Funds Request</td>
          <td>Baseline</td>
          <td class="text-right" *ngIf="totals.has(startyear); else nomoney">{{totals.get(startyear)}}</td>
          <td class="text-right" *ngIf="totals.has(startyear+1); else nomoney">{{totals.get(startyear+1)}}</td>
          <td class="text-right" *ngIf="totals.has(startyear+2); else nomoney">{{totals.get(startyear+2)}}</td>
          <td class="text-right" *ngIf="totals.has(startyear+3); else nomoney">{{totals.get(startyear+3)}}</td>
          <td class="text-right" *ngIf="totals.has(startyear+4); else nomoney">{{totals.get(startyear+4)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
