<app-header title="JSCBIS Login"></app-header>
<div class="container-fluid">
  <div class="row main-content">
    <!-- <div class="row main-content" *ngIf="header.isloggedin"> -->
    <div class="col-md-12">
      <tabset>
        <tab heading="Program" id="tab1">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group inline-name">
                <input type="text" class="form-control forminput" name="program" placeholder="Program">
              </div>
              <div class="form-group inline-name">
                <input type="text" class="form-control forminput" name="subProgram" placeholder="Subprogram">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="program-container">
                <div class="form-group inline-name">
                  <input type="text" class="form-control forminput" name="progId" placeholder="ProgID">
                </div>
                <div class="form-group inline-name">
                  <input type="text" class="form-control forminput" name="progName" placeholder="ProgName">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group inline-name">
                <label>Prog Parent</label>
                <select>
                    <option>items</option>
                    <option>items</option>
                    <option>items</option>
                  </select>
              </div>
              <div class="form-group inline-name">
                <span class="input-group input-group-sm">
                    <input type="text" class="form-control forminput" placeholder="URL Hyperlink" readonly>
                    <span class="input-group-btn">
                      <span class="btn btn-gray btn-file">
                        Browse <input type="file" name="file" accept="image/*">
                      </span>
                </span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="card-header">
                Capability
              </div>
              <div class="card-container">
                <p>Content</p>
                <p>Content</p>
                <p>Content</p>
                <p>Content</p>
              </div>
            </div>
            <div class="col-md-3">
            </div>
          </div>
        </tab>
          <tab heading="Funds" id="tab2">
            <div class="row col-md-12">
              <div class="program-container">

          </div>
        </div>
      </tab>
      <tab heading="Variants" id="tab3">
        <div class="row col-md-12">
          <div class="program-container">

          </div>
        </div>
      </tab>
      <tab heading="Execution" id="tab4">
        <div class="row col-md-12">
          <div class="program-container">

          </div>
        </div>
      </tab>
      <tab heading="Schedule" id="tab5">
        <div class="row col-md-12">
          <div class="program-container">

          </div>
        </div>
      </tab>
      <tab heading="Justification" id="tab6">
        <div class="row col-md-12">
          <div class="program-container">

          </div>
        </div>
      </tab>
      </tabset>
    </div>
  </div>
</div>
