<app-header></app-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isloggedin">
    <div class="col-md-12">
      <p class="h5">View Program</p>
      <div class="row">
        <div class="col-md-2">
          <div class="card-container">
            <div class="card-body">
              <div class="form-group">
                  <label class="mb-2 mr-sm-2">Select Program:</label>
                <div>
                  <select class="form-control-sm mb-2 mr-sm-2" [(ngModel)]="current" name="current">
                  <option [ngValue]="p" *ngFor="let p of allprograms">{{p.shortName}}</option>
                </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <tabset>
            <tab heading="Program" id="tab1">
              <program [current]="current" [startyear]="startyear"></program>
            </tab>
            <tab heading="Funds" id="tab2">
              <funds [current]="current" [startyear]="startyear"></funds>
            </tab>
            <tab heading="Variants" id="tab3">
              <variants [current]="current" [startyear]="startyear"></variants>
            </tab>
            <!-- <tab heading="Execution" id="tab4">
              <div class="row col-md-12">
                <div class="card-container">
                </div>
              </div>
            </tab>
            <tab heading="Schedule" id="tab5">
              <div class="row col-md-12">
                <div class="card-container">
                </div>
              </div>
            </tab>
            <tab heading="Justification" id="tab6">
              <div class="row col-md-12">
                <div class="card-container">
                </div>
              </div>
            </tab> -->
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
