<app-header title="JSCBIS Login"></app-header>
<div class="container-fluid" *ngIf="header.isloggedin">
  <div class="row main-content">
    <div class="col-md-10">
      <tabset>
        <tab heading="Program" id="tab1">
          <program></program>
        </tab>
        <tab heading="Funds" id="tab2">
          <funds></funds>
        </tab>
        <tab heading="Variants" id="tab3">
          <variants></variants>
        </tab>
        <tab heading="Execution" id="tab4">
          <div class="row col-md-12">
            <div class="card-container">
            </div>
          </div>
        </tab>
        <tab heading="Schedule" id="tab5">
          <div class="row col-md-12">
            <div class="card-container">
            </div>
          </div>
        </tab>
        <tab heading="Justification" id="tab6">
          <div class="row col-md-12">
            <div class="card-container">
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
