<div class="row">
  <!--Left column begins-->
  <div class="col-11">
    <div class="card-header font-weight-bold">
      <span class="text-dark card-header-text-pad">Prog 1</span> <span class="text-muted">Increment A</span>
      <span class="formgroup pull-right">
        <select>
          <option>PHMXX</option>
          <option>BA5</option>
        </select>
      </span>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="card-title text-center font-weight-bold">Variant Name</div>
          </div>
          <div class="col-6">
            <div class="card-title text-center font-weight-bold">Variant ID</div>
          </div>
        </div>
        <table class="GeneratedTable">
          <thead>
            <tr>
              <th class="row-width">Service</th>
              <th class="row-width">Description</th>
              <th class="row-width">Contractor</th>
              <th rowspan="2">Unit Costs</th>
              <th></th>
              <th>FY19</th>
              <th>FY20</th>
              <th>FY22</th>
              <th>FY23</th>
              <th>FY24</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="row-white" rowspan="3">JSA</td>
              <td class="row-white" rowspan="3">Text</td>
              <td class="row-white" rowspan="3">Company</td>
              <td class="row-white text-right cell-right-border-white" rowspan="3">$50.17</td>
              <td class="row-white cell-bottom-border-white">PBR18</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr class="row-lt-blue">
              <td class="row-white cell-bottom-border-white">POM19</td>
              <td class="text-right">0</td>
              <td class="text-right">0</td>
              <td class="text-right">369</td>
              <td class="text-right">2280</td>
              <td class="text-right">3520</td>
              <td class="text-right">6219</td>
            </tr>
            <tr class="row-lt-green">
              <td class="row-white cell-left-bottom-border-white">Difference</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td class="row-white" rowspan="3">JSA</td>
              <td class="row-white" rowspan="3">Text</td>
              <td class="row-white" rowspan="3">Company</td>
              <td class="row-white text-right cell-right-border-white" rowspan="3">$50.17</td>
              <td class="row-white cell-bottom-border-white">PBR18</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr class="row-lt-blue">
              <td class="row-white cell-bottom-border-white">POM19</td>
              <td class="text-right">0</td>
              <td class="text-right">0</td>
              <td class="text-right">369</td>
              <td class="text-right">2280</td>
              <td class="text-right">3520</td>
              <td class="text-right">6219</td>
            </tr>
            <tr class="row-lt-green">
              <td class="row-white cell-left-bottom-border-white">Difference</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td class="row-white" rowspan="3">JSA</td>
              <td class="row-white" rowspan="3">Text</td>
              <td class="row-white" rowspan="3">Company</td>
              <td class="row-white text-right cell-right-border-white" rowspan="3">$50.17</td>
              <td class="row-white cell-bottom-border-white">PBR18</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr class="row-lt-blue">
              <td class="row-white cell-bottom-border-white">POM19</td>
              <td class="text-right">0</td>
              <td class="text-right">0</td>
              <td class="text-right">369</td>
              <td class="text-right">2280</td>
              <td class="text-right">3520</td>
              <td class="text-right">6219</td>
            </tr>
            <tr class="row-lt-green">
              <td class="row-white cell-left-bottom-border-white">Difference</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td class="row-white" rowspan="3">JSA</td>
              <td class="row-white" rowspan="3">Text</td>
              <td class="row-white" rowspan="3">Company</td>
              <td class="row-white text-right cell-right-border-white" rowspan="3">$50.17</td>
              <td class="row-white cell-bottom-border-white">PBR18</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr class="row-lt-blue">
              <td class="row-white cell-bottom-border-white">POM19</td>
              <td class="text-right">0</td>
              <td class="text-right">0</td>
              <td class="text-right">369</td>
              <td class="text-right">2280</td>
              <td class="text-right">3520</td>
              <td class="text-right">6219</td>
            </tr>
            <tr class="row-lt-green">
              <td class="row-white cell-left-bottom-border-white">Difference</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>

            <tr>
              <td class="row-white" rowspan="3">JSA</td>
              <td class="row-white" rowspan="3">Text</td>
              <td class="row-white" rowspan="3">Company</td>
              <td class="row-white text-right cell-right-border-white" rowspan="3">$50.17</td>
              <td class="row-white cell-bottom-border-white">PBR18</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr class="row-lt-blue">
              <td class="row-white cell-bottom-border-white">POM19</td>
              <td class="text-right">0</td>
              <td class="text-right">0</td>
              <td class="text-right">369</td>
              <td class="text-right">2280</td>
              <td class="text-right">3520</td>
              <td class="text-right">6219</td>
            </tr>
            <tr class="row-lt-green">
              <td class="row-white cell-left-bottom-border-white">Difference</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
