<div class="row">
  <!--Left column begins-->
  <div class="col-12">
    <div class="card-header font-weight-bold">
      <span class="text-dark card-header-text-pad">Prog 1</span> <span class="text-muted">Increment A</span>
      <span class="formgroup pull-right">
        <select>
          <option>PHMXX</option>
          <option>BA5</option>
        </select>
      </span>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <div class="card-title text-center font-weight-bold">Variant Name</div>
          </div>
          <div class="col-6">
            <div class="card-title text-center font-weight-bold">Variant ID</div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <table class="GeneratedTable">
              <thead>
                <tr>
                  <th class="row-width">Service</th>
                  <th class="row-width">Description</th>
                  <th class="row-width">Contractor</th>
                  <th colspan="2">Unit Costs</th>
                  <th>FY19</th>
                  <th>FY20</th>
                  <th>FY22</th>
                  <th>FY23</th>
                  <th>FY24</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="row-white" rowspan="3">JSA</td>
                  <td class="row-white" rowspan="3">Text</td>
                  <td class="row-white" rowspan="3">Company</td>
                  <td class="row-white text-right cell-right-border-white" rowspan="3">$50.17</td>
                  <td class="row-white cell-bottom-border-white">PBR18</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-lt-blue">
                  <td class="row-white cell-bottom-border-white">POM19</td>
                  <td class="text-right">0</td>
                  <td class="text-right">0</td>
                  <td class="text-right">369</td>
                  <td class="text-right">2280</td>
                  <td class="text-right">3520</td>
                  <td class="text-right">6219</td>
                </tr>
                <tr class="row-lt-green">
                  <td class="row-white cell-left-bottom-border-white">Difference</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-border-top">
                  <td class="row-white" rowspan="3">JSA</td>
                  <td class="row-white" rowspan="3">Text 1</td>
                  <td class="row-white" rowspan="3">Company 1</td>
                  <td class="row-white text-right cell-right-border-white" rowspan="3">$46.38</td>
                  <td class="row-white cell-bottom-border-white">PBR18</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-lt-blue">
                  <td class="row-white cell-bottom-border-white">POM19</td>
                  <td class="text-right">0</td>
                  <td class="text-right">0</td>
                  <td class="text-right">656</td>
                  <td class="text-right">1137</td>
                  <td class="text-right">1121</td>
                  <td class="text-right">2914</td>
                </tr>
                <tr class="row-lt-green">
                  <td class="row-white cell-left-bottom-border-white">Difference</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-border-top">
                  <td class="row-white" rowspan="3">JSN</td>
                  <td class="row-white" rowspan="3">Text 3</td>
                  <td class="row-white" rowspan="3">Company 2</td>
                  <td class="row-white text-right cell-right-border-white" rowspan="3">$45.67</td>
                  <td class="row-white cell-bottom-border-white">PBR18</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-lt-blue">
                  <td class="row-white cell-bottom-border-white">POM19</td>
                  <td class="text-right">0</td>
                  <td class="text-right">0</td>
                  <td class="text-right">3634</td>
                  <td class="text-right">570</td>
                  <td class="text-right">562</td>
                  <td class="text-right">2826</td>
                </tr>
                <tr class="row-lt-green">
                  <td class="row-white cell-left-bottom-border-white">Difference</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-border-top">
                  <td class="row-white" rowspan="3">JSMC</td>
                  <td class="row-white" rowspan="3">Text 10</td>
                  <td class="row-white" rowspan="3">Company 3</td>
                  <td class="row-white text-right cell-right-border-white" rowspan="3">$50.17</td>
                  <td class="row-white cell-bottom-border-white">PBR18</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-lt-blue">
                  <td class="row-white cell-bottom-border-white">POM19</td>
                  <td class="text-right">0</td>
                  <td class="text-right">0</td>
                  <td class="text-right">181</td>
                  <td class="text-right">130</td>
                  <td class="text-right">129</td>
                  <td class="text-right">440</td>
                </tr>
                <tr class="row-lt-green">
                  <td class="row-white cell-left-bottom-border-white">Difference</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-border-top">
                  <td colspan="4" class="cell-left-border-white cell-bottom-border-white">
                    <span class="pull-left">
                      <button class="btn btn-primary btn-sm">
                        <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                          Add Service Line
                      </button>
                    </span>
                  </td>
                  <td class="text-right row-white font-weight-bold">Totals:</td>
                  <td class="text-right row-white">0</td>
                  <td class="text-right row-white">0</td>
                  <td class="text-right row-white">2900</td>
                  <td class="text-right row-white">4117</td>
                  <td class="text-right row-white">5382</td>
                  <td class="text-right row-white">12399</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr>
        <div class="row mb-3">
          <div class="col-11">
            <table class="GeneratedTable">
              <thead>
                <tr>
                  <th class="row-width">Service</th>
                  <th class="row-width">Description</th>
                  <th class="row-width">Contractor</th>
                  <th colspan="2">Unit Costs</th>
                  <th>FY19</th>
                  <th>FY20</th>
                  <th>FY22</th>
                  <th>FY23</th>
                  <th>FY24</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="row-white" rowspan="3">JSA</td>
                  <td class="row-white" rowspan="3">Text</td>
                  <td class="row-white" rowspan="3">Company</td>
                  <td class="row-white text-right cell-right-border-white" rowspan="3">$50.17</td>
                  <td class="row-white cell-bottom-border-white">PBR18</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-lt-blue">
                  <td class="row-white cell-bottom-border-white">POM19</td>
                  <td class="text-right">0</td>
                  <td class="text-right">0</td>
                  <td class="text-right">369</td>
                  <td class="text-right">2280</td>
                  <td class="text-right">3520</td>
                  <td class="text-right">6219</td>
                </tr>
                <tr class="row-lt-green">
                  <td class="row-white cell-left-bottom-border-white">Difference</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-border-top">
                  <td class="row-white" rowspan="3">JSA</td>
                  <td class="row-white" rowspan="3">Text 1</td>
                  <td class="row-white" rowspan="3">Company 1</td>
                  <td class="row-white text-right cell-right-border-white" rowspan="3">$46.38</td>
                  <td class="row-white cell-bottom-border-white">PBR18</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-lt-blue">
                  <td class="row-white cell-bottom-border-white">POM19</td>
                  <td class="text-right">0</td>
                  <td class="text-right">0</td>
                  <td class="text-right">656</td>
                  <td class="text-right">1137</td>
                  <td class="text-right">1121</td>
                  <td class="text-right">2914</td>
                </tr>
                <tr class="row-lt-green">
                  <td class="row-white cell-left-bottom-border-white">Difference</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-border-top">
                  <td class="row-white" rowspan="3">JSN</td>
                  <td class="row-white" rowspan="3">Text 3</td>
                  <td class="row-white" rowspan="3">Company 2</td>
                  <td class="row-white text-right cell-right-border-white" rowspan="3">$45.67</td>
                  <td class="row-white cell-bottom-border-white">PBR18</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-lt-blue">
                  <td class="row-white cell-bottom-border-white">POM19</td>
                  <td class="text-right">0</td>
                  <td class="text-right">0</td>
                  <td class="text-right">3634</td>
                  <td class="text-right">570</td>
                  <td class="text-right">562</td>
                  <td class="text-right">2826</td>
                </tr>
                <tr class="row-lt-green">
                  <td class="row-white cell-left-bottom-border-white">Difference</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-border-top">
                  <td class="row-white" rowspan="3">JSMC</td>
                  <td class="row-white" rowspan="3">Text 10</td>
                  <td class="row-white" rowspan="3">Company 3</td>
                  <td class="row-white text-right cell-right-border-white" rowspan="3">$50.17</td>
                  <td class="row-white cell-bottom-border-white">PBR18</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-lt-blue">
                  <td class="row-white cell-bottom-border-white">POM19</td>
                  <td class="text-right">0</td>
                  <td class="text-right">0</td>
                  <td class="text-right">181</td>
                  <td class="text-right">130</td>
                  <td class="text-right">129</td>
                  <td class="text-right">440</td>
                </tr>
                <tr class="row-lt-green">
                  <td class="row-white cell-left-bottom-border-white">Difference</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr class="row-border-top">
                  <td colspan="4" class="cell-left-border-white cell-bottom-border-white">
                    <span class="pull-left">
                      <button class="btn btn-primary btn-sm">
                        <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                          Add Service Line
                      </button>
                    </span>
                  </td>
                  <td class="text-right row-white font-weight-bold">Totals:</td>
                  <td class="text-right row-white">0</td>
                  <td class="text-right row-white">0</td>
                  <td class="text-right row-white">2900</td>
                  <td class="text-right row-white">4117</td>
                  <td class="text-right row-white">5382</td>
                  <td class="text-right row-white">12399</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
