$black: #000000;

.worksheet-controls {

  margin: 0;
  margin-left: -44px;

  ul { margin: 0; }

  li:first-child {
    margin-left: 0;
  }

  li {
    list-style: none;
    width: 140px;
    margin: 0 30px;
    margin-left: 0;
    display: inline-block;
  }

  .btn {
    width: 150px;
  }
}

