$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-grey: #eae9e9;
$medium-grey: #dddddd;
$dark-grey: #848282;

fieldset { padding: 20px;}

.worksheet-table {

  margin: 0;

  td {
    padding: 0 8px 10px 10px;
  }

  .copy-input,
  .copy-select {
    width: 450px;
  }

  .version-input {
    width: 100px;
  }
}

.worksheet-controls {

  margin: 0;
  margin-left: -44px;

  ul { margin: 0; }

  li:first-child {
    margin-left: 0;
  }

  li {
    list-style: none;
    width: 140px;
    margin: 0 30px;
    margin-left: 0;
    display: inline-block;
  }

  .btn {
    width: 150px;
  }
}

.button-controls {

  margin: 15px 0 0 0;

  ul { margin: 0; }

  li {
    list-style: none;
    margin-left: 0;
    display: inline-block;
  }
}

.input-file {
  width: 80%;
  padding: 6px 4px;
  clear: both;
}
