<div class="row">
  <div class="col-7">
    <span class="h5 mr-2">FY{{parent.budget.fy}} Budget - Edit Budget Details for: </span>
    <span><select [(ngModel)]="parent.selectedScenario" class="form-control-sm" (change)="onScenarioSelected()">
        <option value="undefined" disabled selected>Select Scenario</option>
        <option *ngFor="let bes of parent.bess" [ngValue]="bes">{{bes.name}}</option>
      </select>
    </span>
  </div>
  <div class="col-5">
    <button class="btn btn-primary pull-right" (click)="save()">Save</button>
  </div>
</div>

