<div class="row">
  <div class="col-9">
    <span class="h5 mr-2">FY{{budget.fy}} Budget - Edit <ng-content></ng-content> Details for: </span>
    <span>
      <select [(ngModel)]="selectedScenario" class="form-control-sm" (change)="onScenarioSelected()">
        <option value="undefined" disabled selected>Type / Appropriation / Name</option>
        <option value="undefined" disabled> - - - - - - </option>
        <option *ngFor="let bes of bess" [ngValue]="bes"> BES / {{bes.appropriation}} / {{bes.name}}</option>
        <option value="undefined" disabled> - - - - - - </option>
          <option *ngFor="let pb of pbs" [ngValue]="pb"> PB / {{pb.appropriation}} / {{pb.name}}</option>
      </select>
    </span>
  </div>
</div>