<div class="row main-content">
  <div class="col-8">
    <form *ngIf="form" [formGroup]="form">
      
      <fieldset>
        <legend>Program Identification</legend>
        <div class="row">
          <label class="col-6">Program ID</label>
          <span class="col-6"><input type="text" formControlName="shortName" /></span>
        </div>
        <div class="row">
          <label class="col-6">Program Name</label>
          <span class="col-6"><input type="text" formControlName="longName" /></span>
        </div>
        <div class="row">
          <label class="col-6">Program Type</label>
          <span class="col-6"><input type="text" formControlName="type" /></span>
        </div>
        <div class="row">
          <label class="col-6">Organization</label>
          <span class="col-6">
            <select class="form-control-sm" formControlName="organizationId">
              <option value="" disabled>Select...</option>
              <option *ngFor="let org of organizations" [value]="org.abbreviation">{{ org.abbreviation }}</option>
            </select>
          </span>
        </div>
        <div class="row">
          <label class="col-6">Divison</label>
          <span class="col-6">
            <select class="form-control-sm" formControlName="divison">
              <option value="" disabled>Select...</option>
              <option *ngFor="let div of divisions" [value]="div">{{ div }}</option>
            </select>
          </span>
        </div>
      </fieldset>
      <fieldset>
        <legend>Program Information</legend>
        <fieldset>
          <legend>Priorities</legend>
          <div class="row">
            <label class="col-6">Mission Priority</label>
            <span class="col-6">
              <select class="form-control-sm" formControlName="missionPriority">
                <option value="" disabled>Select...</option>
                <option *ngFor="let item of missionPriorities" [value]="item">{{ item }}</option>
              </select>
            </span>
          </div>
          <div class="row">
            <label class="col-6">Agency Priority</label>
            <span class="col-6">
              <select class="form-control-sm" formControlName="agencyPriority">
                <option value="" disabled>Select...</option>
                <option *ngFor="let item of agencyPriorities" [value]="item">{{ item }}</option>
              </select>
            </span>
          </div>
          <div class="row">
            <label class="col-6">Directorate Priority</label>
            <span class="col-6">
              <select class="form-control-sm" formControlName="directoratePriority">
                <option value="" disabled>Select...</option>
                <option *ngFor="let item of directoratePriorities" [value]="item">{{ item }}</option>
              </select>
            </span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Strategic Alignment</legend>
          <div class="row">
            <label class="col-6">SecDef LOE</label>
            <label class="col-6">{{form.controls['secDef'].value}}</label>
          </div>
          <div class="row">
            <label class="col-6">Strategic Imperative</label>
            <label class="col-6">{{form.controls['strategicImperative'].value}}</label>
          </div>
          <div class="row">
            <label class="col-6">Agency Objective</label>
            <label class="col-6">{{form.controls['agencyObjective'].value}}</label>
          </div>
        </fieldset>
        <fieldset>
          <legend>Area</legend>
          <div class="row">
            <label class="col-12">All program information can be customized to your needs.</label>
          </div>
        </fieldset>
      </fieldset>

      <span *ngIf="(form && form.invalid) || (form.errors?.shortName)" style="font-style: italic; font-size: small;">
        * Some fields are invalid
      </span>

      <pre>{{form.getRawValue() | json}}</pre>
    </form>
  </div>

  <div class="col-4">
    <fieldset class="file-upload">
      <legend>Attach File:</legend>
      <file-upload [area]="'program'" [isImageThumbnail]="true" [imagePath]="" (uploading)="onUploading($event)" (fileUploadEvent)="onFileUploaded($event)"></file-upload>
  </fieldset>
  </div>

</div>
