<ng-template #noqty>
<td contenteditable="true" class="editable-field"></td>
</ng-template>

<div *ngIf="0===blinsleft.size">There are no PROC funding lines in this UFR</div>

<div class="row">
  <!--Left column begins-->
  <div class="col-md-12">
    <div class="row" *ngIf="blinsleft.size>0">
      <div class="col-12 mb-2">
        <span class="mr-4">
          <button class="btn btn-primary" (click)="newtable()">
            <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
            Add Variant Table
          </button>
        </span>
        <span class="mr-4">for</span>
        <span class="form-group inline-name mr-5">
          <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="newblin">
            <option *ngFor="let blin of blinsleft" [ngValue]="blin" >{{blin}}</option>
          </select>
        </span>
      </div>
    </div>

    <ng-container *ngFor="let fund of current.fundingLines">
      <ng-container *ngIf="fund.variants.length>0">
      <div class="row mb-2">
        <div class="col-md-12">
          <div id="proc-qty" class="table-editable">
            {{fund.blin}}
            <table class="proc-qty">
              <thead>
                <tr>
                  <th class="row-width">Service</th>
                  <th class="row-width">Description</th>
                  <th class="row-width">Contractor</th>
                  <th colspan="2">Unit Costs</th>
                  <th>{{fy|FY}}</th>
                  <th>{{fy+1|FY}}</th>
                  <th>{{fy+2|FY}}</th>
                  <th>{{fy+3|FY}}</th>
                  <th>{{fy+4|FY}}</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>                
                <ng-container *ngFor="let variant of fund.variants">
                <tr>
                  <td class="row-white" rowspan="3">
                    <select [(ngModel)]="variant.branch" name="branch">
                      <option [ngValue]="'USA'">Army</option>
                      <option [ngValue]="'USN'">Navy</option>
                      <option [ngValue]="'USAF'">Air Force</option>
                      <option [ngValue]="'USM'">Marines</option>
                      <option [ngValue]="'USCG'">Coast Guard</option>
                    </select>
                  </td>
                  <td class="row-white" rowspan="3" contenteditable="true" class="editable-field">{{variant.description}}</td>
                  <td class="row-white" rowspan="3" contenteditable="true" class="editable-field">{{variant.contractor}}</td>
                  <td class="row-white text-right cell-right-border-white" rowspan="3" contenteditable="true" class="editable-field">${{variant.unitCost}}</td>
                  <td class="row-white cell-bottom-border-white">{{fy|FY:'PBR'}}</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>
                <tr>
                  <td class="row-white cell-bottom-border-white">{{fy|FY:'POM'}}</td>
                  <td contenteditable="true" class="editable-field" *ngIf="variant.quantity[fy]" digits (blur)="newedit($event.target.textContent,variant,fy)">{{variant.quantity[fy]}}</td>
                  <td contenteditable="true" class="editable-field" *ngIf="variant.quantity[fy+1]" digits (blur)="newedit($event.target.textContent,variant,fy+1)">{{variant.quantity[fy+1]}}</td>
                  <td contenteditable="true" class="editable-field" *ngIf="variant.quantity[fy+2]" digits (blur)="newedit($event.target.textContent,variant,fy+2)">{{variant.quantity[fy+2]}}</td>
                  <td contenteditable="true" class="editable-field" *ngIf="variant.quantity[fy+3]" digits (blur)="newedit($event.target.textContent,variant,fy+3)">{{variant.quantity[fy+3]}}</td>
                  <td contenteditable="true" class="editable-field" *ngIf="variant.quantity[fy+4]" digits (blur)="newedit($event.target.textContent,variant,fy+4)">{{variant.quantity[fy+4]}}</td>
                  <td>{{sum(variant, fy, fy+4)}}</td>
                </tr>
                <tr class="row-lt-green">
                  <td class="row-white cell-left-bottom-border-white">Difference</td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                  <td class="text-right"></td>
                </tr>                  
                </ng-container>
                <tr class="row-border-top">
                  <td colspan="4" class="cell-left-border-white cell-bottom-border-white">
                  </td>
                  <td class="text-right row-white font-weight-bold">Totals:</td>
                  <td class="text-right row-white">0</td>
                  <td class="text-right row-white">0</td>
                  <td class="text-right row-white">2900</td>
                  <td class="text-right row-white">4117</td>
                  <td class="text-right row-white">5382</td>
                  <td class="text-right row-white">12399</td>
                </tr>
              </tbody>
            </table>

            <div class="row mb-2" *ngIf="fund.variants.length<6"> <!-- there are 5 service branches -->
              <div class="col-md-12">
                <button class="btn btn-light btn pull-left" (click)="newbranchline(fund)">
                  <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                  Add Service Line
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
      </ng-container>
     </ng-container>
  </div>
</div>
