<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content">
    
    <scenario-selector [parent]="this">
    </scenario-selector>
    
    <div class="col-12">
      <div *ngIf="selectedScenario" class="row  main-content">
        <div class="col-12">
          <tabset class="program-tab-style" role="tablist">
            <tab heading="Title" id="tab1" role="tablist" active="true">
              <title-tab [scenario]="selectedScenario" [budget]="budget" [r0r1data]="r0r1data" editable="true"></title-tab>
            </tab>
            <tab heading="TOC/Overview" id="tab2" role="tablist">
              <overview-tab [scenario]="selectedScenario" [budget]="budget" [r0r1data]="r0r1data" editable="true" ></overview-tab>
            </tab>
            <tab heading="R-1" id="tab3">
              <r1-tab [scenario]="selectedScenario" [budget]="budget" [r0r1data]="r0r1data" editable="true" ></r1-tab>
            </tab>
            <tab heading="R-2" id="tab3">
              <r2-tab [scenario]="selectedScenario" [budget]="budget" editable="true" ></r2-tab>
            </tab>
            <tab heading="R-2A" id="tab3">
              <r2a-tab [scenario]="selectedScenario" [budget]="budget" editable="true" ></r2a-tab>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>