<j-header></j-header>
<div class="container-fluid">
  <div class="row" *ngIf="header.isAuthenticated">
    <div class="col-md-2">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <img src="assets/img/user.png" alt="User">
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{ targetUser?.firstName }} {{ targetUser?.lastName }}
            <div *ngIf="targetUser?.suspended">suspended</div>
            <div *ngIf="!targetUser?.suspended">active</div>
          </div>
          <div class="profile-usertitle-job">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">

      <!-- INFO SECTION 0 - VIEW-->
      <div *ngIf="!isdEditMode[0]">
        <div class="card-header">
          User Information:
          <button class="btn-card-header" title="Edit" (click)="editMode(0)">
            <i class="fa fa-pencil icon-pad" aria-hidden="true"></i>
            Edit
          </button>
        </div>
        <div class="card-container">
          <ul>
            <li>First Name: {{ targetUser?.firstName }}</li>
            <li>Last Name: {{ targetUser?.lastName }}</li>
            <li>Email: {{targetUser?.communication.primaryEmail}}</li>
            <li>Phone: {{targetUser?.communication.primaryPhone}}</li>
          </ul>
        </div>
      </div>
      <!-- INFO SECTION 0 - EDIT-->
      <div *ngIf="isdEditMode[0]">
        <div class="card-header">
          User Information:
          <button *ngIf="isdEditMode" class="btn-card-header" title="Cancel" (click)="cancelEdit()">
            <i class="fa fa-ban icon-pad" aria-hidden="true"></i>Cancel
          </button>
          <button class="btn-card-header" title="Save" (click)="saveTargetUser()">
            <i class="fa fa-floppy-o icon-pad" aria-hidden="true"></i>Save
          </button>
          <br>
        </div>
        <div class="card-container">
          <ul>
            <li>
              <span>First Name:</span>
              <input class="form-control form-input" type="text" [(ngModel)]="targetUser.firstName">
              <span>
                <input type="checkbox" class="status-checkbox" name="isactive" [(ngModel)]="targetUser.suspended" />Suspended</span>
            </li>
            <li>
              Last Name:
              <input type="text" [(ngModel)]="targetUser.lastName">
            </li>
            <li>
              Email:
              <input [(ngModel)]="targetUser?.communication.primaryEmail" placeholder="value">
            </li>
            <li>
              Phone:
              <input [(ngModel)]="targetUser?.communication.primaryPhone" placeholder="value1">
            </li>
          </ul>
          <br>
        </div>
      </div>

      <!-- PREF SECTION 1 - VIEW-->
      <div *ngIf="!isdEditMode[1]">
        <div class="card-header">
          Preferences:
          <button class="btn-card-header" title="Edit" (click)="editMode(1)">
            <i class="fa fa-pencil icon-pad" aria-hidden="true"></i>
            Edit
          </button>
        </div>
        <div class="card-container">
          <ul>
            <li>Default Color: {{ targetUser?.preferences.defaultColor }} </li>
            <li>Clock: {{ targetUser?.preferences.clock }} </li>
            <li>Landing Page: {{ targetUser?.preferences.landingPage }} </li>
          </ul>
          <br>
        </div>
      </div>
      <!-- PREF SECTION 1 - EDIT-->
      <div *ngIf="isdEditMode[1]">
        <div class="card-header">
          Preferences:
          <button *ngIf="isdEditMode" class="btn-card-header" title="Cancel" (click)="cancelEdit()">
            <i class="fa fa-ban icon-pad" aria-hidden="true"></i>Cancel
          </button>
          <button class="btn-card-header" title="Save" (click)="saveTargetUser()">
            <i class="fa fa-floppy-o icon-pad" aria-hidden="true"></i>Save
          </button>
        </div>
        <div class="card-container">
          <ul>
            <li>Default Color:
              <input type="text" [(ngModel)]="targetUser.preferences.defaultColor">
            </li>
            <li>Clock:
              <input type="text" [(ngModel)]="targetUser.preferences.clock">
            </li>
            <li>Landing Page:
              <input type="text" [(ngModel)]="targetUser.preferences.landingPage">
            </li>
          </ul>
          <br>
        </div>
      </div>

      <!-- Community SECTION 2 - VIEW-->
      <div *ngIf="!isdEditMode[2]">
        <div class="card-header">
          Communities:
          <button class="btn-card-header" title="Edit" (click)="editMode(2)">
            <i class="fa fa-pencil icon-pad" aria-hidden="true"></i>
            Edit
          </button>
        </div>
        <div class="card-container">
          <ul>
            <li *ngFor="let cwr of communityWithUserRoles">
              {{ cwr.community.name }}
            </li>
          </ul>
        </div>
      </div>
      <!-- Community SECTION 3 - EDIT-->
      <div *ngIf="isdEditMode[2]">
        <div class="card-header">
          Communities:
          <button *ngIf="isdEditMode" class="btn-card-header" title="Cancel" (click)="cancelEdit()">
            <i class="fa fa-ban icon-pad" aria-hidden="true"></i>Close
          </button>
        </div>
        <div class="card-container">
          <table>
            <tr *ngFor="let cwr of communityWithUserRoles">
              <td>{{ cwr.community.name }}</td>
              <td><button class="btn-card-header" title="Leave">
                <i class="fa fa-floppy-o icon-pad" aria-hidden="true"></i>Leave Community
              </button></td>
              <td> Roles:
              <button *ngFor="let role of cwr.userRoles" (click)="editRoles(cwr.community.id,role.id,targetUser.id )">
                {{role.name}}
              </button> 
              </td>
            </tr>
            <tr>
              <td><select name="addCommunitySelector" [(ngModel)]="addedcommunity">
                <option value=""></option>
                <option *ngFor="let all_community of avail_Communities" [value]="all_community.id">{{ all_community.name }}</option>
              </select></td>
              <td><button class="btn-card-header" title="AddCommunity" (click)="addCommunity()">
                <i class="fa fa-floppy-o icon-pad" aria-hidden="true"> </i>Join Community
              </button></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
