<app-header title="JSCBIS Login"
  [isUserLoggedIn]="false"></app-header>
<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <p>  DoD Directive 5160-05E, Roles and Responsibilities Associated with the Chemical and Biological Defense Program (CBDP) establishes management and oversight of the CBDP by the USD(AT&L), ATSD(NCB), USD(P), USD(I), Secretaries of The Military Departments, Secretary of The Army, Chairman of The Joint Chiefs of Staff, Defense Threat Reduction Agency, and Joint CBRND PAIO.
      </p>
      <p>The Joint Service Chemical Biological Information System is a web-based platform/database containing cost,
         schedule, and performance data for the CBRNE programs to assist offices in their oversight and management
         roles. </p>
      <h6>Examples of data and information support include:</h6>
      <ul class="list-group">
        <li class="list-group-item">
          Determination of overall health of CBRNE against objectives.
        </li>
        <li class="list-group-item">
          Development of budget submissions and change proposals.
        </li>
        <li class="list-group-item">
          DTRA Funds Management.
        </li>
        <li class="list-group-item">
          Development of the Program Objective Memorandum.
        </li>
        <li class="list-group-item">
          Integration of Program, Planning, Budgeting and Execution functions.
        </li>
      </ul>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
