<ng-template #novalue>
  <span class="program-values">
    <i>None</i>
  </span>
</ng-template>
<ng-template #value let-tagname="tagname" let-property="property">
  <select [(ngModel)]="ufr[property]" class="form-control-sm dropdown-width" name="{{tagname}}" [disabled]="disabled">
    <ng-container *ngIf="ufr[property]">
      <!-- we have an tagname set, but check that we have a recognized value -->
      <option *ngIf="!tagNames.has(tagname) || (tagNames.has(tagname) && !tagNames.get(tagname).has(ufr[property]))" [ngValue]="ufr[property] ">{{ufr[property]}} (Unknown value)</option>
    </ng-container>
    <option *ngFor="let t of tagsUtils.tags(tagname) | async" [ngValue]="t.abbr" >
      <span *ngIf="tagname=='Lead Component'">{{t.abbr}}</span>
      <span *ngIf="tagname!='Lead Component'">{{t.name}}</span>
    </option>
  </select>
</ng-template>
<form>
  <div class="row">
    <div class="col-8">
      <table class="ufr-program-table">
        <tbody>
          <tr>
            <td>
              <div class="form-group inline-name">
                <label class="mb-1">*Program ID</label>
                <ng-container *ngIf="ufr.shortyType=='MRDB_PROGRAM' || ufr.shortyType=='PR'">
                  <input value="{{shorty?.shortName}}" class="form-control" name="program-id" [disabled]="disabled" />
                </ng-container>

                <ng-container *ngIf="ufr.shortyType=='NEW_INCREMENT_FOR_MRDB_PROGRAM' || ufr.shortyType=='NEW_INCREMENT_FOR_PR' ||
                                     ufr.shortyType=='NEW_FOS_FOR_MRDB_PROGRAM' || ufr.shortyType=='NEW_FOS_FOR_PR'">
                  {{parentFullName}}/
                  <input [(ngModel)]="childNameModel" class="form-control inc_fos" name="program-id" [disabled]="disabled" />
                </ng-container>

                <ng-container *ngIf="ufr.shortyType=='NEW_PROGRAM'">
                  <input [(ngModel)]="ufr.shortName" class="form-control" name="program-id" [disabled]="disabled" />
                </ng-container>

              </div>
            </td>
            <td>
              <div class="form-group inline-name">
                <label class="mb-1">*Program Name</label>
                <input [(ngModel)]="ufr.longName" class="form-control forminput program-name text-truncate" title="{{ufr.longName}}" name="program-name" [disabled]="disabled" />
              </div>
            </td>
            <td>
              <span class="form-group inline-name">
                <label class="mb-1">Type</label>
                <input value="{{ufrType()}}" class="form-control forminput" name="typeselect" disabled />
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-4 form-group inline-name">
        <label class="mb-1">*Lead Component</label>
        <ng-container *ngTemplateOutlet="value;context:{tagname:'Lead Component', property:'leadComponent'}"></ng-container>
      </div>
      <div class="col-5 form-group inline-name">
        <label class="mb-1">*Manager</label>
        <ng-container *ngTemplateOutlet="value;context:{tagname:'Manager', property:'manager'}"></ng-container>
      </div>
      <fieldset>
        <legend>Capability</legend>
        <span class="form-group inline-name">
          <label class="mb-1">*Primary</label>
          <ng-container *ngTemplateOutlet="value;context:{tagname:'Primary Capability', property:'primaryCapability'}"></ng-container>
         </span>
        <span class="form-group inline-name">
          <label class="mb-1">*Core</label>
          <ng-container *ngTemplateOutlet="value;context:{tagname:'Core Capability Area', property:'coreCapability'}"></ng-container>
        </span>
        <span class="form-group inline-name">
          <label class="mb-1">Secondary</label>
          <ng-container *ngTemplateOutlet="value;context:{tagname:'Secondary Capability', property:'secondaryCapability'}"></ng-container>
        </span>
      </fieldset>
    </div>
    <div class="col-3">
        <file-upload [isImageThumbnail]="true"
                     [imagePath]="imagePath"
                     [area]="fileArea"
                     (fileUploadEvent)="onFileUploaded($event)"
                     [disabled]="disabled" >
        </file-upload>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <fieldset>
      <legend>Area</legend>
        <span class="form-group inline-name">
          <label class="mb-1">*Functional</label>
          <ng-container *ngTemplateOutlet="value;context:{tagname:'Functional Area', property:'functionalArea'}"></ng-container>
        </span>
        <span class="form-group inline-name">
          <label class="mb-1">Medical &amp; Non-Medical</label>
          <ng-container *ngTemplateOutlet="value;context:{tagname:'Medical Category', property:'medicalArea'}"></ng-container>
        </span>
        <span class="form-group inline-name">
          <emphasisAreas [ufrOrPr]="ufr" [disabled]="disabled"></emphasisAreas>
        </span>
      </fieldset>
    </div>
    <div class="col-3">
      <span class="form-group inline-name">
        <label class="mb-1">DASD Taxonomy</label>
        <ng-container *ngTemplateOutlet="value;context:{tagname:'DASD CBD', property:'dasdCbd'}"></ng-container>
      </span>
    </div>
  </div>
</form>
