fieldset {
  padding: 10px 20px;
}

.inline-name {
  display: inline-block;
  float: left;
}

label {
  color: #8a8787;
  margin: 0;
  width: 233px;
  display: block;
}

.badge {
  padding: 6px 10px 2px 10px;
}

[name="program-name"] {
  width: 550px;
}

.dropdown-width {
  width: 200px;
}

@media (min-width: 768px) {
  .img-placeholder > i.fa {
    font-size: 160px;
    color: #ccc;
  }
}

@media (min-width: 1200px) {

  .img-placeholder > i.fa {
    font-size: 200px;
  }
}

.program-name {
  display: inline-block;
  min-width: 300px;
  max-width: 450px;
  vertical-align: top;
  cursor: default;
  // word-break: break-all; // use if there are set number of characters in the longname string
  }
