<r4></r4>
<div class="row main-content mt-2">
<div class="col-12">
    <div class="h5 mb-2">R-4A</div>
    <div class="budget-reports">
      <table>
        <tr class="readOnly borderBottom borderRight">
            <td colspan="12">
              <span class="title">Exhibit R-4A, RDT&amp;E Project Cost Analysis: </span>
              <span>PB {{fy}} Chemical and Biological Defense Program</span>
            </td>
            <td colspan="4" class="borderBottom">
              <span class="title">Date: </span>
              <span class="date">February {{fy-1}}</span>
            </td>
        </tr>
        <tr class="readOnly borderBottomBold borderRight">
          <td colspan="6">
              <div class="title">Appropriation/Budget Activity</div>
              <div>0400/{{ba}}</div>
          </td>
          <td colspan="5">
            <div class="title">R-1 Program Element (Number/Name)</div>
            <div>PE {{pe}}/{{peName()|async}}</div>
          </td>
          <td colspan="5">
              <div class="title">Project (Number/Name)</div>
              <div>{{item}} {{itemName()|async}}</div>
          </td>
        </tr>
        <tr class="readOnly alignCenter borderRightBottom">
          <th colspan="16">
              <span class="alignCenter">Schedule Details</span>
          </th>
        </tr>
        <tr class="readOnly borderRightBottom alignCenter">
            <th colspan="12"></th>
            <th colspan="2">Start</th>
            <th colspan="2">End</th>
        </tr>
        <tr class="readOnly alignCenter borderRightBottom borderBottomBold">
          <th colspan="12" class="alignCenter">
              <span class="alignCenter">Events</span>
          </th>
          <th>Quarter</th>
          <th>Year</th>
          <th>Quarter</th>
          <th>Year</th>
        </tr>
        <tr *ngFor="let r4 of r4Preview" class="alignRight borderBottom">
          <td colspan="12" class="alignLeft maxWidthText borderRight">
            {{r4.eventName}}
          </td>
          <td class="cell borderRightBottom alignCenter">{{r4.startQuarter}}</td>
          <td class="cell borderRightBottom alignCenter">{{r4.startYear}}</td>
          <td class="cell borderRightBottom alignCenter">{{r4.endQuarter}}</td>
          <td class="cell borderRight alignCenter">{{r4.endYear}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
