<div class="main section-banner">
    <h3>Summary of Program Requests for POM19</h3>
    <pfm-primary-button [label]="'Submit All'"></pfm-primary-button>
</div>

<div class="section-pods">
    <gridster [options]="options">
        <gridster-item #orgWidetItem [item]="dashboard[0]">
            <div class="gridster-item-content">
                <pfm-requests-summary-org-widget #orgWidget [griddata]="griddata"></pfm-requests-summary-org-widget>
            </div>
        </gridster-item>

        <gridster-item #toaWidetItem [item]="dashboard[1]">
            <div class="gridster-item-content">
                <pfm-requests-summary-toa-widget #toaWidget [griddata]="griddata"></pfm-requests-summary-toa-widget>
            </div>
        </gridster-item>
    </gridster>

</div>

<div class="section-datagrid">
    <pfm-requests-summary-grid [griddata]="griddata"></pfm-requests-summary-grid>
</div>
