<app-header-nologin title="JSCBIS Login"></app-header-nologin>
<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-10">
      <form novalidate #applyForm="ngForm" (ngSubmit)="onSubmit(applyForm)">
        <h5>New User Application</h5>
        <p class="font-italic text-danger">* Indicates Required Field</p>
        <span class="form-group inline-name">
          <input
          type="text"
          [(ngModel)]="apply.firstname"
          [ngClass]="{'is-invalid':applyFirstname.errors && applyFirstname.touched}"
          class="form-control applyinput"
          name="firstname"
          #applyFirstname="ngModel"
          placeholder="*First Name"
          minlength="2"
          required
          >
          <span [hidden]="!applyFirstname.errors?.required" class="invalid-feedback">*First Name is required</span>
          <span [hidden]="!applyFirstname.errors?.minlength" class="invalid-feedback">*First Name should be at least 2 characters</span>
        </span>
        <span class="form-group inline-name">
          <input
            type="text"
            [(ngModel)]="apply.middle"
            [ngClass]="{'is-invalid':applyMiddle.errors && applyMiddle.touched}"
            class="form-control middle"
            name="middle"
            #applyMiddle="ngModel"
            placeholder="*MI"
            minlength="1"
            required
            >
          <span [hidden]="!applyMiddle.errors?.required" class="invalid-feedback">*MI is required</span>
          <span [hidden]="!applyMiddle.errors?.minlength" class="invalid-feedback">*MI should be at least 1 character</span>
      </span>
        <span class="form-group inline-name">
          <input
            type="text"
            [(ngModel)]="apply.lastname"
            [ngClass]="{'is-invalid':applyLastname.errors && applyLastname.touched}"
            class="form-control applyinput"
            name="lastname"
            #applyLastname="ngModel"
            placeholder="*Last Name"
            minlength="2"
            required
            >
          <span [hidden]="!applyLastname.errors?.required" class="invalid-feedback">*Last Name is required</span>
          <span [hidden]="!applyLastname.errors?.minlength" class="invalid-feedback">*Last Name should be at least 2 characters</span>
        </span>
        <div class="form-group">
          <input
            type="text"
            class="form-control applyinput"
            [(ngModel)]="apply.rank"
            name="rank"
            #applyRank="ngModel"
            placeholder="Title/Rank"
            >
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control applyinput"
            [(ngModel)]="apply.job"
            name="rank"
            #applyJob="ngModel"
            placeholder="Duty/Job"
            >
        </div>
        <div class="form-group">
          <a data-toggle="modal" href="#myModal">Sign NDA</a>
          <!-- <span *ngIf="ch1.valid"><i class="fa fa-check-circle-o nda-not-valid" aria-hidden="true"></i></span> -->
          <!-- <span *ngIf="!ch1.valid"><i class="fa fa-check-circle-o nda-valid" aria-hidden="true"></i></span>  -->
          <div id="myModal" class="modal fade in">
            <div class="modal-dialog">
              <div class="modal-content nda-content">
                <div class="modal-header">
                  <a class="btn" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                </div>
                <div class="modal-body">
                  <h4 class="modal-title">JSCBIS NON-DISCLOSURE CERTIFICATION</h4>
                    <p>I understand that the release of advanced procurement information, proprietary and source selection information is governed by Public law 100-679, AR 340-17 Release of Information and Records from Army files, AR 600-50 Standards of
                      Conduct for Department of Army Personnel, and provisions of the Federal Acquisition Regulations. I will not knowingly disclose any acquisition, proprietary or source selection information regarding any office or activity working
                      for or with, and to include, the office I provide support to and procurements directly or indirectly to any person other than a person authorized by the head of the agency or the contracting officer to receive such information
                    </p>
                    <p>I further understand that access to the JSCBIS is to be used in the performance of my duties in support of one or more of the following offices: the Deputy Assistant to the Secretary of Defense for Chemical Biological Defense Policy,
                      the Joint Program Executive Office for Chemical Biological Defense, the Joint Science and Technology Office Chemical Biological Defense, the Joint Requirements Office, the Joint Test and Evaluation Office, and associated organizations.
                      Information contained within this system may be sensitive in nature and I agree to limit my access to that information required in the performance of my assigned duties. </p>
                    <p>I understand that my obligations under this certification are of a continuing nature, and if anything takes place which would cause a change to any statement, or create a violation of any representation or rule of conduct herein, I
                      will bring such matter to the attention of the contracting office. </p>
                    <input type="checkbox" [checked]="ch1" (change)="ch1= !ch1" class="checkbox" required>
                    <strong>Please agree to the terms of the Non-Disclosure Agreement by click the checkbox.</strong>
                    <span class="controls">
                      <!-- <span *ngIf="!ch1.valid"><button class="btn btn-primary btn-sm" data-dismiss="modal">Back to Application form</button></span> -->
                      <span><button class="btn btn-primary btn-sm" data-dismiss="modal">Back to Application form</button></span>
                    </span>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
          type="text"
          [(ngModel)]="apply.email"
          [ngClass]="{'is-invalid':applyEmail.errors && applyEmail.touched}"
          class="form-control applyinput"
          name="email"
          #applyEmail="ngModel"
          placeholder="*Email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          required
          >
          <span [hidden]="!applyEmail.errors?.required" class="invalid-feedback">*Email is required</span>
          <span [hidden]="!applyEmail.errors?.pattern" class="invalid-feedback">*Email should be <small>joe@abc.com</small></span>
      </div>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="apply.phone"
            [ngClass]="{'is-invalid':applyPhone.errors && applyPhone.touched}"
            class="form-control applyinput"
            name="phone"
            #applyPhone="ngModel"
            placeholder="*Phone"
            pattern="[0-9]*"
            minlength="10"
            required
            >
          <span [hidden]="!applyPhone.errors?.required" class="invalid-feedback">*Phone is required</span>
          <span [hidden]="!applyPhone.errors?.minlength" class="invalid-feedback">*Phone should be should be 10 digits</span>
          <span [hidden]="!applyPhone.errors?.pattern" class="invalid-feedback">*Phone should be only numbers</span>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control applyinput"
            [(ngModel)]="apply.address"
            name="address"
            #applyAddress="ngModel"
            placeholder="Street, City, State, Zipcode"
            >
        </div>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="apply.organization"
            [ngClass]="{'is-invalid':applyOrganization.errors && applyOrganization.touched}"
            class="form-control applyinput"
            name="organization"
            #applyOrganization="ngModel"
            placeholder="*Organization Name"
            minlength="2"
            required
            >
          <span [hidden]="!applyOrganization.errors?.required" class="invalid-feedback">*Organization is required</span>
          <span [hidden]="!applyOrganization.errors?.minlength" class="invalid-feedback">*Organization should be at least 2 characters</span>
        </div>
        <div class="form-group">
          <label for="branches">*Select Branch</label>
          <div>
            <select ngModel name="branch" required #branch="ngModel">
              <option value=""></option>
              <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
            </select>
            <span *ngIf="branch.required" class="invalid-feedback">Branch required</span>
            <span *ngIf="branch.invalid" class="invalid-feedback">Branch required</span>
          </div>
        </div>
        <div class="form-group">
          <label for="communites">Select Community</label>
          <div>
            <select ngModel name="community" #community="ngModel">
              <option value=""></option>
              <option *ngFor="let community of communities" [value]="community.id">{{ community.name }}</option>
            </select>
          </div>
        </div>
        <span class="form-group inline-name">
          <input
            type="text"
            [(ngModel)]="apply.sponsorname"
            [ngClass]="{'is-invalid':applySponsorname.errors && applySponsorname.touched}"
            class="form-control applyinput sponsor"
            name="sponsorname"
            #applySponsorname="ngModel"
            placeholder="*Sponsor Name"
            minlength="2"
            required>
          <span [hidden]="!applySponsorname.errors?.required" class="invalid-feedback">*Sponsor Name is required</span>
          <span [hidden]="!applySponsorname.errors?.minlength" class="invalid-feedback">*Sponsor Name should be at least 2 characters</span>
        </span>
          <span class="form-group inline-name">
            <input
              type="text"
              [(ngModel)]="apply.sponsorphone"
              [ngClass]="{'is-invalid':applySponsorphone.errors && applySponsorphone.touched}"
              class="form-control applyinput sponsor"
              name="sponsorphone"
              #applySponsorphone="ngModel"
              placeholder="*Sponsor Phone"
              pattern="[0-9]*"
              minlength="10"
              required
              >
            <span [hidden]="!applySponsorphone.errors?.required" class="invalid-feedback">*Sponsor Phone is required</span>
            <span [hidden]="!applySponsorphone.errors?.minlength" class="invalid-feedback">*Sponsor Phone should be should be 10 digits</span>
            <span [hidden]="!applySponsorphone.errors?.pattern" class="invalid-feedback">*Sponsor Phone should be only numbers</span>
          </span>
          <span class="form-group inline-name">
            <input
              type="text"
              [(ngModel)]="apply.sponsoremail"
              [ngClass]="{'is-invalid':applySponsoremail.errors && applySponsoremail.touched}"
              class="form-control applyinput sponsor"
              name="sponsoremail"
              #applySponsoremail="ngModel"
              placeholder="*Sponsor Email"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              required
              >
            <span [hidden]="!applySponsoremail.errors?.required" class="invalid-feedback">*Sponsor Email is required</span>
            <span [hidden]="!applySponsoremail.errors?.pattern" class="invalid-feedback">*Sponsor Email should be <small>joe@abc.com</small></span>
          </span>
        <div class="controls">
          <button class="btn btn-default">Cancel</button>
          <button class="btn btn-primary" [disabled]="!applyForm.form.valid || !ch1">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
