.apply-box {
  background-color: #23527c !important;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 12px;
}

.apply-box a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.apply a:hover {
  color: #fff;
  text-decoration: none;
}

.nda {
  color: red;
  font-size: .8rem;
}

label,
select {
  color: #868e9b;
}
