label, select {
  color: #868e9b;
  width: 300px;
  margin: 0;
}

.applyinput {
  width: 300px;
  padding: 6px 4px;
  clear: both;
}

.checkbox {
  margin-right: 6px;
}

.accept-box {
  color: #000;
  margin: 10px 0 15px 0;
}

.inline-name {
  display: inline;
  float: left;
  margin-right: 4px;
}

.middle {
  width: 90px;
  padding: 6px 4px;
}

.alert {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.alert-danger {
  color: #dc3545;
  background-color: none;
  border: none;
}

.name-error {
  display: block;
  font-size: 12px;
}

.controls {
  clear: both;
  margin-top: 10px;
  margin-bottom: 20px;
}

.nda-content {
  width: 900px;
  margin-left: -240px;
}

.nda-valid {
  color: green;
}

.nda-not-valid {
  color: red;
}

.modal .modal-header {
  border-bottom: none;
  position: relative;
}

.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  height: 30px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modal .modal-header .btn > i {
  font-size: 26px;
}
