.applyform {
  label, select {
    color: #8a8787;
    width: 300px;
    margin: 0;
  }

  .form-formatting {
    background-color: none;
    font-size: 12px;
    color: #818181;
  }

  .applyinput {
    width: 300px;
    padding: 6px 4px;
    clear: both;
  }

  .inline-name {
    display: inline;
    float: left;
    margin-right: 4px;
  }

  .middle {
    width: 90px;
    padding: 6px 4px;
  }

  .alert-danger {
    color: #dc3545;
    background-color: none;
    border: none;
  }

  .name-error {
    display: block;
  }

  .checkbox {
    margin-right: 6px;
  }

  .accept-box {
    color: #000;
    margin: 10px 0 15px 0;
  }

  .dropdown-select {
    margin-bottom: .3rem;
  }


  .nda {
    padding: 0 2px;
    clear: both;
  }

  .nda-content {
    width: 900px;
    margin-left: -240px;
  }

  .nda-valid {
    color: green;
  }

  .nda-not-valid {
    color: #676775;
  }

  .controls {
    clear: both;
    margin-top: 10px;
    margin-bottom: 20px;
  }

}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;

  hr {
    border-top-color: #9fcdff;
  }

  .alert-link {
    color: #002752;
  }
}



.alert-secondary {
  color: #464a4e;
  background-color: #e7e8ea;
  border-color: #dddfe2;

  hr {
    border-top-color: #cfd2d6;
  }
  .alert-link {
    color: #2e3133;
  }

}

.alert-success-group {
  padding: 10px;
  background-color: #d4edda;
  margin-bottom: 10px;
  border-radius: 6px;
  margin-top: 40px;
  width: 920px;
  clear: both;
}

.alert-success  {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;

  hr {
    border-top-color: #b1dfbb;
  }

  .alert-link {
    color: #0b2e13;
  }
}

.modal {

 .modal-header {
    border-bottom: none;
    position: relative;

   .btn {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;
      height: 30px;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;

      > i {
        font-size: 26px;
      }
    }
  }

  .nda-message {
    height: 480px;
    overflow-y: scroll;
  }
}
