<div class="row main-content">
  <div class="col-lg-12 col-sm-5">
    <div class="apply-box">
      <h6>Placeholder for Apply page and form</h6>    
    </div>
    <hr>
    <p class="nda">
      Notice for Contractors: Along with completing the application below, contractors must sign and submit this <a href="assets/pdf/NON_DISCLOSURE_FOR_CONTRACTORS.pdf" target="blank">Non-Disclosure Certification.</a> Scan and email or fax to the appropriate office. Office contact information provided at the bottom of the application form.
    </p>
  </div>
</div>
