<div class="dashboard-container">

    <div class="dashboard-left" cdkDropList #widgetDisplayList="cdkDropList" [cdkDropListData]="widgetComponentsList" (cdkDropListDropped)="drop($event)">
        <span>Drag Widgets Here</span>
        <div class="example-box" *ngFor="let item of widgetComponentsList">
            <ng-container [ngSwitch]="item">
                <app-demo-widget-pr-status *ngSwitchCase="'PR Status'"></app-demo-widget-pr-status>
                <app-demo-widget-pom-phase-funding *ngSwitchCase="'POM Phase Funding'">></app-demo-widget-pom-phase-funding>
                <app-demo-widget-mission-funding-priority *ngSwitchCase="'Mission Funding Priority'">></app-demo-widget-mission-funding-priority>
                <app-demo-widget-mission-funding-money *ngSwitchCase="'Mission Funding Money'">></app-demo-widget-mission-funding-money>
            </ng-container>
        </div>
    </div>

    <div class="dashboard-rigth">
        <h2>Widgets</h2>
        <div cdkDropList [cdkDropListData]="widgetList" [cdkDropListConnectedTo]="[widgetDisplayList]" class="example-list">
            <div class="example-box" *ngFor="let item of widgetList" cdkDrag>
                {{item}}
            </div>
        </div>
    </div>
</div>