<div class="ccontainer column">
  <div class="row">
    <div class="col-sm-4 d-flex justify-content-center">
      <pfm-card
        (onToggle)="onCardSelected($event)"
        [expanded]="selectedCardType === 'assigned'"
        [type]="'assigned'"
        [cardTitle]="'0'"
        [cardText]="'Assigned to me'"
        [cardActionText]="'View details'"
      ></pfm-card>
    </div>
    <div class="col-sm-4 d-flex justify-content-center">
      <pfm-card
        (onToggle)="onCardSelected($event)"
        [expanded]="selectedCardType === 'outstanding'"
        [type]="'outstanding'"
        [cardTitle]="'0'"
        [cardText]="'My pending requests'"
        [cardActionText]="'View details'"
      ></pfm-card>
    </div>
    <div class="col-sm-4 d-flex justify-content-center">
      <pfm-card
        (onToggle)="onCardSelected($event)"
        [expanded]="selectedCardType === 'completed'"
        [type]="'completed'"
        [cardTitle]="'0'"
        [cardText]="'Completed'"
        [cardActionText]="'View details'"
      ></pfm-card>
    </div>
  </div>
  <ng-container *ngIf="selectedCardType === 'assigned'">
    <div class="card border-assigned">
      <div class="card-body">
        <h5 class="card-title text-success">Assigned to me:</h5>
        <pfm-assigned-to-me></pfm-assigned-to-me>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedCardType === 'outstanding'">
    <div class="card border-outstanding">
      <div class="card-body">
        <h5 class="card-title color-outstanding">My pending requests:</h5>
        <pfm-my-pending-requests></pfm-my-pending-requests>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedCardType === 'completed'">
    <div class="card border-completed">
      <div class="card-body">
        <h5 class="card-title text-info">Completed</h5>
        <pfm-completed></pfm-completed>
      </div>
    </div>
  </ng-container>
</div>

<!--
<div class="dashboard-container" cdkDropList  (cdkDropListDropped)="onItemDropped($event)">
    <ng-container *ngFor="let widget of availableWidgetList">
        <ng-container *ngIf="widget.selected">
                <div [ngSwitch]="widget.title" class="example-box" cdkDragBoundary=".dashboard-container" cdkDrag>
                    <div class="example-handle" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                    <app-demo-widget-pr-status *ngSwitchCase="'PR Status'"></app-demo-widget-pr-status>
                    <app-demo-widget-pom-phase-funding *ngSwitchCase="'POM Phase Funding'">></app-demo-widget-pom-phase-funding>
                    <app-demo-widget-mission-funding-order *ngSwitchCase="'Mission Funding Priority'">></app-demo-widget-mission-funding-order>
                    <app-demo-widget-mission-funding-money *ngSwitchCase="'Mission Funding Money'">></app-demo-widget-mission-funding-money>
                </div>
        </ng-container>
    </ng-container>
</div>
-->
<div class="dashboard-container" cdkDropList (cdkDropListDropped)="onItemDropped($event)">
  <gridster [options]="options">
    <gridster-item [item]="widget" *ngFor="let widget of dashboard">
      <div class="widget-header">
        <div class="widget-header-left">
          <span (click)="removeWidget(widget)">
            <fa-icon [icon]="'trash-alt'" title="Delete"></fa-icon>
          </span>
        </div>
        <div class="widget-header-right">
          <fa-icon [icon]="'arrows-alt'" title="Move"></fa-icon>
        </div>
      </div>
      <div class="gridster-item-content" [ngSwitch]="widget.id">
        <app-demo-widget-pr-status *ngSwitchCase="'w4'"></app-demo-widget-pr-status>
        <app-demo-widget-pom-phase-funding *ngSwitchCase="'w3'"></app-demo-widget-pom-phase-funding>
        <app-demo-widget-mission-funding-priority *ngSwitchCase="'w2'"></app-demo-widget-mission-funding-priority>
        <app-demo-widget-mission-funding-money *ngSwitchCase="'w1'"></app-demo-widget-mission-funding-money>
      </div>
    </gridster-item>
  </gridster>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf="showDialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Available Widgets</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onDialogClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div style="margin: 20px auto;">
            <div class="row" style="margin: 20px auto;" *ngFor="let widget of availableWidgetList">
              <div class="column" style="width: 5%;">
                <input [name]="widget.id" type="checkbox" [(ngModel)]="widget.selected" />
              </div>
              <div class="column" style="width: 25%;">
                {{ widget.title }}
              </div>
              <div class="column" style="width: 70%;">
                <ng-container [ngSwitch]="widget.title">
                  <app-demo-widget-pr-status *ngSwitchCase="'PR Status'"></app-demo-widget-pr-status>
                  <app-demo-widget-pom-phase-funding
                    *ngSwitchCase="'POM Phase Funding'"
                  ></app-demo-widget-pom-phase-funding>
                  <app-demo-widget-mission-funding-priority
                    *ngSwitchCase="'Mission Funding Priority'"
                  ></app-demo-widget-mission-funding-priority>
                  <app-demo-widget-mission-funding-money
                    *ngSwitchCase="'Mission Funding Money'"
                  ></app-demo-widget-mission-funding-money>
                </ng-container>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onDialogClose()">Done</button>
      </div>
    </div>
  </div>
</div>

<pfm-busy [busy]="busy"></pfm-busy>
