<div class="header">
  <div class="container-fluid">
    <div class="row main-content">
      <div class="col-6">
        <span class="dod-logo"><a href="#" routerLink="/" ><img src="assets/img/PFM-logo.png"></a></span>
        <div class="header-title">
          PFM
        </div>
      </div>
      <div class="col-6 col-md-3">
      </div>
      <div class="col-6 col-md-8">
      </div>
    </div>
    <div class="row header-items">
    <div class="col-6 col-md-6">
      <div class="sub-title">
        Supporting the Chemical, Biological, Radiological and Nuclear (CBRN) Enterprise
      </div>
    </div>
    <div class="col-6 col-md-2">
    </div>
    </div>
  </div>
</div>
<!-- public header for authorization -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav> -->
