<app-header-nologin *ngIf="!isloggedin"></app-header-nologin>
<div class="header" *ngIf="isloggedin">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <span class="dod-logo"><a href="#" routerLink="/home"><img src="assets/img/JSCBIS-logo-55x.png"></a></span>
        <div class="header-title">
          JSCBIS
        </div>
      </div>
      <div class="col-6 col-md-3">
      </div>
      <div class="col-6 col-md-8">
      </div>
    </div>
    <div class="row header-items">
      <div class="col-6 col-md-6">
        <div class="sub-title">
          Supporting the Nuclear, Chemical, and Biological (NCB) Enterprise
        </div>
      </div>
      <div class="col-6 col-md-2">
      </div>
      <div class="col-6 col-md-4">
        <span class="dropdown show">
          <a class="super-user dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#" routerLink="/home">Documentation</a>
            <a class="dropdown-item" href="#" routerLink="/home">Library</a>
            <a class="dropdown-item" href="#" routerLink="/home">Support Request</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/about-private">About Us</a>
          </div>
        </span>
        <span class="dropdown show">
          <a class="super-user dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ authUser?.fullName }}
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="/user/self">Profile</a>
            <a class="dropdown-item" href="#" routerLink="/home">Preferences</a>
            <!--<div class="dropdown-divider"></div>-->
            <!--<a class="dropdown-item" href="/">Logout</a>-->
          </div>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- private header for user login -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isloggedin">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programming</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#" routerLink="/planning">Planning Session</a>
          <a class="dropdown-item" href="#" routerLink="/home">Submit Funds Request</a>
          <a class="dropdown-item" href="#" routerLink="/home">Approve Fund Request</a>
          <a class="dropdown-item" href="#" routerLink="/home">Create/Update Program Schedule</a>
          <a class="dropdown-item" href="#" routerLink="/home">Create/Update Program Justificaton</a>
          <a class="dropdown-item" href="#" routerLink="/home">Summary of Request</a>
          <a class="dropdown-item" href="#" routerLink="/home">Create UFR</a>
          <a class="dropdown-item" href="#" routerLink="/home">Generate POM Submission</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home">Budget</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home">Execution</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" href="#" routerLink="/home">Planning</a>
          <a class="dropdown-item" href="#" routerLink="/home">Execution</a>
          <a class="dropdown-item" href="#" routerLink="/home">Budget</a>
          <a class="dropdown-item" href="#" routerLink="/home">Programs</a>
          <a class="dropdown-item" href="#" routerLink="/home">System</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home">Search</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a *ngIf="authUser.rolenames.includes('User')" class="dropdown-item" href="#" routerLink="/request-community">Request Access</a>
          <a *ngIf="authUser.rolenames.includes('User')" class="dropdown-item" href="#" routerLink="/home">My NDA</a>
          <a *ngIf="authUser.rolenames.includes('User_Approver')" class="dropdown-item" href="#" routerLink="/home">Approve User Access</a>
          <a *ngIf="authUser.rolenames.includes('User_Approver')" class="dropdown-item" href="#" routerLink="/home">Manage Roles</a>
          <a *ngIf="authUser.rolenames.includes('User_Admin')" class="dropdown-item" href="#" routerLink="/user-list">Manage Users</a>
          <a *ngIf="authUser.rolenames.includes('User_Admin')" class="dropdown-item" href="#" routerLink="/manage-communities">Manage Communities</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-3">
    <span class="dropdown show actions-menu">
      <a class="super-user dropdown-toggle" href="#" role="button" id="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="icon-wrapper">
          Actions
          <i class="fa fa-bell" aria-hidden="true"></i>
          <span class="badge">10</span>
        </div>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
        <a class="dropdown-item" href="#" routerLink="/roles">User Role Change Request</a>
        <a class="dropdown-item" href="#" routerLink="/user-approval">User Approval Request</a>
      </div>
    </span>
  </div>
</nav>
