<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <span class="dod-logo"><a href="#" routerLink="/home" *ngIf="isUserLoggedIn"><img src="assets/img/JSCBIS-logo-55x.png"></a></span>
        <span class="dod-logo"><a href="#" routerLink="/" *ngIf="!isUserLoggedIn"><img src="assets/img/JSCBIS-logo-55x.png"></a></span>

        <div class="header-title">
          JSCBIS
        </div>
      </div>
      <div class="col-6 col-md-3">
      </div>
      <div class="col-6 col-md-8">
      </div>
    </div>
    <div class="row header-items">
      <div class="col-6 col-md-6">
        <div class="sub-title">
          Supporting the Nuclear, Chemical, and Biological (NCB) Enterprise
        </div>
      </div>
      <div class="col-6 col-md-2">
      </div>
      <div class="col-6 col-md-4" *ngIf="isUserLoggedIn">
        <span class="dropdown show">
          <a class="super-user dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Documentation</a>
            <a class="dropdown-item" href="#">Library</a>
            <a class="dropdown-item" href="#">Support Request</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" *ngIf="isUserLoggedIn" routerLink="/about-private">About Us</a>
            <a class="dropdown-item" *ngIf="!isUserLoggedIn" routerLink="/about">About Us</a>
          </div>
        </span>
        <span class="dropdown show">
          <a class="super-user dropdown-toggle" *ngIf="isUserLoggedIn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ name }}
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
          <a class="super-user dropdown-toggle" *ngIf="!isUserLoggedIn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a *ngIf="isUserLoggedIn" class="dropdown-item" routerLink="/user/:id">Profile</a>
            <a *ngIf="!isUserLoggedIn" class="dropdown-item" routerLink="/user/:id"></a>
            <a class="dropdown-item" href="#">Preferences</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Logout</a>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- public header for authorization -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="!isUserLoggedIn">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/apply">Apply</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<!-- private header for user login -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isUserLoggedIn">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Planning</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#" routerLink="/planning">Planning Session</a>
          <a class="dropdown-item" href="#">Submit Funds Request</a>
          <a class="dropdown-item" href="#">Approve Fund Request</a>
          <a class="dropdown-item" href="#">Create/Update Program Schedule</a>
          <a class="dropdown-item" href="#">Create/Update Program Justificaton</a>
          <a class="dropdown-item" href="#">Summary of Request</a>
          <a class="dropdown-item" href="#">Create UFR</a>
          <a class="dropdown-item" href="#">Generate POM Submission</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Budget</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Execution</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" href="#">Planning</a>
          <a class="dropdown-item" href="#">Execution</a>
          <a class="dropdown-item" href="#">Budget</a>
          <a class="dropdown-item" href="#" routerLink="/programs">Programs</a>
          <a class="dropdown-item" href="#">System</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" href="#">Approve User Access</a>
          <a class="dropdown-item" href="#">Request User Access Changes</a>
          <a class="dropdown-item" href="#">Approve User Access Changes</a>
          <a class="dropdown-item" href="#">Create Role</a>
          <a class="dropdown-item" href="#">Delete Role</a>
          <a class="dropdown-item" href="#">Assign Role (+/-)</a>
          <a class="dropdown-item" href="#">Suspend/Delete User</a>
          <a class="dropdown-item" href="#">Access NDA</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
