<div class="row">
  <div class="col-md-12">
    <div class="row mb-2">
      <div class="col-12">
        <div class="pull-right program-controls mb-2">
          <button class="btn btn-primary" (click)="save('SUBMITTED')">Submit</button>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div class="pull-right">
          <span>
            <label class="mr-1">Show as: </label>
          </span>
          <span>
            %
            <button type="button" class="btn btn-sm btn-toggle btn-success" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="onTogglePct()">
              <div class="handle"></div>
            </button>
            $
          </span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
          <ag-grid-angular #agGrid class="ag-theme-balham" id="myGrid"
            [gridOptions]="agOptions"
            [rowData]="rowData"
            (gridReady)="onGridReady($event)"
            >
          </ag-grid-angular>
          <ag-grid-pagination #agGridPagination [agGrid]="agGrid"></ag-grid-pagination>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset>
          <legend>Add {{_exeline?.appropriated ? 'After Appropriation' : 'Baseline' }} Spend Plan</legend>
          <div class="row">
            <div class="col-11">
              <add-spend-plan
                [oandes]="oandes"
                [exeline]="exeline"
                [exe]="exe"
                [showPercentages]="showPercentages"
                [deltas]="_deltas">
              </add-spend-plan>
            </div>
            <div class="col-1">
              <button class="btn btn-primary pull-right mb-3" (click)="addplan()" [disabled]="!addarea.valid">
                <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                Add
              </button>
              <div class="text-center">
                <button type="button" class="btn btn-sm btn-toggle btn-success" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="onTogglePct()">
                  <div class="handle"></div>
                </button>
                <label class="text-center">Import Actuals</label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
