<div class="row main-content">
  <div class="col-md-12">
    <div class="row mb-2">
      <div class="col-4">
        <div class="pull-right program-controls">
          <button class="btn btn-primary" (click)="save('SUBMITTED')">Submit</button>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
          <ag-grid-angular #agGrid class="ag-theme-balham" id="myGrid"
            [enableSorting]="false"
            [enableColResize]="true"
            [enableFilter]="false"
            [gridAutoHeight]="true"
            [gridOptions]="agOptions"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [columnTypes]="columnTypes"
            [toolPanelSuppressSideButtons]="true"
            [pagination]="true"
            [paginationPageSize]="20"
            [suppressDragLeaveHidesColumns]="true"
            [suppressMovableColumns]="true"
            [suppressPaginationPanel]="true"
            (gridReady)="onGridReady($event)"
            >
          </ag-grid-angular>
          <ag-grid-pagination #agGridPagination [agGrid]="agGrid"></ag-grid-pagination>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset>
          <legend>Add Spend Plan</legend>
          <div class="row">
            <div class="col-11">
              <add-spend-plan
                [oandes]="oandes"
                [exeline]="exeline"
                [exe]="exe"
                [deltas]="_deltas">
              </add-spend-plan>
            </div>
            <div class="col-1">
              <button class="btn btn-primary pull-right" (click)="addplan()" [disabled]="!addarea.valid">
                <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                Add
              </button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
