<div class="row">
  <div class="col-md-12">
    <div class="row mb-2">
      <div class="col-6">
        <div class="pull-left">
          <span>
            <label class="mr-1">View Plan</label>
          </span>
          <span>
            Baseline
            <button type="button" class="btn btn-sm btn-toggle btn-success" data-toggle="button" aria-pressed="false"
              autocomplete="off" (click)="onTogglePlan()" [disabled]="0===plans?.length">
              <div class="handle"></div>
            </button>
            After Appropriation
          </span>
        </div>
      </div>
      <div class="col-6">
        <div class="pull-right program-controls mb-2">
          <button class="btn btn-primary" (click)="save(false)" [disabled]="!savable    || ( ruleObgBelowTOA.size + ruleExpBelowObg.size > 0)">Save</button>
          <button class="btn btn-primary" (click)="save(true )" [disabled]="!submitable || ( ruleObgBelowTOA.size + ruleExpBelowObg.size > 0)">Submit</button>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
          <ag-grid-angular #agGrid class="ag-theme-balham" id="myGrid"
            [gridOptions]="agOptions"
            [rowData]="rowData"
            (gridReady)="onGridReady($event)"
          >
          </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
