<div class="main">
  <h3 class="w-50">Funds Update</h3>
  <div class="w-50 text-right"></div>
</div>
<br />
<div style="padding-left: 15px;">
  <pfm-dropdown
    *ngIf="years"
    (selectionChanged)="onYearChange($event)"
    [type]="'labelDropdown'"
    [label]="'For:'"
    [required]="true"
    [fieldName]="'value'"
    [fieldLabel]="'name'"
    [options]="years"
  ></pfm-dropdown>
  <br />

  <div *ngIf="selectedYear">
    <div class="bulk-action">
      <p>Apply action to selected rows</p>
      <div>
        <pfm-dropdown
          [type]="'labelDropdown'"
          [required]="true"
          [fieldName]="'value'"
          [fieldLabel]="'name'"
          class="action-dropdown"
        ></pfm-dropdown>
      </div>
    </div>

    <div class="grid-container">
      <pfm-datagrid
        (gridIsReady)="onExecutionLineGridIsReady($event)"
        (cellAction)="onExecutionLineCellAction($event)"
        [columns]="columnDefs"
        [rows]="executionLineRows"
        [showAddSingleRow]="true"
        [showPagination]="true"
        (addCtaEvent)="onExecutionLineRowAdd($event)"
        (mousedown)="onExecutionLineGridMouseDown($event)"
        [overlayNoRowsTemplate]="' '"
      >
      </pfm-datagrid>
    </div>
  </div>
</div>
