<j-header></j-header>
<div class="container-fluid">
  <!-- <div class="row main-content" *ngIf="header.isAuthenticated"> -->
  <div class="row main-content">
    <div class="col-12 mb-4">
      <div class="h5 mb-2">R-2A</div>
      <div class="budget-reports">
        <table>
          <tr class="borderBottom readOnly">
            <td colspan="10">
              <span class="title">Exhibit R-2A, RDT&amp;E Project Justification:</span>
              <span>PB 2018 Chemical and Biological Defense Program</span>
            </td>
            <td colspan="3" class="borderBottom">
              <span class="title">Date: </span>
              <span class="date">December 2018</span>
            </td>
          </tr>
          <tr class="borderRightBottom alignLeft readOnly">
            <td colspan="5">
              <div class="title">Appropriation/Budget Activity</div>
              <div>0400/5</div>
            </td>
            <td colspan="4">
              <div class="title">R-1 Program Element (Number/Name)</div>
              <div>PE 0604384BP/CHEMICAL/BIOLOGICAL DEFENSE (EMD)</div>
            </td>
            <td colspan="4" class="borderBottom">
              <div class="title">Project (Number/Name)</div>
              <div>IP5 INDIVIDUAL PROTECTION (EMD)</div>
            </td>
          </tr>
          <tr class="borderRightBottom borderBottomBold alignCenter readOnly">
            <th>COST ($ in Millions)</th>
            <th>Prior Years</th>
            <th>FY 2016</th>
            <th>FY 2017</th>
            <th>FY 2018</th>
            <th>FY 2018 OCO</th>
            <th>FY 2018 Total</th>
            <th>FY 2019</th>
            <th>FY 2020</th>
            <th>FY 2021</th>
            <th>FY 2022</th>
            <th>Cost To Complete</th>
            <th class="borderBottom">Total Cost</th>
          </tr>
          <tr class="alignRight borderRightBottom readOnly">
            <td class="alignLeft borderRightBottom">IP5: INDIVIDUAL PROTECTION (EMD)</td>
            <td></td>
            <td>1696</td>
            <td>19439</td>
            <td>11427</td>
            <td></td>
            <td>11427</td>
            <td>11427</td>
            <td>11610</td>
            <td>3799</td>
            <td>6419</td>

            <td>Continuing</td>
            <td>Continuing</td>
          </tr>
          <tr class="alignRight borderRightBottom borderBottomBold readOnly">
            <td class="alignLeft borderRightBottom">Quantity of RDT&amp;E Articles</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td></td>
          </tr>
          <tr class="borderRightBottom alignCenter readOnly">
            <th>DELTA ($ in Millions)</th>
            <th>Prior Years</th>
            <th>FY 2016</th>
            <th>FY 2017</th>
            <th>FY 2018</th>
            <th>FY 2018 OCO</th>
            <th>Fy 2018 Total</th>
            <th>FY 2019</th>
            <th>FY 2020</th>
            <th>FY 2021</th>
            <th>FY 2022</th>
            <th>Cost To Complete</th>
            <th class="borderBottom">Total Cost</th>
          </tr>
          <tr class="alignRight borderRightBottom text-danger readOnly">
            <td class="alignLeft borderRightBottom textBlack">IP5: INDIVIDUAL PROTECTION (EMD)</td>
            <td></td>
            <td>455</td>
            <td>-7245 </td>
            <td>0</td>
            <td></td>
            <td></td>
            <td>0</td>
            <td></td>
            <td></td>
            <td>-7245 </td>
            <td></td>
            <td></td>
          </tr>
          <tr class="borderTop">
            <td colspan="13" class="content">
              <span class="title">A. Mission Description and Budget Item Justification </span>
            </td>
          </tr>
          <tr>
            <td colspan="13" class="borderTop">
              This project provides Engineering & Manufacturing Development Phase and Low Rate Initial Production (EMDfLRIP) for individual protection equipment, with the goal of providing equipment that allows the individual soldier, sailor, airman, or Marine to operate
              in a contaminated Nuclear, Biological and Chemical (NBC) environment with little or no degradation of his/ her performance.Experimentation and demonstration will be used in this phase to reduce risk and inform supporting materiel solutions, Concept
              of Operations (CONOPS) and Techniques, Tactics, and Procedures (TTP). Included in this program are: (1) The Joint Service Aircrew Mask (JSAM) for Tactical Aircraft (TA), Strategic Aircraft (SA), Joint Strike Fighter (JSF), and Rotary Wing (RW) are
              Acquisition Category (ACAT) Ill programs developed to provide respiratory and ocular protection. The JSAM will be a lightweight chemical and biological (CB) protective mask that will be worn as CB protection for most Army, Air Force, Navy and Marine
              Corps fixed wing (FW) and RW aircrew members.All JSAM variants will be compatible with most below-the-neck(BTN) CB protection ensembles and existing aircrew life support equipment (ALSE).They will include a protective hood assembly, CB filter, blower
              assembly, and an intercom for ground communication.They will also provide flame protection, emergency demist, and anti-drowning features.The goal of the JSAM programs is to develop, manufacture, field, and sustain an aircrew respirator system that,
              in conjunction with BTN clothing ensembles, will provide the capability for all aircrew to operate in an actual or perceived CB warfare environment. In FY14, the JSAM FW program was separated into two programs: JSAM TA and JSAM SA.The JSAM TA and
              SA respirators are being developed for use in the majority of DoD FW aircraft except for the F- 35 JSF.The JSAM TA program will provide CB and anti- G protection up to nine times the vertical force (Gz), for aircrew in high - performance aircraft.
              The JSAM SA program will be used in aircrew positions that do not require ar.iti - G protection and provide CB protection for positions that only need pressure breathing for altitude.
            </td>
          </tr>
          <tr class="content">
            <td colspan="10" class="title borderTop borderRightBottom alignLeft">
              <span class="title">B. Accomglishments/Planned Programs (S in Millions) </span>
            </td>
            <td class="title fixedWidth alignCenter borderRightBottom">FY 2016</td>
            <td class="title fixedWidth alignCenter borderRightBottom">FY 2017</td>
            <td class="title fixedWidth alignCenter borderBottom">FY 2018</td>
          </tr>
          <tr class="bulletSection borderTop">
            <td colspan="10" class="borderRight">
              <span class="title">Title: </span>
              <span> Title: 1) JSAM SA</span>
            </td>
            <td class="borderRight alignRight"></td>
            <td class="borderRight alignRight">5.588 </td>
            <td class="alignRight">3.539</td>
          </tr>
          <tr>
            <td colspan="10" class="borderRight">
              <span class="title noBorder">Description: </span>
              <p>Complete Developmental Testing and Operational Testing on the E-3 (Air Force) and P-8 (Navy) aircraft.
              </p>
            </td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="title borderRight">FY 2017 Plans:</td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="borderRight">
              <p>Complete Design Verification Testing (DVT), including flight tests on the E-3 and P-3C aircraft. Conduct System Verification Review (SVR), Production Readiness Review (PRR), and Physical Configuration Audit (PCA).Initiate preliminary events leading
                to operational testing (OT), and initiate OT. Develop and finalize the Operational Test Agency (OTA) Milestone AssessmentReport (OMAR), conduct the Logistics Demonstration, finalize the </p>
            </td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="title borderRight">FY 2018 Plans:</td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="borderRight">
              <p>Conduct operational testing (OT) for use on the E-3 (Air Force), and P-8 (Navy) aircraft. Develop the Operational Evaluation Report (OER). Acquire final safe-to-fly certification aboard the E- 3, and P- 8 aircraft. Prepare for fielding decision
                to deploymasks to E- 3, and P- 8 aircrew. Update the technical manual, based on any findings from O To Integrate the JSAM SA mask to subsequent aircraft, beyond the E-3, and P- 8. Make any final product.</p>
            </td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr class="bulletSection  borderTop">
            <td colspan="10" class="borderRight borderTop">
              <span class="title">Title: </span>
              <span> Title: 2) JSAM SA</span>
            </td>
            <td class="borderRight alignRight"></td>
            <td class="borderRight alignRight">6 </td>
            <td class="alignRight">4.065</td>
          </tr>
          <tr>
            <td colspan="10" class="borderRight">
              <span class="title noBorder">Description: </span>
              <p>Achieve MS C and conduct test integration events on aircraft platforms. </p>
            </td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="title borderRight">FY 2017 Plans:</td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="borderRight">
              <p>Continue with comparative gate testing for the full and open contract and award contract to the JSAM TA selected vendor. Purchase 100 masks at an estimated unit cost of $13, 000.00 for use in Operational Tests (OT) and integration events. Conduct
                OT and integration events with JSAM TA platforms, and achieve Milestone C/ Low Rate Initial Production decision.
              </p>
            </td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="title borderRight">FY 2018 Plans:</td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="borderRight">
              <p>Conduct test integration events on USAF and USN aircraft platforms.</p>
            </td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr class="bulletSection borderTop">
            <td colspan="10" class="borderRight borderTop">
              <span class="title">Title: </span>
              <span> Title: 3) JSAM SA</span>
            </td>
            <td class="borderRight alignRight">2.457</td>
            <td class="borderRight alignRight">3.009</td>
            <td class="alignRight">1.883</td>
          </tr>
          <tr class="bulletSection">
            <td colspan="10" class="borderRight">
              <span class="title noBorder">Description: </span>
              <p>Developmental Testing and Live Fire Test and Evaluation. </p>
            </td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="title borderRight">FY 2016 Plans:</td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="borderRight">
              <p>Completed key Developmental Testing (DT) events including in part Quantitative Fit Factor (QFF) testing, Simulant Agent Resistance Test Manikin (SMARTMAN) testing, Man in Simulant Test (MIST), Filter testing, and Acceleration and Altitude Tests.
                Conducted Logistic Demonstration and Manufacturing Readiness Assessment. Provided product development support to the JSF program office in support of the Chemical and Biological Live
              </p>
            </td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="title borderRight">FY 2017 Plans:</td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="borderRight">
              <p>Complete Developmental Testing (DT) and F-35 CB SDD flights. Conduct follow-on DT and Initiate JSF CB LFT&E event. Conclude Manufacturing Readiness Assessment.Conduct System Verification and Production Readiness Reviews supporting a Low Rate Initial
                Production decision. Conduct Physical Configuration Audit (PCA) and Instructor and Key Personnel Training (IKPT).</p>
            </td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="title borderRight">FY 2018 Plans:</td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="10" class="borderRight">
              <p>Complete JSF Chemical and Biological Live Fire Test and Evaluation (LFT&E) event. Conduct Chemical and Biological Operational Test event.</p>
            </td>
            <td class="borderRight"></td>
            <td class="borderRight"></td>
            <td></td>
          </tr>
          <tr class="borderTop">
            <td colspan="13" class="content">
              <span class="title">C. Other Program Funding Summary ($ in Millions)</span>
            </td>
          </tr>
          <tr class="alignCenter borderRightBottom borderTop readOnly">
            <th colspan="2" class="alignLeft">Line Item</th>
            <th>FY 2016</th>
            <th>FY 2017</th>
            <th>FY 2018</th>
            <th>FY 2018 OCO</th>
            <th>FY 2018 Total</th>
            <th>FY 2019</th>
            <th>FY 2020</th>
            <th>FY 2021</th>
            <th>FY 2022</th>
            <th>Cost To Complete</th>
            <th class="borderBottom">Total Cost</th>
          </tr>
          <tr class="alignRight borderRightBottom readOnly">
            <td colspan="2" class="alignLeft">J10002: JS AIRCREW MASK (JSAM)</td>
            <td>11.526</td>
            <td>24.63</td>
            <td>52.284</td>
            <td>-</td>
            <td>52.284</td>
            <td>54.558</td>
            <td>55.136</td>
            <td>50.374 </td>
            <td>50.062</td>
            <td>Continuing</td>
            <td>Continuing</td>
          </tr>
          <tr class="borderTop">
            <td colspan="13" class="content">
              <span class="title">D. Acquisition Strategy </span>
            </td>
          </tr>
          <tr class="borderTop">
            <td colspan="13">
              <p>JS AIRCREW MASK FIXED WING (JSAM FW)
              </p>
            </td>
          </tr>
          <tr class="borderTop">
            <td colspan="13" class="content">
              <span class="title">E. Performance Metrics</span>

            </td>
          </tr>
          <tr class="borderTop">
            <td colspan="13">
              <p>N/A</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
