<div class="main">
  <h3 class="w-50">Close Planning Phase</h3>
  <div class="w-50 text-right">
    <pfm-primary-button
      *pfmIsVisible="'planning-phase-component.closePlanningPhase'"
      [label]="'Close Planning Phase'"
      [name]="id"
      [id]="id"
      (onClick)="closePlanningPhase()"
    >
    </pfm-primary-button>
  </div>
</div>

<ng-container *ngIf="availableYears">
  <pfm-dropdown
    (selectionChanged)="yearSelected($event)"
    [type]="'labelDropdown'"
    [label]="'For:'"
    [required]="true"
    [id]="id"
    [fieldName]="'name'"
    [fieldLabel]="'name'"
    [options]="availableYears"
  ></pfm-dropdown>
</ng-container>
