<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-12">
      <div class="row">
        <div class="col-6" id="update-pom-session">
          <div class="h5 mb-4">Worksheet Managment POM 2019</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
         </div>
        <div class="col-4">
          <div class="pull-right pom-controls">
            <span>
              <button class="btn btn-danger">Delete</button>
              <button class="btn btn-primary">Duplicate</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
