$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-grey: #eae9e9;
$medium-grey: #dddddd;
$dark-grey: #848282;

fieldset { padding: 20px;}

.worksheet-controls {
  li {
    list-style: none;
    margin-left: 0;
    padding: 4px 0;
    width: 180px;
  }

  button {
    width: 100%;
  }
}

.mat-table {

  display: table;
  width: 100%;
  border-collapse: collapse;
  color: #fff;

    >  .mat-sort-header-button {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }

    > .mat-header-row, > .mat-row {
        display: table-row;
        min-height: 20px;

    > .mat-header-cell {
        display: table-cell;
        width: 241px;
        height: 38px;
        padding: 0 10px;
        color: #ffffff;
        vertical-align: middle;
    }

    > .mat-header-cell, > .mat-cell {
        display: table-cell;
        height: 38px;
        border: 1px solid #7b8389;
        font-size: 14px;
        padding: 0 10px;
        vertical-align: middle;
    }

    > .mat-header-cell {
        font-size: 16px;
    }

    .checkbox {
      width: 45px;
    }
  }
}

mat-header-row {
  background-color: #24527b;
  color: #ffffff;
}

mat-row:nth-child(even) {
  background: #ccc;
}

mat-row:nth-child(odd){
  background: #fff;
}


.input-file {
  width: 80%;
  padding: 6px 4px;
  clear: both;
}
