<table class="summary-table row-light pull-right mb-3">
  <thead>
    <tr>
      <th class="large-column"></th>
      <th>{{by   | FY}}</th>
      <th>{{by+1 | FY}}</th>
      <th>{{by+2 | FY}}</th>
      <th>{{by+3 | FY}}</th>
      <th>{{by+4 | FY}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="font-dark-grey font-weight-bold">
      <td class="text-right large-column">Baseline</td>
      <td class="text-right">{{baseline[by]}}</td>
      <td class="text-right">{{baseline[by+1]}}</td>
      <td class="text-right">{{baseline[by+2]}}</td>
      <td class="text-right">{{baseline[by+3]}}</td>
      <td class="text-right">{{baseline[by+4]}}</td>
      <td class="text-right">-</td>
    </tr>
    <tr class="font-weight-bold">
      <td class="text-right large-column">Allocated TOA</td>
      <td class="text-right">{{allocatedToas[by]}}</td>
      <td class="text-right">{{allocatedToas[by+1]}}</td>
      <td class="text-right">{{allocatedToas[by+2]}}</td>
      <td class="text-right">{{allocatedToas[by+3]}}</td>
      <td class="text-right">{{allocatedToas[by+4]}}</td>
      <td class="text-right">-</td>
    </tr>
    <tr>
      <td class="text-right large-column">POM {{by-2000}} Requests</td>
      <td class="text-right">{{pomRequests[by]}}</td>
      <td class="text-right">{{pomRequests[by+1]}}</td>
      <td class="text-right">{{pomRequests[by+2]}}</td>
      <td class="text-right">{{pomRequests[by+3]}}</td>
      <td class="text-right">{{pomRequests[by+4]}}</td>
      <td class="text-right">-</td>
    </tr>
    <tr>
      <td class="text-right large-column">TOA Difference</td>
      <td class="text-right">{{difference[by]}}</td>
      <td class="text-right">{{difference[by+1]}}</td>
      <td class="text-right">{{difference[by+2]}}</td>
      <td class="text-right">{{difference[by+3]}}</td>
      <td class="text-right">{{difference[by+4]}}</td>
      <td class="text-right">-</td>
    </tr>
  </tbody>
</table>
