<div class="card parent-card">

    <div class="header">
        <h5 class="title d-inline"> Latest News
        </h5>
        <span class="d-inline pull-right user-admin-controls" title="Edit Latest News">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
    </div>
    <div class="row no-gutters content">
        <div class="col-5">
            <ul>
                <li>
                        <span class="mr-2">
                            <i class="fa fa-star pink" aria-hidden="true"></i>
                        </span>
                    <label>
                        Deadline for Budget September 30, 2020
                    </label>
                </li>
                <li>
                        <span class="mr-2">
                            <i class="fa fa-star green" aria-hidden="true"></i>
                        </span>
                    <label>
                        Memorial Day weekend shut down - PFM will be inaccessible
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>
                          <span class="mr-2">
                              <i class="fa fa-star blue" aria-hidden="true"></i>
                          </span>
                    <label>
                        Deadline for Execution Phase September 30, 2020
                    </label>
                </li>
                <li>
                          <span class="mr-2">
                              <i class="fa fa-star indigo" aria-hidden="true"></i>
                          </span>
                    <label>
                        System Maintenance on June 30th 21:00 EDT
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <hr>
        <div class="stats">
            <i class="fa fa-history mr-1"></i> Updated 3 minutes ago
        </div>
    </div>
</div>
