<div class="row main-content mt-2">
  <div class="col-12">
    <div class="h5 mb-2">R-2</div>
    <div class="budget-reports">
      <table class="readOnly">
        <tr class="borderBottom">
          <td colspan="10">
            <span class="title">Exhibit R-2, RDT&E Budget Item Justification: FY {{fy}} Chemical and Biological Defense Program</span>
            <span></span>
            <span data-bind="text: exhibit"></span>
          </td>
          <td colspan="3" class="borderBottom">
            <span class="title">Date: </span>
            <span class="date">{{now | date:'MMMM yyyy'}}</span>
          </td>
        </tr>
        <tr class="borderRightBottom alignLeft">
          <td colspan="5">
              <div class="title">Appropriation/Budget Activity</div>
              <div>0400: Research, Development, Test & Evaluation, Defense-Wide / {{ba}}: {{baName()|async}}</div>
          </td>
          <td colspan="8">
            <div class="title">R-1 Program Element (Number/Name)</div>
            <div>PE {{programElement}} / {{peName()|async}}</div>
          </td>
        </tr>
        <tr class="borderRightBottom borderBottomBold alignCenter">
        <th>COST ($ in Millions)</th>
        <th>Prior Years</th>
        <th>FY {{fy-2}}</th>
        <th>FY {{fy-1}}</th>
        <th>FY {{fy}} Base</th>
        <th>FY {{fy}} OCO</th>
        <th>FY {{fy}} Total</th>
        <th>FY {{fy+1}}</th>
        <th>FY {{fy+2}}</th>
        <th>FY {{fy+3}}</th>
        <th>FY {{fy+4}}</th>
        <th>Cost To Complete</th>
        <th class="borderBottom">Total Cost</th>
      </tr>
        <tr class="alignRight borderRightBottom">
            <td class="alignLeft borderRightBottom">Total Program Element</td>
            <td>-</td>
            <td>{{totalForPeAndYear(programElement, fy-2) | form }}</td>
            <td>{{totalForPeAndYear(programElement, fy-1) | form }}</td>
            <td>{{totalForPeAndYear(programElement, fy  ) | form }}</td>
            <td>-</td>
            <td>{{totalForPeAndYear(programElement, fy  ) | form }}</td>
            <td>{{totalForPeAndYear(programElement, fy+1) | form }}</td>
            <td>{{totalForPeAndYear(programElement, fy+2) | form }}</td>
            <td>{{totalForPeAndYear(programElement, fy-3) | form }}</td>
            <td></td>
            <td>Continuing</td>
            <td>Continuing</td>
        </tr>
        <tr *ngFor="let item of items" class="alignRight borderRightBottom">
          <td class="alignLeft borderRightBottom">{{item}}: {{itemName(item)|async}}</td>
          <td>-</td>
          <td>{{totalForItemAndYear(item, fy-2) | form }}</td>
          <td>{{totalForItemAndYear(item, fy-1) | form }}</td>
          <td>{{totalForItemAndYear(item, fy  ) | form }}</td>
          <td>-</td>
          <td>{{totalForItemAndYear(item, fy  ) | form }}</td>
          <td>{{totalForItemAndYear(item, fy+1) | form }}</td>
          <td>{{totalForItemAndYear(item, fy+2) | form }}</td>
          <td>{{totalForItemAndYear(item, fy+3) | form }}</td>
          <td>{{totalForItemAndYear(item, fy+4) | form }}</td>
          <td>Continuing</td>
          <td>Continuing</td>
        </tr>
      </table>
      <table class="borderTop">
          <tr class="borderBottom content">
            <th>
              <span class="title">A. Mission Description and Budget Item Justification</span>
            </th>
          </tr>
          <tr>
            <td>
              {{r2Data?.missionDescription}}
            </td>
          </tr>
      </table>
      <table class="border borderTop borderBottom">
        <tr class="content">
          <th colspan="8">
            <span class="title">B. Program Change Summary ($ in Millions)</span>
          </th>
          <th class="alignCenter">FY {{fy-2}}</th>
          <th class="alignCenter">FY {{fy-1}}</th>
          <th class="alignCenter">FY {{fy}} Base</th>
          <th class="alignCenter">FY {{fy}} OCO</th>
          <th class="alignCenter">FY {{fy}} Total</th>
        </tr>
        <tr class="noBorder">
          <td colspan="8">Previous President's Budget</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.PREVIOUS].py | form }}</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.PREVIOUS].cy | form }}</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.PREVIOUS].by | form }}</td>
          <td class="alignRight">-</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.PREVIOUS].by | form }}</td>
        </tr>

        <tr class="noBorder">
          <td colspan="8">Current President's Budget</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.CURRENT].py | form }}</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.CURRENT].cy | form }}</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.CURRENT].by | form }}</td>
          <td class="alignRight">-</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.CURRENT].by | form }}</td>
        </tr>

        <tr class="noBorder">
          <td colspan="8">Total Adjustments</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.CURRENT].py - lockPositionDetails?.summary[PresidentialBudget.PREVIOUS].py | form }}</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.CURRENT].cy - lockPositionDetails?.summary[PresidentialBudget.PREVIOUS].cy | form }}</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.CURRENT].by - lockPositionDetails?.summary[PresidentialBudget.PREVIOUS].by | form }}</td>
          <td class="alignRight">-</td>
          <td class="alignRight">{{lockPositionDetails?.summary[PresidentialBudget.CURRENT].by - lockPositionDetails?.summary[PresidentialBudget.PREVIOUS].by | form }}</td>
        </tr>

        <tr class="noBorder" *ngFor="let tag of executionTransactionTags">
          <td colspan="8" class="alignRight">{{tag.name}}</td>
          <td class="alignRight">{{lockPositionDetails?.adjustments[tag.abbr].py.adjusted | form }}</td>
          <td class="alignRight">{{lockPositionDetails?.adjustments[tag.abbr].cy.adjusted | form }}</td>
          <td class="alignRight"></td>
          <td class="alignRight"></td>
          <td class="alignRight"></td>
        </tr>
        <tr class="noBorder">
          <td colspan="13">
            <div class="title">Change Summary Explanation</div>
            <div>Funding: {{ getValueOrNA(r2Data?.fundingChange) }}</div>
            <div>Schedule: {{ getValueOrNA(r2Data?.scheduleChange) }}</div>
            <div>Technical: {{ getValueOrNA(r2Data?.techincalChange) }}</div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
