<fieldset>
  <legend>Import</legend>
  <table class="worksheet-table">
    <tr>
      <td>
        <label class="pull-right">Select Source:</label>
      </td>
      <td>
        <div class="input-group forminput-width">
          <input type="text" class="form-control copy-input" aria-label="Enter File Location" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <span class="input-group-text">Browse</span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
      <label class="pull-right">Select Target Worksheet:</label>
      </td>
      <td>
        <div class="form-group">
          <select class="form-control copy-select">
            <option value="">*POM Worksheet - Version</option>
            <option>POM 2018 Worksheet v2</option>
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <div class="button-controls pull-right">
          <button class="btn btn-primary pull-right" (click)="operationOver.emit()" >Save</button>
          <button class="btn btn-secondary pull-right" (click)="operationOver.emit()" >Cancel</button>
        </div>
      </td>
    </tr>
  </table>
</fieldset>
