<fieldset>
  <legend>Import</legend>
  <table class="worksheet-table">
    <tr>
      <td>
        <label class="pull-right">Select Source:</label>
      </td>
      <td>
        <div class="input-group forminput-width">
          <input type="file" id="input-file" class="custom-file-input" (change)="onFileChange($event)" aria-label="Enter File Location" aria-describedby="basic-addon1">
          <label class="custom-file-label" for="input-file" >{{file?.name}}</label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
      <label class="pull-right">Select Target Worksheet:</label>
      </td>
      <td>
        <div class="form-group">
          <select [(ngModel)]="selectedImportableWorksheet" class="form-control copy-select">
            <option *ngFor="let worksheet of importableWorksheets" [ngValue]="worksheet">{{worksheet.name}} - Number {{worksheet.version}}</option>
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <div class="button-controls pull-right">
          <button class="btn btn-primary pull-right" (click)="onImport()" [disabled]="!selectedImportableWorksheet || !file">Import</button>
          <button class="btn btn-secondary pull-right" (click)="operationOver.emit()" >Cancel</button>
        </div>
      </td>
    </tr>
  </table>
</fieldset>
