<div class="main section-banner row col-12 p-0 m-0">
  <div class="title-line row col-12 p-0 m-0">
    <div class="col-6" *ngIf="pomYear">
      <h3>Session Close for POM{{ pomYear % 100 }}</h3>
    </div>
    <div class="button-container col-6 text-right p-0">
      <div class="div-button-return">
        <button type="button" class="btn btn-primary" (click)="onValidateCloseProgrammingPhase()">
          Close Programming Phase
        </button>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="availableToaCharts?.length">
  <div class="section-pods">
    <gridster [options]="options">
      <gridster-item #orgWidgetItem [item]="gridster[0]">
        <div class="gridster-item-content">
          <pfm-requests-summary-org-widget
            #orgWidget
            [griddata]="gridData"
            [orgs]="orgs"
            [roles]="programmingModel.roles"
            [baBlinSummary]="baBlinSummary"
          >
          </pfm-requests-summary-org-widget>
        </div>
      </gridster-item>

      <gridster-item #toaWidgetItem [item]="gridster[1]">
        <div class="gridster-item-content">
          <pfm-requests-summary-toa-widget
            #toaWidget
            [availableCharts]="availableToaCharts"
            [pomYear]="pomYear"
            [selectedOrg]="defaultOrganizationSelection"
            [programmingModel]="programmingModel"
            [griddata]="gridData"
          >
          </pfm-requests-summary-toa-widget>
        </div>
      </gridster-item>
    </gridster>
  </div>

  <div class="section-datagrid">
    <div class="datagrid">
      <pfm-datagrid (gridIsReady)="onGridIsReady($event)" [columns]="columns" [rows]="gridData"></pfm-datagrid>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="closeConfirmationDlg.display">
  <pfm-custom-dialog
    [title]="closeConfirmationDlg.title"
    [body]="yearSkipBody"
    [actions]="yearSkipActions"
    (onCancelDialog)="closeConfirmationDlg.display = false"
  ></pfm-custom-dialog>

  <ng-template #yearSkipBody>
    <span
      ><b>
        Are you sure you want to close the POM Session?
      </b>
    </span>
    <br />
    <br />
    <span>
      Be advised that this is irreversible.
    </span>
  </ng-template>

  <ng-template #yearSkipActions>
    <div class="pull-left">
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onCloseProgrammingPhase()">
        Close
      </button>
    </div>

    <div class="pull-right">
      <pfm-cancel-cta (onCancelClicked)="closeConfirmationDlg.display = false"></pfm-cancel-cta>
    </div>
  </ng-template>
</ng-container>

<pfm-busy [busy]="busy"></pfm-busy>
