<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-lg-10 col-md-12 col-sm-12">
      <div class="h5">My Roles</div>
      <fieldset>
        <legend>My Granted Roles</legend>
        <table class="my-roles-list">
          <thead>
            <tr><th>Roles</th><th>Programs</th></tr>
          </thead>
          <tbody>
            <tr *ngFor="let roleWres of currentRolesWithResources">
              <td class="column-1"> {{ roleWres.role.name }} </td>
              <td class="column-2"> {{ roleWres.resources.join(', ') }} </td>
            </tr>
          </tbody>
        </table>
      </fieldset>
      <div class="message mt-2 mb-2">
        <j-feedback></j-feedback>
      </div>
      <fieldset>
        <legend>Request a New Role or Modify Resource Access to a Granted Role</legend>
            <table class="my-roles-table">
              <tbody>
                <tr class="mb-3">
                  <td class="column-1">
                    <label class="mb-1 mr-3">Roles</label>
                    <select name="addRoleSelector" class="form-control-sm dropdown-width"
                     [(ngModel)]="selectedAddRole" (change)="onChangeAddRoleSelector()">
                      <option value=""></option>
                      <option *ngFor="let r of assignableRoles" [ngValue]="r">
                        {{ r.name }}
                      </option>
                    </select>

                  </td>
                  <td rowspan="2" class="column-2">
                    <button class="btn btn-primary mb-3" (click)="createAssignRequest()">Create Request</button>
                  </td>
                </tr>
                <tr>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td class="column-1">
                    <ng-container *ngIf="isURRModifyable; then Modifyable; else NotModifyable"></ng-container>
                    <ng-template #Modifyable>
                      <div style="width:800px;text-align: right; margin-bottom: 10px;">
                        Filter Available Programs
                        <select name="orgSelector" class="form-control-sm dropdown-width"
                          [(ngModel)]="selectedOrganization" (change)="filterByOrg()">
                          <option value=""></option>
                          <option *ngFor="let org of organizations" [ngValue]="org">
                              {{ org.abbreviation }}
                          </option>
                        </select>
                      </div>  
                      <div>
                        <dual-list [source]="filteredAvailablePrograms" [(destination)]="assignedPrograms" [key]="key" [display]="display" [sort]="keepSorted"
                          [filter]="filter" height="265px" [format]="format" [disabled]="disabled">
                        </dual-list>
                      </div>
                    </ng-template>
                    <ng-template #NotModifyable>
                      <div  *ngIf="selectedAddRole">
                        Resource access for the <b>{{selectedAddRole.name}}</b> role cannot be modified. <br/>
                        To request this role simply click "Create Request".
                      </div>
                    </ng-template>
                  </td>
                  <td class="column-2">
                    <div class="my-role-label">Pending Requests</div>
                    <select size="3" class="form-control-sm pending-role">
                      <option *ngIf="!assignRequests?.length">There are no requests</option>
                      <option *ngFor="let req of assignRequests"
                              [disabled]="true">
                              <span *ngIf="req.isNew">(new) - </span>
                              <span *ngIf="!req.isNew">(modify) - </span>
                               {{req.roleName}}
                      </option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
      <fieldset>
        <legend>Request to Drop a Role</legend>
        <table class="my-roles-table">
          <tbody>
            <tr>
              <td class="column-1">
                <label class="mb-1 mr-2">Roles</label>
                <select name="dropRoleSelector" class="form-control-sm dropdown-width"
                 [(ngModel)]="selectedDropRole" (change)="onChangeDropRoleSelector()">
                  <option value=""></option>
                  <option *ngFor="let dr of dropableRoles" [ngValue]="dr">
                    {{ dr.name }}
                  </option>
                </select>
              </td>
              <td></td>
              <td rowspan="2" class="column-2">
                <button class="btn btn-primary mb-3" (click)="createDropRequest()">Create Request</button>
              </td>
            </tr>
            <tr>
              <td>
              </td>
            </tr>
            <tr>
              <td class="column-1">
              </td>
              <td>
              </td>
              <td class="column-2">
                <div class="my-role-label">Pending Requests</div>
                <select size="3" class="form-control-sm pending-role">
                  <option *ngIf="!dropRequests?.length">There are no requests</option>
                  <option *ngFor="let dreq of dropRequests"
                          [disabled]="true">
                          <span>(drop) - </span>{{dreq.roleName}}
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </fieldset>
    </div>
  </div>
</div>
