<app-header></app-header>
<div class="container-fluid">
  <div class="row main-content">
    <div class="col-12">
      <div class="row mb-4">
        <div class="col-12">
          <span class="h5 mr-3">My Roles</span>
        </div>
      </div>

        <div class="h6">My Assigned Roles</div>

        <table class="my-roles-list mb-4">
          <thead>
            <tr>
              <th>Roles</th>
              <th>Resources</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let roleWres of currentRolesWithResources">
              <td class="column-1"> {{ roleWres.role.name }} </td>
              <td class="column-2"> {{ roleWres.resources.join(', ') }} </td>
            </tr>
          </tbody>
        </table>

      <fieldset>
        <legend>My Pending Role Requests.</legend>
        <div class="row">
          <div class="col-3">
            <div class="my-role-label">Add/Change Role Requests</div>
            <select size="3" class="form-control-sm pending-role">
              <option *ngIf="!assignRequests?.length">There are no requests</option>
              <option *ngFor="let req of assignRequests"
                      [disabled]="true">
                      <span *ngIf="req.isNew">(new) - </span>
                      <span *ngIf="!req.isNew">(modify) - </span>
                        {{req.roleName}}
              </option>
            </select>
          </div>
          <div class="col-3">
            <div class="my-role-label">Drop Role Requests</div>
            <select size="3" class="form-control-sm pending-role">
              <option *ngIf="!dropRequests?.length">There are no requests</option>
              <option *ngFor="let dreq of dropRequests"
                      [disabled]="true">
                      <span>(drop) - </span>{{dreq.roleName}}
              </option>
            </select>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Request Role Change</legend>

        <div class="row mb-4">
          <div class="col-3 mb-2 role-controls">
            <label>Select Role</label>
            <span class="form-group">
              <select name="roleSelector" class="form-control-sm dropdown-width"
                [(ngModel)]="selectedRole" (change)="checkRequestsForExisting()">
                <option value=""></option>
                <option *ngFor="let r of roles" [ngValue]="r">
                  {{ r.name }}
                </option>
              </select>
            </span>
          </div>
        </div>

        <div *ngIf="requestExists">
            <p class="role-controls" >A request is pending for the role selected.</p>
        </div>

          <div *ngIf="isVisible">
            <app-role-builder
              [allroles]="roles"
              [selectedCommunity]="myCommunity"
              [selectedRole]="selectedRole"
              [selectedUser]="currentUser"
              [isRequest]=true
              (okAddRoleRequest)="addRequest($event)"
              (okDropRoleRequest)="dropRequest($event)">
            </app-role-builder>
          </div>

      </fieldset>

    </div>
  </div>
</div>
