$primary-color: #25527a;
$white: #ffffff;

fieldset {
  padding: 20px;
}


.role-controls {
   color: $primary-color;

  > label {
    margin: 0 0 5px 0;
    width: 233px;
    display: block;
  }
  
  .dropdown-width {
    width: 280px;
  }
}



.controls {
  clear: both;
}

.window {

  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: 200px;
  overflow-y: auto;

  li {
    list-style: none;
    margin-left: -40px;
    &:hover,
    &:focus {
      background-color: #3a6489;
      color: $white;
      }
  }
}

.arrows {
  padding: 20px;
}


.my-roles-list {
  width: 100%;

  th {
    font-weight: 600;
    background: $white;
  }

  tr {
    padding: 10px;
  }

  tr:nth-child(odd)  {
    background-color: #f5f5f5;
  }

  td {
    padding: 5px;
  }
  .column-1 {
    width: 30%
  }
  .column-2 {
    width: 70%
  }
  a {
    color: #24527b;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
}


