$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-grey: #f7f7f7;
$medium-grey: #dddddd;
$dark-grey: #848282;
.single-row{
  display: flex;
}
fieldset {
  padding: 20px;
}

.main-content {
  margin-top: 20px;
}

.role-controls {
   color: $black;

  > label {
    margin: 0 0 5px 0;
    width: 233px;
    display: block;
  }

  .dropdown-width {
    width: 280px;
  }
}

.my-roles-list {
  width: 100%;
  border: $grey-border;


  th {
    font-weight: 600;
    background: $medium-grey;
    padding: 5px;
  }

  tr {
    padding: 5px;

  }
  tr:nth-child(even)  {
    background-color: $light-grey;
  }

  td {
    padding: 5px;
  }

  .column-1 {
    width: 30%
  }

  .column-2 {
    width: 70%
  }

  a {
    color: #24527b;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}

.program-options {
  max-width:800px
}

.filter-programs {
  width: 800px;
  text-align: right; 
  margin-bottom: 10px;
}