<app-header title="JSCBIS Login"
  [isUserLoggedIn]="true"></app-header>
<div class="container-fluid">
  <div class="row main-content">
    <div class="col-10 col-md-7">
        <div class="row">
          <div class="col-10 col-md-7">
            <div class="input-group" id="adv-search">
              <input type="text" class="form-control" (focus)="fireEvent($event)" placeholder="Search for ..." />
              <div class="input-group-btn">
                <div class="btn-group" role="group">
                  <div class="dropdown dropdown-lg">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret advanced"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <form class="form-horizontal" role="form">
                        <div class="search-title">My Programs</div>
                        <div class="form-group">
                         <select>
                           <option value="0" selected>All Programs</option>
                           <option value="1">AAS</option>
                           <option value="2">AUTOINJ</option>
                           <option value="3">AV TX</option>
                           <option value="4">BSCAV-P</option>
                         </select>
                       </div>
                       <div class="form-group">
                        <select>
                          <option value="0" selected>View</option>
                          <option value="1">AAS</option>
                          <option value="2">AUTOINJ</option>
                          <option value="3">AV TX</option>
                          <option value="4">BSCAV-P</option>
                        </select>
                      </div>
                      <div class="form-group">
                       <select>
                         <option value="0" selected>Edit</option>
                         <option value="1">AAS</option>
                         <option value="2">AUTOINJ</option>
                         <option value="3">AV TX</option>
                         <option value="4">BSCAV-P</option>
                       </select>
                      </div>
                      <button type="submit" class="btn btn-primary">
                        <span class="fa fa-search" aria-hidden="true"></span>
                      </button>
                    </form>
                  </div>
                </div>
                <button type="button" class="btn btn-primary">
                  <span class="fa fa-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 col-md-3">
        </div>
        <div class="col-1 col-md-1">
        </div>
        <div class="col-1 col-md-1">
            <a class="main-content" data-toggle="tooltip" data-placement="bottom">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            </a>
        </div>
      </div>
      <div class="program-data">
        <!-- <h5>ID: {{ singleProgram.id }}</h5> -->
        <div *ngFor="let program of programs">
          <div class="well">
            <ul class="list-group">
              <li class="list-group-item">Program ID: <span>{{ program.programId }}</span></li>
              <li class="list-group-item">Program Name: <span>{{ program.programName }}</span></li>
              <!-- <li class="list-group-item">Image:  <span>{{ program.image }}</span></li> -->
              <li class="list-group-item">POC: <span>{{ program.poc }}</span></li>
              <li class="list-group-item">Program Manager: <span>{{ program.programManager }}</span></li>
              <li class="list-group-item">Description: <span>{{ program.descr }}</span></li>
              <li class="list-group-item">Notes: <span>{{ program.notes }}</span></li>
              <!-- <li class="list-group-item">Tags: <span>{{ program.tags }}</span></li> -->
              <li class="list-group-item">Functional Area: <span>{{ program.functionalArea.name }}</span></li>
              <li class="list-group-item">Core Capability: <span>{{ program.coreCapability.name }}</span></li>
              <li class="list-group-item">Primary Capability: <span>{{ program.primaryCapability.name }}</span></li>
              <li class="list-group-item">Secondary Capability: <span>{{ program.secondaryCapability.name }}</span></li>
              <li class="list-group-item">Tertiary Capability: <span>{{ program.tertiaryCapability.name }}</span></li>
              <li class="list-group-item">Medical Category: <span>{{ program.medicalCategory.name }}</span></li>
              <li class="list-group-item">NBC Category: <span>{{ program.nbcCategory.name }}</span></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 col-md-5">
    </div>
  </div>
</div>
