<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-10 col-md-7">
      <div class="row">
        <div class="col-10 col-md-7">
          <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Search for ..." />
            <div class="input-group-btn">
              <div class="btn-group" role="group">
                <div class="dropdown dropdown-lg">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret advanced"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" role="menu">
                    <form class="form-horizontal" role="form">
                      <div class="search-title">My Programs</div>
                      <div class="form-group">
                        <select>
                          <option value="0" selected>All Programs</option>
                          <option value="1">AAS</option>
                          <option value="2">AUTOINJ</option>
                          <option value="3">AV TX</option>
                          <option value="4">BSCAV-P</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <select>
                          <option value="0" selected>View</option>
                          <option value="1">AAS</option>
                          <option value="2">AUTOINJ</option>
                          <option value="3">AV TX</option>
                          <option value="4">BSCAV-P</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <select>
                          <option value="0" selected>Edit</option>
                          <option value="1">AAS</option>
                          <option value="2">AUTOINJ</option>
                          <option value="3">AV TX</option>
                          <option value="4">BSCAV-P</option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary">
                        <span class="fa fa-search" aria-hidden="true"></span>
                      </button>
                    </form>
                  </div>
                </div>
                <button type="button" class="btn btn-primary">
                  <span class="fa fa-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 col-md-3">
        </div>
        <div class="col-1 col-md-1">
        </div>
        <div class="col-1 col-md-1">
          <a class="main-content" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div>
        HELLO
        {{ programResult?.error }}
        {{ fundLineResult?.error }}
      </div>


      <div class="program-data">
        <div *ngFor="let program of programResult?.result">
          <div class="well">
            <ul class="list-group">
              <li class="list-group-item">ID:
                <span>{{ program?.id }}</span>
              </li>
              <li class="list-group-item">Program ID:
                <span>{{ program?.programId }}</span>
              </li>
              <li class="list-group-item">Program Name:
                <span>{{ program?.programName }}</span>
              </li>
              <li class="list-group-item">Description:
                <span>{{ program?.description }}</span>
              </li>
              <li class="list-group-item">POC:
                <ul>
                  <li *ngFor="let pocId of program?.pocIds">{{ pocId }}</li>
                </ul>
              </li>
              <li class="list-group-item">Program tags:
                <ul>
                  <li *ngFor="let tag of program?.tags">{{ tag.type }} {{ tag.name }} {{ tag.abbr }}</li>
                </ul>
              </li>
              <li class="list-group-item">Increments
                <div *ngFor="let inc of program?.increments">
                  <ul>
                    <li># {{ inc.incrementNumber }} - {{ inc.description }}</li>
                    <li class="list-group-item">Increment tags:
                      <ul>
                        <li *ngFor="let tag of inc?.tags">{{ tag.type }} {{ tag.name }} {{ tag.abbr }}</li>
                      </ul>
                    </li>
                    <li class="list-group-item">Funding Lines
                      <div *ngFor="let fundLine of fundLineResult?.result">
                        <ul>
                          <li> {{ fundLine?.fiscalYear }} {{ fundLine?.description }}</li>
                          <li class="list-group-item">FundLine tags:
                            <ul>
                              <li *ngFor="let tag of fundLine?.tags">{{ tag.type }} {{ tag.name }} {{ tag.abbr }}</li>
                            </ul>
                          </li>
                          <li class="list-group-item">Funds:
                            <ul>
                              <li *ngFor="let fund of fundLine?.funds">{{ fund.year }} - ${{ fund.amount }}</li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 col-md-5">
    </div>
  </div>
</div>
