.program-data {
  width: 100%;
  margin-top: 20px;
  font-size: 1rem;
}

li.list-group-item span {
  color: #23527c;
  font-size: .9rem;
}

table a {
  color:  #23527c;
  text-decoration: underline;
  cursor: pointer;
}

table a:hover {
  opacity: .8;
  color:  #23527c;
  text-decoration: none;
}

.table-data-start {
  font-size: 12px;
  background-color: #def6fc;
  border: 1px solid #000;
  color: #000;
  width: 105%;
}

.table-data-end {
  font-size: 12px;
  color: #000;
  border: 2px solid #000;
}

.table-data-start td {
  border-bottom: 1px solid #000;
  padding: 0;
}

td.data-v {
  background-color: #fff;
  border: 1px solid #000;

}

td.data-t {
  background-color: #23527c;;
  color: #fff
}

.total {
  margin-left: 86%;
  font-size: 1rem;
}

th {
  text-align: left;
  background-color: #23527c;
  padding: 0px;
  color: #fff;
  font-size: .9rem;
  font-weight: normal;
  border-style: solid;
  border-color: #23527c;
  border-width: 1px;
}

.tg { width: 784px; }

@media (max-width: 960px) {
  .tg { width: 100%; }
}

.tg .tg-yw40 { font-size: 14px;
  vertical-align:top; border: 1px solid #fff;
  padding: 0px;
}

.tg .fyear {
  vertical-align: middle;
  width: 16px;
  padding: 0 20px;
  text-align: left;
  border: 1px solid #23527c;
}

.tg .tg-yw44 {
  font-size: 10px;
  padding: 0;
}

.tg td {
  padding: 0 10px;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
}

.program-acr {
  width: 260px;
  border: 1px #23527c solid;
}

.program-name {
  width: 360px;
  border: 1px #23527c solid;
}

.controls > i {
  padding: 0 5px;
  font-size: 20px;
  float: right;
  color: #23527c;
}

.controls > i:hover {
  opacity: .4;
}

.programs-table {
  padding: 0px;
}

.programs-ui h1 {
  margin-top: 20px;
  color: #000;
  font-size: 1rem;
}

.programs-page h1 {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
}

.content-label {
  color: #000;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
}

.main-content > i {
  color: #23527c;
    font-size: 20px;
}

.main-content > i:hover {
  opacity: .4;
}

.btn {
  padding: .20rem 0.45rem;
  cursor: pointer;
      margin-top: 3px;
}

.form-control {
  padding: 0.2rem 0.25rem;
}

table {
  margin-top: 0px;
}

table.tg {
  margin-top: 20px;
}

table th span > i {
  padding: 0 6px;
}

i.fa.fa-star-o {
  font-size: 14px;
  margin-right: 10px;
}

.search-title {
  border-bottom: 1px solid #ddd;
  margin-bottom: 14px;
  padding: 10 0;
}

.form-control {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.caret.advanced { margin-left: -5px; }

@media screen and (min-width: 768px) {
  #adv-search {
      width: 100%;
      margin: 0 auto;
  }
  .dropdown.dropdown-lg {
      position: static !important;
  }
}

/* dropdown for advanced program seach box */
.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 15px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  margin-left: 25px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  width: 412px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

input {
  margin: 4px 0;
}
