$black: #000000;
$dark-grey: #848282;
$dark-green: #61bb69;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-green: #ebf2de;
$light-grey: #eae9e9;
$medium-grey: #dddddd;
$primary-color: #25527a;
$red: #ff0000;
$white-border: 1px solid #ffffff;
$white: #ffffff;
$yellow: #fec001;

.actuals-slider-buttons {

  background-color: #3c71a1;
  padding: 0 3px;
  width: 24px;
  height: 24px;
  margin: 3px 6px;
  border-radius: 50%;
  border: none;
  &:hover {
    opacity: .5;
 }

  .fa {
    color: $white;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      opacity: .9;
    }
  }
}

