<j-header></j-header>

<h3>This page is for data verification only</h3>
<hr/>

<table cellpadding="10px" border="1px">

  <tr>
    <!-- <td>programRequestId</td> -->
    <th>PR Fullname</th>
    <th>Core Capability</th>
    <th>Appropriation</th>
    <th>BA/Blin</th>
    <th>Item</th>
    <th>OpAgency</th>
    <th>{{fy}}</th>
    <th>{{fy+1}}</th>
    <th>{{fy+2}}</th>
    <th>{{fy+3}}</th>
    <th>{{fy+4}}</th>
  </tr>
  <tr *ngFor="let row of rows">
    <!-- <td>{{row.programRequestId}}</td> -->
    <!-- <td>{{row.programRequestFullname}}</td>  -->
    <td>{{getFullName(row)}}</td>
    <td>{{row.coreCapability}}</td>
    <td>{{row.fund.appropriation}}</td>
    <td>{{row.fund.baOrBlin}}</td>
    <td>{{row.fund.item}}</td>
    <td>{{row.fund.opAgency}}</td>
    <td class="ltblue">{{row.fund.funds[fy]}}</td>
    <td class="ltblue">{{row.fund.funds[fy+1]}}</td>
    <td class="ltblue">{{row.fund.funds[fy+2]}}</td>
    <td class="ltblue">{{row.fund.funds[fy+3]}}</td>
    <td class="ltblue">{{row.fund.funds[fy+4]}}</td>
  </tr>
</table>
  
