<app-header></app-header>
<div style="display: flex">
  <menu-bar [authUser]="authUser"></menu-bar>
  <div class="container-fluid">
    <div class="row no-gutters main-content">
      <div class="col-12">
        <div class="row no-gutters mb-3">
          <div class="col-12">
            <r2></r2>
          </div>
        </div>
        <div class="row no-gutters mb-3">
          <div class="col-12">
            <r2A></r2A>
          </div>
        </div>
        <div class="row no-gutters mb-3">
          <div class="col-12">
            <r3></r3>
          </div>
        </div>
        <div class="row no-gutters mb-3">
          <div class="col-12">
            <r4></r4>
          </div>
        </div>
        <div class="row no-gutters mb-3">
          <div class="col-12">
            <r4A></r4A>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
