<pfm-action-cell-renderer
  [data]="data"
  [params]="params"
  [columnApi]="columnApi"
  [options]="options"
  [disabled]="disabled"
  [extraActions]="extraActions"
>
</pfm-action-cell-renderer>

<ng-container></ng-container>

<ng-template #extraActions>
  <div
    *ngIf="!data.hideCheckmark"
    [class.action]="!switchCheckmark"
    [class.green-color]="params.data.selected"
    [class.amber-color]="!params.data.selected && !switchCheckmark"
    [class.red-color]="!params.data.selected && switchCheckmark"
    (click)="switchCheckmark ? null : onSelected('toggle-select')"
  >
    <span [title]="title">
      <ng-container *ngIf="switchCheckmark && !params.data.selected">
        <fa name="times-circle"></fa>
      </ng-container>
      <ng-container *ngIf="!switchCheckmark || params.data.selected">
        <fa name="check-circle"></fa>
      </ng-container>
    </span>
  </div>
</ng-template>
