<app-header></app-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="error" *ngFor="let error of resultError">{{error}}</div>
    <div class="col-5">
      <h4>{{ community?.name }}</h4>

      <!-- <p>
        <button type="button" class="btn btn-primary btn" (click)="status.isFirstDisabled = ! status.isFirstDisabled">
          Enable / Disable first panel
        </button>
        </p> -->
      <fieldset>
        <legend>Organizations</legend>
        <p>Organizations within this Community</p>
        <ul class="community-list">
          <li *ngFor="let organization of organizations">
            {{ organization.abbreviation }}
          </li>
        </ul>
      </fieldset>
      <fieldset>
        <legend>List of Approvers</legend>
        <ul class="community-list">
          <li *ngFor="let user of approvers">
            {{ user?.firstName }} {{ user?.lastName }}
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="col-5">
      <fieldset>
        <legend>Add Approvers</legend>
        <div class="form-group clearfix">
          <select class="form-control-sm dropdown-width mr-sm-2" name="communityApprover" [(ngModel)]="addedapprover" required>
            <option *ngFor="let user of users"
              [value]="user.id">
              {{user.firstName}} {{user.lastName}}
            </option>
          </select>
          <button class="btn btn-primary" (click)="addApprover()">Add Approver</button>
        </div>
      </fieldset>
    </div>
  </div>
</div>
