<app-header title="JSCBIS Login"></app-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isloggedin">
    <div class="col-5">
        <h4>{{ community?.name }}</h4>

      <!-- <p>
        <button type="button" class="btn btn-primary btn-sm" (click)="status.isFirstDisabled = ! status.isFirstDisabled">
          Enable / Disable first panel
        </button>
        </p> -->
      <accordion>
        <accordion-group heading="Programs">
          <p>Info about all programs associated with the Community that are Community Specific</p>
          <ul class="community-list">
            <li *ngFor="let program of programs">
              {{ program }}
            </li>
          </ul>
        </accordion-group>
        <accordion-group heading="List Community Approvers">

          <ul class="community-list">
            <li *ngFor="let user of approvers">
              {{ user?.firstName }} {{ user?.lastName }} 
            </li>
          </ul>

        </accordion-group>
      </accordion>
    </div>
    <div class="col-5">
      <accordion>
        <accordion-group heading="Add Approvers">

            <div class="form-group clearfix">
                <select class="form-control" name="communityApprover" [(ngModel)]="addedapprover" required>
                  <option *ngFor="let user of users"
                    [value]="user.id">
                    {{user.firstName}} {{user.lastName}}
                  </option>
                </select>
                <button class="btn btn-primary" (click)="addApprover()">Add Approver</button>
              </div>

        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
