$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-grey: #f7f7f7;
$medium-grey: #dddddd;
$dark-grey: #848282;

select {
  margin: 0px 5px 4px 0 !important;
  padding: 2px 6px;
  line-height: 1.8rem;
  width: 240px;
  color: #868e9b;
}

input {
  margin: 5px 5px 4px 0;
  padding: 2px 6px;
  line-height: 1.8rem;
  width: 355px;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  margin: 5px 5px 12px 0;
  padding: 2px 6px;
  line-height: 1.8rem;
  width: 240px;
}

.community {
  display: inline;
  width: 240px;
  margin: 5px 5px 12px 0;
  padding: 2px 6px;
  border-radius: 5px;
}

.community-list {

  margin-left: -42px;

  li:nth-child(odd) {
    background-color: $light-grey;
  }
}

.community-list > li {
  list-style: none;
  line-height: 1.5rem;
  padding: 5px 10px;
}

.community-name {
  display: inline-block;
  word-wrap: break-word;
  min-width: 350px;
  margin-right: 100px;
}
