<div class="row mb-4">
    <div class="col-10">
      <span class="mr-1">
        <label>For Program:</label>
      </span>
      <span class="mr-3">
            <select [(ngModel)]="selectedProgram" class="form-control-sm" (change)="onProgramSelected()">
                <option value="undefined" disabled selected>Select Program</option>
                <option *ngFor="let program of programs" [ngValue]="program">{{program.shortName}}</option>
            </select>
        </span>
      <ng-container *ngIf="selectedProgram">
        <span class="mr-1">
          <label>BA / PE:</label>
        </span>
        <span class="mr-3">
              <select [(ngModel)]="selectedPE" class="form-control-sm" (change)="onPESelected()">
                  <option value="undefined" disabled selected>Select BA / PE</option>
                  <option *ngFor="let pe of pes" [ngValue]="pe">{{getBaByPe(pe)}} / {{pe}}</option>
              </select>
        </span>
      </ng-container>
      <span class="mr-3" *ngIf="selectedPE">
            <ng-container >
                <span class="mr-1">
                  <label>Item:</label>
                </span>
                <select [(ngModel)]="selectedItem" class="form-control-sm" (change)="onItemSelected()">
                    <option value="undefined" disabled selected>Select Item</option>
                    <option *ngFor="let item of items" [ngValue]="item">{{item}}</option>
                </select>
            </ng-container>
        </span>
    </div>
</div>
