$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-grey: #eae9e9;
$medium-grey: #dddddd;
$dark-grey: #848282;

fieldset { padding: 20px;}

.pr-funds-table {
  width: 100%;

  thead tr {
    display: block;
  }

  thead {
    background-color: $primary-color;
    color: $white;
  }

  th {
    border: $grey-border;
    max-width: 100px;
    min-width: 100px;
    padding: 6px;
    padding: 2px 10px;
    font-weight: 500;
    text-align: center;
  }

  tbody{
    display:block;
    height: 400px;
    overflow:auto;//set tbody to auto
  }

  td {
    border: $grey-border;
    width:100%; //fixed width
    max-width: 100px;
    min-width: 100px;
    max-height: 20px;
    padding: 6px;
    padding: 2px 10px;
  }

  .cell-white {
    background-color: $white;
  }

  .row-border-top {
    border-top: $grey-border;
  }

  .medium-grey-cell {
    background-color: $medium-grey;
  }

  .row-light {
    background-color: $light-grey;
    color: $black;
  }

  .editable-field {
    background-color: #c6d9f1;
    color: $black;
    text-align: right;
    &:hover {
      cursor: pointer;
      background-color: $light-grey;
    }
  }

  .row-lt-gray {
    background-color: #ccc;
    color: $black;
  }

  .white-top-table-header > td {
    background-color: $white !important;
    border: 1px solid $white !important;
    color: #000;
    text-align: center;
  }

}

.table-editable {
  position: relative;

  tr > td {
   padding: 8px;
  }

  .exceed-sum {

    color: #dc3545;

    &:before {
      content: " ( ";
    }
    &:after {
      content: " ) ";
    }
  }
}

.header-column-width {
  width:100%;//fixed width
  max-width: 160px;
  min-width: 160px;
}

.dropdown-width {
  width: 100%;
}
