<ng-template #nomoney>
  <td class="text-right">-</td>
</ng-template>

<div class="row">
  <div class="col-12">
    <table class="GeneratedTable">
      <thead>
        <tr>
          <th>Appropriation</th>
          <th>Budget</th>
          <th>Cycle</th>
          <th>FY20</th>
          <th>FY21</th>
          <th>FY22</th>
          <th>FY23</th>
          <th>FY24</th>
          <th>FY25</th>
          <th>FY26</th>
          <th>FY27</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
