<ng-template #nomoney>
  <td class="text-right">-</td>
</ng-template>

<div class="row">
  <div class="col-12">
    <table class="GeneratedTable">
      <thead>
        <tr>
          <th>Appropriation</th>
          <th>Budget</th>
          <th>Cycle</th>
          <th>FY20</th>
          <th>FY21</th>
          <th>FY22</th>
          <th>FY23</th>
          <th>FY24</th>
          <th>FY25</th>
          <th>FY26</th>
          <th>FY27</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-12 mb-3">
    <div id="pr-funds" class="table-editable">
      <table class="pr-funds-table">
        <thead>
          <tr class="white-top-table-header font-italic">
            <td></td>
            <td></td>
            <td></td>
            <td>PY-1</td>
            <td>PY</td>
            <td>CY</td>
            <td>BY</td>
            <td>BY+1</td>
            <td>BY+2</td>
            <td>BY+3</td>
            <td>BY+4</td>
            <td>CTC</td>
          </tr>
          <tr>
            <th class="header-column-width">Appropriation</th>
            <th class="header-column-width">Budget</th>
            <th>Cycle</th>
            <th>FY16</th>
            <th>FY17</th>
            <th>FY18</th>
            <th>FY19</th>
            <th>FY20</th>
            <th>FY21</th>
            <th>FY22</th>
            <th>FY23</th>
            <th>>>FY23</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="row-lt-gray text-center" rowspan="3">RDT&amp;E</td>
            <td class="row-lt-gray text-center" rowspan="3">BA4</td>
            <td>PB18</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr>
            <td>POM19</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>

          </tr>
          <tr class="row-light">
            <td></td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr>
            <td class="row-lt-gray text-center" rowspan="3">RDT&amp;E</td>
            <td class="row-lt-gray text-center" rowspan="3">BA5</td>
            <td>PB18</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr>
            <td>POM19</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
          </tr>
          <tr class="row-light">
            <td></td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr class="row-lt-gray row-border-top font-weight-bold">
            <td class="row-lt-gray text-center" rowspan="3">PROC</td>
            <td class="row-lt-gray text-center" rowspan="3">PHM0001</td>
            <td class="cell-white font-weight-normal">PB18</td>
            <td class="text-right cell-white font-weight-normal">-</td>
            <td class="text-right cell-white font-weight-normal"></td>
            <td class="text-right cell-white font-weight-normal"></td>
            <td class="text-right cell-white font-weight-normal">41,179</td>
            <td class="text-right cell-white font-weight-normal">41,179</td>
            <td class="text-right cell-white font-weight-normal">-</td>
            <td class="text-right cell-white font-weight-normal">-</td>
            <td class="text-right cell-white font-weight-normal">-</td>
            <td class="text-right cell-white font-weight-normal">-</td>
          </tr>
          <tr>
            <td>POM19</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
            <td contenteditable="true" class="editable-field">-</td>
          </tr>
          <tr class="row-light">
            <td class="text-danger"></td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right"></td>
            <td class="text-right"><span class="exceed-sum">29,019</span></td>
            <td class="text-right"></td>
            <td class="text-right"><span class="exceed-sum">33,102</span></td>
            <td class="text-right"><span class="exceed-sum"></span></td>
            <td class="text-right"><span class="exceed-sum"></span></td>
            <td class="text-right"><span class="exceed-sum"></span></td>
          </tr>
          <tr class="row-lt-gray font-weight-bold">
            <td class="text-center medium-grey-cell" colspan="2" rowspan="3">Total Funds Request</td>
            <td>POM18 Baseline</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr class="row-lt-gray font-weight-bold">
            <td>POM19</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr class="row-lt-gray font-weight-bold">
            <td>Delta</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
            <td class="text-right text-danger">-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-10 mb-3">
    <fieldset>
      <legend>Add Funding Line #1</legend>
      <div class="row mb-3">
        <div class="col-2">
          <span class="form-group">
            <div class="mb-2 primary-label">Appropriation</div>
              <select class="form-control-sm dropdown-width">
               <option>RDT&amp;E</option>
             </select>
           </span>
        </div>
        <div class="col-2">
          <span class="form-group">
            <div class="mb-2 primary-label">BA/BLIN</div>
              <select class="form-control-sm dropdown-width">
               <option>BA7</option>
            </select>
          </span>
        </div>
        <div class="col-2">
          <span class="form-group">
            <div class="mb-2 primary-label">Item</div>
            <span class="form-group">
              <div class="mb-2 primary-label">Item Name</div>
            </span>
          </span>
        </div>
        <div class="col-2">
          <span class="form-group">
            <div class="mb-2 primary-label">OpAgency</div>
            <span class="form-group">
              <div class="mb-2 primary-label">OpAgency Name</div>
            </span>
          </span>
        </div>
        <div class="col-2">
          <span class="form-group">
            <div class="mb-2 primary-label">Program Element</div>
            <span class="form-group">
              <div class="mb-2 primary-label">Program Element Name</div>
            </span>
          </span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-10">
          <div id="pr-funding-line" class="table-editable">
            <table class="pr-funds-table">
              <thead>
                <tr>
                  <th>FY19</th>
                  <th>FY20</th>
                  <th>FY21</th>
                  <th>FY22</th>
                  <th>FY23</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td contenteditable="true" class="editable-field">-</td>
                  <td contenteditable="true" class="editable-field">-</td>
                  <td contenteditable="true" class="editable-field">-</td>
                  <td contenteditable="true" class="editable-field">8,077</td>
                  <td contenteditable="true" class="editable-field">10,898</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-2">
    <button class="btn btn-primary">
      <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
      Add Funding Line
    </button>
  </div>
</div>
