<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <img src="assets/img/user.png" alt="User">
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{ currentUser?.firstName }} {{ currentUser?.lastName }}
          </div>
          <div class="profile-usertitle-job">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">

      <!-- NOT EDITIING MODE-->
      <div *ngIf="!isdEditMode">

        <div class="card-header">
          User Information:
          <button class="btn-card-header" title="Edit" (click)="editMode()">
            <i class="fa fa-pencil icon-pad" aria-hidden="true"></i>
            Edit
          </button>
        </div>
        <div class="card-container">
          <ul>
            <li>
              <label>First Name:</label>
              {{ currentUser?.firstName }}
            </li>
            <li>
              <label>Last Name:</label>
              {{ currentUser?.lastName }}
            </li>
            <li>
              <label>Email:</label>
              {{currentUser?.communication.primaryEmail}}
            </li>
            <li>
              <label>Phone:</label>
              {{currentUser?.communication.primaryPhone}}
            </li>
          </ul>
        </div>

        <div class="card-header">
          Preferences:
        </div>
        <div class="card-container">
          <ul>
            <li>
              <label>Default Color:</label>
              {{ currentUser?.preferences.defaultColor }}
            </li>
            <li>
              <label>Clock:</label>
              {{ currentUser?.preferences.clock }}
            </li>
            <li>
              <label>Landing Page:</label>
              {{ currentUser?.preferences.landingPage }}
            </li>
          </ul>
        </div>
        <j-elevation [header]="header"></j-elevation>
      </div>

      <!-- EDITING MODE-->
      <div *ngIf="isdEditMode">
        <div class="card-header">
          User Information:
          <button *ngIf="isdEditMode" class="btn-card-header" title="Cancel" (click)="cancelEdit()">
            <i class="fa fa-ban icon-pad" aria-hidden="true"></i>Cancel
          </button>
          <button class="btn-card-header" title="Save" [disabled]="!currentUser.firstName || !currentUser.lastName || !currentUser.communication.primaryEmail || !currentUser.communication.primaryPhone" (click)="saveCurrentUser()">
            <i class="fa fa-floppy-o icon-pad" aria-hidden="true"></i>Save
          </button>
        </div>
        <div class="card-container">
          <ul>
            <li>
              <label>*First Name:</label>
              <input class="form-control form-input" type="text" [(ngModel)]="currentUser.firstName">
            </li>
            <li>
              <label>*Last Name:</label>
              <input class="form-control form-input" type="text" [(ngModel)]="currentUser.lastName">
            </li>
            <li>
              <label>*Email:</label>
              <input class="form-control form-input" [(ngModel)]="currentUser?.communication.primaryEmail" placeholder="value">
            </li>
            <li>
              <label>*Phone:</label>
              <input class="form-control form-input" [(ngModel)]="currentUser?.communication.primaryPhone" placeholder="value1">
            </li>
          </ul>
        </div>
        <div class="card-header">
          Preferences:
        </div>
        <div class="card-container">
          <ul>
            <li>
              <label>Default Color:</label>
              <input class="form-control form-input" type="text" [(ngModel)]="currentUser.preferences.defaultColor">
            </li>
            <li>
              <label>Clock:</label>
              <input class="form-control form-input" type="text" [(ngModel)]="currentUser.preferences.clock">
            </li>
            <li>
              <label>Landing Page:</label>
              <input class="form-control form-input" type="text" [(ngModel)]="currentUser.preferences.landingPage">
            </li>
          </ul>
        </div>
        <j-elevation [header]="header"></j-elevation>
        <div class="card-header mb-4">
          <button *ngIf="isdEditMode" class="btn-card-header" title="Cancel" (click)="cancelEdit()">
            <i class="fa fa-ban icon-pad" aria-hidden="true"> </i>Cancel
          </button>
          <button class="btn-card-header" title="Save" [disabled]="!currentUser.firstName || !currentUser.lastName || !currentUser.communication.primaryEmail || !currentUser.communication.primaryPhone" (click)="saveCurrentUser()">
            <i class="fa fa-floppy-o icon-pad" aria-hidden="true"> </i>Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
