<j-header></j-header>
<div class="container-fluid">
  <div class="row" *ngIf="header.isAuthenticated">
    <div class="col-md-2">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <img src="assets/img/user.png" alt="User">
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{ currentUser?.firstName }} {{ currentUser?.lastName }}
          </div>
          <div class="profile-usertitle-job">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">

      <!-- NOT EDITIING MODE-->
      <div *ngIf="!isdEditMode">

        <div class="card-header">
          User Information:
          <button class="btn-card-header" title="Edit" (click)="editMode()">
            <i class="fa fa-pencil icon-pad" aria-hidden="true"></i>
            Edit
          </button>
        </div>
        <div class="card-container">
          <ul>
            <li>First Name: {{ currentUser?.firstName }}</li>
            <li>Last Name: {{ currentUser?.lastName }}</li>
            <li>Email: {{currentUser?.communication.primaryEmail}}</li>
            <li>Phone: {{currentUser?.communication.primaryPhone}}</li>
            <li>Community: {{ currentUser?.currentCommunityId }} </li>
            <li>Organization: {{ currentUser?.organizationId }} </li>
          </ul>
        </div>

        <div class="card-header">
          Preferences:
        </div>
        <div class="card-container">
          <ul>
            <li>Default Color: {{ currentUser?.preferences.defaultColor }} </li>
            <li>Clock: {{ currentUser?.preferences.clock }} </li>
            <li>Landing Page: {{ currentUser?.preferences.landingPage }} </li>
          </ul>
        </div>
        <j-elevation [header]="header"></j-elevation>
      </div>

      <!-- EDITING MODE-->
      <div *ngIf="isdEditMode">
        <div class="card-header">
          User Information:
          <button *ngIf="isdEditMode" class="btn-card-header" title="Cancel" (click)="cancelEdit()">
            <i class="fa fa-ban icon-pad" aria-hidden="true"></i>Cancel
          </button>
          <button class="btn-card-header" title="Save" (click)="saveCurrentUser()">
            <i class="fa fa-floppy-o icon-pad" aria-hidden="true"></i>Save
          </button>
        </div>
        <div class="card-container">
          <ul>
            <li>
              First Name:
              <input class="form-control form-input" type="text" [(ngModel)]="currentUser.firstName">
            </li>
            <li>
              Last Name:
              <input class="form-control form-input" type="text" [(ngModel)]="currentUser.lastName">
            </li>
            <li>
              Email:
              <input class="form-control form-input" [(ngModel)]="currentUser?.communication.primaryEmail" placeholder="value">
            </li>
            <li>
              Phone:
              <input class="form-control form-input" [(ngModel)]="currentUser?.communication.primaryPhone" placeholder="value1">
            </li>
          </ul>
        </div>
        <div class="card-header">
          Preferences:
        </div>
        <div class="card-container">
          <ul>
            <li>Default Color:
              <input class="form-control form-input" type="text" [(ngModel)]="currentUser.preferences.defaultColor">
            </li>
            <li>Clock:
              <input class="form-control form-input" type="text" [(ngModel)]="currentUser.preferences.clock">
            </li>
            <li>Landing Page:
              <input class="form-control form-input" type="text" [(ngModel)]="currentUser.preferences.landingPage">
            </li>
          </ul>
        </div>
        <j-elevation [header]="header"></j-elevation>
        <div class="card-header">
          <button *ngIf="isdEditMode" class="btn-card-header" title="Cancel" (click)="cancelEdit()">
            <i class="fa fa-ban icon-pad" aria-hidden="true"> </i>Cancel
          </button>
          <button class="btn-card-header" title="Save" (click)="saveCurrentUser()">
            <i class="fa fa-floppy-o icon-pad" aria-hidden="true"> </i>Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
