<app-header></app-header>
<div class="container-fluid">
  <div class="row main-content">
    <div class="col-10">
      <p class="h5">Manage My Communities</p>
      <accordion>
        <accordion-group [isOpen]="isFirstOpen">
          <div accordion-heading>
              <i class="fa fa-th-list icon-pad" aria-hidden="true"></i>
            <span class="accordion-heading">My Current Communities</span>
          </div>
          <span class="badge badge-secondary float-right pull-right">* Indicates Default Community</span>
          <ul class="community-list">
            <li>
              <span class="default-community">* Community 1</span>
            </li>
            <li>
              Community 2
            </li>
            <li>
              Community 3
            </li>
            <li>
              Community 4
            </li>
          </ul>
          <form novalidate class="form-inline">
            <span class="form-group">
              <label class="mb-2 mr-sm-2">Change Default Community</label>
              <select class="form-control-sm mb-2 mr-sm-2">
               <option>Community 2</option>
               <option>Community 3</option>
               <option>Community 4</option>
              </select>
            </span>
            <span>
              <button class="btn btn-primary btn-sm mb-2">Change</button>
            </span>
          </form>
        </accordion-group>
      </accordion>
      <accordion>
        <accordion-group>
          <div accordion-heading>
              <i class="fa fa-plus-square-o icon-pad" aria-hidden="true"></i>
            <span class="accordion-heading">Join Community</span>
          </div>
          <p>Request to join a Community  <small>(Only 1 Community per request)</small></p>
          <form novalidate class="form-inline">
            <span class="form-group">
              <label class="mb-2 mr-sm-2">Select Community</label>
              <select class="form-control-sm mb-2 mr-sm-2">
               <option>Community 5</option>
               <option>Community 6</option>
               <option>Community 7</option>
              </select>
            </span>
            <span>
              <button class="btn btn-primary btn-sm mb-2">Send Request</button>
            </span>
            <span [hidden]="!formsubmitted">
              <div class="alert-success-group">
                <div class="alert-success alert-dismissable">
                  <strong>You will receive an email once your request is processed.</strong>
                  <button class="btn btn-default" (click)="done()">X</button>
                </div>
              </div>
            </span>
          </form>
        </accordion-group>
      </accordion>
      <accordion>
        <accordion-group>
          <div accordion-heading>
            <i class="fa fa-sign-out icon-pad" aria-hidden="true"></i>
            <span class="accordion-heading">Leave Community</span>
          </div>
          <p>Request to be removed from a Community  <small>(Only 1 Community per request)</small></p>
          <form novalidate class="form-inline">
            <span class="form-group">
              <label class="mb-2 mr-sm-2">Select Community</label>
              <select class="form-control-sm mb-2 mr-sm-2">
               <option>Community 2</option>
               <option>Community 3</option>
               <option>Community 4</option>
              </select>
            </span>
            <span>
              <button class="btn btn-primary btn-sm mb-2">Send Request</button>
            </span>
          </form>
          <span>
            <div class="alert-success-group">
              <div class="alert-success alert-dismissable">
                You will receive an email once your request is processed.
                <button type="button" class="close fade" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </span>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
