<j-header></j-header>
<div class="row main-content">
  <div class="col-md-12">
    <div class="row mb-4">
      <div class="col-md-7 col-sm-12">
        <span class="h5 mr-2">{{phase?.fy|FY}} - Appropriation Release for Program Execution Line(s)</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-8">
      </div>
      <div class="col-4">
        <button class="btn btn-primary pull-right" (click)="submit()" [disabled]="!table.tableok">Release</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-lg-2">
        <div class="form-group">
          <label>Select Event Type:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="etype" (change)="updatetable()">
            <option *ngFor="let t of subtypes" [ngValue]="t">{{t.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="form-group">
          <label>Select:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="other">
            <option value=""></option>
            <option [ngValue]="'1'">1</option>
            <option [ngValue]="'2'">2</option>
            <option [ngValue]="'3'">3</option>
            <option [ngValue]="'4'">4</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="form-group">
          <label>Event Long Name:</label>
          <label class="primary-label">{{etype?.description}}</label>
        </div>
        <div class="transaction-tags form-group">
            <input type="number" class="form-control-sm tag-number" placeholder="Tag N">
            <input type="text" class=" form-control-sm tag-text" placeholder="Tag T">
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div id="update-program-execution" class="table-editable">
          <app-execution-line-table
            [phase]="phase"
            [updatelines]="updatelines"
            [exelinefilter]="linefilter"
            [showAddProgramButton]="showAddProgramButton"
            [exeprogramfilter]="progfilter">
          </app-execution-line-table>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <span class="form-group">
          <label class="mb-1">Notes:</label>
          <textarea cols="30" rows="5" wrap="physical" class="form-control"[(ngModel)]="reason"></textarea>
        </span>
     </div>
   </div>
   <div class="row">
     <div class="col-4 mb-4">
       <form role="form" id="fileForm" target="uploadFrame" method="post" enctype="multipart/form-data" action="loadImage.php?task=file" onsubmit="return ZM.loadImage(this)">
         <label>Attach Document:</label>
         <div class="input-group input-group-sm">
           <input type="file" class="custom-file-input" placeholder="Choose file" name="uploadname" [ngModel]="fileToUpload?.name" readonly>
           <label class="custom-file-label" for="charges">Chose file</label>
         </div>
       </form>
     </div>
   </div>
  </div>
</div>
