<j-header></j-header>
<div class="row main-content">
  <div class="col-md-12">
    <div class="row mb-4">
      <div class="col-md-7 col-sm-12">
        <span class="h5 mr-2">{{phase?.fy|FY}} - Appropriation Release for Program Execution Line(s)</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <button class="btn btn-success pull-right" (click)="submit()" [disabled]="!table.tableok || isUploading">Release</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-lg-2" *ngIf="subtypes">
        <div class="form-group">
          <label>Select Event Type:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="etype" (change)="updatetable()">
            <option *ngFor="let t of subtypes" [ngValue]="t">{{t.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-lg-2" *ngIf="etype && 'CRA' === etype.name">
        <div class="form-group">
          <label>Select:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="other">
            <option [ngValue]="'1'">1</option>
            <option [ngValue]="'2'">2</option>
            <option [ngValue]="'3'">3</option>
            <option [ngValue]="'4'">4</option>
            <option [ngValue]="'5'">5</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="form-group">
          <label>Event Long Name:</label>
          <span class="font-weight-bold">{{etype?.description}}</span>
        </div>
        <!--
        <div class="transaction-tags form-group">
          <span><i class="fa fa-tag" aria-hidden="true"></i></span>
          <span><input type="number" class="form-control-sm tag-number" placeholder="Tag N"></span>
          <span><input type="text" class=" form-control-sm tag-text" placeholder="Tag T"></span>
          <span class="tag-bar">
            <span class="tag"><span><i class="fa fa-tag" aria-hidden="true"></i></span>tag name</span>
            <span class="tag tag-red"><span><i class="fa fa-tag" aria-hidden="true"></i></span>tag red</span>
          </span>
        </div>
        -->
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div id="update-program-execution" class="table-editable">
          <app-execution-line-table
            [phase]="phase"
            [updatelines]="updatelines"
            [exelinefilter]="linefilter"
            [showAddProgramButton]="showAddProgramButton"
            [exeprogramfilter]="progfilter">
          </app-execution-line-table>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <span class="form-group">
          <label class="mb-1">Notes:</label>
          <textarea cols="30" rows="5" wrap="physical" class="form-control"[(ngModel)]="reason"></textarea>
        </span>
     </div>
   </div>
    <div class="row mb-2">
      <div class="col-12">
        <fieldset class="file-upload">
          <legend>Attach File:</legend>
        <file-upload [area]="'execution'" (uploading)="onUploading($event)" (fileUploadEvent)="onFileUploaded($event)"></file-upload>
       </fieldset>
     </div>
   </div>
  </div>
</div>
