<j-header></j-header>
<div class="row main-content">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-7 col-sm-12 mb-4">
        <span class="h5 mr-2">FY18 - Appropriation Release for Program Execution Line(s)</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-8">
      </div>
      <div class="col-4 pull-right">
        <button class="btn btn-primary" (click)="submit()">Release</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-2">
        <div class="form-group">
          <label class="primary-label">Select Event Type:</label>
          <select class="form-control-sm dropdown-width">
            <option value=""></option>
            <option value="">CRA</option>
            <option value="">Appropriation</option>
          </select>
        </div>
      </div>
      <div class="col-1">
        <div class="form-group">
          <label class="primary-label">Select:</label>
          <select class="form-control-sm dropdown-width-small">
            <option value=""></option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
          </select>
        </div>
      </div>
      <div class="col-9">
         <div class="form-group">
          <label class="primary-label">Event Long Name:</label>
          <input class="form-control long-form-input">
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div id="update-program-execution" class="table-editable">
          <table class="execution-table table-striped">
            <tr class="execution-title font-weight-bold text-center">
              <th class="large-column text-left">
                <span>
                  <button class="btn btn-light">
                    <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                    to select target programs
                  </button>
                </span>
              </th>
              <th class="large-column">
                Execution Line
              </th>
              <th>
                TOA
              </th>
              <th>
                Released
              </th>
              <th>
                Amount
              </th>
              <th>
                Remove
              </th>
            </tr>
            <tr class="table-bordered">
              <td class="large-column">JEM Increment 1</td>
              <td class="large-column">JRDT&amp;E/BA4/IS4/5y</td>
              <td>1200</td>
              <td>1000</td>
              <td class="editable-field" contenteditable="true">100  </td>
              <td class="text-center">
                <span class="remove-pom-line" title="Remove">
                  <i class="fa fa-trash"></i>
                </span>
              </td>
            </tr>
            <tr class="table-bordered">
              <td class="large-column">JEM</td>
              <td class="large-column">JRDT&amp;E/BA4/IS5/5y</td>
              <td>1000</td>
              <td>929</td>
              <td class="editable-field" contenteditable="true">
                20
              </td>
              <td class="text-center">
                <span class="remove-pom-line" title="Remove">
                  <i class="fa fa-trash"></i>
                </span>
              </td>
            </tr>
            <tr class="table-bordered">
              <td class="large-column">Prox/Sub1/Sub2/Sub3</td>
              <td class="large-column">JRDT&amp;E/BA4/IS5/5y</td>
              <td>1000</td>
              <td>929</td>
              <td class="editable-field" contenteditable="true">25</td>
              <td class="text-center">
                <span class="remove-pom-line" title="Remove">
                  <i class="fa fa-trash"></i>
                </span>
              </td>
            </tr>
            <tr class="table-bordered">
              <td class="large-column">
                <select class="form-control-sm dropdown-width mb-2">
                  <option value="">Select Program</option>
                  <option>---</option>
                  <option>---</option>
                </select>
              </td>
              <td class="large-column">
                <select class="form-control-sm dropdown-width mb-2">
                  <option value="">Select Execution Line</option>
                  <option>---</option>
                  <option>---</option>
                </select>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center">
                <span class="remove-pom-line" title="Remove">
                  <i class="fa fa-trash"></i>
                </span>
              </td>
            </tr>
            <tr class="table-bordered">
              <td colspan="2" class="text-right">Total:</td>
              <td></td>
              <td></td>
              <td class="text-right">145 </td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-9">
        <span class="form-group">
          <label class="primary-label mb-1">Notes:</label>
          <textarea cols="30" rows="5" wrap="physical" class="form-control"></textarea>
        </span>
     </div>
   </div>
   <div class="row">
     <div class="col-6 mb-4">
       <form role="form" id="fileForm" target="uploadFrame" method="post" enctype="multipart/form-data" action="loadImage.php?task=file" onsubmit="return ZM.loadImage(this)">
         <label class="primary-label">Attach Document:</label>
         <div class="input-group input-group-sm">
           <input type="text" class="form-control form-input" placeholder="Choose file" name="uploadname" [ngModel]="fileToUpload?.name" readonly>
           <span class="input-group-btn">
             <span class="btn btn-secondary btn-file">
             Browse… <input type="file" name="file" accept="*.xlsx" (change)="handleFileInput($event.target.files)">
             </span>
           </span>
         </div>
       </form>
     </div>
   </div>
  </div>
</div>
