<ng-template #novalue>
  <span class="program-values">
    <i>None</i>
  </span>
</ng-template>

<ng-template #value let-area="area">
  <select [(ngModel)]="current.tags[area]" < name="{{area}}">
    <ng-container *ngIf="current.tags[area]">
      <!-- we have an area set, but check that we have a recognized value -->
    <option *ngIf="!tagnames.has(area) || (tagnames.has(area) && !tagnames.get(area).has(current.tags[area]))"
        [ngValue]="current.tags[area] ">{{current.tags[area]}} (Unknown value)</option>
    </ng-container>

    <option *ngFor="let t of tagnames.get(area) | mapAsList" [ngValue]="t.key" [attr.title]="t.value">{{t.value}}</option>
  </select>

  <!--span class="program-values" *ngIf="current?.tags[area] && tagnames.has( area ); else novalue">
    <ng-container *ngIf="tagnames.get( area ).has( current.tags[area] )">
      {{tagnames.get( area ).get( current.tags[area] )}}
    </ng-container>
    <ng-container *ngIf="!tagnames.get( area ).has( current.tags[area] )">
      {{current.tags[area]}} (Unknown value)
    </ng-container>
  </span-->
</ng-template>

<form *ngIf="current && tagnames">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-3">
              <div class="form-group inline-name mr-2">
                <label>ProgID</label>
                <input [(ngModel)]="current.shortName" class="program-values forminput" name="program-id">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group inline-name">
                <label>ProgName</label>
                <input [(ngModel)]="current.longName" class="program-values forminput" name="program-name">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group inline-name">
            <label>Parent Program for Subprogram</label>
            <span class="program-values" *ngIf="current?.parentId; else novalue">{{current.parentId}}</span>
          </div>
        </div>
        <div class="col-3">
          <span class="form-group inline-name">
            <label class="mb-1">Type of Subprogram</label>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Select Picture" aria-label="Broswe Picture" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <span class="input-group-text">Browse</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Capability</legend>
            <span class="form-group inline-name">
              <label class="mb-1">Primary Cap.</label>
              <ng-container *ngTemplateOutlet="value;context:{area:'Primary Capability'}"></ng-container>
             </span>
            <span class="form-group inline-name">
              <label>Core</label>
              <ng-container *ngTemplateOutlet="value;context:{area:'Core Capability Area'}"></ng-container>
            </span>
            <span class="form-group inline-name">
              <label>Secondary</label>
              <ng-container *ngTemplateOutlet="value;context:{area:'Secondary Capability'}"></ng-container>
            </span>
            <span class="form-group inline-name">
              <label>Tertiary</label>
              <ng-container *ngTemplateOutlet="value;context:{area:'Tertiary Capability'}"></ng-container>
            </span>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <fieldset>
          <legend>Area</legend>
            <span class="form-group inline-name">
              <label class="mb-1">Functional</label>
              <ng-container *ngTemplateOutlet="value;context:{area:'Functional Area'}"></ng-container>
            </span>
            <span class="form-group inline-name">
              <label class="mb-1">Medical Cat.</label>
              <ng-container *ngTemplateOutlet="value;context:{area:'Medical Category'}"></ng-container>
            </span>
            <span class="form-group inline-name">
              <label class="mb-1">NBC Cat.</label>
              <ng-container *ngTemplateOutlet="value;context:{area:'NBC Category'}"></ng-container>
            </span>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="form-group inline-name">
            <label>Emphasis</label>
            <ng-container *ngIf="current?.emphases && current?.emphases.length>0; else novalue">
              <span class="program-values" *ngFor="let e of current.emphases">{{e}}</span>
            </ng-container>
          </span>
          <span class="form-group inline-name">
            <label>BSV Nat. Strat.</label>
            <ng-container *ngTemplateOutlet="value;context:{area:'BSV National Strategy'}"></ng-container>
          </span>
          <span class="form-group inline-name">
            <label>DASD POM</label>
            <ng-container *ngTemplateOutlet="value;context:{area:'DASD CBD'}"></ng-container>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="form-group inline-name">
            <label class="mb-1">Lead Component</label>
            <ng-container *ngTemplateOutlet="value;context:{area:'Lead Component'}"></ng-container>
          </span>
          <span class="form-group inline-name">
            <label class="mb-1">Manager</label>
            <ng-container *ngTemplateOutlet="value;context:{area:'Manager'}"></ng-container>
          </span>
          <!--span class="form-group inline-name">
            <label class="mb-1">Branch</label>
            <select [(ngModel)]="current.branch" name="branch">
              <option [ngValue]="USA">Army</option>
              <option [ngValue]="USN">Navy</option>
              <option [ngValue]="USAF">Air Force</option>
              <option [ngValue]="USM">Marines</option>
              <option [ngValue]="USCG">Coast Guard</option>
            </select>
          </span-->
        </div>
      </div>
  <!--<div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-primary btn pull-left" disabled>Add Subprogram</button>
        </div>
      </div> -->
    </div>
    <div class="col-3">
      <div class="card border-light mb-3 text-center">
        <div class="img-placeholder">
          <img *ngIf="current?.imgLink" src="current.imgLink" />
          <i *ngIf="!current?.imgLink" class="fa fa-picture-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</form>
