<ng-container *ngIf="type === 'labelDropdown' && visible">
  <div class="pfm-dropdown-section">
    <div class="pfm-label">
      <label>{{ label }}</label>
    </div>
    <div class="pfm-dropdown">
      <select
        (ngModelChange)="handleSelectionChanged($event)"
        class="form-control"
        [(ngModel)]="selectedItem"
        [disabled]="disabled"
      >
        <option [disabled]="disablePrompt" value="{{ promptValue }}" *ngIf="showPrompt">{{ prompt }}</option>
        <option *ngFor="let option of options" [value]="option[fieldName]" [disabled]="option.disabled">
          {{ option[fieldLabel] }}</option
        >
      </select>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 'attatchmentDropdown' && visible">
  <div class="pfm-dropdown-section">
    <div class="pfm-dropdown col-12 p-0">
      <select
        (ngModelChange)="handleSelectionChanged($event)"
        class="form-control"
        [(ngModel)]="selectedItem"
        [disabled]="disabled"
      >
        <option disabled value="{{ prompt }}" *ngIf="showPrompt">{{ prompt }}</option>
        <option *ngFor="let option of options" [value]="option[fieldName]">{{ option[fieldLabel] }}</option>
      </select>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 'longLabelDropdown' && visible">
  <div class="pfm-dropdown-section">
    <div class="pfm-dropdown-long">
      <select
        (ngModelChange)="handleSelectionChanged($event)"
        class="form-control"
        [(ngModel)]="selectedItem"
        [disabled]="disabled"
      >
        <option disabled value="{{ prompt }}" *ngIf="showPrompt">{{ prompt }}</option>
        <option *ngFor="let option of options" [value]="option[fieldName]">{{ option[fieldLabel] }}</option>
      </select>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 'iconDropdown' && visible">
  <div [id]="id" ngbDropdown container="body" class="d-inline-block" [class.disabled]="disabled">
    <span class="icon-dropown" *ngIf="iconName" [title]="title">
      <button class="btn-blank" ngbDropdownToggle [disabled]="disabled">
        <fa-icon [icon]="iconName"></fa-icon>
      </button>
    </span>
    <div class="icon-select" ngbDropdownMenu>
      <span ngbDropdownItem class="icon-option" (click)="handleSelectionChanged(prompt)" *ngIf="showPrompt">{{
        prompt
      }}</span>
      <ng-container *ngFor="let option of options">
        <span ngbDropdownItem class="icon-option" (click)="handleSelectionChanged(option[fieldLabel])">
          {{ option[fieldLabel] }}
        </span>
      </ng-container>
    </div>
  </div>
</ng-container>
