.pfm-select{
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  margin-right: 10px;
}


option{
  background-color: #bbced7;
}

.icon-dropown{
  cursor: pointer;
}

.icon-dropown:hover{
  color: red;
}

fa{
  font-size: x-large;
}

.icon-select{

}

.icon-option:hover{
  color: white;
  background-color: #1E90FF;
}
