<ng-container *ngIf='type == "yearDropdown"'>
    <div class="pfm-select" style="width: 200px;">
            <label for="{{id}}">For: </label>
        <select
                (ngModelChange)="handleSelectionChanged($event)"
                [name]="id"
                [id]="id"
                class="form-control"
                [(ngModel)]="selectedItem">
            <option disabled value="{{prompt}}">{{prompt}}</option>
            <option *ngFor="let option of options" [value]="option[fieldName]">{{ option[fieldLabel] }}</option>
        </select>
    </div>
</ng-container>

<ng-container *ngIf='type == "attatchmentDropdown"'>
    <div class="pfm-select" style="width: 200px;">
        <label for="{{id}}"></label>
        <select
                (ngModelChange)="handleSelectionChanged($event)"
                [name]="id"
                [id]="id"
                class="form-control"
                [(ngModel)]="selectedItem">
            <option disabled value="{{prompt}}">{{prompt}}</option>
            <option *ngFor="let option of options" [value]="option[fieldName]">{{ option[fieldLabel] }}</option>
        </select>
    </div>
</ng-container>

<ng-container *ngIf='type == "iconDropdown"'>
    <div [id]="id" ngbDropdown container="body" class="d-inline-block">
        <span class="icon-dropown" *ngIf="iconName">
            <fa [name]="iconName" [title]="title" ngbDropdownToggle></fa>
        </span>
        <div class="icon-select" ngbDropdownMenu>
            <span ngbDropdownItem class="icon-option" (click)="handleSelectionChanged(prompt)">{{prompt}}</span>
            <ng-container *ngFor="let option of options">
                <span ngbDropdownItem class="icon-option" (click)="handleSelectionChanged(option[fieldLabel])">{{ option[fieldLabel] }}</span>
            </ng-container>
        </div>
    </div>
</ng-container>
