.pfm-dropdown-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pfm-label {
  display: flex;
  padding-right: 5px;
}

.pfm-dropdown{
  display: flex;
  width: 200px;
}

.pfm-dropdown-long{
  display: flex;
  width: 400px;
}

option{
  background-color: #bbced7;
}

.icon-dropown{
  cursor: pointer;
}

.icon-dropown:hover{
  color: red;
}

fa{
  font-size: x-large;
}

.icon-select{

}

.icon-option:hover{
  color: white;
  background-color: #1E90FF;
}
