<div class="form-group">

    <mat-form-field>
        <mat-label *ngIf="!selectedItem" [id]="id">{{prompt}}</mat-label>
        <mat-select [disabled]="disabled" [(value)]="selectedItem" (selectionChange)="handleSelectionChanged()">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let option of options">
                <mat-option [value]="option[fieldName]">{{option[fieldLabel]}}</mat-option>
            </ng-container>
        </mat-select>
        <div *ngIf="errorExists()" aria-required="true" class="form-alert alert-danger">
            {{errorMessage}}
        </div>
    </mat-form-field>
</div>
