<div class="row">
  <div *ngIf="pr.creationTimeType !== CreationTimeType.SUBPROGRAM_OF_PR" class="col-auto">
    <button class="btn btn-primary mb-3" (click)="addRow()">
      <span class="icon-pad">Add a new funding line</span>
    </button>
  </div>
  <div *ngIf="pr.creationTimeType === CreationTimeType.SUBPROGRAM_OF_PR" class="col-auto">
    <div class="dropdown-label">
      <select [(ngModel)]="selectedFundingLine" class="form-control-sm" name="dummy">
        <option value="null" disabled selected>Select a Funding Line</option>
        <option *ngFor="let fl of existingFundingLines" [ngValue]="fl">{{fl.appropriation + '/' + fl.baOrBlin + '/' + fl.item + '/' + fl.opAgency}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="pr.creationTimeType === CreationTimeType.SUBPROGRAM_OF_PR" class="col-auto">
    <button [disabled]="existingFundingLines?.length === 0 || selectedFundingLine === null" class="btn btn-primary mb-3" (click)="addParentFundingLine()">
      <span class="icon-pad">Add parent funding line</span>
    </button>
  </div>
</div>

<ag-grid-angular #agGrid
                 class="ag-theme-balham pr-funds-tab group-header-white"
                 [gridAutoHeight]="true"
                 [toolPanelSuppressSideButtons]="true"
                 [suppressMovableColumns]="true"
                 [suppressRowTransform]="true"
                 [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                 [showToolPanel]="false"
                 [enableSorting]="true"
                 [enableFilter]="true"
                 [rowData]="data"
                 [singleClickEdit]="true"
                 [pinnedBottomRowData]="pinnedBottomData"
                 [frameworkComponents]="frameworkComponents"
                 [components]="components"
                 [context]="context"
                 [stopEditingWhenGridLosesFocus]="true"
                 (columnVisible)="sizeColumnsToFit($event)"
                 (gridReady)="onGridReady($event)"
                 (cellEditingStarted)="onCellEditingStarted($event)">
</ag-grid-angular>
