<div class="row">
  <div class="col-12 mb-3">
    <div id="pr-funds" class="table-editable">
      <table class="pr-funds-table">
        <thead>
          <tr class="white-top-table-header font-italic">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>PY-1</td>
            <td>PY</td>
            <td>CY</td>
            <td>BY</td>
            <td>BY+1</td>
            <td>BY+2</td>
            <td>BY+3</td>
            <td>BY+4</td>
            <td>CTC</td>
          </tr>
          <tr>
            <th class="header-column-width">Appropriation</th>
            <th class="header-column-width">Budget</th>
            <th class="header-column-width">Item</th>
            <th class="header-column-width">OpAgency</th>
            <th>Cycle</th>
            <th>{{pomFy-3}}</th>
            <th>{{pomFy-2}}</th>
            <th>{{pomFy-1}}</th>
            <th>{{pomFy}}</th>
            <th>{{pomFy+1}}</th>
            <th>{{pomFy+2}}</th>
            <th>{{pomFy+3}}</th>
            <th>{{pomFy+4}}</th>
            <th>{{pomFy+5}}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of (rows | mapAsList: 'values')">
          <tr>
            <td class="row-lt-gray text-center" rowspan="3">{{row.appropriation}}</td>
            <td class="row-lt-gray text-center" rowspan="3">{{row.blin}}</td>
            <td class="row-lt-gray text-center" rowspan="3">{{row.item}}</td>
            <td class="row-lt-gray text-center" rowspan="3">{{row.opAgency}}</td>
            <td>PB{{pbFy-2000}}</td>
            <td class="text-right">{{row.pbFunds.get(pomFy-3) | dashForZero}}</td>
            <td class="text-right">{{row.pbFunds.get(pomFy-2) | dashForZero}}</td>
            <td class="text-right">{{row.pbFunds.get(pomFy-1) | dashForZero}}</td>
            <td class="text-right">{{row.pbFunds.get(pomFy) | dashForZero}}</td>
            <td class="text-right">{{row.pbFunds.get(pomFy+1) | dashForZero}}</td>
            <td class="text-right">{{row.pbFunds.get(pomFy+2) | dashForZero}}</td>
            <td class="text-right">{{row.pbFunds.get(pomFy+3) | dashForZero}}</td>
            <td class="text-right">{{row.pbFunds.get(pomFy+4) | dashForZero}}</td>
            <td class="text-right">-</td>
          </tr>
          <tr>
            <td>POM{{pomFy-2000}}</td>
            <td class="text-right">{{row.prFunds.get(pomFy-3) | dashForZero}}</td>
            <td class="text-right">{{row.prFunds.get(pomFy-2) | dashForZero}}</td>
            <td class="text-right">{{row.prFunds.get(pomFy-1) | dashForZero}}</td>
            <td contenteditable="true" class="editable-field" digits (blur)="onedit($event.target.textContent, row.appropriation, row.blin, pomFy)">{{row.prFunds.get(pomFy)}}</td>
            <td contenteditable="true" class="editable-field" digits (blur)="onedit($event.target.textContent, row.appropriation, row.blin, pomFy+1)">{{row.prFunds.get(pomFy+1)}}</td>
            <td contenteditable="true" class="editable-field" digits (blur)="onedit($event.target.textContent, row.appropriation, row.blin, pomFy+2)">{{row.prFunds.get(pomFy+2)}}</td>
            <td contenteditable="true" class="editable-field" digits (blur)="onedit($event.target.textContent, row.appropriation, row.blin, pomFy+3)">{{row.prFunds.get(pomFy+3)}}</td>
            <td contenteditable="true" class="editable-field" digits (blur)="onedit($event.target.textContent, row.appropriation, row.blin, pomFy+4)">{{row.prFunds.get(pomFy+4)}}</td>
            <td contenteditable="true" class="editable-field">-</td>
          </tr>
          <tr class="row-light">
            <td>Total</td>
            <td class="text-right">{{row.totalFunds.get(pomFy-3) | dashForZero}}</td>
            <td class="text-right">{{row.totalFunds.get(pomFy-2) | dashForZero}}</td>
            <td class="text-right">{{row.totalFunds.get(pomFy-1) | dashForZero}}</td>
            <td class="text-right">{{row.totalFunds.get(pomFy) | dashForZero}}</td>
            <td class="text-right">{{row.totalFunds.get(pomFy+1) | dashForZero}}</td>
            <td class="text-right">{{row.totalFunds.get(pomFy+2) | dashForZero}}</td>
            <td class="text-right">{{row.totalFunds.get(pomFy+3) | dashForZero}}</td>
            <td class="text-right">{{row.totalFunds.get(pomFy+4) | dashForZero}}</td>
            <td class="text-right">{{row.totalFunds.get(pomFy+5) | dashForZero}}</td>
          </tr>
          </ng-container>

          <tr class="row-lt-gray font-weight-bold">
              <td class="text-center medium-grey-cell" colspan="4" rowspan="3">Total Funds Request</td>
              <td>PB{{pbFy-2000}}</td>
              <td class="text-right" *ngFor="let year of [-3, -2, -1, 0, 1, 2, 3, 4]">
                {{totals( pomFy+year, 'POM' ) | dashForZero}}
              </td>
              <td class="text-right">-</td>
            </tr>
            <tr class="row-lt-gray font-weight-bold">
              <td>POM{{pomFy-2000}}</td>
              <td class="text-right" *ngFor="let year of [-3, -2, -1, 0, 1, 2, 3, 4]">
                {{totals( pomFy+year, 'UFR' ) | dashForZero}}
              </td>
              <td class="text-right">-</td>
            </tr>
            <tr class="row-lt-gray font-weight-bold">
              <td>Total</td>
              <ng-container *ngFor="let year of [-3, -2, -1, 0, 1, 2, 3, 4]">
                <td [ngClass]="{'text-right':true, 'text-danger': totals(pomFy+year)<0 }">{{totals( pomFy+year, 'TOTAL') | dashForZero}}</td>
              </ng-container>
              <td class="text-right text-danger">-</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-10 mb-3">
    <fieldset>
      <legend>Add Funding Line</legend>
      <div class="row mb-3">
        <div class="col-2">
          <span class="form-group">
            <div class="mb-2 primary-label">Appropriation</div>
            <select class="form-control-sm dropdown-width" [(ngModel)]="appropriation">
              <option *ngFor="let a of appropriations" [ngValue]="a">{{a}}</option>
            </select>
          </span>
        </div>
        <div class="col-2">
          <span class="form-group">
            <div class="mb-2 primary-label">BA/BLIN</div>
            <select class="form-control-sm dropdown-width" [(ngModel)]="blin">
              <option *ngFor="let b of getBlins();first as first" [selected]="first">{{b}}</option>
            </select>
          </span>
        </div>
        <div class="col-2">
          <span class="form-group">
            <div class="mb-2 primary-label">Item</div>
            <span class="form-group">
              <input class="mb-2 form-control forminput" [(ngModel)]="item">
            </span>
          </span>
        </div>
        <div class="col-2">
          <span class="form-group">
            <div class="mb-2 primary-label">OpAgency</div>
            <select class="form-control-sm dropdown-width" [(ngModel)]="opAgency">
              <option *ngFor="let c of agencies">{{c}}</option>
            </select>
          </span>
        </div>
        <div class="col-2">
          <span class="form-group">
            <div class="mb-2 primary-label">Program Element</div>
            <span class="form-group">
              <input class="mb-2 form-control forminput">
            </span>
          </span>
        </div>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="addFundingLine()" [disabled]="!(item)">
          <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
          Add Funding Line
        </button>
      </div>
    </fieldset>
    <j-feedback></j-feedback>
  </div>
</div>
