$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-grey: #eae9e9;
$medium-grey: #dddddd;
$dark-grey: #848282;

fieldset { padding: 20px;}


.table-editable {
  position: relative;

  th {
    padding: 8px;
  }

  tr > td {
   padding: 8px;
  }

  .exceed-sum {

    color: #dc3545;
  }
}

.pr-funds-table {
  background-color: $white;
  border-collapse: collapse;
  color: $black;

  thead {
    color: $white;
  }

  th {
    border: $grey-border;
    padding: 2px 10px;
    font-weight: 500;
    width: 110px;
    min-width: 110px;
    text-align: center;
    background-color: $primary-color;
  }

  td {
    border: $grey-border;
    padding: 2px 10px;
    width: 110px;
    min-width: 110px;
  }

  thead tr {
    display:block;
  }

  thead tr td {
    padding: 2px 10px;
    width: 110px;
    min-width: 110px;
    content: '';
  }

  tbody  {
    width: 100%;
    display: block;
    padding: 0;
    height: 100px;
    overflow: auto; //set tbody to auto
  }

  ::-webkit-scrollbar {
      width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  .medium-grey-cell {
    background-color: $medium-grey;
  }

  .row-light {
    background-color: $light-grey;
    color: $black;
  }

  .editable-field {
    background-color: #c6d9f1;
    color: $black;
    text-align: right;
    &:hover {
      cursor: pointer;
      background-color: $light-grey;
    }
  }

  .row-lt-gray {
    background-color: #ccc;
    color: $black;
  }

  .white-top-table-header > td {
    background-color: $white !important;
    border: 1px solid $white !important;
    color: #000;
    text-align: center;
  }
}

.dropdown-width {
  width: 100%;
}
