<div class="row">
  <div class="col-sm-12">
      <div *ngIf="pr.type !== ProgramType.GENERIC" class="col-auto">
          <button class="btn btn-primary mb-3" (click)="addRow()" [disabled]='!addFundingLineOk()'>
            <span class="mr-2">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </span>
            <span>Add a new funding line</span>
          </button>
          <button class="btn btn-primary" (click)="back()" [disabled]="c == 0 ? 'disabled' : ''"><i class="fa fa-chevron-left" aria-hidden="true"></i>
          </button>
          <button class="btn btn-primary arrow-btn" (click)="forword()"  [disabled]="c == fundArr.length  ? 'disabled' : ''"><i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
  </div>
  <!-- Line Chart -->
 <!-- <div class="row">
  <div class="col-md-2 left-arrow">
    <button class="arrow-btn btn btn-primary" (click)="back()" [disabled]="c == 0 ? 'disabled' : ''"><i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
  </div>
  <div class="col-md-8">
    <google-chart [data]="tooltipChart"></google-chart>
  </div>
  <div class="col-md-2 right-arrow">
    <button class="btn btn-primary" (click)="forword()"  [disabled]="c == fundArr.length  ? 'disabled' : ''"><i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
  </div>
 </div> -->
 <!-- <div class="row">
   
 </div> -->
 <div style="padding-left: 120px">
    <google-chart [data]="tooltipChart"></google-chart>
 </div>
  <div *ngIf="pr.type === ProgramType.GENERIC" class="col-auto">
    <div class="dropdown-label">
      <select [(ngModel)]="selectedFundingLine" class="form-control-sm" name="dummy">
        <option value="null" disabled selected>Select a Funding Line</option>
        <option *ngFor="let fl of existingFundingLines" [ngValue]="fl">{{fl.appropriation + '/' + fl.baOrBlin + '/' + fl.item + '/' + fl.opAgency}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="pr.type === ProgramType.GENERIC" class="col-auto">
    <button [disabled]="existingFundingLines?.length === 0 || selectedFundingLine === null" class="btn btn-primary mb-3" (click)="addParentFundingLine()" [disabled]='!addFundingLineOk()'>
      <span class="icon-pad">Add parent funding line</span>
    </button>
  </div>
</div>
<ag-grid-angular #agGrid
                 *ngIf="pr.type !== ProgramType.GENERIC"
                 class="ag-theme-balham pr-funds-tab group-header-white"
                 domLayout="autoHeight"
                 [gridOptions]="agOptions"
                 [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                 [rowData]="data"
                 [pinnedBottomRowData]="pinnedBottomData"        
                 [components]="components"
                 (columnVisible)="sizeColumnsToFit($event)"
                 (toolPanelVisibleChanged)="sizeColumnsToFit($event)"
                 (gridReady)="onGridReady($event)"
                 (cellEditingStarted)="onCellEditingStarted($event)">
</ag-grid-angular>
<fieldset *ngIf="pr.type === ProgramType.GENERIC">
  <legend>{{pr.shortName}} funding lines</legend>
  <ag-grid-angular #agGrid
                   class="ag-theme-balham pr-funds-tab group-header-white"
                   domLayout="autoHeight"
                   [gridOptions]="agOptions"
                   [overlayNoRowsTemplate]="overlayNoRowsTemplate"                   
                   [rowData]="data"                   
                   [pinnedBottomRowData]="pinnedBottomData" 
                   [components]="components"                  
                   (columnVisible)="sizeColumnsToFit($event)"
                   (gridReady)="onGridReady($event)"
                   (cellEditingStarted)="onCellEditingStarted($event)">
  </ag-grid-angular>
</fieldset>

<fieldset *ngIf="showParentInformation" style="position:relative; margin-top:30px">
  <legend>Parent Information</legend>
  <button class="close-button" (click)="closeParentInformation()">
    <i class="fa fa-close"></i>
  </button>
  <ag-grid-angular #agGridParent
                   *ngIf="parentData"
                   class="ag-theme-balham pr-funds-tab group-header-white" 
                   domLayout="autoHeight"
                   [gridOptions]="ngOptionsInformation"                 
                   [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                   [rowData]="parentData"
                   [components]="components"
                   (columnVisible)="sizeColumnsToFit($event)"
                   (gridReady)="onParentGridReady($event)">
  </ag-grid-angular>
</fieldset>

<fieldset *ngIf="showSiblingsInformation" style="position:relative; margin-top:30px">
  <legend>Siblings Information</legend>
  <button class="close-button" (click)="closeSiblingsInformation()">
    <i class="fa fa-close"></i>
  </button>
  <ag-grid-angular #agGridSiblings
                   *ngIf="siblingsData?.length > 0"
                   class="ag-theme-balham pr-funds-tab group-header-white"  
                   domLayout="autoHeight"
                   [gridOptions]="ngOptionsInformation"             
                   [overlayNoRowsTemplate]="overlayNoRowsTemplate"
                   [rowData]="siblingsData"
                   [pinnedBottomRowData]="pinnedSiblingsBottomData"
                   [components]="components"
                   (columnVisible)="sizeColumnsToFit($event)"
                   (gridReady)="onSiblingsGridReady($event)">
  </ag-grid-angular>
</fieldset>
