<div class="row mb-2">
  <div class="col-10">
    <button class="btn btn-primary" (click)="addRow()">
      <span class="mr-2">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </span>
      <span class="mr-1">Add New Entry</span>
    </button>
  </div>
  <div class="col-2">
    <a routerLink="/r4A/{{selectedPE}}/{{selectedItem}}" target="_blank"><button class="btn btn-primary pull-right">Preview</button></a>
  </div>
</div>
<div class="row mb-2">
  <div class="col-9">
    <ag-grid-angular #agGrid
                     class="ag-theme-balham r4a-grid"
                     domLayout="autoHeight"
                     [gridOptions]="agOptions"
                     [columnDefs]="columnDefs"
                     [rowData]="rowData"
                     [rowSelection]="'single'"
                     (selectionChanged)="onSelectionChanged($event)"
                     (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
