<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-12">
      <div class="row">
        <div class="col-6" id="program-request">
          <div class="h5 mb-4">Unfunded Request {{ current.id }}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="pull-right mb-2" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <span>
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                  </span>
                  <span>
                    <a href="#" routerLink="/ufr-search">back to UFR Request</a>
                  </span>
                </li>
              </ol>
          </div>
          <div class="pull-right ufr-controls">
            <span>
              <button class="btn btn-secondary">Save</button>
            </span>
            <span>
              <button class="btn btn-success">Submit</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row main-content">
      <div class="col-lg-10 col-md-12">
        <tabset class="ufr-tab-style" role="tablist">
          <tab heading="UFR" id="tab1">
            <ufr-tab [current]="current" role="tabpanel"></ufr-tab>
          </tab>
          <tab heading="Program" id="tab2">
            <ufr-metadata [current]="current" role="tabpanel"></ufr-metadata>
          </tab>
          <tab heading="Funds" id="tab3">
            <ufr-funds [current]="current" role="tabpanel"></ufr-funds>
          </tab>
          <tab heading="Proc. Qty" id="tab4">
             <ufr-variants [current]="current" role="tabpanel"></ufr-variants>
          </tab>
          <tab heading="Justification" id="tab5">
            <ufr-justification [current]="current" role="tabpanel"></ufr-justification>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
