<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-md-12">
      <div class=row>
        <div class="col-md-10">
          <div class="h5 mr-sm-4">Unfunded Request {{ current.id }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <tabset class="program-tab-style">
            <tab heading="Program" id="tab1">
              <ufr-progmetas [current]="current"></ufr-progmetas>
            </tab>
            <!--tab heading="Funds" id="tab2">
              <funds [current]="current"></funds>
            </tab>
            <tab heading="Variants" id="tab3">
              <variants [current]="current"></variants>
            </tab-->
            <!-- <tab heading="Execution" id="tab4">
              <div class="row col-md-12">
                <div class="card-container">
                </div>
              </div>
            </tab>
            <tab heading="Schedule" id="tab5">
              <div class="row col-md-12">
                <div class="card-container">
                </div>
              </div>
            </tab>
            <tab heading="Justification" id="tab6">
              <div class="row col-md-12">
                <div class="card-container">
                </div>
              </div>
            </tab> -->
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
