<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated && ufr">
    <div class="col-12">
      <div class="row">
        <div class="col-8" id="program-request">
          <div class="h5 mb-4">POM {{pomFy}} - UFR Request {{ ufrNumber }} for {{ufrType()}}</div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="pull-right mb-2" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <span>
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                  </span>
                  <span>
                    <a href="#" routerLink="/ufr-search">back to UFR Requests</a>
                  </span>
                </li>
              </ol>
          </div>
          <div class="pull-right ufr-controls" *ngIf="canedit">
            <span>
              <button class="btn btn-primary" (click)="save()" [disabled]="isNotSavable()">Save</button>
            </span>
            <span>
              <button class="btn btn-success" (click)="submit()" [disabled]="isNotSubmittable()">Submit</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row main-content">
      <div class="col-12">
        <tabset class="ufr-tab-style" role="tablist">
          <tab heading="UFR" id="tab1">
            <ufr-ufr-tab [readonly]="readonly()" [ufr]="ufr" [editable]="canedit" role="tabpanel"></ufr-ufr-tab>
          </tab>
          <tab heading="Program" id="tab2">
            <ufr-program-tab [ufr]="ufr" [shorty]="shorty" [editable]="canedit" role="tabpanel"></ufr-program-tab>
          </tab>
          <tab (select)="fundsTabSelected()" heading="Funds" active="true" id="tab3">
            <ufr-funds-tab [readonly]="readonly()" [ufr]="ufr" [fy]="pomFy" [editable]="canedit" role="tabpanel"></ufr-funds-tab>
          </tab>
          <tab heading="Variants" id="tab4">
             <ufr-variants-tab [readonly]="readonly()" [ufr]="ufr" [editable]="canedit" role="tabpanel"></ufr-variants-tab>
          </tab>
          <tab heading="Justification" id="tab5">
            <ufr-justification-tab [readonly]="readonly()" [ufr]="ufr" [editable]="canedit" role="tabpanel"></ufr-justification-tab>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
