<div class="row main-content">
  <div class="col-lg-5 col-sm-10">
    <div class="card-header">
       This is user {{ id }}
    </div>
    <div class="card-container">
      This page will have content that is customized for the user.
    </div>
  </div>
  <div class="col-lg-5 col-sm-10">
    <div class="card-header">
       Reports
    </div>
    <div class="card-container">
      This page will have content that is customized for the user.
    </div>
  </div>
  <div class="col-2 col-md-2">
  </div>
  <div class="col-lg-5 col-sm-10">
    <div class="card-header">
      Reports
    </div>
    <div class="card-container">
      <div><button class="btn btn-danger" (mouseover)="fireEvent($event)">Mouseover Event</button></div>
    </div>
  </div>
  <div class="col-lg-5 col-sm-10">
    <div class="card-header">
      Favorite Links
    </div>
  <div class="card-container">
    <span class="add-link" (click)="fireEvent($event)"> <i class="fa fa-plus" aria-hidden="true"></i> Add Link</span>
  </div>
  </div>
  <div class="col-2 col-md-2">
  </div>
</div>
