$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-grey: #eae9e9;
$medium-grey: #dddddd;
$dark-grey: #848282;
$color-black: #000;

.main-content {
  width: 100%;
  padding: 0;
  margin-top: 10px;

}

.fa-star {
  &.blue {
    color: #4290f5;
  }

  &.green {
    color: #16c32b;
  }


  &.red {
    color: #fb3f4b;
  }

  &.indigo {
    color: #6223a6;
  }

  &.pink {
    color: #d925aa;
  }
}

.single-row{
  display: flex;
  background-color: #fcfcfc;
}

.card {
  color: #000;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0,0,0,.05), 0 0 0 1px rgba(63,63,68,.1);
  padding: 10px;
  border: none;
 
  .header {
    padding: 10px 10px 0;
    color: #7c7c7c;
    font-weight: 300;
    font-size: 22px;
    padding: 5px;
  }

  .title {
    margin: 0;
    color: #7c7c7c;
    font-size: 16px;
    font-weight: 400;
  }

  .content {
    padding: 5px;
    font-size: 16px;
    color: #7c7c7c;
  }

  ul {
    list-style: none !important;
    width: 90%;
    margin: 0;
    

      list-style: none !important;
      text-align: left;
      margin: 0 0 0 -20px;
  
      &:not(:last-child) {
        border-bottom: 1px solid $white;
      }
    }
  }

  .footer{
    padding: 0;
    background-color: transparent;
    font-size: 12px;
    line-height: 20px;
    
    .legend{
        padding: 5px 0;
    }
    
    hr{
        margin-top: 5px;
        margin-bottom: 5px;
    }
  }
  
  .stats{
      color: #a9a9a9;
  }
  
  .footer div {
      display: inline-block;
  }

  .author{
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
  }

  .author i{
      font-size: 1rem;;
  }

.framework {
  padding: 0 5px; 
  list-style: none;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;

  li:first-child {
     font-weight:700;
  }

   li:last-child {
      border-bottom: 1px solid $light-grey;
  }
}

.table {
 
  .radio,
  .checkbox{
       position: relative;
       height: 20px;
       display: block;
       width: 20px;
       padding: 0px 0px;
       margin: 0px 5px;
       text-align: center;
       
       .icons{
           left: 5px;
       }
  }

  .text-info {
      color: $primary-color !important;
      opacity: .8;
      &:hover {
          opacity: 1;
      }
  }
  .text-danger {
      color: red;
      opacity: .8;
      &:hover {
          opacity: 1;
      }

  .fa {
      font-size: 14px;
      margin-bottom: 3px;

      }
  }
  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td{
      padding: 12px 8px;
      vertical-align: middle;
  }
  
   > thead > tr > th{
       font-size: 12px;
       color: #f4f5f7;
       font-weight: normal;
       padding-bottom: 5px;
   }

  .td-actions .btn {
       opacity: .7;
       border-radius: 20px !important;
   
       &.btn-xs{
           padding-left: 3px;
           padding-right: 3px;
       }
   }
   .td-actions{
       min-width: 90px;
   }
   
   > tbody > tr {
       position: relative;
       
       &:hover{
           .td-actions .btn {
               opacity: 1;
           }
       }

      td {
          border-bottom: #f4f5f7;
          -webkit-font-smoothing: antialiased;
          font-weight: 400;
      }
   }
} 

.status {
  font-size: 12px;
  margin-left: 20;
  font-style: italic;

  &.green {
    color: #0d7a16;
  }

  &.red {
    color: #fb3f4b;
  }
}

.time-stamp {
  font-size: 12px;
  margin-left: 20;
  font-style: italic;
  color: #a9a9a9;
}



// .heading {
//   font-size: 1rem;
//   text-transform: uppercase;
//   color: $color-black;
// }

// .heading-span {
//   font-size: 1rem;
//   font-family: inherit;
//   color: inherit;
//   margin: 0 auto;
//   font-weight: 300;
//   padding: 4px 10px;
//   border-radius: 2px;
//   width: 94%;
//   background-color: rbga($white, 0.6);
//   // border: none;
//   // border-bottom: 3px solid transparent;
//   display: block;

//   &-blue {
//       border-bottom: 3px solid $primary-color;
//   }
// }


//  .card-header {
//   float: left;
//   height: 40px;
//   width: 100%;
//   border-radius: 5px 5px 0 0;
//   padding: 0px 20px;
//   font-size: 1rem;
//   line-height: 2.4rem;
// }

// .card-container {
//   height: 200px;
//   width: 100%;
//   margin-bottom: 10px;
//   overflow: auto;
//   color: #000;
//   padding: 10px;
// }

// .add-link {
//   padding: 10px;
//   color: #000;
//   font-size: 12px;
//   font-weight: bold;
//   float: right;
//   clear: both;
//   cursor: pointer;
// }

// .add-link:hover {
//   text-decoration: none;
// }

// .add-link > i {
//   font-size: .8rem;
//   font-weight: bold;
//   cursor: pointer;
// }

// ul.card-container-list {
//   padding: 10px;
//   margin: 10px;
//   color: #000;
//   font-size: .9rem;
//   font-weight: normal;
//   list-style: none;
// }

// .card-container-list > a {
//   font-size: .9rem;
//   font-weight: normal;
//   cursor: pointer;
// }
