<app-header title="JSCBIS Login"></app-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isloggedin">
    <div class="row main-content">
      <div class="col-8">
        <div class="card-header">
          Roles
        </div>
        <div class="card-container">
          <table class="table table-bordered table-list">
            <tbody>
              <tr>
                <td align="left" width=180>
                  <label><i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i> Add New Role</label>
                </td>
                <td><input class="form-control role" />
                </td>
              </tr>
              <tr>
              <td align="left">
                <label><i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i> Add New Funtion</label>
              </td>
              <td><input class="form-control function" /></td>
            </tr>
            <tr>
              <td></td>
              <td align="left">
                <div class="controls">
                  <button class="btn btn-default">Cancel</button>
                  <button class="btn btn-primary">Submit</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
