<app-header title="JSCBIS Login"
  [isUserLoggedIn]="true"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="profile-sidebar">
        <div class="profile-userpic">
				      <img src="assets/img/user.png" alt="User">
        </div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
					 {{ pexUser.cn }}
					</div>
					<div class="profile-usertitle-job">
						Developer
					</div>
				</div>
			</div>
    </div>
    <div class="col-md-9">
        <div class="card-header">
          Communications:
        </div>
        <div class="card-container">
          <ul>
            <li *ngFor="let comm of pexUser.communications">
            <span><i class="fa fa-pencil-square" aria-hidden="true"></i></span>
            {{ comm.type }} {{ comm.subtype }} {{ comm.value }} {{ comm.confirmed }} {{ comm.preferred }}
            </li>
          </ul>
        </div>
        <div class="card-header">
           User Information:
        </div>
        <div class="card-container">
          <ul>
            <li>First Name: <span class="">{{ pexUser.firstName }}</span></li>
            <li>Last Name: {{ pexUser.lastName }}</li>
            <li>CN: {{ pexUser.cn }}</li>
            <li>password: {{ pexUser.password }}</li>
            <li>Account non-expired: {{ pexUser.accountNonExpired }}</li>
            <li>Account non-locked: {{ pexUser.accountNonLocked }}</li>
            <li>Credentials non-exipred: {{ pexUser.credentialsNonExpired }}</li>
            <li>Account Enabled: {{ pexUser.enabled }}</li>
            <li>Community: {{ pexUser.organization }}</li>
            <li>Authorities:
                <ul>
                  <li *ngFor="let auth of pexUser.authorities">
                    {{ auth.authority }}
                  </li>
                </ul>
            </li>
          </ul>
        </div>
        <div class="card-header">
          Preferences:
        </div>
        <div class="card-container">
          <ul>
            <li> defaultColor: {{ pexUser.preferences.defaultColor }} </li>
            <li> clock: {{ pexUser.preferences.clock }} </li>
            <li> landingPage: {{ pexUser.preferences.landingPage }} </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
