<app-header title="JSCBIS Login"
  [isUserLoggedIn]="true"></app-header>
<div class="container-fluid">
  <div class="row main-content">
    <div class="col-lg-12 col-sm-5">
      <div class="main-content">
        <div class="well">
        <h1>{{name}}</h1>
        <ul>
          <li>Age: {{age}}</li>
          <li>Email: {{email}}</li>
          <li>{{address.street}} {{address.city}}, {{address.state}}</li>
        </ul>

        <!-- <button class="btn btn-success" (click)="onClick()">Click Me</button> -->
        <hr>
        <h1>Hobbies</h1>
        <hr>
        <form (submit)="addHobby(hobby.value)">
          <div>
            <label for="hobby">Hobby:</label>
            <input type="text" #hobby>
          </div>
        </form>

        <ul class="list-group">
          <li class="list-group-item" *ngFor="let hobby of hobbies; let i = index">
            {{i + 1}}: {{hobby}}
            <button class="btn btn-danger delete" (click)="deleteHobby(i)">x</button>
          </li>
        </ul>
    </div>
  </div>
</div>
