<j-header></j-header>
<div class="container-fluid">
  <div class="col-md-12">
    <div class="row">
      <div class="col-10 mb-4">
        <span class="h5 mr-2">Approve Requests</span>
        <span class="h6 font-bold">({{ requests?.length }})</span>
      </div>
    </div>
  </div>
  <div class="row main-content">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time Stamp</th>
            <th>Type</th>
            <th>Originator</th>
            <th>Approve/Deny</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests">
            <td>{{request.date | date:'MM/dd/yyyy'}}</td>
            <td>{{request.date | date:'h:mma'}}</td>
            <td><a href="{{request.link}}">{{request.approveRequestsPageType}}</a></td>
            <td>{{request.name}}</td>
            <td>
              <div class="controls">
                <button class="btn btn-primary" (click)="approve(request)">Approve</button>
                <button class="btn btn-danger" (click)="deny(request)">Deny</button>
              </div>
            </td>
          </tr>
          <tr *ngFor="let prChangeNotification of prChangeNotifications">
            <td></td>
            <td></td>
            <td>PR Change</td>
            <td>{{prChangeNotification?.shortName}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <ag-grid-angular #agGrid
        class="ag-theme-balham group-header-white approve-requests"
        [showToolPanel]="false"
        [enableSorting]="true"
        [enableFilter]="true"
        [gridAutoHeight]="true"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [suppressRowTransform]="true"
        [suppressPaginationPanel]="true"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
    </div>
  </div>
</div>
