$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-grey: #f7f7f7;
$medium-grey: #dddddd;
$dark-grey: #848282;

.table {
  width: 100%;

  th {
    vertical-align: bottom;
    font-weight: bold;
    background-color: $medium-grey;
  }

  .filters tr {
    vertical-align: bottom;
    font-weight: bold;
  }
}

.filterable {
  margin-top: 15px;
  width: 100%;
}

.filterable .panel-heading .pull-right {
  margin-top: -20px;
}

.filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
  color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
  color: #333;
}

.message {
  text-align: center;
}
