.table {
  width: 100%;

  thead {
    font-weight: bold;
    border: 1px #ccc solid;
    background-color: #f5f5f5;
    vertical-align: bottom;
    font-weight: bold;
  }

  th, td {
    width: 25%;
  }
}

.message {
  text-align: center;
}

.approve-requests {

}
