<j-header></j-header>
<div class="row main-content">
  <div class="col-12">
    <div class="row mb-4">
      <div class="col-lg-7 col-md-12">
        <span class="h5 mr-2">{{phase?.fy|FY}} - Charges to Program Execution Line(s)</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-8">
        <span class="form-group mr-3">
          <label class="primary-label">From</label>
          <select class="form-control-sm dropdown-year-width mb-2" name="yeardropdown">
            <option></option>
            <option>2018</option>
          </select>
        </span>
        <!--span class="form-group">
          <label class="execution-titles">{{fullname(current)}}</label>
        </span-->
      </div>
      <div class="col-4">
        <button class="btn btn-primary pull-right" (click)="submit()">Charge</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 col-lg-2">
        <div class="form-group">
          <label class="primary-label">Select Event Type:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="type" (change)="updatedropdowns()">
            <option *ngFor="let t of types|mapAsList" [ngValue]="t.key">{{t.value}}</option>
          </select>

          <label class="primary-label">Select Event Subtype:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="etype">
            <option *ngFor="let t of subtypes" [ngValue]="t">{{t.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 col-lg-2">
        <div class="form-group">
         <label class="primary-label">Additional ID's</label>
         <input class="form-control form-input-medium" [(ngModel)]="other">
        </div>
      </div>
      <div class="col-md-12 col-lg-8">
         <div class="form-group">
          <label class="primary-label">Event Long Name:</label>
          <label class="primary-label">{{etype?.description}}</label>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div id="charges-execution-lines" class="table-editable">
          <app-execution-line-table [phase]="phase" [updatelines]="updatelines"></app-execution-line-table>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <span class="form-group">
          <label class="primary-label mb-1">Notes:</label>
          <textarea cols="30" rows="5" wrap="physical" class="form-control" [(ngModel)]="reason"></textarea>
        </span>
     </div>
   </div>
   <div class="row">
     <div class="col-4 mb-4">
       <form role="form" id="fileForm" target="uploadFrame" method="post" enctype="multipart/form-data" action="loadImage.php?task=file" onsubmit="return ZM.loadImage(this)">
         <label class="primary-label">Attach Document:</label>
         <div class="input-group input-group-sm">
           <input type="file" class="custom-file-input" placeholder="Choose file" name="file" accept="*.xlsx" (change)="handleFileInput($event.target.files)">
           <label class="custom-file-label" for="charges">Chose file</label>
         </div>
       </form>
     </div>
   </div>
  </div>
</div>
