<j-header></j-header>
<div class="row main-content">
  <div class="col-12">
    <div class="row mb-4">
      <div class="col-lg-7 col-md-12">
        <span class="h5 mr-2">{{phase?.fy|FY}} - Charges to Program Execution Line(s)</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-8">
        <!-- placeholder -->
      </div>
      <div class="col-4">
        <button class="btn btn-primary pull-right" (click)="submit()" [disabled]="!table.tableok">Charge</button>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6 col-lg-2">
        <div class="form-group">
          <label>Select Event Type:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="type" (change)="updatedropdowns()">
            <option *ngFor="let t of types|mapAsList" [ngValue]="t.key">{{t.value}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <label>Select Event Subtype:</label>
        <select class="form-control-sm dropdown-width" [(ngModel)]="etype" (change)="updatedropdowns2()">
          <option *ngFor="let t of subtypes" [ngValue]="t">{{t.name}}</option>
        </select>
      </div>
      <div class="col-md-6 col-lg-2" *ngIf="showotherN || showotherT">
        <div class="form-group">
         <label>Transaction Tag</label>
         <input class="form-control form-input-medium" [(ngModel)]="other" *ngIf="showotherT">
         <select class="form-control-sm dropdown-width" [(ngModel)]="other" *ngIf="showotherN">
            <option [ngValue]="'1'">1</option>
            <option [ngValue]="'2'">2</option>
            <option [ngValue]="'3'">3</option>
            <option [ngValue]="'4'">4</option>
            <option [ngValue]="'5'">5</option>
          </select>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
         <div class="form-group">
          <label class="mr-2">Event Long Name:</label>
          <label class="primary-label">{{etype?.description}}</label>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div id="charges-execution-lines" class="table-editable">
          <app-execution-line-table
            [phase]="phase" 
            [updatelines]="updatelines"
            [exevalidator]="validator">
          </app-execution-line-table>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <span class="form-group">
          <label class="mb-1">Notes:</label>
          <textarea cols="30" rows="5" wrap="physical" class="form-control" [(ngModel)]="reason"></textarea>
        </span>
     </div>
   </div>
   <div class="row">
     <div class="col-4 mb-4">
       <form role="form" id="fileForm" target="uploadFrame" method="post" enctype="multipart/form-data" action="loadImage.php?task=file" onsubmit="return ZM.loadImage(this)">
         <label>Attach Document:</label>
         <div class="input-group input-group-sm">
           <input type="file" class="custom-file-input" placeholder="Choose file" name="file" accept="*.xlsx" (change)="handleFileInput($event.target.files)">
           <label class="custom-file-label" for="charges">Chose file</label>
         </div>
       </form>
     </div>
   </div>
  </div>
</div>
