<app-header></app-header>
<div class="container-fluid">
  <div class="row main-content">
    <div class="col-10">

      <div class="error" [innerHTML]="header.message"></div>

      <p class="h5">Manage My Communities</p>
      <fieldset>
        <legend>My Communities</legend>
        <j-current [memberOfCommunities]="memberOfCommunities" [user]="user" [header]="header"></j-current>
      </fieldset>
      <fieldset>
        <legend>Join Community</legend>
        <j-request [allCommunities]="communitiesToJoin" [service]="joinCommunityRequestsService" [user]="user" [header]="header"></j-request>
      </fieldset>
      <fieldset>
        <legend>Leave Community</legend>
        <j-request [allCommunities]="communitiesToLeave" [service]="leaveCommunityRequestsService" [user]="user" [header]="header"></j-request>
      </fieldset>
    </div>
  </div>
</div>
