<div *ngIf="elevationService.elevatedBoolean || ( roles?.includes('User_Approver') ); else disableAdminMenu">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
    <div class="dropdown-menu" aria-labelledby="dropdown03">
      <a *ngIf="roles?.includes('User_Approver')" class="dropdown-item" href="#" routerLink="/approve-requests">Approve Requests</a>
      <div class="dropdown-divider"></div>
      <a *ngIf="elevationService.elevatedBoolean" class="dropdown-item" href="#" routerLink="/manage-communities">Manage Communities</a>
      <a *ngIf="elevationService.elevatedBoolean" class="dropdown-item" href="#" routerLink="/user-list">Manage Users</a>
      <a *ngIf="elevationService.elevatedBoolean" class="dropdown-item" href="#" routerLink="/roles">Manage Roles</a>
    </div>
  </li>
</div>
<ng-template #disableAdminMenu>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle disabled-style" id="dropdown02" disabled>Admin</a>
  </li>
</ng-template>
