<span class="dropdown show actions-menu">
  <a class="super-user dropdown-toggle" href="#" role="button" inumberOfNotificationsd="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="icon-wrapper">
      POM Actions
      <i class="fa fa-bell" aria-hidden="true"></i>
      <span class="badge" *ngIf="prChangeNotifications?.length > 0">{{prChangeNotifications?.length}}</span>
    </div>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
    <div *ngFor="let prChangeNotification of prChangeNotifications">
      <a class="dropdown-item">
        {{prChangeNotification?.shortName}}
      </a>
    </div>
  </div>
</span>
