<div class="row mb-4">
    <div class="col-10">
        <span class="mr-2">
        <label>Select a Program Element:</label>
        </span>
        <span class="mr-2">
            <select [(ngModel)]="selectedPE" class="form-control-sm" (change)="onPESelected()">
                <option value="undefined" disabled selected>Select PE</option>
                <option *ngFor="let pe of pes" [ngValue]="pe">{{pe}}</option>
            </select>
        </span>
        <span class="mr-2">
            <ng-container *ngIf="selectedPE">  
                <select [(ngModel)]="selectedItem" class="form-control-sm" (change)="onItemSelected()">
                    <option value="undefined" disabled selected>Select</option>
                    <option *ngFor="let item of items" [ngValue]="item">{{item}}</option>
                </select>
            </ng-container>
        </span>
    </div>
</div>
<ng-container *ngIf="selectedPE && selectedItem">
    <div class="row">
        <div class="col-12">
            <label class="mb-2">Please enter "Mission Description and Budget Item Justification" (Optional)</label>
            <div class="form-group">
                <textarea [disabled]='readonly' cols="50" rows="4" wrap="physical" class="form-control" name="missionDescription" [(ngModel)]="r2adata.missionDescription"></textarea>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6">
            <label class="mt-1">Specify "Other Program Funding Summaries"</label>
        </div>
        <div class="col-6">
            <div class="pull-right">
                <span class="mt-1 add-item">
                    <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i> 
                </span>
                <span class="mr-2">
                    <label>Add Item:</label>
                </span>
                <span>
                    <select [(ngModel)]="relatedItem" class="form-control-sm" (change)="onRelatedItemSelected()">
                        <option value="undefined" disabled selected>Select Item</option>
                        <option *ngFor="let item2 of allItems" [ngValue]="item2">{{item2}}</option>
                    </select>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="relatedItems">
                <thead>
                    <th>Remove</th>
                    <th>Selected Item Code</th>
                    <th>Item Name</th>
                </thead>
                <tbody>
                    <tr *ngFor="let iiii of relatedItems">
                    <td><button class="buttonaslist" (click)="removeRelated(iiii)"><i class="fa fa-trash"></i></button></td>
                    <td>{{iiii}}</td>
                    <td>{{getItemDescription(iiii)}}</td>
                    </tr>
                </tbody>
             </table>
         </div>
    </div>
</ng-container>