<app-header></app-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isloggedin">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-7 mb-4">
          <span class="h5">Programmatic Request - For Existing or Requested Program</span>
        </div>
        <div class="col-md-3">
          <div class="pull-right">
            <span>
                <button class="btn btn-success btn-sm">
                <i class="fa fa-floppy-o icon-pad" aria-hidden="true"></i>
                Save
              </button>
            </span>
            <span>
              <button class="btn btn-default btn-sm mr-sm-2">
                <i class="fa fa-times icon-pad" aria-hidden="true"></i>
              Close</button>
            </span>
            <span>
              <button class="btn-primary btn-sm">
                <i class="fa fa-paper-plane icon-pad" aria-hidden="true"></i>
                Submit
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <span class="form-group">
            <label class="badge badge-light mr-sm-4"><h6>Program ID</h6></label>
          </span>
          <span class="form-group">
            <label class="badge badge-light mr-sm-4"><h6>Program Name Selected</h6></label>
          </span>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
    <div class="row main-content">
      <div class="col-md-10">
        <tabset>
          <tab heading="Program" id="tab1">
            <program-tab></program-tab>
          </tab>
          <tab heading="Funds" id="tab2">
            <funds-tab></funds-tab>
          </tab>
          <tab heading="Proc. Qty" id="tab3">
            <proc-qty-tab></proc-qty-tab>
          </tab>
          <tab heading="Schedule" id="tab4">
            <schedule-tab></schedule-tab>
          </tab>
          <tab heading="Justification" id="tab5">
            <justification-tab></justification-tab>
          </tab>
          <tab heading="Summary" id="tab6">
            <summary-tab></summary-tab>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
