<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-3 mb-4">
          <span class="h5">Programmatic Request - For Existing or Requested Program</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-7">
          <div class="pull-right">
            <span>
                <button class="btn btn-success btn">
                <i class="fa fa-floppy-o icon-pad" aria-hidden="true"></i>
                Save
              </button>
            </span>
            <span>
              <button class="btn-primary btn">
                <i class="fa fa-paper-plane icon-pad" aria-hidden="true"></i>
                Submit
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-2">
          <span class="form-group">
            <label class="badge badge-light mr-sm-4"><h6>Program ID</h6></label>
          </span>
          <span class="form-group">
            <label class="badge badge-light mr-sm-4"><h6>Program Name Selected</h6></label>
          </span>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
    <div class="row main-content">
      <div class="col-lg-10 col-md-12">
        <tabset class="program-tab-style">
          <tab heading="Program" id="tab1">
            <program-tab></program-tab>
          </tab>
          <tab heading="Funds" id="tab2">
            <funds-tab></funds-tab>
          </tab>
          <tab heading="Proc. Qty" id="tab3">
            <proc-qty-tab></proc-qty-tab>
          </tab>
          <tab heading="Justification" id="tab4">
            <justification-tab></justification-tab>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
