.line {
    fill: none;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}


/* Style the dots by assigning a fill and stroke */
.dot {
  fill: rgb(4, 35, 53);
  stroke: #fff;
}

.line-expplan {
  stroke: #f67d03;
  stroke-width: 3;
}

.dot-expplan {
  fill: #f67d03;
  display:none;
}

.line-obgplan {
  stroke: #1158ab;
  stroke-width: 3;
}

.line-realobg {
  stroke: #f12b25;
  stroke-width: 3;
}

.dot-realobg {
  fill: #f12b25;
}

.line-realexp {
  stroke: #008d45;
  stroke-width: 3;
}

.dot-realexp {
  fill: #008d45;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.dot-obgplan {
  fill: #1158ab;
  display:none;
}

.legend-item {
  list-style: none;
  margin-left: -40px;
}

.legend-item-expplan {
  color: #f67d03;

  span.legend-text {
    color: #000;
  }
}

.legend-item-obgplan {
  color: #1158ab;

  span.legend-text {
    color: #000;
  }
}

.legend-item-realobg {
  color: #f12b25;

  span.legend-text {
    color: #000;
  }
}

.legend-item-realexp {
  color: #008d45;

  span.legend-text {
    color: #000;
  }
}
