.line {
    fill: none;
}

.overlay {
  fill: none;
  pointer-events: all;
}


/* Style the dots by assigning a fill and stroke */
.dot {
  fill: rgb(4, 35, 53);
  stroke: #fff;
}

.line-expplan {
  stroke: orange;
  stroke-width: 3;
}

.dot-expplan {
  fill: orange;
  display:none;
}

.line-obgplan {
  stroke: blue;
  stroke-width: 3;
}

.line-realobg {
  stroke: red;
  stroke-width: 3;
}

.dot-realobg {
  fill: red;
}

.line-realexp {
  stroke: green;
  stroke-width: 3;
}

.dot-realexp {
  fill: green;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.dot-obgplan {
  fill: blue;
  display:none;
}

.legend-item {

  list-style: none;
  margin-left: -40px;
}

.legend-item-expplan {
  color: orange;

  span.legend-text {
    color: #000;
  }
}

.legend-item-obgplan {
  color: blue;

  span.legend-text {
    color: #000;
  }
}

.legend-item-realobg {
  color: red;

  span.legend-text {
    color: #000;
  }
}

.legend-item-realexp {
  color: green;

  span.legend-text {
    color: #000;
  }
}
