<app-header></app-header>
<div class="single-row">
  <menu-bar [authUser]="authUser"></menu-bar>
  <div class="row main-content">
    <div class="col-12">
      <div class="row">
        <div class="col-12 mb-4">
          <span class="h5 mr-2">Create Execution Phase FY</span>
          <span>
            <select class="form-control-sm dropdown-year-width mb-2" [(ngModel)]="budget">
              <option *ngFor="let budget of budgetsReadyForExecutionPhaseCreation" [ngValue]="budget">{{budget.fy}}</option>
             </select>
           </span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
          <div class="h6">Upload OUSD Goals by selecting local Excel file:</div>
          <div class="input-group">
            <input type="text" class="form-control form-input mr-1" placeholder="Choose file" name="uploadname" [ngModel]="fileToUpload?.name" readonly>
            <span class="input-group-btn">
              <span class="btn btn-secondary btn-file">
              Browse… <input type="file" name="file" accept="*.xlsx" (change)="handleFileInput($event.target.files)">
              </span>
            </span>
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-primary pull-right mt-4" (click)="submit()" [disabled]="!( budget && fileToUpload )">Create Phase</button>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="h6">Progress Report:</div>
          <fieldset class="mb-3">
            <div *ngIf="spinner" class="loader"></div>
            {{error}}
          </fieldset>
        </div>
      </div>
    </div>
  </div>  
</div>
