<j-header></j-header>
<div class="row main-content">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-7 col-sm-12 mb-4">
        <span class="h5 mr-2">Create Execution Phase for FY</span>
        <span>
          <select class="form-control-sm dropdown-year-width mb-2" [(ngModel)]="modelpb">
            <option *ngFor="let pb of yearpblkp|mapAsList" [value]="pb.value">{{pb.key}}</option>
           </select>
         </span>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mb-4">
        <form role="form" id="fileForm" target="uploadFrame" method="post" enctype="multipart/form-data" action="loadImage.php?task=file" onsubmit="return ZM.loadImage(this)">

          <div class="h6">Upload DoD Goals by selecting local Excel file:</div>
          <div class="input-group">
            <input type="text" class="form-control form-input mr-1" placeholder="Choose file" name="uploadname" [ngModel]="fileToUpload?.name" readonly>
            <span class="input-group-btn">
              <span class="btn btn-secondary btn-file">
              Browse… <input type="file" name="file" accept="*.xlsx" (change)="handleFileInput($event.target.files)">
              </span>
            </span>
      			<!-- <span class="input-group-btn">
      				<button class="btn btn-gray" type="submit">Ok</button>
      			</span> -->
      		</div>
      	</form>
      </div>
    </div>
    <div class="row">
      <div class="col-8  mb-4">
        <button class="btn btn-primary pull-right" (click)="submit()" [disabled]="!( modelpb && fileToUpload )">Create Phase</button>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="h6">Progress Report:</div>
        <fieldset class="mb-3">
          {{message}}
        </fieldset>
      </div>
    </div>
  </div>
</div>
