<div class="header" [class.elevated]="elevationService.elevatedBoolean">
  <div class="container-fluid">
    <div class="row main-content">
      <div class="col-6">
        <span class="dod-logo">
          <a href="#" routerLink="/home">
            <img src="assets/img/JSCBIS-logo-55x.png">
          </a>
        </span>
        <div class="header-title">
          JSCBIS :: <span class="current-community">{{authUser.currentCommunity?.abbreviation}}</span>
        </div>
      </div>
      <div class="col-6 col-md-3">
      </div>
      <div class="col-6 col-md-8">
      </div>
    </div>
    <div class="row header-items">
      <div class="col-6 col-md-6">
        <div class="sub-title">
          Supporting the Nuclear, Chemical, and Biological (NCB) Enterprise
        </div>
      </div>
      <div class="col-6 col-md-2">
      </div>
      <div class="col-6 col-md-4">
        <span class="dropdown show">
          <a class="super-user dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <!-- <a class="dropdown-item" href="#" routerLink="/home">Documentation</a>
            <a class="dropdown-item" href="#" routerLink="/home">Library</a>
            <a class="dropdown-item" href="#" routerLink="/home">Support Request</a> -->
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" routerLink="/about-private">About Us</a>
          </div>
        </span>
        <span class="dropdown show">
          <a class="super-user dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ authUser?.fullName }}
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
          <div *ngIf="authUser.rolenames.includes('User')" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="/user/self">My Profile</a>
            <a class="dropdown-item" href="#" routerLink="/my-community">My Communities</a>
            <a class="dropdown-item" href="#" routerLink="/my-roles">My Roles</a>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- private header for user login -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programming</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#" routerLink="/select-program-request">Program Request</a>
          <a *ngIf="elevationService.elevatedBoolean" class="dropdown-item" href="#" routerLink="/exporter">POM Import/Export</a>
          <hr/>
          <a class="dropdown-item" href="#" routerLink="/create-new-pom" [disabled]="pomIsOpen">Create POM Session</a>
          <a class="dropdown-item" href="#" routerLink="/update-pom-session">Update POM Session</a>
          <a class="dropdown-item" href="#" routerLink="/worksheet-management">Worksheet Mgmt</a>
          <!--<a class="dropdown-item" href="#" routerLink="/home">Submit Funds Request</a>
          <a class="dropdown-item" href="#" routerLink="/planning">Planning Session</a>
          <a class="dropdown-item" href="#" routerLink="/home">Approve Fund Request</a>
          <a class="dropdown-item" href="#" routerLink="/home">Create/Update Program Schedule</a>
          <a class="dropdown-item" href="#" routerLink="/home">Create/Update Program Justificaton</a>
          <a class="dropdown-item" href="#" routerLink="/home">Summary of Request</a>
          <a class="dropdown-item" href="#" routerLink="/home">Create UFR</a>
          <a class="dropdown-item" href="#" routerLink="/home">Generate POM Submission</a-->
        </div>
      </li>
      <li class="nav-item">
        <a style="color:#6994b9;" class="nav-link" href="#" routerLink="/home">Budget</a>
      </li>
      <li class="nav-item">
        <a style="color:#6994b9;" class="nav-link" href="#" routerLink="/home">Execution</a>
      </li>
      <li class="nav-item dropdown">
        <a style="color:#6994b9;" class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
        <!-- <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" href="#" routerLink="/home">Planning</a>
          <a class="dropdown-item" href="#" routerLink="/home">Execution</a>
          <a class="dropdown-item" href="#" routerLink="/home">Budget</a>
          <a class="dropdown-item" href="#" routerLink="/home">Programs</a>
          <a class="dropdown-item" href="#" routerLink="/home">System</a>
        </div> -->
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
        <div class="dropdown-menu" aria-labelledby="dropdown06">
          <div class="dropdown-header">Programs</div>
          <a class="dropdown-item" href="#" routerLink="/program-search">View Program</a>
          <a class="dropdown-item" style="color:#6994b9 !important; background-color:#24527b; !important;" href="#" routerLink="/home" disable>Edit Program</a>
          <a class="dropdown-item" style="color:#6994b9 !important; background-color:#24527b; !important;" href="#" routerLink="/home" disable>Create Program</a>
          <div class="dropdown-header" style="color:grey !important;">UFRs</div>
          <a class="dropdown-item" href="#" routerLink="/ufr-search" [disabled]="!pomIsOpen">Requests</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a *ngIf="authUser.rolenames.includes('User_Approver')" class="dropdown-item" href="#" routerLink="/approve-requests">Approve Requests</a>
          <div class="dropdown-header">Administrative</div>
          <a *ngIf="elevationService.elevatedBoolean" class="dropdown-item" href="#" routerLink="/manage-communities">Manage Communities</a>
          <a *ngIf="elevationService.elevatedBoolean" class="dropdown-item" href="#" routerLink="/user-list">Manage Users</a>
          <a *ngIf="elevationService.elevatedBoolean" class="dropdown-item" href="#" routerLink="/roles">Manage Roles</a>
          <a *ngIf="authUser.rolenames.includes('User_Approver')" class="dropdown-item" href="#" routerLink="/not-implemented">Manage Roles</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-3">
    <span class="dropdown show actions-menu" *ngIf="authUser.rolenames.includes('User_Approver')">
      <a class="super-user dropdown-toggle" href="#" role="button" inumberOfNotificationsd="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="icon-wrapper">
          Actions
          <i class="fa fa-bell" aria-hidden="true"></i>
          <span class="badge" *ngIf="requests?.length > 0">{{requests?.length}}</span>
        </div>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
          <div *ngFor="let request of requests">
            <ng-template #tipContent><strong>{{request?.type}}</strong><br/>{{request?.name}}</ng-template>
            <a class="dropdown-item" href="#" routerLink="{{request.link}}" [ngbTooltip]="tipContent">
              {{request?.date | date:'MM/dd/yyyy @ h:mma'}}
            </a>
          </div>
      </div>
    </span>
  </div>

</nav>
