<div class="header" [class.elevated]="elevationService.elevatedBoolean">
  <div class="container-fluid">
    <div class="row header-content">
      <div class="col-6">
        <span class="dod-logo">
          <a href="#" routerLink="/home">
            <img src="assets/img/pfm-white-logo.png">
          </a>
        </span>
        <div class="header-title">
          PFM ::
          <span class="current-community">{{authUser.currentCommunity?.abbreviation}}</span>
        </div>
      </div>
      <div class="col-6 col-md-3">
      </div>
      <div class="col-6 col-md-8">
      </div>
    </div>
    <div class="row header-items">
      <div class="col-6 col-md-6">
        <div class="sub-title">
          Supporting the Chemical, Biological, Radiological and Nuclear (CBRN) Enterprise
        </div>
      </div>
      <div class="col-6 col-md-2">
      </div>
      <div class="col-6 col-md-4">

        <!-- About Menu -->
        <span class="dropdown show">
          <a class="super-user dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="/about-private">About Us</a>
            <a class="dropdown-item" routerLink="/library">Library</a>
          </div>
        </span>

        <!-- User Menu -->
        <span class="dropdown show">
          <a class="super-user dropdown-toggle" href="#" role="button"  id="dropdownMenuLink" inumberOfNotificationsd="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="icon-wrapper" *roles="'User'">
              {{ authUser?.fullName }}
              <i class="fa fa-bell" aria-hidden="true"></i>
              <span *roles="'User_Approver,Funds_Requestor'">
                <span class="badge" *ngIf="(requests?.length + prChangeNotifications?.length) > 0">{{requests?.length + prChangeNotifications?.length}}</span>
              </span>
            </div>
          </a>
          <div *roles="'User'" class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
            <a class="dropdown-item" routerLink="/user/self">My Profile</a>
            <a class="dropdown-item" href="#" routerLink="/my-community">My Communities</a>
            <a class="dropdown-item" href="#" routerLink="/my-roles">My Roles</a>
            <div *roles="'User','User_Approver,Funds_Requestor'">
              <a class="dropdown-item" href="#" routerLink="/approve-requests">My Notifications</a>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- <menu-bar [authUser]="authUser"></menu-bar> -->
