body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.banner {
  background: -webkit-linear-gradient(#325F96, #083361);
  background: -o-linear-gradient(#325F96, #083361);
  background: -moz-linear-gradient(#325F96, #083361);
  background: linear-gradient(#325F96, #083361);
}

.header {
  &.elevated {
    background: -webkit-linear-gradient(#f4d742, #f45c42);
    background: -o-linear-gradient(#f4d742, #f45c42);
    background: -moz-linear-gradient(#f4d742, #f45c42);
    background: linear-gradient(#f4d742, #f45c42);
  }
  background: -webkit-linear-gradient(#325F96, #083361);
  background: -o-linear-gradient(#325F96, #083361);
  background: -moz-linear-gradient(#325F96, #083361);
  background: linear-gradient(#325F96, #083361);
  color: #fff;
  height: 96px;
}

.header-items {
  margin-top: -10px;
}

.dod-logo {
  float: left;
  padding: 10px 0 0 0;
  cursor: pointer;
}

.header-title {
  float: left;
  margin: 10px 0 0 14px;
  font-size: 1.5rem;
}

.current-community {
  color: #e8e6e6;
}

@media (max-width: 960px) {
  .header {
    color: #fff;
    height: 96px;
  }
}

.sub-title {
  float: left;
  margin-left: 85px;
  font-size: 15px;
  color: #708CA7;
  font-style: italic;
}

@media (max-width: 960px) {
  .sub-title {
    font-size: 12px;
  }
}

.external-links {
  float: right;
  margin: 10px;
  border: 0px white solid;
}

.external-links > a >img {
  height: 20px;
  padding-right: 1px;
}

.strike {
  text-decoration: line-through;
}

.super-user {
  color: #fff;
  font-size: 14px;
  float: right;
  padding: 0 10px 10px;
}

.super-user:hover {
  color: #708CA7;
  text-decoration: none;
}

.super-user > i {
  padding: 0 5px;
  font-size: 20px;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #23527c !important;
  padding: 0 10px;
  margin-bottom: 1.4rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 14px;
}

.navbar {
  padding: 0rem;
}

li.nav-item {
  border-right: 1px solid rgba(92, 124, 152, 0.36);
}

ul.navbar-nav>li.nav-item:first-child {
  border-right: 1px solid rgba(92, 124, 152, 0.36);
}

ul.navbar-nav>li.nav-item:last-child {
  border-right: none;
}

nav a {
  color: #fff;
  padding: 10px 20px !important;
  border-right: #fff;
  font-size: 15px;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

nav a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

nav a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

nav a:not([href]):not([tabindex]):focus {
  outline: 0;
}

nav a:hover {
  color: #ffffff !important;
  background: #23527c;
  cursor: pointer;
  text-decoration: none;
}

nav a:not([href]):not([tabindex]) {
    color: #708CA7 !important;

    text-decoration: none;
    cursor: disable;
    cursor: not-allowed;
  }

a.dropdown-item {
  color: #24537b !important;
}

.actions-menu {
  top: 41px;
  left: 152px;
  width: 200px;
}

.icon-wrapper {
  position: relative;
  float: left;
  margin-right: 10px;
}

*.icon-blue {
  color: #0088cc
}

*.icon-grey {
  color: grey
}

.icon-wrapper>i.fa .fa-bell {
  width: 20px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.badge {
  background: rgba(0, 0, 0, 0.5);
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: -13px;
  right: -15px;
  padding: 5px;
}

:host >>> .tooltip-inner {
  width: 400px;
  background-color: #29577e !important;
  color:#fff;
  border-radius: 7px 7px 7px 7px;
  border: 1px solid black;
}

.navbar-dark .navbar-nav .nav-link.disabled {

  color: #708CA7 !important;
  text-decoration: none;
  cursor: disable;
  cursor: not-allowed;
}

