<j-header></j-header>
<div *ngIf="ufr">
  <div class="row mr-3 ml-3">
    <div class="col-12 p-1">
      <a class="pull-right" href="#" routerLink="/ufr-approval-summary">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to UFR Approval Summary
      </a>
    </div>
  </div>
  <div class="row ml-3 mr-3 mb-4">
    <div class="col-2 p-1">
      <a class="pull-left {{previousUfrId? '' : 'disabled-style'}}" href="#" routerLink="{{previousUfrId? '/ufr-approval-detail/' + previousUfrId : ''}}">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Previous UFR
      </a>
    </div>
    <div class="col-8 text-center">
      <div class="h5">Approve UFR {{requestNumber}}: {{ufr.ufrName}}</div>
    </div>
    <div class="col-2 p-1">
      <a class="pull-right {{nextUfrId? '' : 'disabled-style'}}" href="#" routerLink="{{nextUfrId? '/ufr-approval-detail/' + nextUfrId : ''}}">
        Next UFR <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="row ml-3 mr-3" *ngIf="shorty">
    <div class="col-7">
      <div class="row">
        <div class="col-2 p-1">
          <label class="mr-1">Program ID: </label>
        </div>
        <div class="col-10 p-1">
          <span class="mr-1 text-truncate">{{shorty.fullname}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-2 p-1">
          <label class="mr-1">CCA: </label>
        </div>
        <div class="col-10 p-1">
          <span class="mr-1 text-truncate">{{shorty.coreCapability}}</span>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col-4">
          <label class="select-label" *ngIf="ufr.status !== UfrStatus.SUBMITTED" for="status">Status: </label>
          <select id="status"
                  [disabled]="ufr.status !== UfrStatus.SUBMITTED"
                  [(ngModel)]="ufr.status"
                  (change)="updateUfr('status')"
                  class="form-control">
            <option hidden [value]="UfrStatus.SUBMITTED">Status</option>
            <option [value]="UfrStatus.VALID">Valid</option>
            <option [value]="UfrStatus.INVALID">Invalid</option>
            <option [value]="UfrStatus.WITHDRAWN">Withdrawn</option>
          </select>
        </div>
        <div class="col-4">
          <label class="select-label" *ngIf="ufr.priority" for="status">Priority: </label>
          <select *ngIf="ufr.status === UfrStatus.VALID"
                  [disabled]="ufr.disposition === Disposition.OGI"
                  [(ngModel)]="ufr.priority"
                  (change)="updateUfr('priority')"
                  class="form-control">
            <option hidden value="null">Priority</option>
            <option *ngFor="let index of [1,2,3,4,5,6,7,8,9,10]">{{index}}</option>
          </select>
        </div>
        <div class="col-4">
          <label class="select-label" *ngIf="ufr.disposition" for="status">Disposition: </label>
          <select *ngIf="ufr.status === UfrStatus.VALID"
                  [disabled]="ufr.disposition === Disposition.OGI"
                  [(ngModel)]="ufr.disposition"
                  (change)="updateUfr('disposition')"
                  class="form-control">
            <option hidden value="null">Disposition</option>
            <option [value]="Disposition.APPROVED">Approved</option>
            <option [value]="Disposition.PARTIALLY_APPROVED">Partially approved</option>
            <option [value]="Disposition.DEFERRED">Deferred to future POM</option>
            <option [value]="Disposition.YEAR_OF_EXECUTION">Deferred to YOE</option>
            <option [value]="Disposition.OGI">Issue Paper</option>
            <option [value]="Disposition.DISAPPROVED">Disapproved</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row ml-3 mr-3">
    <div class="col-12 p-0">
      <ag-grid-angular #agGridCurrentFunding
                       class="ag-theme-balham pr-funds-tab group-header-white"
                       [toolPanelSuppressPivotMode]="true"
                       [toolPanelSuppressRowGroups]="true"
                       [toolPanelSuppressValues]="true"
                       [toolPanelSuppressPivots]="true"
                       [toolPanelSuppressColumnFilter]="true"
                       [toolPanelSuppressColumnSelectAll]="true"
                       [suppressMovableColumns]="true"
                       [rowData]="currentFunding"
                       (gridReady)="onGridReady($event)"
                       (rowDataChanged)="sizeColumnsToFit($event)"
                       (toolPanelVisibleChanged)="sizeColumnsToFit($event)"
                       (columnVisible)="sizeColumnsToFit($event)"
                       [gridAutoHeight]="true">
      </ag-grid-angular>
      <ag-grid-angular #agGridProposedChanges
                       id="agGridProposedChanges"
                       class="ag-theme-balham pr-funds-tab group-header-white separator"
                       [gridAutoHeight]="true"
                       [toolPanelSuppressPivotMode]="true"
                       [toolPanelSuppressRowGroups]="true"
                       [toolPanelSuppressValues]="true"
                       [toolPanelSuppressPivots]="true"
                       [toolPanelSuppressColumnFilter]="true"
                       [toolPanelSuppressColumnSelectAll]="true"
                       [suppressMovableColumns]="true"
                       [suppressRowTransform]="true"
                       [showToolPanel]="false"
                       [enableSorting]="false"
                       [enableFilter]="false"
                       [singleClickEdit]="true"
                       [stopEditingWhenGridLosesFocus]="true"
                       [rowData]="proposedChange"
                       (gridReady)="onGridReady($event)"
                       (toolPanelVisibleChanged)="sizeColumnsToFit($event)"
                       (columnVisible)="sizeColumnsToFit($event)"
                       (rowDataChanged)="sizeColumnsToFit($event)"
                       headerHeight="0">
      </ag-grid-angular>
      <ag-grid-angular
        #agGridRevisedPrograms
        id="agGridRevisedPrograms"
        class="ag-theme-balham pr-funds-tab group-header-white separator"
        [rowData]="revisedPrograms"
        [suppressRowTransform]="true"
        [suppressMovableColumns]="true"
        [toolPanelSuppressPivotMode]="true"
        [toolPanelSuppressRowGroups]="true"
        [toolPanelSuppressValues]="true"
        [toolPanelSuppressPivots]="true"
        [toolPanelSuppressColumnFilter]="true"
        [toolPanelSuppressColumnSelectAll]="true"
        (gridReady)="onGridReady($event)"
        (rowDataChanged)="sizeColumnsToFit($event)"
        (toolPanelVisibleChanged)="sizeColumnsToFit($event)"
        (columnVisible)="sizeColumnsToFit($event)"
        [gridAutoHeight]="true"
        headerHeight="0">
      </ag-grid-angular>
    </div>
  </div>
</div>
