<form>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
          <div class="card-body">
            <div class="title mb-2">Rational</div>
              <div class="form-group">
                <textarea class="form-control" id="rational" rows="3"></textarea>
              </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-3">
          <div class="card-body">
            <div class="title mb-2">Milestone Impact</div>
              <div class="form-group">
                <textarea class="form-control" id="impact" rows="3"></textarea>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3">
          <div class="card-body">
            <div class="title mb-2">Impact If Not Funded</div>
            <div class="form-group">
              <textarea class="form-control" id="impact-not-funded" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
