.main-content {
  margin-top: 100px;
}

.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  span > a {
    text-decoration: underline;;
    &:hover {
      text-decoration:none;
    }
  }
}

.single-row{
  display: flex;
}
.program-controls {
  display: block;
  content: "";
  clear: both;
}
