.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  span > a {
    text-decoration: underline;;
    &:hover {
      text-decoration:none;
    }
  }
}

.main-content {
  padding-top: 20px;
}

.program-controls {
  display: block;
  content: "";
  clear: both;
}
