<app-header></app-header>
<div class="single-row">
  <menu-bar [authUser]="authUser"></menu-bar>
<div class="container-fluid">
    <div class="row main-content" *ngIf="programRequestPageMode.initialized">
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <id-and-name [pr]="pr" [pom]="pom"></id-and-name>
          </div>
          <div class="col-lg-3">
            <div class="pull-right mb-2" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span>
                      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </span>
                    <span>
                      <a href="#" [routerLink]="['/select-program-request', pr.containerId]">back to Summary Program Requests</a>
                    </span>
                  </li>
                </ol>
            </div>
            <div class="pull-right program-controls">
              <span>
                <button class="btn btn-primary" (click)="save('SAVED')" [disabled]="isNotSavable()">Save</button>
              </span>
              <span>
                <button class="btn btn-success" (click)="save('SUBMITTED')" [disabled]="isNotSubmittable()">Submit</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row main-content">
        <div class="col-12">
          <tabset class="program-tab-style" role="tablist">
            <tab heading="Program" id="tab1" role="tablist">
              <program-tab [pr]="pr" role="tabpanel" [pom]="pom"></program-tab>
            </tab>
            <tab heading="Funds" id="tab2" active="true">
              <funds-tab [pr]="pr" [prs]="prs" role="tabpanel" [pom]="pom"></funds-tab>
            </tab>
            <tab heading="Variants" id="tab3">
              <variants-tab [current]="pr" [editable]="true" role="tabpanel" [pom]="pom"></variants-tab>
            </tab>
            <tab heading="Justification" id="tab4">
              <justification-tab [pr]="pr" role="tabpanel" [pom]="pom"></justification-tab>
            </tab>
            <tab heading="Schedule" id="tab5" role="tablist">
              Schedule
            </tab>
            <tab heading="Scope" id="tab6" active="true">
              Scope
            </tab>
            <tab heading="Assets" id="tab7">
              Assets
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>  
</div>
