.forminput {
  width: 300px;
  padding: 6px 4px;
  clear: both;
  display: inline;
}

.program-controls{
  display: block;
  content: "";
  clear: both;
}

.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  span > a {
    text-decoration: underline;;
    &:hover {
      text-decoration:none;
    }
  }
}

.main-titles {
  padding: 0;
  color: #4f7494;
  font-size: 22px;
  font-weight: 500;
}
