<div class="row mb-3">
  <div class="col-12">
    <div class="pull-right">
      <span>Show as %:</span>
      <span>
        <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
          <div class="handle"></div>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <ag-grid-angular #agGrid class="ag-theme-balham"
        id="myGrid"
        [enableSorting]="true"
        [enableFilter]="false"
        [gridAutoHeight]="true"
        [gridOptions]="agOptions"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [columnTypes]="columnTypes"
        [toolPanelSuppressSideButtons]="true"
        [pagination]="true"
        [paginationPageSize]="20"
        (paginationChanged)="agGridPagination.onPaginationChanged($event)"
        [enableColResize]="true"
        [suppressDragLeaveHidesColumns]="true"
        [suppressMovableColumns]="true"
        [suppressPaginationPanel]="true"
        (gridReady)="onGridReady($event)"
        >
      </ag-grid-angular>
  </div>
</div>
<div class="row mt-3">
  <div class="col-4">
    <span>Previous Months Lock:</span>
    <span>
      <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
        <div class="handle"></div>
      </button>
    </span>
  </div>
</div>
