$black: #000000;
$dark-grey: #848282;
$dark-green: #61bb69;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-green: #ebf2de;
$light-grey: #eae9e9;
$medium-grey: #dddddd;
$primary-color: #25527a;
$red: #ff0000;
$white-border: 1px solid #ffffff;
$white: #ffffff;
$yellow: #fec001;

label {
  color: #6b757c;
  margin: 0;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 0px 0 0;

  input[type='radio'] {
    display: none;
  }

  input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    background: #000;
    cursor: pointer;
  }

  label {
    color: #000;
    font-weight: normal;
    &:before {
      content: " ";
      display: inline-block;
      position: relative;
      top: 5px;
      margin: 0 5px 0 0;
      width: 20px;
      height: 20px;
      border-radius: 11px;
      border: 2px solid #000;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.modal {

  margin-left: -280px;

  .modal-content {
    width: 900px;
  }

  .modal-body {
    padding: 2rem;

    .btn {
      margin: 0 0 0 10px;
      width: 120px;
    }

    .actuals {
      width: 480px;
    }

    .number-months {
      width: 60px;
      display: inline-block;
    }
  }

  .modal-header {
     border-bottom: none;
     position: relative;

    .btn {
       position: absolute;
       top: 0;
       right: 0;
       margin-top: 0;
       height: 30px;
       border-top-left-radius: 0;
       border-bottom-right-radius: 0;

       > i {
         font-size: 26px;
       }
     }
   }
 }

 // Scroll Arrows for First year feature in Actuals table for O & E Actuals tabs

 .actuals-slider-buttons {

  background-color: $white;
  padding: 2px;
  border: none;

   .fa {
     color: $primary-color;
     font-size: 22px;
     font-weight: bold;
     cursor: pointer;
     &:hover {
       opacity: .6;
     }
   }
 }
