<div class="row mb-3">
  <div class="col-12">
    <div class="pull-right program-controls">
      <button class="btn btn-primary" (click)="save()">Submit</button>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="pull-right">
      <span>
        <label class="mr-1">Show as: </label>
      </span>
      <span>
        %
        <button type="button" class="btn btn-sm btn-toggle btn-success" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="onTogglePct()">
          <div class="handle"></div>
        </button>
        $
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <ag-grid-angular #agGrid class="ag-theme-balham"
        [enableSorting]="true"
        [enableFilter]="false"
        [gridAutoHeight]="true"
        [toolPanelSuppressSideButtons]="true"
        [enableColResize]="true"
        [suppressDragLeaveHidesColumns]="true"
        [suppressMovableColumns]="true"
        [suppressPaginationPanel]="true"
        [gridOptions]="agOptions"
        (gridReady) = "onGridReady($event)">
      </ag-grid-angular>
  </div>
</div>
<div class="row mt-3" apppermission="Program:administerFundingLine">
  <div class="col-4">
    <span>
      <label class="mr-1">Previous Months: </label>
    </span>
    <span>
       Lock
       <button type="button" class="btn btn-sm btn-toggle btn-secondary" (click)="onToggleAdmin()" data-toggle="button" aria-pressed="false" autocomplete="off">
        <div class="handle"></div>
      </button>
      Unlock
    </span>
  </div>
</div>

<!-- Modal Dialog -->
<div id="explanation-modal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="btn" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-9">
            <div class="mb-2">Why is the program behind?</div>
            <div class="form-group">
              <textarea cols="50" rows="4" wrap="physical" class="form-control" [(ngModel)]='explanation'></textarea>
            </div>
            <div class="mb-2">What is the get well plan?</div>
            <div class="form-group">
              <textarea cols="50" rows="4" wrap="physical" class="form-control" [(ngModel)]='remediation'></textarea>
            </div>
          </div>
          <div class="col-3">
            <div class="mt-4 mb-2">
              <button class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-9">
            <span class="mr-2">
              Expected # of months to be on track:
            </span>
            <span>
              <input type="number" [ngModel]='fixtime' (change)='fixtime=$event.target.value' class="form-control number-months" name="months" minlength="2" maxlength="2">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
