<fieldset>
  <legend>Duplicate</legend>
    <table class="worksheet-table">
      <tr>
        <td>
          <label class="">Create a copy of:</label>
        </td>
        <td>
          <span class="form-group">
            <input type="text" class="form-control copy-input mr-2" minlength="2" required>
          </span>
        </td>
        <td>
          <label>Version:</label>
        </td>
        <td>
          <span class="form-group">
            <input type="number" class="form-control version-input" minlength="2" required>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <div class="button-controls pull-right">
            <button class="btn btn-primary pull-right" (click)="operationOver.emit()" >Save</button>
            <button class="btn btn-secondary pull-right" (click)="operationOver.emit()" >Cancel</button>
          </div>
        </td>
      </tr>
    </table>
</fieldset>
