<pfm-cancel-cta [label]="'Back'" (onCancelClicked)="goBack()"></pfm-cancel-cta>

<div class="title-line">
  <div  style="float:left;width:80%">
    <h3>POM19 Program Request Details: {{programmingModel.selectedProgramName==='undefined' ? '' : programmingModel.selectedProgramName}}</h3>
  </div>
  <div class="div-buttons">
      <div  class="div-button-validate">
          <button (click)="onValidate()" class="button-validate">Validate</button>
      </div>
      <div class="div-button-save">
        <button (click)="onSave()" class="button-save">Save</button>
      </div> 
      <div class="div-button-approve">
        <button (click)="onApprove()" class="button-approve">Approve</button>
    </div> 
    <div class="div-button-reject">
      <button (click)="onReject()" class="button-reject">Reject</button>
  </div>
  </div>
  </div>
 
<tabset  class="program-tab-style" destroyOnHide="true">
    <tab  heading="Program" style="width:100%;height:100%">
        <div class="section-tab">
          <pfm-requests-details-form></pfm-requests-details-form>
        </div>
    </tab >
    <tab heading="Funds"  active="true" style="width:100%;height:100%">
        <div class="section-tab">
            <pfm-requests-funding-line-grid></pfm-requests-funding-line-grid>
        </div>
    </tab>
  <tab heading="Schedule"  style="width:100%;height:100%">
    <div class="section-tab">
      <pfm-schedule></pfm-schedule>
    </div>
  </tab>
  <tab heading="Scope"  style="width:100%;height:100%">
    <div class="section-tab">
    </div>
  </tab>
  <tab heading="Assets"  style="width:100%;height:100%">
      <div class="section-tab">
      </div>
  </tab>
  <tab heading="Justification"  style="width:100%;height:100%">
      <div class="section-tab">
      </div>
  </tab>


</tabset>
