:host{
  height: 100vh;
}

.title-line{
  display: flex;
  width: 100%;
}

.button-container{
  display: flex;
  width: 100%;
}

.div-button-reject{
  float:right; 
  padding-right:3px;
}

.div-button-approve{
  float:right; 
  padding-right:3px;
}
.div-button-save{
  float:right; 
  padding-right:3px;
}
.div-button-validate{
  float:right; 
  padding-right:3px;
}
.div-buttons{
  float:right !important;  
  width:47%;
}

.button-reject {
  background-color: rgb(221, 23, 23); /* Green */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight:bold;
  width: 100% !important;
  height: 100% !important;
}
.button-approve {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight:bold;
  width: 100% !important;
  height: 100% !important;
}
.button-save {
  background-color: rgb(81, 99, 125); /* Green */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight:bold;
  width: 100% !important;
  height: 100% !important;
}
.button-validate {
  background-color: rgb(249, 248, 255); /* Green */
  border: none;
  color: rgb(14, 12, 12);
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight:bold;
  width: 100% !important;
  height: 100% !important;
}

