<pfm-cancel-cta [label]="'Back'" (onCancelClicked)="goBack()"></pfm-cancel-cta>

<div class="title-line">
  <div class="float-left w-80">
    <h3 *ngIf="program">
      POM{{ pomYear % 100 }} Program Request Details:
      {{ program.shortName === 'undefined' ? '' : program.shortName }}
    </h3>
  </div>
  <div class="div-buttons" *ngIf="appModel.visibilityDef['programming-detail-component']">
    <div class="div-button-validate">
      <button (click)="onValidate(true)" type="button" class="btn btn-outline-dark">
        Validate
      </button>
    </div>
    <div class="div-button-save">
      <button (click)="onSave()" class="btn btn-primary" *pfmIsVisible="'programming-detail-component.saveProgram'">
        Save
      </button>
    </div>
    <div class="div-button-approve">
      <button
        (click)="onApprove()"
        class="btn btn-success"
        *pfmIsVisible="'programming-detail-component.approveProgram'"
      >
        <i class="fa fa-check"></i>
        Approve
      </button>
    </div>
    <div class="div-button-reject">
      <button (click)="onReject()" class="btn btn-danger" *pfmIsVisible="'programming-detail-component.rejectProgram'">
        <i class="fa fa-arrow-left"></i>
        Reject
      </button>
    </div>
  </div>
</div>

<tabset class="program-tab-style" *ngIf="program" destroyOnHide="true">
  <tab heading="Program" [active]="currentSelectedTab === 0" class="w-100 h-100" (selectTab)="onSelectTab($event)">
    <div class="section-tab">
      <pfm-requests-details-form #detailsForm [pomYear]="pomYear" [program]="program"></pfm-requests-details-form>
    </div>
  </tab>
  <tab heading="Funds" [active]="currentSelectedTab === 1" class="w-100 h-100" (selectTab)="onSelectTab($event)">
    <div class="section-tab">
      <pfm-requests-funding-line-grid #fundingLines [pomYear]="pomYear" [program]="program">
      </pfm-requests-funding-line-grid>
    </div>
  </tab>
  <tab heading="Schedule" [active]="currentSelectedTab === 2" class="w-100 h-100" (selectTab)="onSelectTab($event)">
    <div class="section-tab">
      <pfm-schedule #pfmSchedule [program]="program" [pomYear]="pomYear"></pfm-schedule>
    </div>
  </tab>
  <tab heading="Scope" [active]="currentSelectedTab === 3" class="w-100 h-100" (selectTab)="onSelectTab($event)">
    <div class="section-tab">
      <pfm-scope #scope [pomYear]="pomYear" [program]="program"></pfm-scope>
    </div>
  </tab>
  <tab heading="Assets" [active]="currentSelectedTab === 4" class="w-100 h-100" (selectTab)="onSelectTab($event)">
    <div class="section-tab">
      <pfm-assets #assets [pomYear]="pomYear" [program]="program"></pfm-assets>
    </div>
  </tab>
  <tab
    heading="Justification"
    [active]="currentSelectedTab === 5"
    class="w-100 h-100"
    (selectTab)="onSelectTab($event)"
  >
    <div class="section-tab">
      <pfm-justification #justification [pomYear]="pomYear" [program]="program"> </pfm-justification>
    </div>
  </tab>
</tabset>
