<pfm-action-cell-renderer
  [data]="data"
  [params]="params"
  [columnApi]="columnApi"
  [options]="options"
  [disabled]="disabled"
  [extraActions]="extraActions"
>
</pfm-action-cell-renderer>

<ng-template #extraActions>
  <div class="action">
    <span [title]="title">
      <ng-container *ngIf="data.canView">
        <fa-icon icon="eye"></fa-icon>
      </ng-container>
      <ng-container *ngIf="!data.canView">
        <fa-icon icon="lock"></fa-icon>
      </ng-container>
    </span>
  </div>
</ng-template>
