<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-12">
      <div class="row">
        <div class="col-12" id="set-epp">
          <div class="h5 mb-4">SET EPP</div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary btn float-right">Import EPP</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <!--epp content table and paginator-->
        </div>
      </div>
    </div>
  </div>
</div>
