<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-12">
      <div class="row">
        <div class="col-12" id="set-epp">
          <div class="h5 mb-4">SET EPP</div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <button class="btn btn-primary btn float-right" data-toggle="modal" href="#epp-modal" (click)="clearFile()">Import EPP</button>
        </div>
      </div>
      <div class="row mb-3">
          <div class="col-2">
            Page Size:
            <select class="form-control-sm dropdown-width mb-2" (change)="onPageSizeChanged($event)" id="page-size">
              <option value="15" selected="">15</option>
              <option value="30">30</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="250">250</option>
              <option value="500">500</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ag-grid-angular #agGrid
                             class="ag-theme-balham"
                             [enableSorting]="true"
                             [enableFilter]="true"
                             [gridAutoHeight]="true"
                             [rowData]="data"
                             [columnDefs]="columnDefs"
                             [toolPanelSuppressSideButtons]="true"
                             [suppressDragLeaveHidesColumns]="true"
                             [pagination]="true"
                             [paginationPageSize]="15"
                             [suppressMovableColumns]="true"
                             (paginationChanged)="agGridPagination.onPaginationChanged($event)"
                             [suppressPaginationPanel]="true">
            </ag-grid-angular>
            <ag-grid-pagination #agGridPagination [agGrid]="agGrid"></ag-grid-pagination>
        </div>
      </div>
    </div>
  </div>
  <!--Import file dialog-->
  <div class="row mb-3">
    <div class="col-12">
      <div id="epp-modal" class="modal fade in">
        <div class="modal-dialog">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="modal-content">
              <div class="modal-header">
                <a class="btn" data-dismiss="modal">
                  <i class="fa fa-times-circle" aria-hidden="true"></i>
                </a>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12">
                    <label>Specify location of EPP spreadsheet:</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 form-group">
                    <input type="file" class="custom-file-input" id="epp-input-file" (change)="onFileChange($event)" required #fileInput>
                    <label class="custom-file-label" for="epp-input-file">{{fileName}}</label>
                  </div>
                </div>
                <div *ngIf="responseError" class="row">
                  <div class="col-12">
                    <div class="alert alert-danger">{{responseError}}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary float-right" [disabled]="form.invalid || loading">
                      Import <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
                    </button>
                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
