<app-header></app-header>
<div class="container-fluid">
  <div class="row main-content">
    <div class="col-12">
      <div class="row">
        <div class="col-6" id="update-pom-session">
          <div class="h5 mb-4">Workspace Management for {{pom?.fy|FY:'POM'}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <ul class="worksheet-controls mb-3">
            <li><button class="btn btn-primary" (click)="startOperation(stateService.Operation.DUPLICATE)" [disabled]="isRowNotSelected()"                             > Duplicate </button></li>
            <li><button class="btn btn-primary" (click)="startOperation(stateService.Operation.RENAME)"    [disabled]="isRowNotSelected()"                             > Rename    </button></li>
            <!-- <li><button class="btn btn-primary" (click)="startOperation(stateService.Operation.EXPORT)"    [disabled]="isRowNotSelected()"                             > Exporter   </button></li>
            <li><button class="btn btn-primary" (click)="startOperation(stateService.Operation.IMPORT)"    [disabled]="!importComponent?.importableWorkspaces?.length" > Importer   </button></li>
            <li><button class="btn btn-primary" (click)="startOperation(stateService.Operation.UNLOCK)"    [disabled]="!importComponent?.importableWorkspaces?.length" > Unlocker   </button></li> -->
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ag-grid-angular
            #agGrid class="ag-theme-balham"
            id="myGrid"
            [enableSorting]="true"
            [enableColResize]="true"
            [enableFilter]="false"
            [gridAutoHeight]="true"
            [gridOptions]="agOptions"
            [toolPanelSuppressSideButtons]="true"
            [pagination]="true"
            [paginationPageSize]="6"
            (paginationChanged)="agGridPagination.onPaginationChanged($event)"
            [suppressDragLeaveHidesColumns]="true"
            [suppressMovableColumns]="true"
            [suppressPaginationPanel]="true"
            (gridReady)="onGridReady($event)" >
          </ag-grid-angular>
          <ag-grid-pagination #agGridPagination [agGrid]="agGrid"></ag-grid-pagination>
        </div>
      </div>

      <div class="row">
        <div class="col-12">

          <duplicater #duplicater [hidden]="stateService.operation!=stateService.Operation.DUPLICATE" (operationOver)="onOperationOver()" ></duplicater>
          <renamer    #renamer    [hidden]="stateService.operation!=stateService.Operation.RENAME"    (operationOver)="onOperationOver()" ></renamer>
          <exporter   #exporter   [hidden]="stateService.operation!=stateService.Operation.EXPORT"    (operationOver)="onOperationOver()" ></exporter>
          <importer   #importer   [hidden]="stateService.operation!=stateService.Operation.IMPORT"    (operationOver)="onOperationOver()" ></importer>
          <unlocker   #unlocker   [hidden]="stateService.operation!=stateService.Operation.UNLOCK"    (operationOver)="onOperationOver()" ></unlocker>

        </div>
      </div>

  </div>
</div>
