<ng-template #extraActions>
  <ng-container *ngIf="data.canFunds">
    <pfm-dropdown
      class="action"
      (selectionChanged)="handleFunds($event)"
      [type]="'iconDropdown'"
      [iconName]="'dollar-sign'"
      [label]="'Funds'"
      [title]="'Funds'"
      [required]="true"
      [fieldName]="'name'"
      [fieldLabel]="'name'"
      [options]="dollarOptions"
      [showPrompt]="false"
      [disabled]="false"
    >
    </pfm-dropdown>
  </ng-container>
</ng-template>
<pfm-action-cell-renderer
  [data]="data"
  [params]="params"
  [columnApi]="columnApi"
  [options]="options"
  [disabled]="disabled"
  [extraActions]="extraActions"
>
</pfm-action-cell-renderer>
