<j-header></j-header>
<div class="container-fluid">
  <!-- <div class="row main-content" *ngIf="header.isAuthenticated"> -->
  <div class="row main-content">
    <div class="col-12 mb-4">
      <div class="h5 mb-2">P-5</div>
      <div class="budget-reports">
        <table>
          <tr class="borderBottom">
            <td colspan="2">
              <span class="title">Exhibit P-5, Cost Analysis:</span>
              <span>BES 2019 Chemical and Biological Defense Program</span>
            </td>
            <td class="borderBottom">
              <span class="title">Date: </span>
              <span class="date">September 2017</span>
            </td>
          </tr>
          <tr>
            <td>
                <div class="title">Appropriation / Budget Activity / Budget Sub Activity:</div>
                <div>0300D / 03 / 1</div>
            </td>
            <td>
                <div class="title">P-1 Line Item Number / Title:</div>
                <div>PHM001 / CB PROTECTION AND HAZARD MITIGATION</div>
            </td>
            <td>
                <div class="title">Item Number / Title [DODIC]:</div>
                <div>JI0002 / JS AIRCREW MASK (JSAM)</div>
            </td>
          </tr>
        </table>
        <table>
          <tr>

            <td>
              <span class="title">ID Code (A=Service Ready, B=Not Service Ready):</span>
              <span>B</span>
            </td>
            <td>
              <span class="title">MDAP/MAIS Code:</span>
              <span> &nbsp;</span>
            </td>
          </tr>
        </table>
        <table>
          <tr class="borderBottomBold alignCenter">
            <th>Resource Summary</th>
            <th>Prior Years</th>
            <th>FY 2017</th>
            <th>FY 2018</th>
            <th>FY 2019 Base</th>
            <th>FY 2019 OCO</th>
            <th>FY 2019 Total</th>
          </tr>
          <tr class="alignRight">
            <td class="alignLeft">Procurement Quantity <span class="font-italic font-weight-normal">(Units in Each)</span></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr class="alignRight">
            <td class="alignLeft">Gross/Weapon System Cost<span class="font-italic font-weight-normal">($ in Millions)</span></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr class="alignRight">
            <td class="alignLeft">Less PY Advance Procurement <span class="font-italic font-weight-normal">($ in Millions)</span></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr class="alignRight">
            <td class="alignLeft">Net Procurement (P-1) <<span class="font-italic font-weight-normal">($ in Millions)</span></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr class="alignRight">
            <td class="alignLeft">Plus CY Advance Procurement <span class="font-italic font-weight-normal">($ in Millions)</span></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr class="alignRight title">
            <td class="alignLeft">Total Obligation Authority <span class="font-italic font-weight-normal"> ($ in Millions)</span></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>

       <tr class="borderBottomBold alignCenter">
           <td colspan="7"><span class="font-italic">(The following Resource Summary rows are for informational purposes only. The corresponding budget requests are documented elsewhere.)</span></td>
       </tr>
       <tr class="alignRight">
           <td class="alignLeft">Initial Spares <span class="font-italic font-weight-normal">($ in Millions)</span></td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>

       </tr>
       <tr class="alignRight">
         <td class="alignLeft">Gross/Weapon System Unit Cost <span class="font-italic font-weight-normal">($ in Thousands)</span></td>
         <td>-</td>
         <td>-</td>
         <td>-</td>
         <td>-</td>
         <td>-</td>
         <td>-</td>
       </tr>
       <tr class="borderBottomBold alignCenter">
           <td colspan="7"></td>
       </tr>
       <tr>
         <td colspan="7">Note: Subtotals or Totals in this Exhibit P-5 may not be exact or sum exactly due to rounding.</td>
       </tr>
       </table>
       <table>
         <tr class="alignCenter">
           <th rowspan="2">Cost Elements</th>
           <th colspan="3">Prior Years</th>
           <th colspan="3">FY 2017</th>
           <th colspan="3">FY 2018</th>
           <th colspan="3">FY 2019 Base</th>
           <th colspan="3">FY 2019 OCO</th>
           <th colspan="3">FY 2019 Total</th>
         </tr>
         <tr class="title alignCenter">
           <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
           <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
           <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
           <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
           <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
           <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
           <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
           <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
           <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
           <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
           <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
           <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
           <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
           <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
           <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
           <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
           <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
           <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
         </tr>
         <tr class="readOnly title">
           <td colspan="19">Hardware Cost</td>
         </tr>
         <tr class="title">
           <td colspan="19">Recurring Cost</td>
         </tr>
         <tr class="alignRight">
           <td>Prior/Future combined efforts</td>
           <td>-</td>
           <td>-</td>
           <td>13.920</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
         </tr>
         <tr class="alignRight">
           <td>JSAM RW - MPU-5Hardware - LRIP/FRP(†)</td>
           <td>-</td>
           <td>-</td>
           <td>13.920</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
         </tr>
         <tr class="alignRight">
           <td>JSAM SA - M69 - Hardware - FRP(†)</td>
           <td>-</td>
           <td>-</td>
           <td>13.920</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
         </tr>
         <tr class="alignRight">
           <td>JSAM TA - Case- FRP</td>
           <td>-</td>
           <td>-</td>
           <td>13.920</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
         </tr>
         <tr class="alignRight">
           <td>JSAM TA - Mask - FRP(†)</td>
           <td>-</td>
           <td>-</td>
           <td>13.920</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
         </tr>
         <tr class="alignRight">
           <td><span class="font-italic">Subtotal: Recurring Cost</span></td>
           <td>-</td>
           <td>-</td>
           <td>13.920</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
         </tr>
         <tr class="alignRight title">
           <td><span class="font-italic">Subtotal: Hardware Cost</span></td>
           <td>-</td>
           <td>-</td>
           <td>13.920</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
         </tr>
         <tr class="readOnly title">
           <td colspan="19">Logistics Cost</td>
         </tr>
         <tr class="title">
           <td colspan="19">Recurring Cost</td>
         </tr>
         <tr class="alignRight">
           <td>JSAM RW - Config Mgmt/Tech Manuals</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
         </tr>
         <tr class="alignRight">
           <td>JSAM RW - Logistics Support</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
         </tr>
         <tr class="alignRight">
           <td>JSAM TA Mask - Initial Spares/ Support Equipment</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
           <td>-</td>
           <td>-</td>
           <td>0.000</td>
         </tr>
         <tr>
           <td colspan="19"></td>
         </tr>
         <tr>
          <td colspan="19"> Note: Subtotals or Totals in this Exhibit P-5 may not be exact or sum exactly due to rounding.</td>
        </tr>
           <tr class="alignCenter">
             <th rowspan="2">Cost Elements</th>
             <th colspan="3">Prior Years</th>
             <th colspan="3">FY 2017</th>
             <th colspan="3">FY 2018</th>
             <th colspan="3">FY 2019 Base</th>
             <th colspan="3">FY 2019 OCO</th>
             <th colspan="3">FY 2019 Total</th>
           </tr>
           <tr class="title alignCenter">
             <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
             <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
             <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
             <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
             <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
             <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
             <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
             <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
             <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
             <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
             <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
             <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
             <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
             <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
             <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
             <td>Unit Cost <div class="font-italic font-weight-normal">($ K)</div></td>
             <td>Qty <div class="font-italic font-weight-normal">(Each)</div></td>
             <td>Total Cost <div class="font-italic font-weight-normal">($ M)</div></td>
           </tr>
           <tr class="alignRight">
             <td>JSAM TA Mask - New Equipment Training/ Training Equipment</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
           </tr>
           <tr class="alignRight">
             <td><span class="font-italic">Subtotal: Recurring Cost</span></td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
           </tr>
           <tr class="alignRight title">
             <td><span class="font-italic">Subtotal: Logistics Cost</span></td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
           </tr>
           <tr class="readOnly title">
             <td colspan="19">Support Cost</td>
           </tr>
           <tr class="alignRight">
             <td>JSAM SA M69-Production Support</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
           </tr>
           <tr class="alignRight">
             <td>JSAM RW - First Article Testing</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
           </tr>
           <tr class="alignRight title">
             <td><span class="font-italic">Subtotal: Support Cost</span></td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
           </tr>
           <tr class="readOnly title alignRight">
             <td class="alignLeft">Gross/Weapon System Cost</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
             <td>-</td>
             <td>-</td>
             <td>0.000</td>
           </tr>
           <tr>
            <td colspan="19">
              <div class="title">Remarks:</div>
            <p>
              The Joint Service Aircrew Mask (JSAM) system is a lightweight Chemical, Biological, Radiological and Nuclear (CBRN) protective mask consisting of mask, filter, blower (except JSAM SA), and accessories
              incorporating state-of-the-art technology to protect U.S. Forces from anticipated threats. The JSAM systems will be developed to support multiple aircraft platforms which will integrate with aircraft subsystems:
              Aircrew Life Support Equipment (ALSE), seating, portable aircrew systems, restraint systems, Night Vision Goggles (NVGs), and communications systems. The mask is optimized to minimize impact on the
              wearer's performance, maximize its ability to interface with aircrew protective clothing, and provide improved field of view when compared to current protective masks.
            </p>
            <p>

              The JSAM Rotary Wing (RW) Mask will provide head, eye, respiratory, and CB protection and "don in flight" capability for general purpose, rotary wing aircrew in all four Services and the US Coast Guard. The
              JSAM for Tactical Aircraft (JSAM TA) will provide CB pressure breathing for altitude and anti-G protection. The JSAM for Strategic Aircraft (JSAM SA) will provide CB protection for aircrew positions that only
              need pressure breathing for altitude. Both the JSAM TA and JSAM SA will provide flame resistance, JSAM TA will provide demist/emergency demist.
            </p>
            <p>
              Justification: FY19 will procure 4,200 JSAM RW production masks, training, tooling, and initial spares. FY19 will procure 4,535 JSAM SA production masks, including initial spares, to be used for fielding to
              various United States Air Force (USAF) , United States Navy (USN) and United States Army (USA) aircraft. JSAM SA will conduct New Equipment Training, procure spare parts and support equipment. FY19
              will also procure 645 JSAM TA production masks including transit cases, initial spares/support equipment, and training to meet IOC for United States Marines (USMC).
            </p>
            <p>will also procure 645 JSAM TA production masks including transit cases, initial spares/support equipment, and training to meet IOC for United States Marines (USMC).
                RDT&E Code B Item: 0604384BP/Proj IP5
                IP5/JSAM FW: RDT&E FY14 and Prior - 49.842M
                IP5/JSAM RW: RDT&E FY14 and Prior - 19.269M; FY15 - 5.120M; FY16 - 1.393M; FY17 - 0.382M
                IP5/JSAM SA: RDT&E FY14 and Prior - 0.000M; FY15 - 6.169M; FY16 - 4.747M; FY17 - 2.097M; FY18 - 2.105M; FY19 - 1.721M; FY20 - 1.338M; FY21 - 0.186M
                IP5/JSAM TA: RDT&E FY14 and Prior - 0.000M; FY15 - 4.615M; FY16 - 6.507M; FY17 - 2.954M; FY18 - 2.329M
                DEVELOPMENT/TEST STATUS AND MAJOR MILESTONES
                JSAM FW - AP22P(A) USAF Variant Purchase: Jul 2015
                JSAM RW - MS C/ Low Rate Initial Production Decision: Jan 2015
                JSAM RW - USA/USAF Multi Service Operational Test and Evaluation (Feb 2015 to Apr 2015)
                JSAM RW - USN/USMC Multi Service Operational Test and Evaluation (Nov 2016 to Feb 2017)
                JSAM RW - USA/USAF Full Rate Production: Nov 2016
                JSAM RW - USAF Initial Operability Capability: Sep 2018
                JSAM RW - USN/USMC Full Rate Production: Feb 2018
                JSAM RW - USAF Full Operational Capability: Sep 2018
                JSAM RW - USN/USMC Initial Operational Capability: Sep 2018
                JSAM RW - USA/USN/USMC Full Operational Capability: Sep 2024
                JSAM RW - USA Initial Operational Capability: Sep 2018
                JSAM SA - Developmental Testing (Mar 2014 to Jun 2016)
                JSAM SA - MS C / Low Rate Initial Production Decision: Oct 2016
                JSAM SA - USAF/USN Operational Testing (Mar 2017 to Aug 2017)
                JSAM SA - Full Rate Production: Jan 2018
                JSAM SA - USAF/USN Initial Operational Capability: Apr 2018
                JSAM SA - USA Operational Testing (Apr 2018 to Jun 2018)
                JSAM SA - USA Initial Operational Capability: Apr 2019
                JSAM SA - USAF/USN/USA/USMC Integration and Airworthiness Certification Testing (Jan 2017 to Dec 2021)
                JSAM TA - AP22P (A) Safe to Fly Certification (Dec 2014 to Dec 2018)


            </p>
            <p> <sup>(†)</sup> indicates the presence of a P-5a</p>
            </td>
          </tr>
       </table>
     </div>
    </div>
  </div>
</div>
