<j-header></j-header>

<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-md-12">
      <div class=row>
        <div class="col-md-10 mb-2">
          <span class="h5 mr-sm-4">Unfunded Requests:</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <fieldset>
            <legend>
              <i class="fa fa-filter icon-pad" aria-hidden="true"></i>Filter By</legend>
            <div class="row fieldset-padding">
              <table class="program-search-table">
                <tr>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" id="defaultCheck1" [(ngModel)]="useorg" (change)="search()">
                      <label class="form-check-label primary-label" for="defaultCheck1">Organization</label>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.orgId" name="org" [disabled]="!useorg"
                        (change)="search()">
                        <option *ngFor="let o of orgs" [ngValue]="o.id" [selected]="">{{o.name}}</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" [(ngModel)]="usefa" (change)="search()">
                      <label class="form-check-label primary-label " for="defaultCheck2">Func. Area</label>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.fa" name="area" [disabled]="!usefa" (change)="search()">
                        <option *ngFor="let a of fas" [ngValue]="a">{{a}}</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" [(ngModel)]="usedates" (change)="search()">
                      <label class="form-check-label primary-label " for="defaultCheck3">Date Issued</label>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.from" name="from" [disabled]="!usedates" (change)="search()">
                        <option>from</option>
                      </select>
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.to" name="to" [disabled]="!usedates" (change)="search()">
                        <option>to</option>
                      </select>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" [(ngModel)]="useyoe" (change)="search()">
                      <label class="form-check-label primary-label " for="defaultCheck2">YoE</label>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" [(ngModel)]="filter.yoe" (change)="search()"
                      [disabled]="!useyoe">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck4" [(ngModel)]="useactive" (change)="search()">
                      <label class="form-check-label primary-label " for="defaultCheck4">Active</label>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck4" [(ngModel)]="filter.active" (change)="search()"
                        [disabled]="!useactive">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck5" [(ngModel)]="usestatus" (change)="search()">
                      <label class="form-check-label primary-label " for="defaultCheck5">Status</label>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.status" name="status" [disabled]="!usestatus" (change)="search()">
                        <option>DRAFT</option>
                        <option>SUBMITTED</option>
                        <option>VALID</option>
                        <option>INVALID</option>
                        <option>WITHDRAWN</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck6" [(ngModel)]="usedisp" (change)="search()">
                      <label class="form-check-label primary-label " for="defaultCheck6">Disposition</label>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.disposition" name="status" [disabled]="!usedisp" (change)="search()">
                        <option>Approved</option>
                        <option>Partially Approved</option>
                        <option>Disapproved</option>
                        <option>Deferred</option>
                        <option>Year of Execution</option>
                        <option>OGI</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck7" [(ngModel)]="usecycle" (change)="search()">
                      <label class="form-check-label primary-label " for="defaultCheck7">Cycle</label>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.cycle" name="status" [disabled]="!usecycle"
                        (change)="search()">
                        <option>POM 17</option>
                        <option>PB 18</option>
                      </select>
                    </div>
                  </td>
                </tr>



              </table>
            </div>
          </fieldset>
          <div class="h6">Select UFR of Interest</div>
          <mat-table [dataSource]="datasource" matSort matSortActive="shortName" matSortDirection="asc">
            <ng-container matColumnDef="shortName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Program</mat-header-cell>
              <mat-cell class="program-view-link" *matCellDef="let p">{{p.shortName}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="subprogram">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Subprogram</mat-header-cell>
              <mat-cell class="program-view-link" *matCellDef="let p"></mat-cell>
            </ng-container>
            <ng-container matColumnDef="Variant">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Variant</mat-header-cell>
              <mat-cell class="program-view-link" *matCellDef="let p"></mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
              <mat-cell class="program-view-link" *matCellDef="let p"> {{p.type}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="FA">
              <mat-header-cell *matHeaderCellDef mat-sort-header>FA</mat-header-cell>
              <mat-cell class="program-view-link" *matCellDef="let p"> {{p.tags['Functional Area']}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="CC">
              <mat-header-cell *matHeaderCellDef mat-sort-header>CC</mat-header-cell>
              <mat-cell class="program-view-link" *matCellDef="let p"> {{p.tags['Core Capability Area']}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Manager">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Manager</mat-header-cell>
              <mat-cell class="program-view-link" *matCellDef="let p"> {{p.tags['Manager']}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="['shortName', 'subprogram', 'Variant', 'type', 'FA', 'CC', 'Manager']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['shortName', 'subprogram', 'Variant', 'type', 'FA', 'CC', 'Manager']" (click)="navigate( row )"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="10"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
