<ng-template #idline let-line="line">
  {{line.appropriation}}/{{line.blin}}/{{line.item}}/{{line.opAgency}}
</ng-template>

<ng-template #notable>
  <div class="execution-table table-striped">
    <span class="font-weight-bold">There are no programs available to select</span>
  </div>
</ng-template>

<ng-container *ngIf="showAddProgramButton">
  <span *ngIf="availablePrograms.length>0; else notable">
    <button class="btn btn-light mb-2" (click)="addrow()">
      <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
      {{sourceOrTarget}}
    </button>
  </span>
</ng-container>

<ag-grid-angular #agGrid class="ag-theme-balham"
  [gridOptions]="agOptions"
  [enableColResize]="true"
  [toolPanelSuppressSideButtons]="true"
  [suppressDragLeaveHidesColumns]="true"
  [suppressMovableColumns]="true"
  [singleClickEdit]="true"
  (paginationChanged)="agGridPagination.onPaginationChanged($event)"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
<ag-grid-pagination #agGridPagination [agGrid]="agGrid"></ag-grid-pagination>
