.nav-item .nav-link {
  color: #fff;
  font-size: 14px;
}

li.nav-item {
  border-right: 1px solid rgba(92, 124, 152, 0.36);
  padding-right: 10px !important;
  padding-left: 10px !important;
}

ul.navbar-nav>li.nav-item:first-child {
  border-right: 1px solid rgba(92, 124, 152, 0.36);
  padding-right: 10px;
}

a:not([href]):not([tabindex]) {
  color: #708CA7 !important;

  text-decoration: none;
  cursor: disable;
  cursor: not-allowed;
}

a.dropdown-item {
  color: #24537b !important;
}

.nav-item .nav-link.disabled-style {
  color:#6994b9;
  font-size: 14px;
  cursor: not-allowed;
}
