<div *ngIf="!elevationService.elevatedBoolean && ( roles?.includes('POM_Manager') || roles?.includes('Execution_Manager') || roles?.includes('Budget_Manager')  ); else disableManageMenu">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
    <div class="dropdown-menu" aria-labelledby="dropdown06">

      <div *roles="'Planning_Manager_No_Such_Role'">
        <div class="dropdown-divider"></div>
        <p class="menu-section-label">Planning</p>
        <a class="dropdown-item" disabled>Manage Planning</a>
      </div>

      <div *roles="'POM_Manager'">
        <div class="dropdown-divider"></div>
        <p class="menu-section-label">Programming</p>
        <a class="dropdown-item" disabled>Manage Programming</a>
      </div>

      <div *roles="'Budget_Manager'">
        <div class="dropdown-divider"></div>
        <p class="menu-section-label">Budget</p>
        <a class="dropdown-item" disabled>Manage Budgeting</a>
      </div>

      <div *roles="'Execution_Manager'">
        <div class="dropdown-divider"></div>
        <p class="menu-section-label">Execution</p>
        <a *menuRolesOk="'create-new-program-mrdb'" class="dropdown-item" href="#" routerLink="/create-mrdb-program">Create Unfunded Program</a>
        <a *menuRolesNotNow="'create-new-program-mrdb'" class="dropdown-item" disabled>Create Unfunded Program</a>
      </div>

    </div>
  </li>
</div>
<ng-template #disableManageMenu>
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle disabled-style" id="dropdown02" disabled>Manage</a>
  </li>
</ng-template>
