<div class="row main-content mt-2">
<div class="col-12">
    <div class="h5 mb-2">R-4A</div>
    <div class="budget-reports">
      <table>
        <tr class="readOnly borderBottom borderRight">
            <td colspan="12">
              <span class="title">Exhibit R-4A, RDT&amp;E Project Cost Analysis: </span>
              <span>PB 2018 Chemical and Biological Defense Program</span>
            </td>
            <td colspan="4" class="borderBottom">
              <span class="title">Date: </span>
              <span class="date">Dec 2018</span>
            </td>
        </tr>
        <tr class="readOnly borderBottomBold borderRight">
          <td colspan="6">
              <div class="title">Appropriation/Budget Activity</div>
              <div>0400/5</div>
          </td>
          <td colspan="5">
            <div class="title">R-1 Program Element (Number/Name)</div>
            <div>PE 0604384BP/CHEMICAL/BIOLOGICAL DEFENSE (EMD)</div>
          </td>
          <td colspan="5">
              <div class="title">Project (Number/Name)</div>
              <div>IP5 INDIVIDUAL PROTECTION (EMD)</div>
          </td>
        </tr>
        <tr class="readOnly alignCenter borderRightBottom">
          <th colspan="16">
              <span class="alignCenter">Schedule Details</span>
          </th>
        </tr>
        <tr class="readOnly borderRightBottom alignCenter">
            <th colspan="12"></th>
            <th colspan="2">Start</th>
            <th colspan="2">End</th>
        </tr>
        <tr class="readOnly alignCenter borderRightBottom borderBottomBold">
          <th colspan="12" class="alignCenter">
              <span class="alignCenter">Events</span>
          </th>
          <th>Quarter</th>
          <th>Year</th>
          <th>Quarter</th>
          <th>Year</th>
        </tr>
        <tr class="alignRight borderBottom">
          <td colspan="12" class="alignLeft maxWidthText borderRight">
              JSAM TA - MS C Low Rate Initial Production (LRIP)
          </td>
          <td class="cell borderRightBottom alignCenter">2</td>
          <td class="cell borderRightBottom alignCenter">2016</td>
          <td class="cell borderRightBottom alignCenter">2</td>
          <td class="cell borderRight alignCenter">2018</td>
        </tr>
        <tr class="alignRight borderBottom">
          <td colspan="12" class="alignLeft maxWidthText borderRight">
              JSAM TA - Aircraft Platform Integration/Operational Testing
          </td>
          <td class="cell borderRightBottom alignCenter">2</td>
          <td class="cell borderRightBottom alignCenter">2016</td>
          <td class="cell borderRightBottom alignCenter">2</td>
          <td class="cell borderRight alignCenter">2019</td>
        </tr>
        <tr class="alignRight borderBottom">
          <td colspan="12" class="alignLeft maxWidthText borderRight">
              SAM TA - Initial Operational Capability
          </td>
          <td class="cell borderRightBottom alignCenter">1</td>
          <td class="cell borderRightBottom alignCenter">2018</td>
          <td class="cell borderRightBottom alignCenter">4</td>
          <td class="cell borderRight alignCenter">2018</td>
        </tr>
        <tr class="alignRight borderBottom">
          <td colspan="12" class="alignLeft maxWidthText borderRight">
              JSAM TA - Full Rate Production (FRP)
          </td>
          <td class="cell borderRightBottom alignCenter">3</td>
          <td class="cell borderRightBottom alignCenter">2018</td>
          <td class="cell borderRightBottom alignCenter">1</td>
          <td class="cell borderRight alignCenter">2022</td>
        </tr>
      </table>
    </div>
  </div>
</div>
