<fieldset class="custom-pr">
  <legend>Create New UFR:</legend>
  <div class="row">
    <div class="col-6">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{createNewUfrMode ? createNewUfrMode : 'Select an option'}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="setCreateNewUfrMode('For a Program of Record')">For a Program of Record</a>
            <a class="dropdown-item" (click)="setCreateNewUfrMode('For a Programmatic Request')">For a new Programmatic Request</a>
            <a class="dropdown-item" (click)="setCreateNewUfrMode('For a new Increment')">For a new Increment</a>
            <a class="dropdown-item" (click)="setCreateNewUfrMode('For a new FoS')">For a new FoS</a>
            <a class="dropdown-item" (click)="setCreateNewUfrMode('For a new Program')">For a new Program</a>
        </div>
      </div>
    </div>
    <div class="col-4 mr-2" *ngIf="createNewUfrMode === 'For a Program of Record'        ||
                                   createNewUfrMode === 'For a Programmatic Request' ||
                                   createNewUfrMode === 'For a new FoS'                  ||
                                   createNewUfrMode === 'For a new Increment'       ">
      <div class="dropdown-label">
        <select [(ngModel)]="selectedProgramOrPr" class="form-control-sm" name="dummy">
          <option value="null" disabled selected>Select a {{initialSelectOption}}</option>
          <option *ngFor="let programOrPr of selectableProgramsOrPrs" [ngValue]="programOrPr">{{programOrPr.fullname}}</option>
        </select>
      </div>
    </div>
    <div class="col-1">
        <button class="btn btn-primary pull-right" type="button" (click)="next()" [disabled]="!createNewUfrMode || createNewUfrMode=='Select an option'">
        <span class="icon-pad">Next</span>
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</fieldset>
  
