<fieldset class="custom-ufr">
  <legend>Create New UFR For:</legend>
    <table>
      <tbody>
        <tr>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{createNewUfrMode ? createNewUfrMode : 'Select an option'}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="setCreateNewUfrMode('Previously Funded Program')">Previously Funded Program</a>
                  <a class="dropdown-item" (click)="setCreateNewUfrMode('Program Request')">Program Request</a>
                  <a class="dropdown-item" (click)="setCreateNewUfrMode('New Increment')">New Increment</a>
                  <a class="dropdown-item" (click)="setCreateNewUfrMode('New FoS')">New FoS</a>
                  <a class="dropdown-item" (click)="setCreateNewUfrMode('New Program')">New Program</a>
              </div>
            </div>
          </td>
          <td>
            <div *ngIf="createNewUfrMode === 'Previously Funded Program' ||
                         createNewUfrMode === 'Program Request'          ||
                         createNewUfrMode === 'New FoS'                  ||
                         createNewUfrMode === 'New Increment'            ">
              <div class="dropdown-label">
                <select [(ngModel)]="selectedProgramOrPr" class="form-control-sm" name="dummy">
                  <option value="null" disabled selected>Select a {{initialSelectOption}}</option>
                  <option *ngFor="let programOrPr of selectableProgramsOrPrs" [ngValue]="programOrPr">{{programOrPr.shortName}}</option>
                </select>
              </div>
            </div>
          </td>
          <td>
            <button class="btn btn-primary pull-right" type="button" (click)="next()" [disabled]="!createNewUfrMode || createNewUfrMode=='Select an option'">
              <span class="icon-pad">Next</span>
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</fieldset>
