
<div class="table">
  <div class="table-row">
    <div style="width:70%;text-align:left">
        <h3>Create Programming Phase for {{byYear}} </h3>
    </div>
    <div style="width:61%;text-align:right" text-align="center">
      <a href="" style="color: #0000FF">Edit Year</a>
  </div>
</div>
<div class="main">
           <span>&nbsp;</span>
</div>
<div class="table">
<div class="table-row">
    <div class="rTableCellr" vertical-align="middle">Baseline loaded from:</div>
    <div class="rTableCell">
      <ng-container *ngIf="availableYears">
          <pfm-dropdown (onSelectionChanged)="yearSelected($event)" [required]="true" [id]="id" [fieldName]="'name'" [fieldLabel]="'name'" [options]="availableYears"></pfm-dropdown>
      </ng-container>
    </div>
</div>
</div>
</div>

<br><br>

<div *ngIf="programBudgetData">
  <div class="col-20">
    <tabset destroyOnHide="true">
      <tab heading="Community" active="true">
        
      </tab>
      <tab heading="Organization">
        
      </tab>

    </tabset>
  </div>
</div>

<ng-container *ngIf="showUploadDialog">
  <pfm-secure-upload (onFilesUploaded)="handleNewAttachments($event)"></pfm-secure-upload>
</ng-container>
<br><br>


<pfm-busy [busy]="busy"></pfm-busy>

