
<div class="table">
  <div class="table-row">
    <div style="width:70%;text-align:left">
        <h3>Create Programming Phase for {{byYear}} </h3>
    </div>
    <div style="width:61%;text-align:right" text-align="center">
      <a href="" style="color: #0000FF">Edit Year</a>
  </div>
</div>
<div class="main">
           <span>&nbsp;</span>
</div>
<div class="table">
<div class="table-row">
    <div class="rTableCellr" vertical-align="middle">Baseline loaded from:</div>
    <div class="rTableCell">
      <ng-container *ngIf="availableYears">
          <pfm-dropdown (onSelectionChanged)="yearSelected($event)" [required]="true" [id]="id" [fieldName]="'name'" [fieldLabel]="'name'" [options]="availableYears"></pfm-dropdown>
      </ng-container>
    </div>
</div>
</div>
</div>

<br><br>

<div *ngIf="programBudgetData">
  <div class="col-20" >
    <tabset destroyOnHide="true">
      <tab heading="Community" active="true" style="width:99%;height:99%">
        <div><span>&nbsp;Set TOAs for Comunity ($K)&nbsp;</span></div>
        <div class="grid-container">
          <pfm-datagrid (onGridIsReady)="onCommunityGridIsReady($event)" (onColumnIsReady)="onColumnIsReady($event)"  [showAddRow]="false" [columns]="communityColumns" [rows]="communityData" ></pfm-datagrid>
        </div>
      </tab>
      <tab heading="Organization"  style="width:99%;height:99%">
        <div><span>&nbsp;Set TOAs for Organization ($K)&nbsp;</span></div>
        <!--<div style="height:300px;width:98%">-->
        <div class="grid-container">
          <pfm-datagrid (onGridIsReady)="onOrgGridIsReady($event)" (onColumnIsReady)="onColumnIsReady($event)" [showAddRow]="false" [columns]="orgColumns" [rows]="orgData" ></pfm-datagrid>
        </div>
      <!--</div>-->
      <!--
      <div style="float:left; height:100px;width:98%">
        <table border="1px" style="width:80%;height:99%">          
          <tr *ngFor="let row of subToasData" style="width:100%;height:30px;">
            
            <td *ngFor="let column of tableHeaders" style="width:100px;padding-left: 1px;padding-right:5px; text-align:right;">
              <strong>${{row[column]}}</strong>
            </td>
            </tr>
        </table>
      </div>
    -->
      </tab>
    </tabset>
  </div>
</div>


<ng-container *ngIf="showUploadDialog">
  <pfm-secure-upload (onFilesUploaded)="handleNewAttachments($event)"></pfm-secure-upload>
</ng-container>
<br><br>


<pfm-busy [busy]="busy"></pfm-busy>

