.grid-container{
    width: 100%;
    height: calc(100vh);
  }

.table {
    display:table; 
    width:750px;
}
.cellleft {
    display:table-cell;
    text-align:left;
    width:70%;
}
.cellright {
    display:table-cell;
    text-align:right;
    width:55%;
}
.datagrid-numeric-class{
    display: flex;
    align-items: center;
    white-space: normal;
    justify-content: flex-end;
    
  }
  .add-row-container{
    display: none !important;
    justify-content: flex-end;
  }
  
.table-row {
    display:table-row;
    width:150px;
}
.rTableCell {
    display:table-cell;
    text-align:left;
   
    width:20px;
    height:20px;
 }

 .rTableCellr {
    display:table-cell;
    text-align:center;
    width:20px;
    align:center;
 }