

.table {
    display:table; 
    width:750px;
}
.cellleft {
    display:table-cell;
    text-align:left;
    width:70%;
}
.cellright {
    display:table-cell;
    text-align:right;
    width:55%;
}
.table-row {
    display:table-row;
    width:150px;
}
.rTableCell {
    display:table-cell;
    text-align:left;
   
    width:20px;
    height:20px;
 }

 .rTableCellr {
    display:table-cell;
    text-align:center;
    width:20px;
    align:center;
 }