<div class="section-banner">
  <div class="table">
    <div class="table-row">
      <div style="width:70%;text-align:left">
        <h3>Create Programming Phase for {{byYear}} </h3>
      </div>
      <div style="width:61%;text-align:right" text-align="center">
        <a href="" style="color: #0000FF">Edit Year</a>
      </div>
    </div>
    <div class="main">
      <span>&nbsp;</span>
    </div>
    <div class="table">
      <div class="table-row">
        <div class="rTableCellr" vertical-align="middle">Baseline loaded from:</div>
        <div class="rTableCell">
          <ng-container *ngIf="availableYears">
            <pfm-dropdown (onSelectionChanged)="yearSelected($event)" [label]="" [required]="true" [id]="id" [fieldName]="'name'" [fieldLabel]="'name'" [options]="availableYears"></pfm-dropdown>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-tabs" *ngIf="programBudgetData">
  <div class="col-20" >
    <tabset  class="program-tab-style" destroyOnHide="true">
      <tab  heading="Community" active="true" style="width:100%;height:100%">
        <div class="section-tab">

          <div class="section-chart">
            <pfm-programming-community-graph #communityGraph [griddata]="communityGraphData"></pfm-programming-community-graph>
          </div>

          <div class="section-datagrid">
            <div><span>&nbsp;Set TOAs for Comunity ($K)&nbsp;</span><pfm-secondary-button [label]="' Reset'" [icon]="'fa fa-refresh'" (onClick)="onResetCommunityData()"></pfm-secondary-button></div>
            <div class="grid-container">
              <pfm-displaydatagrid [tabToNextCell]="onTabToNextCell.bind(this)" (onGridIsReady)="onCommunityGridIsReady($event)" (onColumnIsReady)="onCommunityColumnIsReady($event)" (onCellAction)="onCommunityGridCellAction($event)" [showAddRow]="false" [columns]="communityColumns" [rows]="communityData" >
              </pfm-displaydatagrid>
            </div>
          </div>

        </div>
      </tab >
      <tab heading="Organization"  style="width:100%;height:100%">
        <div class="section-tab">

          <div class="section-chart">
            <pfm-programming-organization-graph #organizationGraph [griddata]="organizationGraphData"></pfm-programming-organization-graph>
          </div>

          <div class="section-datagrid">
            <div><span>&nbsp;Set TOAs for Organization ($K)&nbsp;</span><pfm-secondary-button [label]="' Reset'" [icon]="'fa fa-refresh'" (onClick)="onResetOrgData()"></pfm-secondary-button></div>
            <!--<div style="height:300px;width:98%">-->
            <div class="grid-container">
              <pfm-displaydatagrid [tabToNextCell]="onTabToNextCell.bind(this)" (onGridIsReady)="onOrgGridIsReady($event)" (onColumnIsReady)="onOrgColumnIsReady($event)" (onCellAction)="onOrgGridCellAction($event)" [showAddRow]="false" [columns]="orgColumns" [rows]="orgData" >
              </pfm-displaydatagrid>
            </div>
          </div>

        </div>
      <!--</div>-->
      <!--
      <div style="float:left; height:100px;width:98%">
        <table border="1px" style="width:80%;height:99%">          
          <tr *ngFor="let row of subToasData" style="width:100%;height:30px;">
            
            <td *ngFor="let column of tableHeaders" style="width:100px;padding-left: 1px;padding-right:5px; text-align:right;">
              <strong>${{row[column]}}</strong>
            </td>
            </tr>
        </table>
      </div>
    -->
      </tab>
    </tabset>
  </div>
</div>


<ng-container *ngIf="showUploadDialog">
  <pfm-secure-upload (onFilesUploaded)="handlePOMFile($event)"></pfm-secure-upload>
</ng-container>
<br><br>


<pfm-busy [busy]="busy"></pfm-busy>

