<div class="row">
  <div class="col-auto">
    <div class="mt-3">
      <grid-rows [agGrid]="agGrid">
      </grid-rows>
    </div>
  </div>
  <!-- <div class="col-auto">
    <toggle-button offText="Expand" onText="Collapse" (onChangeEvent)="toggleExpand()"></toggle-button>
  </div> -->
</div>
<ag-grid-angular #agGrid
                 class="ag-theme-balham group-header-white"
                 domLayout="autoHeight"
                 [gridOptions]="agOptions"                                                  
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"                                  
                 [getDataPath]="getDataPath"                 
                 [groupDefaultExpanded]="groupDefaultExpanded"    
                 [autoGroupColumnDef]="autoGroupColumnDef"                              
                 (paginationChanged)="agGridPagination.onPaginationChanged($event)"                                                                  
                 (gridReady)="onGridReady($event)">
</ag-grid-angular>
<ag-grid-pagination #agGridPagination [agGrid]="agGrid"></ag-grid-pagination>
<ng-container *ngIf="!reviewOnly">
  <div class="row mb-3" >
    <div class="col-12">
      <div id="modal" class="modal fade in" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <a class="btn" data-dismiss="modal">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </a>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to remove program request <span class="remove-program">{{nameToDelete}}</span>?</p>
              <span class="mb-2">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>