<app-header></app-header>
<div class="single-row">
  <menu-bar [authUser]="authUser"></menu-bar>
<div class="row main-content">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
          <div class="h5 mb-1">Program Update Detail for Execution Phase {{exe?.fy|FY}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="form-group">
            <span class="h6 mr-2">Program Execution Line:</span>
            <span class="mr-3 execution-titles">{{program}}</span>
            <span class="mr-3 execution-titles" *ngIf="exeline" >{{exeline.appropriation}}/{{exeline.blin}}/{{exeline.item}}/{{exeline.opAgency}}</span>
          </div>
      </div>
      <div class="col-4">
        <div class="pull-right">
          <span>
            <label class="mr-1">Show as: </label>
          </span>
          <span>
            %
            <button type="button" class="btn btn-sm btn-toggle btn-success" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="onTogglePct()">
              <div class="handle"></div>
            </button>
            $
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <tabset class="program-tab-style" role="tablist">
          <tab heading="Spend Plans" id="tab1" [active]="hash==='SpendPlan'">
            <spend-plans-tab role="tabpanel"
              [oandes]="oandes"
              [exeline]="exeline"
              [exe]="exe"
              [parent]="this"
              [percentages]="showPercentages"
              [deltas]="deltaMap">
            </spend-plans-tab>
          </tab>
          <tab heading="Actuals" id="tab2" [active]="hash==='Actuals'">
            <actuals-tab role="tabpanel"
              [oandes]="oandes"
              [exeline]="exeline"
              [exe]="exe"
              [parent]="this"
              [percentages]="showPercentages"
              [deltas]="deltaMap">
            </actuals-tab>
          </tab>
          <tab heading="Graph" id="tab3" [active]="hash==='Graph'">
            <graphs-tab role="tabpanel"
              [oandes]="oandes"
              [exeline]="exeline"
              [exe]="exe"
              [percentages]="showPercentages"
              [deltas]="deltaMap">
            </graphs-tab>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
</div>
