<j-header></j-header>
<div class="row main-content">
  <div class="col-12">
    <div class="row mb-2">
      <div class="col-8">
            <div class="h5 mb2">{{exe?.fy|FY}} - O&amp;E Update for Program Execution Line</div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <span class="form-group">
          <span class="mr-sm-4">{{program}}</span>
        </span>
        <span class="form-group">
          <span class="mr-sm-4" *ngIf="exeline" >{{exeline.appropriation}}/{{exeline.blin}}/{{exeline.item}}/{{exeline.opAgency}}</span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tabset class="program-tab-style" role="tablist">
          <tab heading="Spend Plans" id="tab1" active="true">
            <spend-plans-tab role="tabpanel" 
              [oandes]="oandes" 
              [exeline]="exeline" 
              [exe]="exe"
              [parent]="this"
              [deltas]="deltaMap">
            </spend-plans-tab>
          </tab>
          <tab heading="Actuals" id="tab2">
            <actuals-tab role="tabpanel" 
              [oandes]="oandes" 
              [exeline]="exeline" 
              [exe]="exe"
              [parent]="this"
              [deltas]="deltaMap">
            </actuals-tab>
          </tab>
          <tab heading="Graph" id="tab3">
            <graphs-tab role="tabpanel"
              [oandes]="oandes"
              [exeline]="exeline"
              [exe]="exe"
              [deltas]="deltaMap">
            </graphs-tab>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
