<fieldset>
  <legend>Export</legend>
  <table class="worksheet-table">
    <tr>
      <td>
        <label>Worksheet Selected:</label>
      </td>
      <td>
        <span class="form-group">
          <input type="text" [ngModel]="name" class="form-control copy-input" minlength="2" readonly>
        </span>
      </td>
      <td>
        <label>Number:</label>
      </td>
      <td>
        <span class="form-group">
          <input type="number" [ngModel]="version" class="form-control version-input" minlength="2" readonly>
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <div class="button-controls pull-right">
          <button class="btn btn-primary pull-right" (click)="onExport()" >Save</button>
          <button class="btn btn-secondary pull-right" (click)="operationOver.emit()" >Cancel</button>
        </div>
      </td>
    </tr>
  </table>
</fieldset>
