.inline-name {
  display: inline-block;
  float: left;
}

label {
  color: #868e9b;
  margin: 0;
  width: 233px;
  display: block;
}

.forminput {
  width: 250px;
}

.dropdown-width {
  width: 200px;
}

@media (min-width: 768px) {
  .img-placeholder > i.fa {
    font-size: 160px;
    color: #ccc;
  }
}

@media (min-width: 1200px) {

  .img-placeholder > i.fa {
    font-size: 200px;
  }
}
