<form>
  <div class="row">
    <div class="col-md-12">
      <label class="mb-2">*Rationale:</label>
      <div class="form-group">
        <textarea cols="50" rows="4" wrap="physical" [disabled]="readonly()" [(ngModel)]="ufr.justification" class="form-control" id="rationale" name="rationale"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="mb-2">*Milestone Impact:</label>
      <div class="form-group">
        <textarea cols="50" rows="4" wrap="physical" [disabled]="readonly()" [(ngModel)]="ufr.milestoneImpact" class="form-control" id="impact-1" name="impact-1"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="mb-2">*Impact if not funded:</label>
      <div class="form-group">
        <textarea cols="50" rows="4" wrap="physical" [disabled]="readonly()" [(ngModel)]="ufr.impactN" class="form-control" id="impact-2" name="impact-2"></textarea>
      </div>
    </div>
  </div>
</form>
