<form id="program-request">
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <span class="col form-group inline-name">
              <label class="mb-1">*Lead Component</label>
              <select [(ngModel)]="pr.leadComponent" name="leadComponent" class="form-control-sm dropdown-width mb-2">
                <option *ngFor="let lc of dropdownValues.get('Lead Component')" [ngValue]="lc.abbr">{{lc.name}}</option>
              </select>
            </span>
            <span class="col form-group inline-name">
              <label class="mb-1">*Manager</label>
              <select [(ngModel)]="pr.manager" name="manager" class="form-control-sm dropdown-width mb-2">
                <option *ngFor="let m of dropdownValues.get('Manager')" [ngValue]="m.abbr">{{m.name}}</option>
              </select>
            </span>
          </div>
          <div class="row px-3">
            <div class="col">
              <file-upload [area]="fileArea" (fileUploadEvent)="onFileUploaded($event)"></file-upload>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div *ngIf="!imagePath"  class="card border-light mb-3">
            <div class="img-placeholder">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </div>
          </div>
          <img *ngIf="imagePath" [src]="imagePath" class="img-thumbnail">
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <fieldset>
            <legend>Capability</legend>
            <span class="form-group inline-name">
              <label class="mb-1">*Primary</label>
              <select [(ngModel)]="pr.primaryCapability" name="primaryCapability" class="form-control-sm dropdown-width mb-2">
                <option *ngFor="let pc of dropdownValues.get('Primary Capability')" [ngValue]="pc.abbr">{{pc.name}}</option>
              </select>
             </span>
             <span class="form-group inline-name">
                <label class="mb-1">*Core</label>
                <select [(ngModel)]="pr.coreCapability" name="coreCapability" class="form-control-sm dropdown-width mb-2">
                  <option *ngFor="let cc of dropdownValues.get('Core Capability Area')" [ngValue]="cc.abbr">{{cc.name}}</option>
                </select>
              </span>
              <span class="form-group inline-name">
                <label class="mb-1">Secondary</label>
                <select [(ngModel)]="pr.secondaryCapability" name="secondaryCapability" class="form-control-sm dropdown-width mb-2">
                  <option *ngFor="let sc of dropdownValues.get('Secondary Capability')" [ngValue]="sc.abbr">{{sc.name}}</option>
                </select>
              </span>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <fieldset>
            <legend>Area</legend>
            <span class="form-group inline-name mr-4">
              <label class="mb-1">*Functional</label>
              <select [(ngModel)]="pr.functionalArea" name="functionalArea" class="form-control-sm dropdown-width mb-2">
                <option *ngFor="let fa of dropdownValues.get('Functional Area')" [ngValue]="fa.abbr">{{fa.name}}</option>
              </select>
            </span>
            <span class="form-group inline-name">
              <label class="mb-1"> Medical &amp; Non-Medical</label>
              <select [(ngModel)]="pr.medicalArea" name="medicalCategory" class="form-control-sm dropdown-width mb-2">
                <option *ngFor="let mc of dropdownValues.get('Medical Category')" [ngValue]="mc.abbr">{{mc.name}}</option>
              </select>
            </span>
            <span class="form-group inline-name">
              <label class="mb-1">Emphasis</label>
              <select name="emphasis" class="form-control-sm dropdown-width mb-2">
                <option *ngFor="let e of dropdownValues.get('Emphasis Areas')" [ngValue]="e.abbr">{{e.name}}</option>
              </select>
            </span>
          </fieldset>
        </div>
        <div class="col-md-3">
          <span class="form-group inline-name">
              <label class="mb-1">DASD Taxonomy</label>
              <select name="medicalCategory" class="form-control-sm dropdown-width mb-2">
                <option *ngFor="let dasd of dropdownValues.get('DASD CBD')" [ngValue]="dasd.abbr">{{dasd.name}}</option>
              </select>
            </span>
        </div>
      </div>
    </div>
  </div>
</form>
<ng-template #novalue>
  <span class="program-values">
    <i>None</i>
  </span>
</ng-template>
<!-- <form id="create-new-subprogram">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group inline-name">
            <label>*Enter Program ID</label>
            <input type="text" class="form-control forminput mr-3">
          </div>
          <div class="form-group inline-name">
            <label>*Enter Name</label>
            <input type="text" class="form-control forminput mr-3">
          </div>
          <div class="form-group inline-name">
            <label class="mb-1">Type of Subprogram</label>
            <select class="form-control-sm dropdown-width mb-2">
                <option>items</option>
                <option>items</option>
                <option>items</option>
              </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Select Picture" aria-label="Broswe Picture" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text">Browse</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Capability</legend>
            <span class="form-group inline-name">
              <label class="mb-1">*Primary</label>
              <select class="form-control-sm dropdown-width mb-2">
                 <option>items</option>
                 <option>items</option>
                 <option>items</option>
               </select>
             </span>
             <span class="form-group inline-name">
                <label class="mb-1">*Core</label>
                <select class="form-control-sm dropdown-width mb-2">
                   <option>items</option>
                   <option>items</option>
                   <option>items</option>
                </select>
              </span>
              <span class="form-group inline-name">
                <label class="mb-1">Secondary</label>
                <select class="form-control-sm dropdown-width mb-2">>
                  <option>items</option>
                  <option>items</option>
                  <option>items</option>
                </select>
              </span>
              <span class="form-group inline-name">
                <label class="mb-1">Tertiary</label>
                <select class="form-control-sm dropdown-width mb-2">
                  <option>items</option>
                  <option>items</option>
                  <option>items</option>
                </select>
              </span>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <fieldset>
            <legend>Area</legend>
            <span class="form-group inline-name mr-4">
              <label class="mb-1">*Functional</label>
              <select class="form-control-sm dropdown-width mb-2">
                 <option>items</option>
                 <option>items</option>
                 <option>items</option>
               </select>
            </span>
            <span class="form-group inline-name">
              <label class="mb-1">Medical Cat.</label>
              <select class="form-control-sm dropdown-width mb-2">
               <option>items</option>
               <option>items</option>
               <option>items</option>
              </select>
            </span>
          </fieldset>
        </div>
        <div class="col-md-5">
          <span class="form-group inline-name">
            <label class="mt-5">Aqu. Type</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="form-group inline-name">
            <label class="mb-1">Emphasis</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
          <span class="form-group inline-name">
            <label class="mb-1">BSV Nat. Strat.</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
          <span class="form-group inline-name">
            <label class="mb-1">DASD POM</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="form-group inline-name">
            <label class="mb-1">*Lead Component</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
          <span class="form-group inline-name">
            <label class="mb-1">*Manager</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-light mb-3 pull-right">
        <div class="img-placeholder">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</form> -->
<!-- <form id="create-new-toplevel">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-8 mb-2">
          <div class="form-group inline-name">
            <label>*Enter Program ID</label>
            <input type="text" class="form-control forminput mr-5">
          </div>
          <div class="form-group inline-name">
            <label>*Enter Name</label>
            <input type="text" class="form-control forminput">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Select Picture" aria-label="Broswe Picture" aria-describedby="basic-addon3">
            <div class="input-group-append">
              <span class="input-group-text">Browse</span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend>Capability</legend>
            <span class="form-group inline-name">
              <label class="mb-1">*Primary</label>
              <select class="form-control-sm dropdown-width mb-2">
                 <option>items</option>
                 <option>items</option>
                 <option>items</option>
               </select>
             </span>
             <span class="form-group inline-name">
                <label class="mb-1">*Core</label>
                <select class="form-control-sm dropdown-width mb-2">
                   <option>items</option>
                   <option>items</option>
                   <option>items</option>
                </select>
              </span>
              <span class="form-group inline-name">
                <label class="mb-1">Secondary</label>
                <select class="form-control-sm dropdown-width mb-2">>
                  <option>items</option>
                  <option>items</option>
                  <option>items</option>
                </select>
              </span>
              <span class="form-group inline-name">
                <label class="mb-1">Tertiary</label>
                <select class="form-control-sm dropdown-width mb-2">
                  <option>items</option>
                  <option>items</option>
                  <option>items</option>
                </select>
              </span>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <fieldset>
            <legend>Area</legend>
            <span class="form-group inline-name mr-4">
              <label class="mb-1">*Functional</label>
              <select class="form-control-sm dropdown-width mb-2">
                 <option>items</option>
                 <option>items</option>
                 <option>items</option>
               </select>
            </span>
            <span class="form-group inline-name">
              <label class="mb-1">Medical Cat.</label>
              <select class="form-control-sm dropdown-width mb-2">
               <option>items</option>
               <option>items</option>
               <option>items</option>
              </select>
            </span>
          </fieldset>
        </div>
        <div class="col-md-5">
          <span class="form-group inline-name">
            <label class="mt-5">Aqu. Type</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="form-group inline-name">
            <label class="mb-1">Emphasis</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
          <span class="form-group inline-name">
            <label class="mb-1">BSV Nat. Strat.</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
          <span class="form-group inline-name">
            <label class="mb-1">DASD POM</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="form-group inline-name">
            <label class="mb-1">*Lead Component</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
          <span class="form-group inline-name">
            <label class="mb-1">*Manager</label>
            <select class="form-control-sm dropdown-width mb-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-light mb-3 pull-right">
        <div class="img-placeholder">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</form> -->
