label {
  color: #868e9b;
  margin: 0;
  margin-right: 6px;
  width: 100%;
}

select {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .img-placeholder > i.fa {
    font-size: 160px;
    color: #ccc;
  }
}

@media (min-width: 1200px) {

  .img-placeholder > i.fa {
    font-size: 200px;
  }
}

.program-values {
  margin-right: 20px;
  padding: 2px;
}

.program-container {
  width: 100%;
  margin-bottom: 10px;
  color: #000;
  padding: 10px;
}

.inline-name {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.forminput {
  width: 300px;
  padding: 6px 4px;
  clear: both;
  display: inline;
}

.forminput-sm {
  width: 130px;
  padding: 6px 4px;
  clear: both;
}

.radio-buttons {
  color: #868e9b;
  padding: 2px 0 0 0;
  margin-bottom: 5px;
}

.radio-item {
  display: inline;
  position: relative;
  padding: 0 6px;
  margin: 0px 0 0;

  input[type='radio'] {
    display: none;
  }

  input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 10px;
    content: " ";
    display: block;
    background: #868e9b;
    cursor: pointer;
  }

  label {
    color: #868e9b;
    font-weight: normal;
    &:before {
      content: " ";
      display: inline-block;
      position: relative;
      top: 5px;
      margin: 0 5px 0 0;
      width: 20px;
      height: 20px;
      border-radius: 11px;
      border: 2px solid #868e9b;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
