<form>
  <div class="row">
    <!--Left column begins-->
    <div class="col-9">
      <div class="row">
        <div class="col-md-9">
          <div class="form-group inline-name">
            <input type="text" class="form-control forminput" name="progId" placeholder="*ProgID">
          </div>
          <div class="form-group inline-name">
            <input type="text" class="form-control forminput" name="progName" placeholder="*Prog Name">
          </div>
          <div class="form-group inline-name">
            <div class="input-group">
              <input type="text" class="form-control forminput" placeholder="Select Picture">
              <span class="input-group-btn">
                <button class="btn btn-secondary btn-sm" type="button">Browse</button>
              </span>
            </div>
          </div>
          <div class="form-group inline-name">
            <label>Parent Program</label>
            <select class="form-control-sm mb-2 mr-sm-2">
                <option>items</option>
                <option>items</option>
                <option>items</option>
              </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="radio-buttons">
            <div class="radio-item">
              <input type="radio" id="ritema" name="ritem" value="ropt1">
              <label for="ritema">No Subprogram</label>
            </div>
            <div class="radio-item">
              <input type="radio" id="ritemb" name="ritem" value="ropt2">
              <label for="ritemb">Increment</label>
            </div>
            <div class="radio-item">
              <input type="radio" id="ritemc" name="ritem" value="ropt3">
              <label for="ritemc">FoS</label>
            </div>
            <div class="radio-item">
              <input type="radio" id="ritemd" name="ritem" value="ropt4">
              <label for="ritemd">Variant RDTE</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
              <div class="card-body">
                <div class="title">Capability</div>
                  <hr>
                <span class="form-group inline-name">
                  <label>*Primary</label>
                  <select class="form-control-sm mb-2 mr-sm-2">
                     <option>items</option>
                     <option>items</option>
                     <option>items</option>
                   </select>
                 </span>
                 <span class="form-group inline-name">
                    <label>*Core</label>
                    <select class="form-control-sm mb-2 mr-sm-2">
                       <option>items</option>
                       <option>items</option>
                       <option>items</option>
                    </select>
                  </span>
                  <span class="form-group inline-name">
                    <label>*Secondary</label>
                    <select class="form-control-sm mb-2 mr-sm-2">
                      <option>items</option>
                      <option>items</option>
                      <option>items</option>
                    </select>
                  </span>
                  <span class="form-group inline-name">
                    <label>Tertiary</label>
                    <select class="form-control-sm mb-2 mr-sm-2">
                      <option>items</option>
                      <option>items</option>
                      <option>items</option>
                    </select>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3">
            <div class="card-body">
              <div class="card-title">Area</div>
              <hr>
              <span class="form-group inline-name">
                <label>*Functional</label>
                <select class="form-control-sm mb-2 mr-sm-2">
                   <option>items</option>
                   <option>items</option>
                   <option>items</option>
                 </select>
              </span>
              <span class="form-group inline-name">
                <label>*Medical Cat.</label>
                <select class="form-control-sm mb-2 mr-sm-2">
                 <option>items</option>
                 <option>items</option>
                 <option>items</option>
                </select>
              </span>
              <span class="form-group inline-name">
                <label>*NBC Cat.</label>
                <select class="form-control-sm mb-2 mr-sm-2">
                  <option>items</option>
                  <option>items</option>
                  <option>items</option>
                </select>
              </span>
              <span class="form-group inline-name">
                <label>*Aqu. Type</label>
                <select class="form-control-sm mb-2 mr-sm-2">
                  <option>items</option>
                  <option>items</option>
                  <option>items</option>
                </select>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="form-group inline-name">
            <label>Emphasis</label>
            <select class="form-control-sm mb-2 mr-sm-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
          <span class="form-group inline-name">
            <label>BSV Nat. Strat.</label>
            <select class="form-control-sm mb-2 mr-sm-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
          <span class="form-group inline-name">
            <label>DASD POM</label>
            <select class="form-control-sm mb-2 mr-sm-2">
              <option>items</option>
              <option>items</option>
              <option>items</option>
            </select>
          </span>
        </div>
      </div>
    </div>
    <!--Left column ends. Right column begins.-->
    <div class="col-md-3">
      <!--Contents of right column.-->
      <div class="card border-light mb-3 pull-right">
        <div class="img-placeholder">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  <!--Right column ends-->
  </div>
</form>
