<div class="row">
    <div class="col-12">
        <pfm-dialog-demo-pod></pfm-dialog-demo-pod>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <pfm-welcome-pod [fullName]="appModel.userDetails.fullName"></pfm-welcome-pod>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <pfm-latest-news-pod></pfm-latest-news-pod>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <pfm-baseline-breakdown-pod></pfm-baseline-breakdown-pod>
    </div>
    <div class="col-4">
        <pfm-my-todo-list-pod></pfm-my-todo-list-pod>
    </div>
    <div class="col-4">
        <pfm-my-current-activity-pod></pfm-my-current-activity-pod>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <pfm-dashboard></pfm-dashboard>
    </div>
</div>
