<table class="my-community-table">
  <tr>
    <td>
      <div class="dropdown">
        <select class="form-control-sm" name="communityJoinSelector" [(ngModel)]="selectedCommunity" (change)="getOrganizations()">
            <option value="null" disabled selected>Select Community</option>
            <option *ngFor="let community of availableCommunities" [ngValue]="community">
            {{community.abbreviation}}
          </option>
        </select>
      </div>
    </td>
    <td>
      <div *ngIf="useOrgs" class="dropdown-label">
        <select class="form-control-sm" name="OrgMemberSelector" [(ngModel)]="selectedOrg">
          <option value="null" disabled selected>Select Organization</option>
          <option *ngFor="let org of organizations" [ngValue]="org">{{ org?.abbreviation }}</option>
        </select>
      </div>
    </td>
    <td>
      <button class="btn btn-primary btn" (click)="createRequest()" [disabled]="ready()">Create Request</button>
    </td>
    <td>
      <div class="my-label">Requests</div>
      <select size="3" class="form-control-sm mb-2 mr-sm-2 manage-community-list">
        <option class="community-list-message" *ngIf="!requestedCommunities?.length">There are no requests</option>
        <option *ngFor="let community of requestedCommunities"
                [class.current-community]="community.id==user.currentCommunityId"
                [disabled]="true">
          {{community.abbreviation}}
        </option>
      </select>
    </td>
  </tr>
</table>