.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  align-items: center;
}

.comunities {
  grid-column: 1;
}

button {
  grid-column: 2;
}

.requests {
  grid-column: 3;
  option {
    color: #868e9b;
    cursor: default
  }
}

.message {
  grid-column: 1/4;
}

.label {
  padding-right: 40px;
  text-align: center;
}

option {
  &.default-community {
    color: #868e9b;
    cursor: default;
    &::after {
      content: " (Default Community)";
    }
  }
  color: black
}

select {
  overflow: auto
}