<div class="wrapper">
  <div class="communities">
    <div class="label">Community</div>
    <select size="3" class="form-control-sm mb-2 mr-sm-2" [(ngModel)]="selectedCommunityId">
      <option [class.default-community]="community.id==user.defaultCommunityId"
              *ngFor="let community of availableCommunities"
              [value]="community.id"
              [disabled]="user.defaultCommunityId==community.id">
        {{community.name}}
      </option>
    </select>
  </div>
  <div>
    <button class="btn btn-primary btn-sm" (click)="createRequest()" [disabled]="!selectedCommunityId">Create Request</button>
  </div>
  <div class="requests">
    <div class="label">Requests</div>
    <select size="3" class="form-control-sm mb-2 mr-sm-2">
      <option *ngFor="let community of requestedCommunities" [disabled]="true">{{community.name}}</option>
    </select>
  </div>
  <div class="message" [hidden]="messageIsHidden">
    <div class="alert-success-group">
      <div class="alert-success alert-dismissable">
        <strong>You will receive an email once your request is processed.</strong>
      </div>
    </div>
  </div>
</div>