<google-chart #comchart
  [data]='chartdata'
  (chartelect)='select($event)'
></google-chart>
<select [(ngModel)]="selectedFilter" (ngModelChange)="onFilterChange($event)" class="selectpicker">
  <option [value]="i" *ngFor="let i of filters" class="optionpicker">{{i}}</option>
</select>


<google-chart #treechart
  [data]='treedata'
  (rollup)='rollup($event)'
  (chartSelect)='selectTree($event)'
></google-chart>
<select [(ngModel)]="selectTreeFilter" (ngModelChange)="onFilterChangeForTreeMap($event)" class="selectpicker">
  <option [value]="i" *ngFor="let i of filtersTreeMap" class="optionpicker">{{i}}</option>
</select>

