$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-grey: #eae9e9;
$dark-grey: #848282;
$light-green: #ebf2de;

fieldset {
  padding: 20px;
}

.pr-table {

  background-color: $white;
  border-collapse: collapse;
  color: $black;

  td {
    border: $grey-border;
    padding: 2px 10px;
    max-height: 20px;
    width: 82px;
    min-width: 82px;
    content: '';
  }

  th {
    font-weight: 500;
    border: $grey-border;
    padding: 2px 10px;
    max-height: 20px;
    text-align: center;
    width: 82px;
    min-width: 82px;
    content: '';
  }

  thead > tr > td  {
    padding: 2px 10px;
    width: 82px;
    min-width: 82px;
  }

  thead {
    background-color: #24527b;
    color: $white;
  }

  thead tr td {
    padding: 2px 10px;
    width: 82px;
    min-width: 82px;
    content: '';
  }

  thead tr {
    display:block;
  }

  .largest-column {
    padding: 2px 10px;
    width: 242px !important;
    min-width: 150px !important;
  }

  .large-column {
    padding: 2px 10px;
    width: 150px !important;
    min-width: 215px !important;
  }

  .table-body {
    display:block;
    padding: 0;
    height: 600px;
    overflow: auto; //set tbody to auto
  }
}

.pr-table {
  // custom scroll background
  /* width */
  ::-webkit-scrollbar {
      width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
}

.remove-pr {
 i {
     &.fa {
      color: $black;
      opacity: .5;
      font-size: 18px;
      cursor: pointer;
    }
    &.fa:hover {
      color: red;
      opacity: .9;
    }
  }
}

.white-top-table-header  {
  background-color: $white !important;
  border: 1px solid $white !important;
  color: $black;
}

.white-top-table-header > td {
  background-color: $white !important;
  border: 1px solid $white !important;
  color: $black;
}

.white-cell {
  background-color: $white !important;
  border: 1px solid $white !important;
}

.row-border-bottom {
  border-bottom: 4px solid #7b8389;
}

.cell-bottom-border-white {
  border-bottom: 1px solid $white !important;
}

.cell-right-border-white {
  border-right: 1px solid $white !important;
}

.cell-left-border-white {
  border-left: 1px solid $white !important;
}

.row-white {
  background-color: $white;
}

.row-border-top {
  border-top: 4px solid #7b8389;
}

.cell-lt-grey {
  background-color: $light-grey;
  color: $black;
}

.row-lt-gray {
  background-color: #ccc;
  color: $black;
}

.row-light {
  background-color: $light-grey;
  color: $black;
}

.row-lt-green {
  background-color: $light-green;
  color: $black;
}

.font-dark-grey {
  color: $dark-grey;
}

.program-name {
  display: inline;
  width: 460px;
  margin-right: 4px;
}

a.font-danger:hover {
  text-decoration: underline;
}

.modal {

 .modal-header {
    border-bottom: none;
    position: relative;

   .btn {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;
      height: 30px;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;

      > i {
        font-size: 26px;
      }
    }
  }

  .remove-program {
    font-weight: 800;
    color: $primary-color;
  }
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  color: $primary-color;
  &:hover {
    text-decoration: none;
  }
}
