<div>
  Page Size:
  <select class="form-control-sm dropdown-width mb-2" (change)="onPageSizeChanged($event)" id="page-size">
    <option value="20" selected="">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="250">250</option>
    <option value="500">500</option>
  </select>
</div>
<ag-grid-angular #agGrid
                 class="ag-theme-balham group-header-white"
                 [showToolPanel]="false"
                 [enableSorting]="true"
                 [pivotMode]="false"
                 [enableFilter]="true"
                 [gridAutoHeight]="true"
                 [rowData]="data"
                 [columnDefs]="columnDefs"
                 [pagination]="true"
                 [paginationPageSize]="20"
                 (paginationChanged)="agGridPagination.onPaginationChanged($event)"
                 [suppressRowTransform]="true"
                 [suppressPaginationPanel]="true"
                 [toolPanelSuppressSideButtons]="true"
                 [suppressMovableColumns]="true"
                 [frameworkComponents]="frameworkComponents"
                 [context]="context"
                 (gridReady)="onGridReady($event)">
</ag-grid-angular>
<ag-grid-pagination #agGridPagination [agGrid]="agGrid"></ag-grid-pagination>
<ng-container *ngIf="!reviewOnly">
  <div class="row mb-3" >
    <div class="col-12">
      <div id="modal" class="modal fade in" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <a class="btn" data-dismiss="modal">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </a>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to remove program request <span class="remove-program">{{nameToDelete}}</span>?</p>
              <span class="mb-2">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
