$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-grey: #eae9e9;
$dark-grey: #848282;
$light-green: #ebf2de;

fieldset {
  padding: 20px;
}

.by{
  background-color: #ccc !important;
}

.modal {

 .modal-header {
    border-bottom: none;
    position: relative;

   .btn {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;
      height: 30px;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;

      > i {
        font-size: 26px;
      }
    }
  }

  .remove-program {
    font-weight: 800;
    color: $primary-color;
  }
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 0px 0 0;

  input[type='radio'] {
    display: none;
  }

  input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    background: #000;
    cursor: pointer;
  }

  label {
    color: #000;
    font-weight: normal;
    &:before {
      content: " ";
      display: inline-block;
      position: relative;
      top: 5px;
      margin: 0 5px 0 0;
      width: 20px;
      height: 20px;
      border-radius: 11px;
      border: 2px solid #000;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
