<div class="row mb-3 col-md-10 col-sm-12 autoscroll" >
  <table class="pr-table">
    <thead>
      <tr class="white-top-table-header font-italic">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center">PY-1</td>
        <td class="text-center">PY</td>
        <td class="text-center">CY</td>
        <td class="text-center">BY</td>
        <td class="text-center">BY+1</td>
        <td class="text-center">BY+2</td>
        <td class="text-center">BY+3</td>
        <td class="text-center">BY+4</td>
        <td></td>
      </tr>
      <tr>
        <th class="header-column-width">Program</th>
        <th class="header-column-width">Subprogram</th>
        <th class="header-column-width">Variant</th>
        <th class="header-column-width">Status</th>
        <th class="header-column-width">Cycle</th>
        <th class="header-column-width">FY{{by-2000 - 3}}</th>
        <th class="header-column-width">FY{{by-2000 - 2}}</th>
        <th class="header-column-width">FY{{by-2000 - 1}}</th>
        <th class="header-column-width">FY{{by-2000}}</th>
        <th class="header-column-width">FY{{by-2000 + 1}}</th>
        <th class="header-column-width">FY{{by-2000 + 2}}</th>
        <th class="header-column-width">FY{{by-2000 + 3}}</th>
        <th class="header-column-width">FY{{by-2000 + 4}}</th>
        <th class="header-column-width">>>FY{{by-2000 + 4}}</th>
      </tr>
    </thead>
    <tbody *ngFor="let pr of (mapNameToRow | values)">
      <tr>
        <td class="row-lt-gray text-center" rowspan="2">{{ pr.pom.isSubprogram ? pr.pom.parentId : pr.pom?.shortName}}
          <span *ngIf="!pr.pom?.bulkOrigin" class="remove-pr" data-toggle="modal" data-target="#modal" (click)="saveDeletionValues(pr.pom.id, pr.pom.shortName)">
            <i class="fa fa-trash"></i>
          </span>
        </td>
        <td class="row-lt-gray text-center" rowspan="2">{{ pr.pom.isNonVariantSubprogram ? pr.pom?.shortName : ''}}</td>
        <td class="row-lt-gray text-center" rowspan="2">{{ pr.pom.isVariantSubprogram ? pr.pom?.shortName : ''}}</td>
        <td class="row-lt-gray text-center" rowspan="2"><a href="" class="text-danger">{{pr.pom?.state}}</a></td>
        <td class="">PB</td>
        <td class="text-right">{{pr.pb?.getToa(by-3)}}</td>
        <td class="text-right">{{pr.pb?.getToa(by-2)}}</td>
        <td class="text-right">{{pr.pb?.getToa(by-1)}}</td>
        <td class="text-right">{{pr.pb?.getToa(by)}}</td>
        <td class="text-right">{{pr.pb?.getToa(by+1)}}</td>
        <td class="text-right">{{pr.pb?.getToa(by+2)}}</td>
        <td class="text-right">{{pr.pb?.getToa(by+3)}}</td>
        <td class="text-right">{{pr.pb?.getToa(by+4)}}</td>
        <td class="text-right"></td>
      </tr>
      <tr>
        <td class="">POM</td>
        <td class="text-right">{{pr.pom?.getToa(by-3)}}</td>
        <td class="text-right">{{pr.pom?.getToa(by-2)}}</td>
        <td class="text-right">{{pr.pom?.getToa(by-1)}}</td>
        <td class="cell-lt-grey text-right">{{pr.pom?.getToa(by)}}</td>
        <td class="cell-lt-grey text-right">{{pr.pom?.getToa(by+1)}}</td>
        <td class="cell-lt-grey text-right">{{pr.pom?.getToa(by+2)}}</td>
        <td class="cell-lt-grey text-right">{{pr.pom?.getToa(by+3)}}</td>
        <td class="cell-lt-grey text-right">{{pr.pom?.getToa(by+4)}}</td>
        <td class="cell-lt-grey text-right"></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row mb-3" >
  <div class="col-12">
    <div id="modal" class="modal fade in" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="btn" data-dismiss="modal">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to remove <span class="remove-program">{{nameToDelete}}</span>?</p>
            <span class="mb-2">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Yes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
