<div class="row">
  <div class="col-md-10 col-sm-12">
    <table class="pr-table">
      <thead>
        <tr class="white-top-table-header font-italic">
          <td class="largest-column"> </td>
          <td class="largest-column"> </td>
          <td> </td>
          <td class="text-center">PY-1</td>
          <td class="text-center">PY</td>
          <td class="text-center">CY</td>
          <td class="text-center">BY</td>
          <td class="text-center">BY+1</td>
          <td class="text-center">BY+2</td>
          <td class="text-center">BY+3</td>
          <td class="text-center">BY+4</td>
          <td> </td>
        </tr>
        <tr>
          <th class="largest-column">Program</th>
          <th class="largest-column">Status</th>
          <th>Cycle</th>
          <th>{{pomFy-3 | FY}}</th>
          <th>{{pomFy-2 | FY}}</th>
          <th>{{pomFy-1 | FY}}</th>
          <th>{{pomFy   | FY}}</th>
          <th>{{pomFy+1 | FY}}</th>
          <th>{{pomFy+2 | FY}}</th>
          <th>{{pomFy+3 | FY}}</th>
          <th>{{pomFy+4 | FY}}</th>
          <th> >>{{pomFy+4 | FY}}</th>
        </tr>
      </thead>
      <div class="table-body">
        <tbody *ngFor="let pr of (mapNameToRow | values)">
          <tr>
            <td class="row-lt-gray text-center largest-column" rowspan="2">
              <span class="clickable" (click)="editPR(pr.pom.id)">{{pr.pom?.fullname}}</span>
              <span *ngIf="!pr.pom?.bulkOrigin" class="remove-pr" data-toggle="modal" data-target="#modal" (click)="saveDeletionValues(pr.pom.id, pr.pom.shortName)">
                <i class="fa fa-trash"></i>
              </span>
            </td>
            <td class="row-lt-gray text-center clickable largest-column" rowspan="2" (click)="editPR(pr.pom.id)"><a [class.text-danger]="pr.pom?.state=='OUTSTANDING'">{{pr.pom?.state}}</a></td>
            <td>PB{{pbFy - 2000}}</td>
            <td class="text-right">{{pr.pb?.getToa(pomFy-3)}}</td>
            <td class="text-right">{{pr.pb?.getToa(pomFy-2)}}</td>
            <td class="text-right">{{pr.pb?.getToa(pomFy-1)}}</td>
            <td class="text-right">{{pr.pb?.getToa(pomFy)}}</td>
            <td class="text-right">{{pr.pb?.getToa(pomFy+1)}}</td>
            <td class="text-right">{{pr.pb?.getToa(pomFy+2)}}</td>
            <td class="text-right">{{pr.pb?.getToa(pomFy+3)}}</td>
            <td class="text-right">{{pr.pb?.getToa(pomFy+4)}}</td>
            <td class="text-right"></td>
          </tr>
          <tr>
            <td>POM{{pomFy - 2000}}</td>
            <td class="text-right">{{pr.pom?.getToa(pomFy-3)}}</td>
            <td class="text-right">{{pr.pom?.getToa(pomFy-2)}}</td>
            <td class="text-right">{{pr.pom?.getToa(pomFy-1)}}</td>
            <td class="cell-lt-grey text-right">{{pr.pom?.getToa(pomFy)}}</td>
            <td class="cell-lt-grey text-right">{{pr.pom?.getToa(pomFy+1)}}</td>
            <td class="cell-lt-grey text-right">{{pr.pom?.getToa(pomFy+2)}}</td>
            <td class="cell-lt-grey text-right">{{pr.pom?.getToa(pomFy+3)}}</td>
            <td class="cell-lt-grey text-right">{{pr.pom?.getToa(pomFy+4)}}</td>
            <td class="cell-lt-grey text-right"></td>
          </tr>
        </tbody>
      </div>
    </table>
  </div>
</div>

<div class="row mb-3" >
  <div class="col-12">
    <div id="modal" class="modal fade in" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="btn" data-dismiss="modal">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to remove program request <span class="remove-program">{{nameToDelete}}</span>?</p>
            <span class="mb-2">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete()">Yes</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
