<j-header></j-header>
<div class="row main-content">
  <div class="col-12">
    <div class="row">
      <div class="col-md-7 col-sm-12 mb-4">
        <span class="h5 mr-2">{{phase?.fy|FY}} - Withhold to Program Execution Line(s)</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <button class="btn btn-primary pull-right" (click)="submit()" [disabled]="!table.tableok">Withhold</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-2">
        <div class="form-group">
          <label class="mr2">Select Event Type:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="etype">
            <option *ngFor="let t of subtypes" [ngValue]="t">{{t.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="form-group">
          <label class="mr-2">Event Long Name:</label>
          <label class="primary-label">{{etype?.description}}</label>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div id="charges-execution-lines" class="table-editable">
          <app-execution-line-table 
            [phase]="phase" 
            [updatelines]="updatelines"
            [exevalidator]="validator"
            [exelinefilter]="linefilter">
          </app-execution-line-table>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <span class="form-group">
          <label class="mb-1">Notes:</label>
          <textarea cols="30" rows="5" wrap="physical" class="form-control" [(ngModel)]="reason"></textarea>
        </span>
     </div>
   </div>
   <div class="row">
     <div class="col-4 mb-4">
       <form role="form" id="fileForm" target="uploadFrame" method="post" enctype="multipart/form-data" action="loadImage.php?task=file" onsubmit="return ZM.loadImage(this)">
         <label>Attach Document:</label>
         <div class="input-group input-group-sm">
           <input type="file" class="custom-file-input" placeholder="Choose file" name="file" accept="*.xlsx" (change)="handleFileInput($event.target.files)">
           <label class="custom-file-label" for="charges">Chose file</label>
         </div>
       </form>
     </div>
   </div>
  </div>
</div>
