:host ::ng-deep .pfm-data {
  height: 200px !important;
}

.attachment-container > select {
  margin-top: -8px;
}

.attachment-container > i::before {
  cursor: pointer;
  font-size: x-large;
}

.non-editable {
  background-color: #fff;
  outline: none !important;
  border-color: transparent;
}
