div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action fa-icon:hover {
  color: red;
  cursor: pointer;
}

fa-icon {
  margin-left: 15px;
  font-size: x-large;
}

.disabled,
.icon-dropdown > button:disabled {
  opacity: 0.6;
}

.action fa-icon.disabled:hover {
  color: inherit;
  cursor: default;
}
