<pfm-action-cell-renderer
  [data]="data"
  [params]="params"
  [columnApi]="columnApi"
  [options]="options"
  [disabled]="disabled"
  [extraActions]="extraActions"
>
</pfm-action-cell-renderer>

<ng-template #extraActions>
  <div class="action" (click)="onSelected('history-grid')">
    <span title="View History Grid">
      <ng-container *ngIf="data.hasHistory">
        <fa-icon icon="history" [class.disabled]="params.data.isDisabled"></fa-icon>
      </ng-container>
    </span>
  </div>
  <div class="action" (click)="onSelected('history-grap')">
    <span title="View History Graph">
      <ng-container *ngIf="data.hasHistory">
        <fa-icon icon="chart-line" [class.disabled]="params.data.isDisabled"></fa-icon>
      </ng-container>
    </span>
  </div>
</ng-template>
