<div class="row">
  <!--Left column begins-->
  <div class="col-md-12">
    <ng-container *ngFor="let varname of varkeys">
      <variant-line [startyear]="startyear" [variants]="varmap.get( varname )"></variant-line>
    </ng-container>
    <div class="row">
      <div class="col-12 mb-2">
        <span class="mr-4">
          <button class="btn btn-primary">
            <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
          Add Variant Table
          </button>
        </span>
        <span class="mr-4">for</span>
        <span class="form-group inline-name mr-5">
          <select class="form-control-sm dropdown-width mb-2">
            <option>PHM0001</option>
            <option>items</option>
            <option>items</option>
          </select>
        </span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
        <div id="proc-qty" class="table-editable">
          <table class="proc-qty">
            <thead>
              <tr>
                <th class="row-width">Service</th>
                <th class="row-width">Contractor</th>
                <th>Unit Costs</th>
                <th>Cycle</th>
                <th>FY19</th>
                <th>FY20</th>
                <th>FY22</th>
                <th>FY23</th>
                <th>FY24</th>
                <th>Total</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td class="row-white" rowspan="3">JSA</td>
              <td class="row-white" rowspan="3">Company</td>
              <td class="row-white" rowspan="3">$50.17</td>
              <td class="row-white cell-bottom-border-white">PBR18</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td class="row-white cell-bottom-border-white">POM19</td>
              <td contenteditable="true" class="editable-field">0</td>
              <td contenteditable="true" class="editable-field">0</td>
              <td contenteditable="true" class="editable-field">369</td>
              <td contenteditable="true" class="editable-field">2280</td>
              <td contenteditable="true" class="editable-field">3520</td>
              <td class="text-right">6219</td>
            </tr>
            <tr class="row-lt-green">
              <td class="row-white cell-left-bottom-border-white">Difference</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr class="row-border-top">
              <td class="row-white" rowspan="3">JSA</td>
              <td class="row-white" rowspan="3">Company 1</td>
              <td class="row-white" rowspan="3">$46.38</td>
              <td class="row-white cell-bottom-border-white">PBR18</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td class="row-white cell-bottom-border-white">POM19</td>
              <td contenteditable="true" class="editable-field">0</td>
              <td contenteditable="true" class="editable-field">0</td>
              <td contenteditable="true" class="editable-field">656</td>
              <td contenteditable="true" class="editable-field">1137</td>
              <td contenteditable="true" class="editable-field">1121</td>
              <td class="text-right">2914</td>
            </tr>
            <tr class="row-lt-green">
              <td class="row-white cell-left-bottom-border-white">Difference</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr class="row-border-top">
              <td class="row-white" rowspan="3">JSN</td>
              <td class="row-white" rowspan="3">Company 2</td>
              <td class="row-white" rowspan="3">$45.67</td>
              <td class="row-white cell-bottom-border-white">PBR18</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td class="row-white cell-bottom-border-white">POM19</td>
              <td contenteditable="true" class="editable-field">0</td>
              <td contenteditable="true" class="editable-field">0</td>
              <td contenteditable="true" class="editable-field">3634</td>
              <td contenteditable="true" class="editable-field">570</td>
              <td contenteditable="true" class="editable-field">562</td>
              <td class="text-right">2826</td>
            </tr>
            <tr class="row-lt-green">
              <td class="row-white cell-left-bottom-border-white">Difference</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr class="row-border-top">
              <td class="row-white" rowspan="3">JSMC</td>
              <td class="row-white" rowspan="3">Company 3</td>
              <td class="row-white" rowspan="3">$50.17</td>
              <td class="row-white cell-bottom-border-white">PBR18</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td class="row-white cell-bottom-border-white">POM19</td>
              <td contenteditable="true" class="editable-field">0</td>
              <td contenteditable="true" class="editable-field">0</td>
              <td contenteditable="true" class="editable-field">181</td>
              <td contenteditable="true" class="editable-field">130</td>
              <td contenteditable="true" class="editable-field">129</td>
              <td class="text-right">440</td>
            </tr>
            <tr class="row-lt-green">
              <td class="row-white cell-left-bottom-border-white">Difference</td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
              <td class="text-right"></td>
            </tr>
            <tr class="row-border-top">
              <td colspan="3" class="cell-left-border-white cell-bottom-border-white">
              </td>
              <td class="text-right row-white font-weight-bold">Totals:</td>
              <td class="text-right row-white">0</td>
              <td class="text-right row-white">0</td>
              <td class="text-right row-white">2900</td>
              <td class="text-right row-white">4117</td>
              <td class="text-right row-white">5382</td>
              <td class="text-right row-white">12399</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12">
        <button class="btn btn-light btn pull-left">
            <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
            Add Service Line
          </button>
      </div>
    </div>
  </div>
</div>
