$primary-color: #25527a;
$black: #000000;

.clickable {
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.remove-pr {
  i {
    &.fa {
      color: $black;
      opacity: .5;
      font-size: 18px;
      cursor: pointer;
    }
    &.fa:hover {
      color: red;
      opacity: .9;
    }
  }
}

.ag-row-odd {
  background: white !important;
}
