<div class="main">
  <h3>Open Planning Phase</h3>
  <pfm-primary-button [label]="'Open Planning Phase'" [name]="id" [id]="id" (onClick)="onOpenPlanningPhase()">
  </pfm-primary-button>
</div>

<ng-container *ngIf="availableYears">
  <pfm-dropdown (selectionChanged)="yearSelected($event)" [type]="'labelDropdown'" [label]="'For:'" [required]="true"
    [id]="id" [fieldName]="'name'" [fieldLabel]="'name'" [options]="availableYears"></pfm-dropdown>
</ng-container>

<pfm-busy [busy]="busy"></pfm-busy>

<pfm-busy [busy]="busy"></pfm-busy>
