<div class="section-banner">
  <div class="table w-100">
    <div class="table-row w-100">
      <div>
        <h3>TOAs</h3>
      </div>
    </div>
    <div class="table mt-2">
      <div class="table-row">
        <div class="rTableCell">
          <ng-container>
            <pfm-dropdown
              (selectionChanged)="yearSelected($event)"
              *ngIf="pomYears"
              [type]="'labelDropdown'"
              [label]="'For:'"
              [required]="true"
              [id]="'pomYearByStatus'"
              [fieldName]="'name'"
              [fieldLabel]="'name'"
              [options]="pomYears"
              [defaultOption]="selectedYear"
            ></pfm-dropdown>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-tabs" *ngIf="programBudgetData">
  <div class="col-20">
    <tabset class="program-tab-style" destroyOnHide="true">
      <tab heading="Community" active="true" class="tab" (selectTab)="onTabSelected($event)">
        <div class="section-tab">
          <div class="section-chart">
            <pfm-programming-community-graph></pfm-programming-community-graph>
          </div>

          <div class="section-datagrid">
            <div>
              <span>&nbsp;Set TOAs for Comunity ($K)&nbsp;</span>
              <pfm-secondary-button
                [label]="' Reset'"
                [icon]="'fa fa-refresh reset-button'"
                class="reset-button"
                (click)="onResetCommunityData()"
              >
              </pfm-secondary-button>
            </div>
            <div class="grid-container">
              <pfm-displaydatagrid
                [tabToNextCell]="onTabToNextCell.bind(this)"
                (onGridIsReady)="onCommunityGridIsReady($event)"
                (onColumnIsReady)="onCommunityColumnIsReady($event)"
                (onCellAction)="onCommunityGridCellAction($event)"
                [showAddRow]="false"
                [columns]="communityColumns"
                [rows]="communityData"
              >
              </pfm-displaydatagrid>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Organization" class="tab" (selectTab)="onTabSelected($event)">
        <div class="section-tab">
          <div class="section-chart">
            <pfm-programming-organization-graph></pfm-programming-organization-graph>
          </div>

          <div class="section-datagrid">
            <div>
              <span>&nbsp;Set TOAs for Organization ($K)&nbsp;</span>
            </div>
            <!--<div style="height:300px;width:98%">-->
            <div class="grid-container">
              <pfm-displaydatagrid
                [tabToNextCell]="onTabToNextCell.bind(this)"
                (onGridIsReady)="onOrgGridIsReady($event)"
                (onColumnIsReady)="onOrgColumnIsReady($event)"
                (onCellAction)="onOrgGridCellAction($event)"
                [showAddRow]="false"
                [columns]="orgColumns"
                [rows]="orgData"
              >
              </pfm-displaydatagrid>
            </div>
          </div>
        </div>
        <!--</div>-->
        <!--
      <div style="float:left; height:100px;width:98%">
        <table border="1px" style="width:80%;height:99%">
          <tr *ngFor="let row of subToasData" style="width:100%;height:30px;">

            <td *ngFor="let column of tableHeaders" style="width:100px;padding-left: 1px;padding-right:5px; text-align:right;">
              <strong>${{row[column]}}</strong>
            </td>
            </tr>
        </table>
      </div>
    -->
      </tab>
    </tabset>
  </div>
</div>

<pfm-busy [busy]="busy"></pfm-busy>
