.worksheet-table {

    margin: 0;
  
    td {
      padding: 0 8px 10px 10px;
    }
  
    .copy-input {
      width: 450px;
    }
  
    .version-input {
      width: 100px;
    }
  }
  
  .button-controls {
    margin: 15px 0 0 0;
  }
  