<app-header></app-header>
<div style="display: flex">
  <menu-bar [authUser]="authUser"></menu-bar>
  <div class="container-fluid">
    <div class="row no-gutters main-content">
      <div class="col-12">
  
        <div class="row no-gutters mb-3">
          <div class="col-12">
            <p40></p40>
          </div>
        </div>
  
        <div class="row no-gutters mb-3">
          <div class="col-12">
            <p5></p5>
          </div>
        </div>
  
        <div class="row no-gutters mb-3">
          <div class="col-12">
            <p5a></p5a>
          </div>
        </div>
  
        <div class="row no-gutters mb-3">
          <div class="col-12">
            <p21></p21>
          </div>
        </div>
  
      </div>
    </div>
  </div>  
</div>
