<div class="row mb-2">
  <div class="col-auto">
    <button class="btn btn-primary" (click)="addBullet()">
      <span class="mr-2"> <i class="fa fa-plus-circle" aria-hidden="true"></i></span>
      <span class="mr-1">Add New Bullet</span>
    </button>
  </div>
</div>
<div class="row mb-2">
  <div class="col-8">
    <ag-grid-angular #agGrid
                     class="ag-theme-balham"
                     [columnDefs]="columnDefs"
                     [rowData]="rowData"
                     [gridAutoHeight]="true"
                     [enableFilter]="false"
                     [showToolPanel]="false"
                     [toolPanelSuppressSideButtons]="true"
                     [suppressMovableColumns]="true"
                     [suppressRowTransform]="true"
                     [suppressPaginationPanel]="true"
                     [rowSelection]="'single'"
                     (selectionChanged)="onSelectionChanged($event)"
                     [frameworkComponents]="frameworkComponents"
                     [components]="components"
                     [context]="context"
                     (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <div class="col-4" *ngIf="summaryDetail">
    <table class="summary-table">
      <thead>
      <tr>
        <th></th>
        <th>FY{{py}}</th>
        <th>FY{{cy}}</th>
        <th>FY{{by}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{program}} {{item}}</td>
        <td class="w-33">{{summaryDetail?.py}}</td>
        <td class="w-33">{{summaryDetail?.cy}}</td>
        <td class="w-33">{{summaryDetail?.by}}</td>
      </tr>
      <tr>
        <td>Delta</td>
        <td class="w-33">{{delta.fundsPY}}</td>
        <td class="w-33">{{delta.fundsCY}}</td>
        <td class="w-33">{{delta.fundsBY}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<form *ngIf="selectedRow" [formGroup]="form">
  <div class="row mb-2">
    <div class="col-12 form-group">
      <label [class.alert-error-label]="form.controls['description'].invalid" class="mb-1">Description</label>
      <textarea [class.alert-error]="form.controls['description'].invalid"
                [(ngModel)]="selectedRow.description"
                cols="50"
                rows="4"
                wrap="physical"
                class="form-control"
                formControlName="description">
      </textarea>
    </div>
  </div>
  <div *ngIf="selectedRow.fundsPY" class="row mb-2">
    <div class="col-12 form-group">
      <label [class.alert-error-label]="form.controls['accomplishmentsPY'].invalid" class="mb-1">FY{{py}} Accomplishments</label>
      <textarea [class.alert-error]="form.controls['accomplishmentsPY'].invalid"
                [(ngModel)]="selectedRow.accomplishmentsPY"
                cols="50"
                rows="4"
                wrap="physical"
                class="form-control"
                formControlName="accomplishmentsPY">
      </textarea>
    </div>
  </div>
  <div *ngIf="selectedRow.fundsCY && selectedRow.fundsCY > 0" class="row mb-2">
    <div class="col-12 form-group">
      <label [class.alert-error-label]="form.controls['plansCY'].invalid" class="mb-1">FY{{cy}} Plans</label>
      <textarea [class.alert-error]="form.controls['plansCY'].invalid"
                [(ngModel)]="selectedRow.plansCY"
                cols="50"
                rows="4"
                wrap="physical"
                class="form-control"
                formControlName="plansCY"></textarea>
    </div>
  </div>
  <div *ngIf="selectedRow.fundsBY && selectedRow.fundsBY > 0" class="row mb-2">
    <div class="col-12 form-group">
      <label [class.alert-error-label]="form.controls['plansBY'].invalid" class="mb-1">FY{{by}} Plans</label>
      <textarea [class.alert-error]="form.controls['plansBY'].invalid"
                [(ngModel)]="selectedRow.plansBY"
                cols="50"
                rows="4"
                wrap="physical"
                class="form-control"
                formControlName="plansBY"></textarea>
    </div>
  </div>
  <div *ngIf="selectedRow.fundsCY && (selectedRow.fundsBY || selectedRow.fundsBY === 0)">
    <div *ngIf="explanations?.length > 0" class="row mb-2">
      <div class="col-12 form-group">
        <label class="mb-1">Increase/Decrease Statement: </label>
        <select class="form-control-sm" #explanation (change)="onExplanationSelected(explanation.value)">
          <option [ngValue]="null" disabled selected>Select a Statement</option>
          <option *ngFor="let e of explanations" [ngValue]="e">{{e}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label *ngIf="explanations?.length === 0" class="mb-1">
          Increase/Decrease Statement
        </label>
        <textarea [(ngModel)]="selectedRow.increaseDecreaseStatement"
                  style="white-space: pre-line;"
                  #increaseDecreaseStatement
                  cols="50"
                  rows="4"
                  wrap="physical"
                  class="form-control"
                  formControlName="increaseDecreaseStatement"></textarea>
      </div>
    </div>
  </div>
</form>
