/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 64px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  left: 0;
  background-color: #bbced7;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.menu-toggle{
  color: #25527a;
  font-size: 18px;
  margin-left: 4px;
  cursor: pointer!important;
}

ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

}
li{
  list-style: none;
  display: flex;
  color: #25527a;
  width: 100%;
  justify-content: center;
  height: 50px;
  align-items: center;
}

li:hover{
  cursor: pointer!important;
  background-color: #2e719e;
  color: white;
}

li:hover > .menu-item fa {
  color: white;
}

.active{
  background-color: #2e719e;
  color: white;
}

.inner-menu-divider{
  height: 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.inner-menu-item{
  padding: 10px;
}

.inner-menu-item:hover{
  background-color: #2e719e;
  color: white;
}

.menu-item{
  display: flex;
}

span{
  padding-left: 8px;
  width:120px;
  padding-top: 2px;
}

fa{
  color: #25527a;
  font-size: 18px;
  margin-left: 4px;
}

fa:hover{
  color:white;
}

span{
  display: none;
}
.open{
  width: 200px;
}

.open span{
  display: block;
}

.inner-menu{
  display: flex;
  flex-direction: column;
  background-color: #bbced7;
}

.menu-display-container{
  border: 0;
}

.menu-display-container .arrow::after {
  display: none;
}

::ng-deep .popover-body{
  padding: 0;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}