$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$chart-border: 1px solid #ababab;
$light-blue: #dbe8f7;
$light-grey: #eae9e9;
$dark-grey: #848282;
$light-green: #ebf2de;
.single-row
{
  display: flex;
}

fieldset {
  padding: 20px;
}

.bar-chart {
  padding-top: 5px;
  border: $chart-border;
  text-align: center;
}
.tree-chart {
  padding-top: 5px;
  text-align: center;
}
.selectpicker {
  color: #fff;
  background-color: #6c757d;
  margin: 0 5px;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.optionpicker {
  color: #6c757d;
  background-color: #fff;
  margin: 0 5px;
  padding: 0.375rem 0.75rem;
}
.main-content{
  padding-top: 20px;
}