<j-header></j-header>
<div class="row main-content">
  <div class="col-12">
    <div class="row mb-4">
      <div class="col-lg-7 col-md-12">
        <span class="h5">Summary of Program Requests for POM{{pom?.fy-2000}}</span>
      </div>
      <div class="col-lg-5 col-md-12">
        <span class="pull-right">
          <button class="btn btn-primary" (click)=submit() >For Demo Only - Submit All</button>
        </span>
        <span class="pull-right mr-2">
          <button class="btn btn-primary" (click)=submit() [disabled]="thereAreOutstandingPRs">Submit All</button>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <new-program-request [pomId]="pom?.id"></new-program-request>
      </div>
      <div class="col-lg-7 col-md-12">
        <j-pom [pomPrograms]="pomPrograms" [pbPrograms]="pbPrograms" [pom]="pom"></j-pom>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <program-requests [pomPrograms]="pomPrograms"
                               [pbPrograms]="pbPrograms"
                               [pomFy]="pom?.fy"
                               [pbFy]="pb?.fy"
                               [reviewOnly]="false"
                               (deleted)="onDeletePr()">
        </program-requests>
      </div>
    </div>
  </div>
</div>
