<j-header></j-header>
<div class="col-12">
  <div class="row">
    <div class="col-md-7 mb-4">
      <span class="h5">Programmatic Request for POM {{by%2000}}</span>s
    </div>
    <div class="col-md-3">
      <span>
        <button class="btn-primary btn pull-right">
          Submit All
        </button>
      </span>
    </div>
  </div>
  <j-pom [pom]="pom"></j-pom>
  <programmatic-requests [programmaticRequests]="programmaticRequests" [by]="by"></programmatic-requests>
  <new-programmatic-request></new-programmatic-request>
</div>
