<j-header></j-header>
<div class="row main-content">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-7 col-sm-12 mb-4">
        <span class="h5 mr-2">Funds Update for Fiscal Year </span>
        <span>
          <select class="form-control-sm dropdown-year-width mb-2" [(ngModel)]="selectedexe" (change)="fetchLines()">
            <option></option>
            <option *ngFor="let exephase of exephases" [ngValue]="exephase">{{exephase.fy}}</option>
           </select>
         </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset>
          <legend><i class="fa fa-filter icon-pad" aria-hidden="true"></i> Filter</legend>
          <div class="row">
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">Program</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="mrid" (change)="filter()">
                  <option></option>
                  <option *ngFor="let program of programs | mapAsList" [ngValue]="program.key">{{program.value}}</option>
                </select>
              </span>
            </div>
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">Appropriation</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="appropriation" (change)="filter()">
                  <option></option>
                  <option *ngFor="let appropriation of appropriations" [ngValue]="appropriation">{{appropriation}}</option>
                </select>
              </span>
            </div>
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">BA/BLIN</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="blin" (change)="filter()">
                  <option></option>
                  <option *ngFor="let blin of blins" [ngValue]="blin">{{blin}}</option>
                </select>
              </span>
            </div>
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">Item</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="item" (change)="filter()">
                  <option></option>
                  <option *ngFor="let item of items" [ngValue]="item">{{item}}</option>
                </select>
              </span>
            </div>
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">OpAgency</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="opAgency" (change)="filter()">
                  <option></option>
                  <option *ngFor="let opAgency of opAgencies">{{opAgency}}</option>
                </select>
              </span>
            </div>
           </div>
        </fieldset>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 col-lg-10">
          <ag-grid-angular #agGrid class="ag-theme-balham"
            [enableSorting]="true"
            [enableFilter]="true" 
            [gridAutoHeight]="true" 
            [pagination]="true"
            [rowData]="filteredexelines"
            [paginationPageSize]="15"
            (gridReady)="onGridReady($event)"
            [suppressPaginationPanel]="false">

            <ag-grid-column headerName="Program" field="mrId" class="large-column"></ag-grid-column>
            <ag-grid-column headerName="Appr." field="appropriation"></ag-grid-column>
            <ag-grid-column headerName="Budget" field="blin"></ag-grid-column>
            <ag-grid-column headerName="Item" field="item"></ag-grid-column>
            <ag-grid-column headerName="OpAgency" field=""></ag-grid-column>
            <ag-grid-column headerName="Initial Funds" field=""></ag-grid-column>
            <ag-grid-column headerName="CRA" field=""></ag-grid-column>
            <ag-grid-column headerName="Appr. Actions" field=""></ag-grid-column>
            <ag-grid-column headerName="Ext. Repr." field=""></ag-grid-column>
            <ag-grid-column headerName="ETR" field=""></ag-grid-column>
            <ag-grid-column headerName="Real" field=""></ag-grid-column>
            <ag-grid-column headerName="TOA" field="toa"></ag-grid-column>
            <ag-grid-column headerName="Released" field="released"></ag-grid-column>
            <ag-grid-column headerName="Withhold" field="withheld"></ag-grid-column>
          </ag-grid-angular>

      <div class="col-12">
          <table class="funds-update-table">
            <thead>
              <tr>
                <th class="large-column">Program</th>
                <th>Appr.</th>
                <th>Budget</th>
                <th>Item</th>
                <th class="med-column">OpAgency</th>
                <th>Initial Funds</th>
                <th>CRA</th>
                <th>Appr. Actions</th>
                <th>Ext. Repr.</th>
                <th>ETR</th>
                <th>Real</th>
                <th>TOA</th>
                <th>Released</th>
                <th>Withhold</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let line of filteredexelines; let idx=index" (click)="highlight(idx)"
                   [class.active]="idx == selectedRow">
                <td class="lt-grey clickable large-column">{{programs.get(line.mrId)}}</td>
                <td class="lt-grey">{{line.appropriation}}</td>
                <td class="lt-grey">{{line.blin}}</td>
                <td class="lt-grey">{{line.item}}</td>
                <td class="lt-grey text-center med-column">{{line.opAgency}}</td>
                <td class="lt-green text-right">-</td>
                <td class="text-right">-</td>
                <td class="text-right">-</td>
                <td class="text-right">-</td>
                <td class="text-right">-</td>
                <td class="text-right">-</td>
                <td class="dark-green text-right">{{line.toa}}</td>
                <td class="dark-green text-right">{{line.released}}</td>
                <td class="dark-green text-right">{{line.withheld}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="pull-right program-controls">
          <span>
            <button class="btn btn-primary" [routerLink]="['/charges', selectedexe?.id]">Charge</button>
          </span>
          <span>
            <button class="btn btn-secondary" [routerLink]="['/appropriation-release', selectedexe?.id]">Release</button>
          </span>
          <span>
            <button class="btn btn-success" [routerLink]="['/withhold', selectedexe?.id]">Withhold</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset>
          <legend>Add Execution Line</legend>
          <div class="row">
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">Program</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="mrid">
                  <option></option>
                  <option *ngFor="let program of programs|mapAsList" [ngValue]="program.key">{{program.value}}</option>
                </select>
              </span>
            </div>
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">Appropriation</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="appropriation">
                  <option *ngFor="let appropriation of appropriations" [ngValue]="appropriation">{{appropriation}}</option>
                </select>
              </span>
            </div>
            <div class="col-md-2 col-lg-1">
              <span class="form-group">
                <div class="mb-1 primary-label">Budget</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="blin">
                  <option *ngFor="let blin of blins" [ngValue]="blin">{{blin}}</option>
                </select>
              </span>
            </div>
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">Item</div>
                  <input class="mb-2 form-control forminput" [(ngModel)]="item">
              </span>
            </div>
            <div class="col-md-2 col-lg-1">
              <span class="form-group">
                <div class="mb-1 primary-label">OpAgency</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="opAgency">
                  <option *ngFor="let opAgency of opAgencies">{{opAgency}}</option>
                </select>
              </span>
            </div>
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">Funds</div>
                <span class="form-group">
                  <input class="mb-2 form-control forminput" [(ngModel)]="funds" digits>
                </span>
              </span>
            </div>
            <div class="col-md-12 col-lg-2">
              <span class="form-group">
                  <div class="primary-label"> </div>
                  <button class="btn btn-primary mt-4" (click)="addline()">
                    <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                   Add Execution Line
                 </button>
               </span>
             </div>
           </div>
        </fieldset>
        <j-feedback></j-feedback>
      </div>
    </div>
  </div>
</div>
