<j-header></j-header>
<div class="row main-content">
  <div class="col-md-12">
    <div class="row">
      <div class="col-lg-7 col-md-12 mb-4">
        <span class="h5 mr-2">Funds Update for Fiscal Year </span>
        <span>
          <select class="form-control-sm dropdown-year-width mb-2" [(ngModel)]="selectedexe" (change)="fetchLines()">
            <option></option>
            <option *ngFor="let exephase of exephases" [ngValue]="exephase">{{exephase.fy}}</option>
           </select>
         </span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <ag-grid-angular #agGrid class="ag-theme-balham"
            [gridOptions]="agOptions"
            [rowData]="exelines"
            [rowSelection]="'single'"
            (selectionChanged)="onSelectionChanged($event)"
            [enableColResize]="true"
            [toolPanelSuppressSideButtons]="true"
            [suppressDragLeaveHidesColumns]="true"
            [suppressMovableColumns]="true"
            (paginationChanged)="agGridPagination.onPaginationChanged($event)"
            (gridReady) = "onGridReady($event)">
        </ag-grid-angular>
        <ag-grid-pagination #agGridPagination [agGrid]="agGrid"></ag-grid-pagination>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="pull-right program-controls">
          <span>
            <button class="btn btn-primary" [routerLink]="['/charges', selectedexe?.id]">Action</button>
          </span>
          <span>
            <button class="btn btn-secondary" [routerLink]="['/appropriation-release', selectedexe?.id]">Release</button>
          </span>
          <span>
            <button class="btn btn-success" [routerLink]="['/withhold', selectedexe?.id]">Withhold</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset>
          <legend>Add Execution Line</legend>
          <div class="row">
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">Program</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="mrid">
                  <option></option>
                  <option *ngFor="let program of programs|mapAsList" [ngValue]="program.key">{{program.value}}</option>
                </select>
              </span>
            </div>
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">Appropriation</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="appropriation">
                  <option *ngFor="let appropriation of appropriations" [ngValue]="appropriation">{{appropriation}}</option>
                </select>
              </span>
            </div>
            <div class="col-md-2 col-lg-1">
              <span class="form-group">
                <div class="mb-1 primary-label">Budget</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="blin">
                  <option *ngFor="let blin of blins" [ngValue]="blin">{{blin}}</option>
                </select>
              </span>
            </div>
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">Item</div>
                  <input class="mb-2 form-control forminput" [(ngModel)]="item">
              </span>
            </div>
            <div class="col-md-2 col-lg-1">
              <span class="form-group">
                <div class="mb-1 primary-label">OpAgency</div>
                <select class="form-control-sm dropdown-width" [(ngModel)]="opAgency">
                  <option *ngFor="let opAgency of opAgencies">{{opAgency}}</option>
                </select>
              </span>
            </div>
            <div class="col-2">
              <span class="form-group">
                <div class="mb-1 primary-label">Funds</div>
                <span class="form-group">
                  <input class="mb-2 form-control forminput" [(ngModel)]="funds" digits>
                </span>
              </span>
            </div>
            <div class="col-md-12 col-lg-2">
              <span class="form-group">
                  <div class="primary-label"> </div>
                  <button class="btn btn-primary mt-4" (click)="addline()">
                    <i class="fa fa-plus-circle icon-pad" aria-hidden="true"></i>
                   Add Execution Line
                 </button>
               </span>
             </div>
           </div>
        </fieldset>
        <j-feedback></j-feedback>
      </div>
    </div>
  </div>
</div>
