<div *ngIf="!elevationService.elevatedBoolean && roles?.includes('Budget_Manager') ; else disabledBudgetMenu">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdownbes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Budget</a>
    <div class="dropdown-menu" aria-labelledby="dropdownbes">

      <a *menuRolesOk="'create-budget'" class="dropdown-item" routerLink="/create-budget">Create Budget Phase</a>
      <a *menuRolesNotNow="'create-budget'" class="dropdown-item" disabled>Create Budget Phase</a>

      <a *menuRolesOk="'copy-budget'" class="dropdown-item" routerLink="/copy-budget">Copy Budget</a>
      <a *menuRolesNotNow="'copy-budget'" class="dropdown-item" disabled>Copy Budget</a>

      <a *menuRolesOk="'edit-budget-details'" class="dropdown-item" routerLink="/edit-budget-details">Edit Budget Details</a>
      <a *menuRolesNotNow="'edit-budget-details'" class="dropdown-item" disabled>Edit Budget Details</a>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" routerLink="/bes-rdte">RDT&E Data</a>
      <a class="dropdown-item" href="#" routerLink="/bes-proc">Proc Data</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" routerLink="/r-forms">RDT&E Exhibits</a>
      <a class="dropdown-item" href="#" routerLink="/p-forms">Proc Exhibits</a>
    </div>
  </li>

  <!-- <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/home">Budget</a>
  </li> -->
</div>
<ng-template #disabledBudgetMenu>
  <li class="nav-item">
    <a class="nav-link disabled-style" disabled>Budget</a>
  </li>
</ng-template>
