<div *ngIf="!elevationService.elevatedBoolean && roles?.includes('Budget_Manager') ; else disabledBudgetMenu">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdownbes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Budget</a>
    <div class="dropdown-menu" aria-labelledby="dropdownbes">

      <a *menuRolesOk="'create-budget'" class="dropdown-item" routerLink="/create-budget">Create Budget Session</a>
      <a *menuRolesNotNow="'create-budget'" class="dropdown-item" disabled>Create Budget Session</a>

      <a *menuRolesOk="'budget-scenarios'" class="dropdown-item" routerLink="/budget-scenarios">Budget Scenarios</a>
      <a *menuRolesNotNow="'budget-scenarios'" class="dropdown-item" disabled>Budget Scenarios</a>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" routerLink="/bes-rdte">RDTE Data</a>
      <a class="dropdown-item" href="#" routerLink="/bes-proc">Proc Data</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#" routerLink="/r-forms">RDTE Exhibits</a>
      <a class="dropdown-item" href="#" routerLink="/p-forms">Proc Exhibits</a>
    </div>
  </li>

  <!-- <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/home">Budget</a>
  </li> -->
</div>
<ng-template #disabledBudgetMenu>
  <li class="nav-item">
    <a class="nav-link disabled-style" disabled>Budget</a>
  </li>
</ng-template>
