<div class="row">
  <div class="col-auto">
    <button [disabled]="isDisabledAddFundingLines"  class="btn btn-primary mb-3"  (click)="addRow()">
      <span class="icon-pad">Add Funding Line</span>
    </button>
  </div>
</div>

<ag-grid-angular #agGridCurrentFunding
  class="ag-theme-balham pr-funds-tab group-header-white"
  [rowData]="currentFunding"
  [toolPanelSuppressPivotMode]="true"
  [toolPanelSuppressRowGroups]="true"
  [toolPanelSuppressValues]="true"
  [toolPanelSuppressPivots]="true"
  [toolPanelSuppressColumnFilter]="true"
  [toolPanelSuppressColumnSelectAll]="true"
  [suppressMovableColumns]="true"
  (toolPanelVisibleChanged)="sizeColumnsToFit($event)"
  (columnVisible)="sizeColumnsToFit($event)"
  (rowDataChanged)="sizeColumnsToFit($event)"
  [columnDefs]="currentFundingColumnDefs"
  [overlayNoRowsTemplate]="overlayNoRowsTemplate"
  (gridReady)="onGridReady($event)"
  (columnValueChanged)="sizeColumnsToFit($event)"
  [gridAutoHeight]="true">
</ag-grid-angular>

<ag-grid-angular #agGridProposedChanges
                 id="agGridProposedChanges"
                 class="ag-theme-balham pr-funds-tab group-header-white separator"
                 [gridAutoHeight]="true"
                 [toolPanelSuppressPivotMode]="true"
                 [toolPanelSuppressRowGroups]="true"
                 [toolPanelSuppressValues]="true"
                 [toolPanelSuppressPivots]="true"
                 [toolPanelSuppressColumnFilter]="true"
                 [toolPanelSuppressColumnSelectAll]="true"
                 [suppressMovableColumns]="true"
                 [suppressRowTransform]="true"
                 [showToolPanel]="false"
                 [enableSorting]="false"
                 [enableFilter]="false"
                 [rowData]="proposedChange"
                 [singleClickEdit]="true"
                 [frameworkComponents]="frameworkComponents"
                 [components]="components"
                 [context]="context"
                 [stopEditingWhenGridLosesFocus]="true"
                 (toolPanelVisibleChanged)="sizeColumnsToFit($event)"
                 (columnVisible)="sizeColumnsToFit($event)"
                 (gridReady)="onGridReady($event)"
                 (columnValueChanged)="sizeColumnsToFit($event)"
                 (cellEditingStarted)="onCellEditingStarted($event)"
                 headerHeight="0">
</ag-grid-angular>

<ag-grid-angular
  #agGridRevisedPrograms
  id="agGridRevisedPrograms"
  class="ag-theme-balham pr-funds-tab group-header-white separator"
  [rowData]="revisedPrograms"
  [suppressRowTransform]="true"
  [suppressMovableColumns]="true"
  [toolPanelSuppressPivotMode]="true"
  [toolPanelSuppressRowGroups]="true"
  [toolPanelSuppressValues]="true"
  [toolPanelSuppressPivots]="true"
  [toolPanelSuppressColumnFilter]="true"
  [toolPanelSuppressColumnSelectAll]="true"
  [columnDefs]="revisedProgramsColumnDefs"
  [overlayNoRowsTemplate]="overlayNoRowsTemplate"
  (gridReady)="onGridReady($event)"
  (columnValueChanged)="sizeColumnsToFit($event)"
  [gridAutoHeight]="true"
  headerHeight="0">
</ag-grid-angular>
