<div class="row">
  <div class="col-auto">
    <button [disabled]="isDisabledAddFundingLines || readonly"  class="btn btn-primary mb-3"  (click)="addRow()">
      <span class="mr-2">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </span>
      <span>Add Funding Line</span>
    </button>
  </div>
</div>

<ag-grid-angular #agGridCurrentFunding
  class="ag-theme-balham pr-funds-tab group-header-white"
  domLayout="autoHeight"
  [gridOptions]="agOptions"
  [suppressMovableColumns]="true"
  [suppressRowTransform]="true"
  [sideBar]="sideBar"
  [rowData]="currentFunding"
  (toolPanelVisibleChanged)="sizeColumnsToFit($event)"
  (columnVisible)="sizeColumnsToFit($event)"
  (rowDataChanged)="sizeColumnsToFit($event)"
  [columnDefs]="currentFundingColumnDefs"
  [overlayNoRowsTemplate]="overlayNoRowsTemplate"
  (gridReady)="onGridReady($event)"
  (columnValueChanged)="sizeColumnsToFit($event)">
</ag-grid-angular>

<ag-grid-angular #agGridProposedChanges
                 id="agGridProposedChanges"
                 class="ag-theme-balham pr-funds-tab group-header-white separator"
                 domLayout="autoHeight"
                 [suppressMovableColumns]="true"
                 [suppressRowTransform]="true"
                 [singleClickEdit]="true"
                 [stopEditingWhenGridLosesFocus]="true"
                 [sideBar]="sideBar"
                 [rowData]="proposedChange"
                 [frameworkComponents]="frameworkComponents"
                 [components]="components"
                 [context]="context"
                 (toolPanelVisibleChanged)="sizeColumnsToFit($event)"
                 (columnVisible)="sizeColumnsToFit($event)"
                 (gridReady)="onGridReady($event)"
                 (columnValueChanged)="sizeColumnsToFit($event)"
                 (cellEditingStarted)="onCellEditingStarted($event)"
                 headerHeight="0">
</ag-grid-angular>

<ag-grid-angular
  #agGridRevisedPrograms
  id="agGridRevisedPrograms"
  class="ag-theme-balham pr-funds-tab group-header-white separator"
  domLayout="autoHeight"
  [suppressMovableColumns]="true"
  [suppressRowTransform]="true"
  [sideBar]="sideBar"
  [rowData]="revisedPrograms"
  [columnDefs]="revisedProgramsColumnDefs"
  [overlayNoRowsTemplate]="overlayNoRowsTemplate"
  (gridReady)="onGridReady($event)"
  (columnValueChanged)="sizeColumnsToFit($event)"
  headerHeight="0">
</ag-grid-angular>
