<div class="main section-banner h-auto">
  <div class="title-line">
    <div class="float-left w-80">
      <h3 class="w-100">POM{{ pomDisplayYear }} {{ workspaces ? 'Workspace ' : '' }}Program Request Summary</h3>
    </div>
    <div
      *ngIf="appModel.visibilityDef && appModel.visibilityDef['requests-summary-component']"
      class="button-container"
    >
      <div *pfmIsVisible="'requests-summary-component.returnOrganization'" class="div-button-return">
        <button type="button" class="btn btn-danger" (click)="onReturnOrganization()">
          <fa-icon [icon]="'arrow-left'"></fa-icon> Return Organization
        </button>
      </div>
      <div *pfmIsVisible="'requests-summary-component.approveOrganization'" class="div-button-approve">
        <button type="button" class="btn btn-success" (click)="onApproveOrganization()">
          <fa-icon [icon]="'check'"></fa-icon> Approve Organization
        </button>
      </div>
      <div *pfmIsVisible="'requests-summary-component.advanceOrganization'" class="div-button-advance">
        <button type="button" class="btn btn-primary" (click)="onAdvanceOrganization()">
          <fa-icon [icon]="'arrow-right'"></fa-icon> Advance Organization
        </button>
      </div>
      <div *pfmIsVisible="'requests-summary-component.approveAllPRs'" class="div-button-approve-all">
        <button type="button" class="btn btn-primary" (click)="onApproveAllPrs()">
          Approve All PRs - Demo only
        </button>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <pfm-dropdown
      *ngIf="workspaces"
      (selectionChanged)="onWorkspaceChange($event)"
      [type]="'labelDropdown'"
      [label]="'Select Workspace to View:'"
      [required]="true"
      [id]="'workspaceDropDown'"
      [defaultOption]="dropdownDefault"
      [fieldName]="'value'"
      [fieldLabel]="'name'"
      [options]="workspaces"
      class="d-inline-block"
    ></pfm-dropdown>
    <span *ngIf="selectedWorkspace" class="ml-3">
      Last updated on {{ selectedWorkspace.modified | date: 'M/d/yyyy HH:mm':undefined:'en-US' }}
    </span>
  </div>
  <div class="mb-3">
    <pfm-dropdown
      *ngIf="availableOrgs"
      (selectionChanged)="organizationSelected($event)"
      [type]="'labelDropdown'"
      [label]="'Select Organization to View:'"
      [required]="true"
      [id]="'availableOrgsDropDown'"
      [defaultOption]="dropdownDefault"
      [fieldName]="'name'"
      [fieldLabel]="'name'"
      [options]="availableOrgs"
    >
    </pfm-dropdown>
  </div>
</div>
<div *ngIf="programmingModelReady" class="section-pods">
  <gridster [options]="options">
    <gridster-item #orgWidetItem [item]="dashboard[0]">
      <div class="gridster-item-content">
        <pfm-requests-summary-org-widget
          #orgWidget
          [griddata]="griddata"
          [orgs]="orgs"
          [roles]="programmingModel.roles"
          [baBlinSummary]="baBlinSummary"
        >
        </pfm-requests-summary-org-widget>
      </div>
    </gridster-item>

    <gridster-item #toaWidetItem [item]="dashboard[1]">
      <div class="gridster-item-content">
        <pfm-requests-summary-toa-widget
          #toaWidget
          [availableCharts]="availableToaCharts"
          [pomYear]="pomYear"
          [selectedOrg]="selectedOrg"
          [programmingModel]="programmingModel"
          [griddata]="griddata"
        >
        </pfm-requests-summary-toa-widget>
      </div>
    </gridster-item>
  </gridster>
</div>

<div *ngIf="programmingModelReady" class="section-datagrid">
  <div class="datagrid">
    <pfm-requests-summary-grid
      (addCtaEvent)="handleAdd($event)"
      (gridDataChange)="onGridDataChange($event)"
      [dropdownOptions]="addOptions"
      [pomYear]="pomYear"
    ></pfm-requests-summary-grid>
  </div>
</div>

<ng-container *ngIf="showPreviousFundedProgramDialog">
  <pfm-custom-dialog
    [title]="'Select a Program'"
    [body]="importPreviousFundedProgramBody"
    [actions]="importPreviousFundedProgramActions"
    (onCancelDialog)="showPreviousFundedProgramDialog = false"
  >
  </pfm-custom-dialog>

  <ng-template #importPreviousFundedProgramBody>
    <pfm-dropdown
      (selectionChanged)="importProgramSelected($event)"
      [type]="'labelDropdown'"
      [label]="''"
      [required]="true"
      [id]="'id'"
      [fieldName]="'name'"
      [fieldLabel]="'name'"
      [options]="availablePrograms"
      [class.input-error]="previousYearErrorMessage"
    >
    </pfm-dropdown>
    <p class="error-message col align-self-end" *ngIf="previousYearErrorMessage">
      {{ previousYearErrorMessage }}
    </p>
  </ng-template>

  <ng-template #importPreviousFundedProgramActions>
    <div class="button-container">
      <div class="confirm">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onImportProgram()">
          Add
        </button>
      </div>
      <div class="cancel">
        <pfm-cancel-cta (onCancelClicked)="showPreviousFundedProgramDialog = false"></pfm-cancel-cta>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-container *ngIf="negativeValidationDialog.display">
  <pfm-custom-dialog
    [title]="negativeValidationDialog.title"
    [body]="yearSkipBody"
    [actions]="yearSkipActions"
    (onCancelDialog)="onCancelNegativeValidationDialog()"
  ></pfm-custom-dialog>

  <ng-template #yearSkipBody>
    <span>{{ negativeValidationDialog.bodyText }}</span>
  </ng-template>

  <ng-template #yearSkipActions>
    <div class="pull-left">
      <button
        type="button"
        class="btn btn-primary"
        data-dismiss="modal"
        (click)="negativeValidationDialog.continueAction()"
      >
        Continue
      </button>
    </div>

    <div class="pull-right">
      <pfm-cancel-cta (onCancelClicked)="onCancelNegativeValidationDialog()"></pfm-cancel-cta>
    </div>
  </ng-template>
</ng-container>

<ng-container *ngIf="createProgramDialog.display">
  <pfm-custom-dialog
    [title]="createProgramDialog.title"
    [body]="createProgramBody"
    [actions]="createProgramActions"
    (onCancelDialog)="onCancelCreateProgramDialog()"
  ></pfm-custom-dialog>

  <ng-template #createProgramBody>
    <div class="section-form">
      <form class="form-horizontal" *ngIf="createProgramDialog.form" [formGroup]="createProgramDialog.form">
        <div class="form-group row">
          <label for="shortName" class="col-sm-4 col-form-label">*Program ID</label>
          <div class="col-sm-8">
            <input
              type="text"
              [class.input-error]="programErrorMessage"
              class="form-control"
              id="shortName"
              formControlName="shortName"
            />
            <p class="error-message col align-self-end" *ngIf="programErrorMessage">
              {{ programErrorMessage }}
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="longName" class="col-sm-4 col-form-label">*Program Name</label>
          <div class="col-sm-8">
            <input
              type="text"
              [class.input-error]="programNameErrorMessage"
              class="form-control"
              id="longName"
              formControlName="longName"
            />
            <p class="error-message col align-self-end" *ngIf="programNameErrorMessage">
              {{ programNameErrorMessage }}
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="organizationId" class="col-sm-4 col-form-label">*Organization</label>
          <div class="col-sm-8">
            <span *ngIf="selectedOrg.value">{{ selectedOrg.id }}</span>
            <select
              [class.input-error]="organizationErrorMessage"
              *ngIf="!selectedOrg.value"
              id="organizationId"
              class="form-control"
              formControlName="organizationId"
              [class.form-control-plaintext]=""
            >
              <option value="" disabled>Select</option>
              <option *ngFor="let org of orgs" [value]="org.id">{{ org.abbreviation }}</option>
            </select>
            <p class="error-message col align-self-end" *ngIf="organizationErrorMessage">
              {{ organizationErrorMessage }}
            </p>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #createProgramActions>
    <div class="pull-left">
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onCreateProgramAction()">
        Create
      </button>
    </div>

    <div class="pull-right">
      <pfm-cancel-cta (onCancelClicked)="onCancelCreateProgramDialog()"></pfm-cancel-cta>
    </div>
  </ng-template>
</ng-container>
