<div class="main section-banner">
  <div class="title-line">
    <div style="float:none;width:85%">
      <h3>POM{{ pomDisplayYear }} Program Request Summary</h3>
    </div>
    <div style="float: right;">
      <!-- <pfm-primary-button [label]="'Submit All'"></pfm-primary-button>-->
      <pfm-primary-button [label]="'Approve All PRs - Demo only'" (click)="onApprove()"></pfm-primary-button>
    </div>
  </div>
  <pfm-dropdown *ngIf="availableOrgs" (onSelectionChanged)="organizationSelected($event)" [type]="'labelDropdown'"
    [label]="'Select Organization to View:'" [required]="true" [id]="'id'" [fieldName]="'name'" [fieldLabel]="'name'"
    [options]="availableOrgs"></pfm-dropdown>
</div>

<div *ngIf="programmingModelReady" class="section-pods">
  <gridster [options]="options">
    <gridster-item #orgWidetItem [item]="dashboard[0]">
      <div class="gridster-item-content">
        <pfm-requests-summary-org-widget #orgWidget [griddata]="griddata" [orgs]="orgs"
          [roles]="programmingModel.roles"></pfm-requests-summary-org-widget>
      </div>
    </gridster-item>

    <gridster-item #toaWidetItem [item]="dashboard[1]">
      <div class="gridster-item-content">
        <pfm-requests-summary-toa-widget #toaWidget
                                         [availableCharts]="availableToaCharts"
                                         [pomYear]="pomYear"
                                         [selectedOrg]="selectedOrg"
                                         [programmingModel]="programmingModel"
                                         [toaWidgetItem]="toaWidgetItem"
                                         [griddata]="griddata">
        </pfm-requests-summary-toa-widget>
      </div>
    </gridster-item>
  </gridster>

</div>

<div *ngIf="programmingModelReady" class="section-datagrid">
  <div class="datagrid">
    <pfm-requests-summary-grid (onAddCtaEvent)="handleAdd($event)" (onGridDataChange)='onGridDataChange($event)'
      [dropdownOptions]="addOptions"></pfm-requests-summary-grid>
  </div>
</div>

<ng-container *ngIf="showPreviousFundedProgramDialog">
  <pfm-custom-dialog [title]="'Select a Program'" [body]="importPreviousFundedProgramBody"
    [actions]="importPreviousFundedProgramActions" (onCancelDialog)="showPreviousFundedProgramDialog = false">
  </pfm-custom-dialog>

  <ng-template #importPreviousFundedProgramBody>
    <pfm-dropdown (onSelectionChanged)="importProgramSelected($event)" [type]="'labelDropdown'" [label]="''"
      [required]="true" [id]="'id'" [fieldName]="'name'" [fieldLabel]="'name'" [options]="availablePrograms">
    </pfm-dropdown>
  </ng-template>

  <ng-template #importPreviousFundedProgramActions>
    <div class="button-container">
      <div class="confirm">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="showPreviousFundedProgramDialog = false; onImportProgram()">OK</button>
      </div>
      <div class="cancel">
        <pfm-cancel-cta (onCancelClicked)="showPreviousFundedProgramDialog = false"></pfm-cancel-cta>
      </div>
    </div>
  </ng-template>
</ng-container>

<!--
<pfm-requests-funding-line-grid></pfm-requests-funding-line-grid>
-->
