<div class="main section-banner">
    <div class="title-line">
        <h3>POM{{ pomDisplayYear }} Program Request Summary</h3>
        <pfm-primary-button [label]="'Submit All'"></pfm-primary-button>
    </div>
    <pfm-dropdown (onSelectionChanged)="organizationSelected($event)" [type]="'labelDropdown'" [label]="'Select Organization to View'" [required]="true" [id]="'id'" [fieldName]="'name'" [fieldLabel]="'name'" [options]="availableOrgs"></pfm-dropdown>
</div>

<div *ngIf="programmingModelReady" class="section-pods">
    <gridster [options]="options">
        <gridster-item #orgWidetItem [item]="dashboard[0]">
            <div class="gridster-item-content">
                <pfm-requests-summary-org-widget #orgWidget [griddata]="griddata"></pfm-requests-summary-org-widget>
            </div>
        </gridster-item>

        <gridster-item #toaWidetItem [item]="dashboard[1]">
            <div class="gridster-item-content">
                <pfm-requests-summary-toa-widget #toaWidget [griddata]="griddata"></pfm-requests-summary-toa-widget>
            </div>
        </gridster-item>
    </gridster>

</div>

<div *ngIf="programmingModelReady" class="section-datagrid">
    <pfm-requests-summary-grid></pfm-requests-summary-grid>
</div>

<!--
<pfm-requests-funding-line-grid></pfm-requests-funding-line-grid>
-->
