<div>
    <mat-sidenav-container class="sidenav-container">
          <mat-sidenav #leftSidenav mode="side" opened>
              <div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
                  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
                    <mat-nav-list>
                      <div mat-list-item class="side-menu-coontainer">
                          <mat-icon [matMenuTriggerFor]="menu1" style="padding-right:5px;">
                              <i class="fa fa-info-circle" aria-hidden="true"></i>
                          </mat-icon>
                          <div [@animateText]="linkText ? 'show' : 'hide'">
                              <div>
                                  <button mat-button [matMenuTriggerFor]="menu1">About</button>
                              </div>
                          </div>
                          <mat-menu #menu1="matMenu">
                              <button mat-menu-item>
                                  <a class="nav-link" href="#" routerLink="/about">About</a>
                              </button>
                          </mat-menu>
                      </div>
                    </mat-nav-list>
                    <mat-nav-list>
                        <div mat-list-item class="side-menu-coontainer">
                            <mat-icon [matMenuTriggerFor]="menu2" style="padding-right:5px;">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                            </mat-icon>
                            <div [@animateText]="linkText ? 'show' : 'hide'">
                                <div>
                                    <button mat-button [matMenuTriggerFor]="menu2">Contact</button>
                                </div>
                            </div>
                            <mat-menu #menu2="matMenu" style="padding-top: 0px;">
                                <button mat-menu-item>
                                    <a class="nav-link" href="#" routerLink="/contact">Contact Us</a>
                                </button>
                            </mat-menu>
                        </div>
                      </mat-nav-list>
                      <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;padding-top: 220px;">
                        <button mat-icon-button (click)="onSinenavToggle()">
                            <mat-icon *ngIf="sideNavState">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </mat-icon>
                            <mat-icon *ngIf="!sideNavState">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </mat-icon>
                        </button>
                    </div>
                  </div>
              </div>
          </mat-sidenav>
          <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
              <div class="main_content">
              </div>
          </mat-sidenav-content>
      </mat-sidenav-container>
  </div>
  
  