<form>
  <div class="row">
    <div class="col-md-12">
      <label class="mb-2">Rationale:</label>
      <div class="form-group">
        <textarea [disabled]='readonly' cols="50" rows="4" wrap="physical" class="form-control" name="justification" [(ngModel)]="pr.justification"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="mb-2">Impact if not funded:</label>
      <div class="form-group">
        <textarea [disabled]='readonly' cols="50" rows="4" wrap="physical" class="form-control" name="impactN" [(ngModel)]="pr.impactN"></textarea>
      </div>
    </div>
  </div>
</form>
