<div class="col-12">
    <div class="row">
      <div class="col-12 mb-4">
        <span class="h5"> FY{{parent.budget.fy}} Budget</span>
        <span class="h5">Edit Budget Details for: </span>
        <span>
          <select [(ngModel)]="parent.selectedScenario" class="form-control-sm mb-2" (change)="onScenarioSelected()">
            <option value="undefined" disabled selected>Select Scenario</option>
            <option *ngFor="let pb of parent.pbs" [ngValue]="pb">{{pb.name}}</option>
          </select>
        </span>
      </div>
    </div>
  </div>
