<j-header></j-header>
<div class="container-fluid">
  <!-- <div class="row main-content" *ngIf="header.isAuthenticated"> -->
  <div class="row main-content">
    <div class="col-12 mb-4">
      <div class="h5 mb-2">P-5a</div>
      <table>
        <tr class="borderBottom">
          <td colspan="2">
              <span class="title">Exhibit P-5a, Procurement History and Planning:</span>

              <span>BES 2019 Chemical and Biological Defense Program</span>
          </td>
          <td class="borderBottom">
              <span class="title">Date: </span>
              <span class="date">September 2017</span>
          </td>
      </tr>
      <tr>
        <td>
            <div class="title">Appropriation / Budget Activity / Budget Sub Activity:</div>
            <div>0300D / 03 / 1</div>
        </td>
        <td>
            <div class="title">P-1 Line Item Number / Title:</div>
            <div>PHM001 / CB PROTECTION AND HAZARD MITIGATION</div>
        </td>
        <td>
            <div class="title">Item Number / Title [DODIC]:</div>
            <div>MA0401 / CBRN UNIFORM INTEGRATED PROTECTION ENSEMBLE (UIPE)</div>
        </td>
      </tr>
    </table>
    <table>
      <tr class="borderBottomBold alignCenter">
        <th>Cost Elements</th>
        <th>OCD</th>
        <th>FY</th>
        <th>Contractor and Location</th>
        <th>Method/Type or Funding Vehicle</th>
        <th>Location of PCO</th>
        <th>Award Date</th>
        <th>Date of First Delivery</th>
        <th>Qty <div class="font-italic font-weight-normal">(Each)</div></th>
        <th>Unit Cost <div class="font-italic font-weight-normal">($K)</div></th>
        <th>Specs Avail Now?</th>
        <th>Date Revision Available</th>
        <th>RFP Issue Date</th>
      </tr>
      <tr class="alignCenter">
        <td class="alignLeft">UIPE 1 - Ensembles - FRP<sup>(†)</sup></td>
        <td>-</td>
        <td>2015</td>
        <td>Tennessee Apparel Corporation / Tullahoma, TN</td>
        <td>C / FFP</td>
        <td>RDECOM, Natick, MA</td>
        <td>Feb 2016<sup>(6)</sup></td>
        <td>Jun 2016</td>
        <td>54,514</td>
        <td>0.503</td>
        <td>Y</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="alignCenter">
        <td class="alignLeft">UIPE 1 - Ensembles - FRP<sup>(†)</sup></td>
        <td>-</td>
        <td>2015</td>
        <td>Tennessee Apparel Corporation / Tullahoma, TN</td>
        <td>C / FFP</td>
        <td>RDECOM, Natick, MA</td>
        <td>Dec 2016<sup>(7)</sup></td>
        <td>Jun 2016</td>
        <td>24,000</td>
        <td>0.503</td>
        <td>Y</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="alignCenter">
        <td class="alignLeft">UIPE 1 - Ensembles - FRP<sup>(†)</sup></td>
        <td>-</td>
        <td>2015</td>
        <td>Tennessee Apparel Corporation / Tullahoma, TN</td>
        <td>C / FFP</td>
        <td>RDECOM, Natick, MA</td>
        <td>Nov 2017<sup>(8)</sup></td>
        <td>Mar 2019</td>
        <td>19,119</td>
        <td>0.503</td>
        <td>Y</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="alignCenter">
        <td class="alignLeft">UIPE 1 - Ensembles - FRP<sup>(†)</sup></td>
        <td>-</td>
        <td>2015</td>
        <td>Tennessee Apparel Corporation / Tullahoma, TN</td>
        <td>C / FFP</td>
        <td>RDECOM, Natick, MA</td>
        <td>Nov 2018<sup>(9)</sup></td>
        <td>Jan 2019</td>
        <td>20,636</td>
        <td>0.503</td>
        <td>Y</td>
        <td></td>
        <td></td>
      </tr>

       <tr class="borderBottomBold">
           <td colspan="13">
            <div> <sup>(†)</sup> indicates the presence of a P-21</div>
            <div class="title">Footnotes:</div>
            <div><sup>(6)</sup> Delivery Order</div>
            <div><sup>(7)</sup> Delivery Order</div>
            <div><sup>(8)</sup> Delivery Order</div>
            <div><sup>(9)</sup> Delivery Order</div>
           </td>
       </tr>

      </table>
    </div>
  </div>
</div>
