<div id="program-request" *ngIf="programRequestPageMode.prId || programRequestPageMode.programOfMrDb">
  <div class="mb-4">
    <span class="h5" *ngIf="!programRequestPageMode.prId">Create </span>
    <span *ngIf="pr.type==='PROGRAM'" class="h5">Program Request:</span>
    <span *ngIf="pr.type==='INCREMENT'" class="h5">Program Request for a New Increment:</span>
    <span *ngIf="pr.type==='FOS'" class="h5">Program Request for a New FoS:</span>
    <span *ngIf="pr.type==='GENERIC'" class="h5">Program Request for a New Subprogram:</span>
  </div>
  <div class="form-group mr-3">
    <label class="mr-1">Program ID:</label>
    <span class="shortname text-truncate" title="{{pr.shortName}}">{{pr.shortName}}</span>
  </div>
  <div class="form-group mr-3">
    <label class="mr-1">Program Name:</label>
    <div class="longname text-truncate" title="{{pr.longName}}">{{pr.longName}}</div>
  </div>
  <div class="form-group">
    <label class="mr-1">Program Type:</label>
    <div class="type">{{type()}}</div>
  </div>
</div>
<div id="create-new-subprogram"
        *ngIf="!programRequestPageMode.prId && programRequestPageMode.child">
  <ng-container *ngIf="programRequestPageMode.type">
    <div *ngIf="pr.type==='INCREMENT'"   class="h5 mb-4">Create Program Request for a New Increment:</div>
    <div *ngIf="pr.type==='FOS'" class="h5 mb-4">Create Program Request for a New FoS:</div>
    <div *ngIf="pr.type==='GENERIC'" class="h5 mb-4">Create Program Request for a New Subprogram:</div>
  </ng-container>
  <span class="form-group mr-3">
    <label class="mr-1" for="id">*Program ID: </label>
    <span class="mr-1 text-truncate shortname" title="{{parentFullName}}">{{parentFullName}}</span>
    <input id="id" [formControl]="childname" type="text" class="form-control forminput shortname" [(ngModel)]="childNameModel" aria-label="short name">
 </span>
 <span class="form-group mr-3">
   <label class="mr-1" for="name">*Program Name:</label>
   <input id="name" [formControl]="longname" type="text" class="form-control forminput longname" [(ngModel)]="pr.longName" aria-label="short name">
  </span>
  <span class="form-group mr-3">
    <label class="mr-1">Program Type:</label>
    <span class="type">{{type()}}</span>
  </span>
  <div class="text-danger" *ngIf="childname.touched && childname.invalid && childname.errors.required">Program ID is required</div>
  <div class="text-danger" *ngIf="childname.invalid && childname.errors.alreadyExists">Program ID already exists</div>
  <div class="text-danger" *ngIf="longname.touched && longname.invalid && longname.errors.required">Program Name is required</div>
  <div class="text-danger" *ngIf="longname.invalid && longname.errors.alreadyExists">Program Name already exists</div>
</div>
<div id="create-new-toplevel" *ngIf="!programRequestPageMode.prId && programRequestPageMode.newProgram">
  <div *ngIf="programRequestPageMode.type" class="h5 mb-4">Create Program Request for a New Program:</div>
  <span class="form-group mr-3">
    <label class="mr-1" for="id">*Program ID:</label>
    <input id="id" [formControl]="childname" type="text" class="form-control forminput shortname" [(ngModel)]="childNameModel" aria-label="short name">
  </span>
  <span class="form-group mr-3">
    <label class="mr-1" for="name">*Program Name:</label>
    <input id="name"  [formControl]="longname" type="text" class="form-control forminput longname mr-2" [(ngModel)]="pr.longName" aria-label="short name">
  </span>
  <span class="form-group">
    <label class="smr-1">Program Type:</label>
    <span class="type">{{type()}}</span>
  </span>
    <div class="text-danger" *ngIf="childname.touched && childname.invalid && childname.errors.required">Program ID is required</div>
    <div class="text-danger" *ngIf="childname.invalid && childname.errors.alreadyExists">Program ID already exists</div>
    <div class="text-danger" *ngIf="longname.touched && longname.invalid && longname.errors.required">Program Name is required</div>
    <div class="text-danger" *ngIf="longname.invalid && longname.errors.alreadyExists">Program Name already exists</div>
</div>
