.form-group {
  display: inline;
}

.shortname {
  display: inline-block;
  width: 90px;
  min-width: 50px;
  vertical-align: top;
  cursor: default;
  // word-break: break-all; // use if there are set number of characters in the longname string
}

.longname {
  display: inline-block;
  width: 200px;
  min-width: 180px;
  max-width: 260px;
  vertical-align: top;
  cursor: default;
  // word-break: break-all; // use if there are set number of characters in the longname string
}

.type {
  display: inline-block;
}
