<app-header></app-header>
<div class="single-row">
  <menu-bar [authUser]="authUser"></menu-bar>
  <div class="container-fluid">
      <div class="row main-content">
        <div class="col-12">
          <ag-grid-angular
            #agGrid class="ag-theme-balham"
            id="myGrid"
            domLayout="autoHeight"
            [gridOptions]="agOptions"
            (paginationChanged)="agGridPagination.onPaginationChanged($event)"
            (gridReady)="onGridReady($event)" >
          </ag-grid-angular>
          <ag-grid-pagination #agGridPagination [agGrid]="agGrid"></ag-grid-pagination>
        </div>
      </div>
    </div>
    
</div>
