.card-container {
  width: 100%;
  margin-bottom: 10px;
  border: 1px #ccc solid;
  border-radius: 5px;
  color: #000;
  padding: 10px;
}

.window {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.main-content {
  width: 100%;
  margin: auto 0;
  padding: 0 15px;
}

.badge {
  font-size: 13px;
  background-color: #3a6489;
  color: #fff;
  margin-bottom: 5px;
}
.single-row{
  display: flex;
}
.message {
  margin-left: 30rem
}