<app-header></app-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="error" *ngFor="let error of resultError">{{error}}</div>
    <div class="col-10" *ngIf="leaveCommunityRequest">
      <div class="row">
        <div class="card-header">
          Approve a Request to Leave a Community
        </div>
        <div class="card-container">
          <div class="row">
            <div class="col-md-10">
              <span class="badge pull-right">From: {{ requstingUser?.firstName }} {{ requstingUser?.middleInitial }} {{ requstingUser?.lastName }}</span>
            </div>
            <div class="col-md-5">
              <h6>Community Requested to Leave</h6>
              <ul>
                <li>{{ leaveCommunityRequest?.communityId }}</li>
              </ul>
            </div>
            <div class="col-md-5">
              <h6>Current Communities</h6>

              <ul>
                <li *ngFor="let comm of currentCommunities">
                  {{ comm.name }}
                </li>
              </ul>
            </div>
          </div>
          <div class="row col-md-4 controls">
            <button class="btn btn-danger" (click)="deny()">Deny</button>
            <button class="btn btn-primary" (click)="approve()">Approve</button>
          </div>
        </div>
      </div>
    </div>