<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <planning-menu></planning-menu>

      <programming-menu [pomStatus]="pomStatus"></programming-menu>

      <budget-menu></budget-menu>

      <execution-menu></execution-menu>

      <reports-menu></reports-menu>

      <menage-menu></menage-menu>

      <admin-menu></admin-menu>

    </ul>
  </div>

  <div class="col-3">
    <span class="dropdown show actions-menu" *ngIf="roles?.includes('User_Approver')">
      <a class="super-user dropdown-toggle" href="#" role="button" inumberOfNotificationsd="dropdownMenuLink4" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <div class="icon-wrapper">
          User Actions
          <i class="fa fa-bell" aria-hidden="true"></i>
          <span class="badge" *ngIf="requests?.length > 0">{{requests?.length}}</span>
        </div>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
        <div *ngFor="let request of requests">
          <ng-template #tipContent>
            <strong>{{request?.type}}</strong>
            <br/>{{request?.name}}</ng-template>
          <a class="dropdown-item" href="#" routerLink="{{request.link}}" [ngbTooltip]="tipContent">
            {{request?.date | date:'MM/dd/yyyy @ h:mma'}}
          </a>
        </div>
      </div>
    </span>
    <span class="dropdown show actions-menu" *ngIf="roles?.includes('Funds_Requestor')">
      <a class="super-user dropdown-toggle" href="#" role="button" inumberOfNotificationsd="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="icon-wrapper">
          POM Actions
          <i class="fa fa-bell" aria-hidden="true"></i>
          <span class="badge" *ngIf="prChangeNotifications?.length > 0">{{prChangeNotifications?.length}}</span>
        </div>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
        <div *ngFor="let prChangeNotification of prChangeNotifications">
          <a class="dropdown-item">
            {{prChangeNotification?.shortName}}
          </a>
        </div>
      </div>
    </span>
  </div>

</nav>
