<app-header></app-header>
<div class="single-row">
  <menu-bar [authUser]="authUser"></menu-bar>
  <div class="container-fluid">
      <div class="row main-content">
        <div class="col-12">

          <ag-grid-angular #agGrid
            class="ag-theme-balham"
            id="mygrid"
            domLayout="autoHeight"
            [gridOptions]="agOptions"            
            [rowData]="rowData"
            [groupDefaultExpanded]="groupDefaultExpanded"
            [getDataPath]="getTreeHierarchy"
            [autoGroupColumnDef]="autoGroupColumnDef"
            (gridReady)="onGridReady($event)">
          </ag-grid-angular>

        </div>
      </div>
    </div>
    
</div>
