.programming-container {
  width: 100%;
  margin: 40px -3px;
  padding: 20px;
}

tab {
  border: 1px #ccc solid;
  padding: 15px
}

.forminput {
  width: 300px;
  padding: 6px 4px;
  clear: both;
}

tbody div {
  overflow-y:scroll;
  height:100px;
}

.pom-table {
  border: 1px #ccc solid;
  padding: 15px;
  background-color: #f7f7f7;
}

.pom-table > td {
  font-size: 15px;
  font-weight: 400;
  padding: 0 !important;
}

table {
  overflow-y:scroll;
  height: 200px;
  width: 280px;
  margin-bottom: 20px;
}

tfoot {
  padding: 10px;
  color: #fff;
}

tfoot > tr {
  padding: 10px;
  color: #fff;
  background-color: #3c3737;
}

.pom-table thead tr th {
  padding: 4px 10px;
  font-weight: 500;
  background-color: #cccccc;
}

.pom-table tr > td {
    padding: 0 10px;
}

.pom-table thead {
  padding: 5px 10px;
  border-radius: 4px;
}
