<div class="row">
  <div class="col-md-12">


    <div class="row">
      <div class="col-3">
        <span class="form-group inline-name">
           <label>Name</label>
           <input type="text" [(ngModel)]="ufr.shortName" class="form-control forminput mr-5">
         </span>
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
        <span class="form-group inline-name">
           <label>Cost to Complete</label>
           <input type="text" placeholder="$" [(ngModel)]="ufr.costLeft" class="form-control forminput mr-5">
         </span>
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        <span class="form-group inline-name">
          <label>Description</label>
          <input type="text" [(ngModel)]="ufr.description" class="form-control description mr-5">
        </span>
      </div>
      <div class="col-3">
      </div>
    </div>


    <div class="row">
      <div class="col-3">
        <span class="form-group inline-name">
          <label class="mb-1">Status</label>
          <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="ufr.status">
            <option *ngFor="let p of statuses" [value]="p">{{p}}</option>
          </select>
        </span>
      </div>
      <div class="col-3">
        <span class="form-group inline-name">
          <label class="mb-1">Priority</label>
          <input type="text" [(ngModel)]="ufr.priority" class="form-control forminput mr-5">
        </span>
      </div>
      <div class="col-3">
        <span class="form-group inline-name">
          <label>Disposition</label>
          <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="ufr.disposition">
            <option *ngFor="let p of dispositions" [value]="p">{{p}}</option>
          </select>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="title mb-2">Notes:</div>
        <div class="form-group">
          <textarea cols="50" rows="4" wrap="physical" [(ngModel)]="ufr.notes" class="form-control" id="notes"></textarea>
        </div>
      </div>
    </div>

  </div>
</div>
