fieldset {
  padding: 10px 20px;
}

.inline-name {
  display: inline-block;
  float: left;
}

.description {
  width: 800px;
}

label {
  color: #8a8787;
  margin: 0;
  width: 233px;
  display: block;
}

.badge {
  padding: 6px 10px 2px 10px;
}

.forminput {
  width: 250px;
}

.dropdown-width {
  width: 200px;
}
