<div class="row">
  <div class="col-md-12">


    <div class="row">
      <div class="col-3">
        <span class="form-group inline-name">
           <label>Name</label>
           <input type="text" [(ngModel)]="ufr.shortName" class="form-control forminput mr-5">
         </span>
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
        <span class="form-group inline-name">
           <label>Cost to Complete</label>
           <input type="text" placeholder="$" [(ngModel)]="ufr.costLeft" class="form-control forminput mr-5">
         </span>
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        <span class="form-group inline-name">
          <label>Description</label>
          <input type="text" [(ngModel)]="ufr.description" class="form-control description mr-5">
        </span>
      </div>
      <div class="col-3">
        <span class="form-group inline-name">
          <label>Core Capability</label>
          <select [(ngModel)]="ufr.coreCapability" class="form-control-sm dropdown-width" name="dummy">
            <option *ngFor="let c of capabilities" [ngValue]="c.abbr" >{{c.name}}</option>
          </select>
        </span>
      </div>
    </div>


    <div class="row">
      <div class="col-3">
        <span class="form-group inline-name">
          Status: {{ufr.status}}
        </span>
      </div>
      <div class="col-3">
        <span class="form-group inline-name">
          Priority: {{ufr.priority}}
        </span>
      </div>
      <div class="col-3">
        <span class="form-group inline-name">
          Disposition: {{ufr.disposition}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="title mb-2">Notes:</div>
        <div class="form-group">
          <textarea cols="50" rows="4" wrap="physical" [(ngModel)]="ufr.notes" class="form-control" id="notes"></textarea>
        </div>
      </div>
    </div>

  </div>
</div>
