<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-3">
        <span class="form-group inline-name">
           <label>*Name</label>
           <input type="text" [(ngModel)]="ufr.ufrName" class="form-control forminput mr-5">
         </span>
      </div>
      <div class="col-3">
      </div>
      <div class="col-3">
        <span class="form-group inline-name">
           <label>*Cost to Complete</label>
           <input type="number" placeholder="" [(ngModel)]="ufr.costLeft" class="form-control forminput mr-5">
         </span>
      </div>
      <div class="col-3">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <span class="form-group">
          <label>*Description</label>
          <input type="text" [(ngModel)]="ufr.description" class="form-control description">
        </span>
      </div>
      <div class="col-4">
        <span class="form-group inline-name">
          <label>Core Capability</label>
          <select [(ngModel)]="ufr.coreCapability" class="form-control-sm dropdown-width" name="dummy">
            <option *ngFor="let c of capabilities" [ngValue]="c.abbr" >{{c.name}}</option>
          </select>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span class="form-group inline-name">
          <label>Status</label>
          <input type="text" class="form-control mr-5" value="{{ufr.status}}" disabled />
        </span>
      </div>
      <div class="col-3">
        <span class="form-group inline-name">
          <label>Priority</label>
          <input type="text" class="form-control mr-5" value="{{ufr.priority}}" disabled />
        </span>
      </div>
      <div class="col-3">
        <span class="form-group inline-name">
          <label>Disposition</label>
          <input type="text" class="form-control mr-5" value="{{ufr.disposition}}" disabled />
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-2">Notes:</div>
        <div class="form-group">
          <textarea cols="50" rows="4" wrap="physical" [(ngModel)]="ufr.notes" class="form-control" id="notes"></textarea>
        </div>
      </div>
    </div>

  </div>
</div>
