<div class="row mb-3">
  <div class="col-4">
    <div class="h6">Upload R-1 file:</div>
    <div class="input-group">
      <input type="text" class="form-control form-input mr-1" placeholder="Choose File" value="{{ r1FileName }}" name="r1upload" [ngModel]="r1FileToUpload?.name" readonly>
      <span class="input-group-btn">
        <span class="btn btn-secondary btn-file">
        Browse… <input type="file" name="file" accept="*.pdf" (change)="r1HandleFileInput($event.target.files)">
        </span>
      </span>
    </div>
  </div>
</div>