.form-check {
  margin: 0 0 0 15px;
}

.form-check-input {
  margin-left: -10px;
}

.form-check-label {
  padding-left: 10px;
}

.dropdown-width {
  min-width: 180px;
}

.ufr-search-table {
  margin: 10px;
  td {
    padding: 3px 10px;
  }
}