<fieldset>
  <legend><i class="fa fa-filter icon-pad" aria-hidden="true"></i>Filter By</legend>
  <div class="row fieldset-padding">
    <table class="ufr-search-table">
      <tr>
        <td>
          <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" [(ngModel)]="useFunctionalArea" (change)="change.emit()">
            <label class="form-check-label primary-label " for="defaultCheck2">Func. Area</label>
          </div>
        </td>
        <td colspan="2">
          <div class="form-group">
            <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="selectedFunctionalArea" name="area" [disabled]="!useFunctionalArea" (change)="change.emit()">
              <option *ngFor="let functionalArea of functionalAreas" [ngValue]="functionalArea.abbr" title="{{functionalArea.name}}">{{functionalArea.abbr}}</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" id="defaultCheck1" [(ngModel)]="useOrganization" (change)="change.emit()">
            <label class="form-check-label primary-label" for="defaultCheck1">Organization</label>
          </div>
        </td>
        <td colspan="2">
          <div class="form-group">
            <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="selectedOrganizationId" name="org" [disabled]="!useOrganization" (change)="change.emit()">
              <option *ngFor="let organization of organizations" [ngValue]="organization.id" [selected]="">{{organization.name}}</option>
            </select>
          </div>
        </td>
      </tr>
    </table>
  </div>
</fieldset>