<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-md-10">
      <div class="row mb-4">
        <div class="col-md-12">
          <span class="h5 mr-3">Manage Roles for</span>

          <!-- Get the selectedCommunity -->
          <span class="form-group">
            <select name="communitySelector" class="form-control-sm dropdown-width" required [(ngModel)]="selectedCommunity" (change)="getRolesAndUsers()">
              <option value=""></option>
              <option *ngFor="let comm of communities" [ngValue]="comm">
                {{ comm.name }}
              </option>
            </select>
          </span>
        </div>
      </div>
      <div class="row mb-4">

        <!-- Get the selectedRole -->
        <div class="col-lg-2 col-md-6 mb-2 role-controls">
          <label>Select Role</label>
          <span class="form-group">
            <select name="roleSelector" class="form-control-sm dropdown-width" required [(ngModel)]="selectedRole" (change)="clear()">
              <option value=""></option>
              <option *ngFor="let r of roles" [ngValue]="r">
                {{ r.name }}
              </option>
            </select>
          </span>
        </div>

        <!-- Get the selectedUser -->
        <div class="col-lg-2 col-md-6 role-controls">
          <label>Select User</label>
          <span class="form-group">
            <select name="userSelector" class="form-control-sm dropdown-width" required [(ngModel)]="selectedUser" (change)="clear()">
              <option value=""></option>
              <option *ngFor="let u of users" [ngValue]="u">
                {{ u.firstName }} {{ u.middleInitial }} {{ u.lastName }}
              </option>
            </select>
          </span>
        </div>

        <!-- Get the selectedUserRoleResource -->
        <div class="col-lg-2 col-md-6">
          <div class="controls mt-4">
            <button class="btn btn-primary" (click)="getURR()">Next</button>
          </div>
        </div>

      </div>

      <div *ngIf="commRoleUserOK">

        <!-- Main message -->
        <p class="role-controls">
          <span *ngIf="newUserRole===false">Modify</span>
          <span *ngIf="newUserRole">New</span>
          <b>{{ selectedRole.name }}</b>
          role for
          <b>{{ selectedUser.firstName }} {{ selectedUser.middleInitial }} {{selectedUser.lastName }}</b>
        </p>

        <!-- Delete existing -->
        <div *ngIf="newUserRole===false">
          <fieldset>
            <legend>{{ selectedUser.firstName }} {{ selectedUser.middleInitial }} {{ selectedUser.lastName }} already been assigned
              this role.
            </legend>
            <p class="role-controls">Un-assign this role</p>
            <div class="controls pull-right">
              <button class="btn btn-primary" (click)="commit()">
                <span>Un-assign</span>
              </button>
            </div>
          </fieldset>
        </div>

        <ng-container *ngIf="isModifyable; then Modifyable; else NotModifyable">
        </ng-container>

        <!-- Some UserRoleResources can be modified -->
        <ng-template #Modifyable>
          <fieldset>
            <legend>Assign access to one or more Programs for this Role:</legend>

            <div style="max-width:800px;">
              <dual-list [source]="availablePrograms" [(destination)]="assignedPrograms" [key]="key" [display]="display" [sort]="keepSorted"
                [filter]="filter" height="265px" [format]="format" [disabled]="disabled">
            </dual-list>
            </div>

            <!--
            <span [hidden]="!formsubmitted" class="clearfix">
              <div class="alert-success-group message">
                <div class="alert-success alert-dismissable">
                  <strong>Bill Andrew's Resources have been modified</strong>
                  <strong>Bill Andrew's no longer has the role of Program Owner - CBDP</strong>
                  <strong>Bill Andrew has been assigned Program Owner - CBDP</strong>
                </div>
              </div>
            </span>
            -->

            <br/>
            <div class="controls pull-right">
              <button class="btn btn-primary" (click)="commit()">
                <span *ngIf="newUserRole===true">Assign</span>
                <span *ngIf="newUserRole===false">Modify</span>
              </button>
            </div>

          </fieldset>
        </ng-template>

        <!-- Some UserRoleResources CANNOT be modified -->
        <ng-template #NotModifyable>
          <fieldset>
            <legend>You cannot modify access for the {{ selectedRole.name }} role.</legend>
            <div *ngIf="newUserRole===true">
              <p class="role-controls">Assign this role.</p>
              <div class="controls pull-right">
                <button class="btn btn-primary" (click)="commit()">
                  <span>Assign</span>
                </button>
              </div>
            </div>
          </fieldset>
        </ng-template>


      </div>

    </div>
  </div>
</div>