$white: #ffffff;
$light-grey: #f7f7f7;
$black: #000000;
.single-row{
  display: flex;
}
fieldset {
  padding: 20px;
}

.main-content {
  margin-top: 20px;
}

.role-controls {
   color: $black;

  > label {
    margin: 0 0 5px 0;
    width: 233px;
    display: block;
  }

  .dropdown-width {
    width: 280px;
  }
}

.controls {
  clear: both;
}

.program-options {
  max-width:800px
}

.filter-programs {
  width: 800px;
  text-align: right; 
  margin-bottom: 10px;
}