<app-header></app-header>
<div class="single-row">
  <menu-bar [authUser]="authUser"></menu-bar>
<div class="container-fluid">
    <div class="row main-content">
      <div class="error" *ngFor="let error of resultError">{{error}}</div>
      <div class="col-md-12 col-lg-10" *ngIf="request">
        <div class="row">
          <div class="card-header">
            <span *ngIf="isDrop">Approve a Request to Drop a User Role</span>
            <span *ngIf="!isDrop">Approve a Request to Modify a User Role</span>
          </div>
          <div class="card-container">
            <div class="row">
                <div class="col-12">
                  <span class="badge pull-right">From: {{ requestingUser?.firstName }} {{ requestingUser?.middleInitial }} {{ requestingUser?.lastName }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6 *ngIf="isDrop">Role Requested to Drop</h6>
                <h6 *ngIf="!isDrop">Role Requested to Change</h6>
                <table class="my-roles-list mb-3">
                    <thead>
                      <tr>
                        <th>Role</th>
                        <th>Programs</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="column-1"> {{ requsetDisplay?.name }} </td>
                        <td class="column-2"> {{ requsetDisplay?.resources.join(', ') }} </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="col-md-6">
                <h6>Current UserRoles</h6>
                <table class="my-roles-list mb-3">
                    <thead><tr><th>Roles</th><th>Programs</th></tr></thead>
                    <tbody>
                      <tr *ngFor="let role of currentRoles">
                        <td class="column-1"> {{ role.name }} </td>
                        <td class="column-2"> {{ role.resources.join(', ') }} </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
            <div class="row col-md-4 controls">
              <button class="btn btn-danger" (click)="deny()">Deny</button>
              <button class="btn btn-primary" (click)="approve()">Approve</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
