@import 'variables';
@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";
@import "~@ag-grid-community/all-modules/dist/styles/webfont/agGridBalhamFont.scss";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

/* links */
a,
a:active,
a:visited {
  color:  #23527c;
  text-decoration: none;
}

.text-primary{
  color: $primary-color !important;
}

a:hover {
  opacity: .8;
  color:  #23527c;
  text-decoration: none;
}

.modal{
  display: block;
}

// fieldset

legend {
  display: block;
  font-size: 1rem;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  text-align: left;
  white-space:nowrap;
  margin: -5px;
  padding: 5px;
  width: max-content;
}

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: #ffffff;
  border-image: initial;
  margin-bottom: 20px;
}

.fieldset-padding {
  padding-top: 10px;
}

/* misc styling */
.custom-tooltip-error .tooltip-inner {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #721c24;
  border-width: 1px;
  border-style: solid;
}
.custom-tooltip-error .arrow::before {
  border-top-color: #721c24;
}

.menu-display-container{
  margin: 0px;
  border-left: 0px;
  border: 0px;
}

.menu-display-container-open{
  margin: 0px;
  border-left: 0px;
  top: 25px !important;
  border: 0px;
}


.menu-display-container-open .arrow {
  display: none;
}

.menu-display-container .arrow {
  display: none;
}

.summary-table {
  font-size: 12px;
}

hr {
  margin: 5px 0;
}

.h5 {
  font-size: 24px;
  padding-bottom: 10px;
  margin: 0;
}

.primary-label {
  color:  $primary-color;
}

/* bootstrap containers */

.card-header-text-pad {
  padding-right: 15px;
}

.error {
  color: red;
  padding-bottom: 20px;
}

/* global buttons */
.btn,
.btn:visited {
  margin: 0 10px 10px 0px !important;
  text-decoration: none;
  transition: all .2s;
  border: none;
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 3px 10px rgba(0, 0, 0 ,.2);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0 ,.2);
}

.btn-default {
  background-color: #ccc;
}

.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


// disabled buttons and curso behavior

.btn-primary,
.btn-secondary,
.btn-success {
  &:disabled {
    opacity: .5;
    cursor: not-allowed;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  &:disabled:hover {
    opacity: .5;
    transform: translateY(0);
  }
}

// button primary custom colors
.btn-primary {
  &:hover {
    opacity: 1;
  }
  color: $white;
  background-color: $primary-color !important;
  border-color: #23527c !important;
  opacity: .9;
  border-radius: 0.25rem;
}


.btn-card-header  {
  font-weight: 400;
  height: 30px;
  text-align: center;
  white-space: nowrap;
  color: #000;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc !important;
  background-color: #fff;
  padding: 3px 10px 2px 10px;
  line-height: 1.5;
  font-size: 13px !important;
  border-radius: 0.25rem;
  margin: 0 5px 4px 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.btn-card-header:hover{
  opacity: .7;
}

.btn-card-header > a {
  color: #000;
  line-height: 30px;
}

.btn-card-header:hover > a {
  opacity: .7;
  color: #000;
  text-decoration: none;
}

.btn-card-header:disabled,
btn-card-header[disabled]{
  opacity: .5;
  color: #000;
  text-decoration: none;
  cursor: not-allowed;
}

.btn-sm {
  cursor: pointer;
}

/* cards */
.card-header {
  float: left;
  margin-bottom: 0 !important;
  height: 40px;
  width: 100%;
  color: #000;
  border-radius: 5px 5px 0 0;
  border: 1px #ccc solid;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
  padding: 0px 15px !important;
  font-size: 1rem;
  line-height: 2.4rem;
}

.card-container {
  width: 100%;
  margin-bottom: 10px;
  border: 1px #ccc solid;
  border-radius: 5px;
  color: #000;
}

.card {
  border: 1px #ccc solid;
  padding: 0;
}


/* tabs */

.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link {
  color: white;
  background-color: #7c838a;
  border: 1px solid #ccc !important;
  border-bottom: none;
}

select {
  cursor: pointer;
  outline: none;
}

tab {
  padding: 30px 15px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px #ccc solid;
  border-top: none;
  color: #000;
}

.container-fluid {
  padding-left: 0;
}

.program-tab-style{
  font-size: 14px;
  padding: 0.3rem 1rem;
  > .nav-tabs {
    background-color: #f1f1f1;
    border: 1px solid #ced4da;
  }
  > .nav-tabs .nav-item {
    border-bottom: 1px solid #ced4da !important;
  }
  > .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      color: #fff;
      background-color: #616161;
      border-radius: 0;
      border: none !important;
      font-weight: 500;
  }
  > .nav-tabs .nav-link,
    .nav-tabs .nav-item.show .nav-link {
      color: #616161;
      background-color: #f1f1f1;
      border-radius: 0;
      border: none !important;
      font-weight: 500;
  }
}
ngb-tabset {

  .tab-content {
    padding: 30px 15px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px #ccc solid;
    border-top: none;
    color: #000;
  }
}


gridster{
  background-color: whitesmoke;
}

gridster .gridster-column {
  background-color: whitesmoke;
}
gridster .gridster-row {
  background-color: whitesmoke;
}

//ag-grid customization starts here
.pfm-datagrid-text{
  display: flex;
  align-items: center;
  white-space: normal;
}

.pfm-datagrid-numeric-class{
  display: flex;
  align-items: right !important;
  white-space: normal;
  justify-content: flex-end;
  align-items: center;
  color: black;
}

.pfm-datagrid-text-underline{
  text-decoration: underline;
}

.pfm-datagrid-warning{
  color: #a94442;
}

.pfm-datagrid-lightgreybg{

}

.pfm-datagrid-greybg{

}

.ag-header{
  background: #24527b;
  color: white;
  text-align: center !important;
}
.ag-header-container {
  background: #24527b;
  color: white;
  text-align: center !important;
}

.ag-header-cell:hover{
  cursor: default;
}

.ag-header-cell-resize{
  background-color: white;
  width: 5px;  
}

.ag-header-cell-resize:hover{
  cursor: col-resize;
}

.ag-icon{
  color: black !important;
}

.ag-icon-grip{
  color: #24527b !important;
}

.ag-icon-grip:hover{
  cursor: pointer;
}

.ag-header-cell-label {
  text-align: center !important;
  flex-direction: row !important;
}
.ag-row-odd {
  background: whitesmoke !important;
}

.ag-row {
  border: 0px !important;
  border-bottom: 1px solid #7b8389 !important;
  border-left: 1px solid #7b8389 !important;
  border-right: 1px solid #7b8389 !important;
}

.ag-row-hover{
  background-color: lightgray !important;
}



.ag-cell {
  border: 0px !important;
  border-right: 1px solid #7b8389 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-family: '-apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif';
  font-weight: 400;
  font-size: 14px;
}

.row-span {
  border-bottom: 1px solid #7b8389 !important;
}

.ag-root {
  border: none;
  border-bottom: 0px solid #7b8389 !important;
  border-left: 0px solid #7b8389 !important;
  border-top: 1px solid #7b8389 !important;
}

.ag-body-viewport {
  margin-bottom: -2px;
}

.ag-cell-edit {
  background-color: #c6d9f1;
  color: $black;
  text-align: right;
  &:hover {
    cursor: pointer;
    background-color: $light-grey;
  }
}

.no-filter-header > .ag-cell-label-container > .ag-header-cell-label {
  width: 100% !important;
}

.ag-cell-light-green {
  background-color: $light-green;
  color: $black;
}

.ag-cell-dark-green {
  background-color: $dark-green;
  color: $white;
}

.ag-cell-light-grey {
  background-color: $light-grey;
  color: $black;
}

.ag-medium-gray-cell {
  background-color: $medium-grey;
  color: $black;
}

.ag-cell-white {
  background-color: $white;
  color: $black;
}

.ag-cell-edit {
  background-color: #c6d9f1;
  color: $black;
  text-align: left;
  &:hover {
    cursor: pointer;
    background-color: $light-grey;
  }
}

.ag-cell-light-green {
  background-color: $light-green;
  color: $black;
}

.ag-cell-light-orange {
  background-color: $light-orange;
  color: $black;
}

.ag-cell-dark-green {
  background-color: $dark-green;
  color: $white;
}

.ag-cell-light-grey {
  background-color: $light-grey;
  color: $black;
}

.ag-medium-gray-cell {
  background-color: $medium-grey;
  color: $black;
}

.ag-cell-white {
  background-color: $white;
  color: $black;
}

.ag-cell-white-select {
  background-color: $white;
  color: $black;
  &:hover {
    background-color: $blue-select;
  }
}

.ag-cell-yellow {
  background-color: $yellow;
  color: $black;
}

.ag-cell-red {
  background-color: $red;
  color: $white;
}

.ag-clickable {
  color: $primary-color;
}

.ag-cell-footer-sum {
  border-top: 2px solid $dark-grey !important;
  background-color: #ecf0f1 !important;
}

.ag-link {
  color: $primary-color;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}



.ag-theme-balham {
  width: 100%;
}

.ag-root.ag-unselectable.ag-layout-auto-height {
  z-index: 1;
}

.ag-cell-popup-editing {
  position: relative;
}

.ag-theme-balham .ag-header-cell-label .ag-header-cell-text,
.ag-header-cell,
.ag-header-group-cell,
.ag-header-cell-text,
.ag-header-cell-number {
  display: grid;
  padding-left: 2px !important;
  padding-right: 2px !important;
  text-align: center !important;
  margin: 0 auto !important;
}

.ag-header-group-cell-label {
  display: grid;
  text-align: center;
}

.ag-theme-balham .ag-header-cell-label {
  display: grid !important;
  text-align: center !important;
  padding-right: 2px !important;
  margin: 0 auto !important;
}

// fix for blue header positions
.ag-theme-balham .ag-numeric-header .ag-header-cell-label {
  float: none !important;
}

// fix for extra row space under Set TOA for CBDP Community ($K) table

.set-toa {
  .ag-root-wrapper-body {
    height: 89px;
  }
}

.ag-body-container {
  min-height: 0px !important;
}

.funding-line-default {
  background-color: #eae9e9;
  text-align: center;
}

.align-column {
  display: flex;
  align-items: flex-end;
}

.isDisabled {
  cursor: not-allowed;
}

.isDisabled > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

.budget-reports {
  table {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #000;
  }

  th {
    height: 40px;
    border: 1px solid #000;
    padding: 6px;
  }

  td,
  th {
    height: 40px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 6px;
  }

  .border {
    border: 1px solid #000 !important;
  }

  .borderRightBottom,
  .borderRightBottom td {
    border-right: 1px solid #000;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #000;
  }

  .borderBottom {
    border: none;
    border-bottom: 1px solid #000;
  }

  .borderBottomBold,
  .borderBottomBold td {
    border-bottom: 3px solid #000;
  }

  .borderRight,
  .borderRight td {
    border-right: 1px solid #000;
  }

  td {
    border: 1px solid #000;
    padding: 6px;
  }

  th {
    height: 40px;
    border: 1px solid #000;
    padding: 6px;
  }

  td, th .noBorder {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
  }

  .borderTop {
    border-top: 1px solid #000;
  }

  .noBorder,
  .noBorder * {
    border: none !important;
    border-style: none;
  }

  .title {
    font-size: 12px;
    font-weight: bold;
  }

  .date {
    font-weight: normal;
  }

  .alignLeft {
    text-align: left !important;
    padding-left: 4px;
  }

  .alignRight {
    text-align: right;
    padding-right: 2px;
  }

  .alignCenter,
  .alignCenter th {
    text-align: center;
  }

  .readOnly {
    background: #e9e9e9;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: bold;
  }

  .content {
    background: #bccedc;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: bold;
  }

  .vericaltext{
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .thin-col {
    width: 30px;
    text-align: center;
  }

}

// radio and checkbox inputs
/* forms */

label {
  color: #8a8787;
}

input,
textarea,
button {
  outline: none !important;
}

input[type=radio] {
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}


input[type=checkbox] {
  -ms-transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}

@supports (zoom:1) {
  input[type="radio"],
  input[type=checkbox]{
    zoom: 1;
  }
}

@supports not (zoom:1) {
  input[type="radio"],
  input[type=checkbox]{
    transform: scale(1);
  }
}
h3.tooltip-h3 {
  font-size: 1rem;
}
.tool-tip-container {
  padding: 1rem;
}
.tooltip-h3 span {
  font-weight: bolder;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
