@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

/* links */
a,
a:active,
a:visited {
color:  #23527c;
text-decoration: none;
}

.text-primary{
  color: $primary-color !important;
}

a:hover {
opacity: .8;
color:  #23527c;
text-decoration: none;
}

// fieldset

legend {
  display: block;
  font-size: 1rem;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  text-align: left;
  white-space:nowrap;
  margin: -5px;
  padding: 5px;
  width: max-content;
  }

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: #ffffff;
  border-image: initial;
  margin-bottom: 20px;
}

.fieldset-padding {
  padding-top: 10px;
}

/* misc styling */

.summary-table {
  font-size: 12px;
}

hr {
  margin: 5px 0;
}

.h5 {
    font-size: 24px;
    padding-bottom: 10px;
    margin: 0;
}

.primary-label {
  color:  $primary-color;
}

/* bootstrap containers */

.card-header-text-pad {
  padding-right: 15px;
}

.error {
  color: red;
  padding-bottom: 20px;
}

.main-content {
  width: 100%;
  margin: auto 0;
  padding: 0;
}

/* accordions */
accordion-group {
  margin: 5px 0;
  padding: 3px;
  cursor: pointer;
}

accordion-group .accordion-heading:hover {
  color: #24527b;
}

accordion-group .acordion-icon:hover  {
  color: #24527b;
}


.form-horizontal {
  width: 100%;
}

.form-horizontal .form-group {
  margin-right: 0;
  width: 100%;
}

.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.alert-success-group {
  padding: 10px;
  background-color: #d4edda;
  margin-bottom: 10px;
  border-radius: 6px;
}

.alert {
  color: $black !important;
  width: 100%;
  min-width: 450px !important;
  background-color: $white !important;
  border-radius: 0 !important;
  margin-left: -260px !important;

  p {
     padding-left: 40px;
     padding-right: 10px;
  }

  &.alert-success  {
   border: 2px solid #49a635 !important;

   > .fa {
       font-size: 24px;
       color: $white;
       background-color: #49a635 !important;
       position: absolute;
       top: 0;
       left: 0;
       display: inline-flex;
       height: 100%;
       padding: 10px;
       min-width: 50px;
       // vertical-align: middle;
     }

     > .btn {
       background-color: #237d10 !important;
     }
  }

  &.alert-info {
   border: 2px solid #de8001 !important;

   > .fa {
       font-size: 24px;
       color: $white;
       background-color: #de8001 !important;
       position: absolute;
       top: 0;
       left: 0;
       display: inline-flex;
       height: 100%;
       padding: 10px;
       text-align: center;
       min-width: 50px;
     }

    > .btn {
        background-color: #a86101 !important;
      }
    }

    &.alert-primary {
     border: 2px solid #2574cd !important;

     > .fa {
         font-size: 24px;
         color: $white;
         background-color: #2574cd !important;
         position: absolute;
         top: 0;
         left: 0;
         display: inline-flex;
         display: inline-flex;
         height: 100%;
         padding: 10px;
         min-width: 50px;
         text-align: center;
       }

      > .btn {
          background-color: #a86101 !important;
      }
    }

    &.alert-secondary {
     border: 2px solid #665b5b !important;

     > .fa {
         font-size: 24px;
         color: $white;
         background-color: #665b5b !important;
         position: absolute;
         top: 0;
         left: 0;
         display: inline-flex;
         height: 100%;
         padding: 10px;
         min-width: 50px;
         text-align: center;
       }

      > .btn {
          background-color: #a86101 !important;
      }
    }

  &.alert-danger {
   border: 2px solid #ff0000 !important;

   > .fa {
       font-size: 25px;
       color: $white;
       background-color: #ff0000 !important;
       position: absolute;
       top: 0;
       left: 0;
       display: inline-flex;
       height: 100%;
       padding: 10px;
       padding-left: 18px;
       min-width: 50px;
       text-align: center;
     }

    > .btn {
      background-color: #b60707 s!important;
    }
  }
}

/* icons */

.icon-pad {
  margin-right: 5px;
}

/* global buttons */
.btn,
.btn:visited {
  margin: 0 5px;
  text-decoration: none;
  transition: all .2s;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0 ,.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 10px rgba(0, 0, 0 ,.2);
}

.btn-default {
  background-color: #ccc;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


// disabled buttons and curso behavior

.btn-primary,
.btn-secondary,
.btn-success {
  &:disabled {
    opacity: .5;
    cursor: not-allowed;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  &:disabled:hover {
    opacity: .5;
    transform: translateY(0);
  }
}

// button primary custom colors
.btn-primary {
  &:hover {
    opacity: 1;
  }
  color: $white;
  background-color: $primary-color !important;
  border-color: #23527c !important;
  opacity: .9;
  border-radius: 0.25rem;
}


.btn-card-header  {
  font-weight: 400;
  height: 30px;
  text-align: center;
  white-space: nowrap;
  color: #000;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc !important;
  background-color: #fff;
  padding: 3px 10px 2px 10px;
  line-height: 1.5;
  font-size: 13px !important;
  border-radius: 0.25rem;
  margin: 0 5px 4px 0;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.btn-card-header:hover{
    opacity: .7;
}

.btn-card-header > a {
  color: #000;
  line-height: 30px;
}

.btn-card-header:hover > a {
  opacity: .7;
  color: #000;
  text-decoration: none;
}

.btn-card-header:disabled,
btn-card-header[disabled]{
  opacity: .5;
  color: #000;
  text-decoration: none;
  cursor: not-allowed;
}

.btn-sm {
  cursor: pointer;
}

/* cards */
.card-header {
  float: left;
  margin-bottom: 0 !important;
  height: 40px;
  width: 100%;
  color: #000;
  border-radius: 5px 5px 0 0;
  border: 1px #ccc solid;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
  padding: 0px 15px !important;
  font-size: 1rem;
  line-height: 2.4rem;
}

.card-container {
  width: 100%;
  margin-bottom: 10px;
  border: 1px #ccc solid;
  border-radius: 5px;
  color: #000;
}

.card {
  border: 1px #ccc solid;
  padding: 0;
}


/* tabs */

.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link {
  color: white;
  background-color: #7c838a;
  border: 1px solid #ccc !important;
  border-bottom: none;
}

select {
  cursor: pointer;
}

tab {
  padding: 30px 15px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px #ccc solid;
  border-top: none;
  color: #000;
}

// table pagination

.mat-paginator-page-size {
  font-weight: bold;
  font-size: 15px;
}

.mat-paginator-range-label {
  font-size: 14px;
}

.container-fluid {
  padding-left: 0;
}

// New tab design

.program-tab-style,
.ufr-tab-style {
  padding: 10px;
  font-size: 14px;
  padding: 0.3rem 1rem;
  > .nav-tabs {
    background-color: #f1f1f1;
    border: 1px solid #ced4da;
  }
  > .nav-tabs .nav-item {
    border-bottom: 1px solid #ced4da !important;
  }
  > .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      color: #fff;
      background-color: #616161;
      border-radius: 0rem;
      border: none !important;
      font-weight: 500;
      border: 1px solid #ddd;
  }
  > .nav-tabs .nav-link,
    .nav-tabs .nav-item.show .nav-link {
      color: #616161;
      background-color: #f1f1f1;
      border-radius: 0rem;
      border: none !important;
      font-weight: 500;
  }
}

// fieldset tables for form elements

.fieldset-table {

 thead {

   margin: 0;
   padding: 0;

    tr {
      margin: 0 5px;
    }

    th {
      font-weight: normal;
      padding: 0 10px;
    }
  }

  tbody {

    margin: 0;
    padding: 0;

    tr {
      margin: 0 5px;
    }

    td {
      font-weight: normal;
      padding: 0 10px;
    }

    .btn {
      margin: 0;
    }
  }
}


//ag-grid customization starts here

.ag-header-container {
  background: #24527b;
  color: white;
  text-align: center !important;
}

.ag-header-cell-label {
   text-align: center !important;
   flex-direction: row !important;
 }
.ag-row-odd {
  background: #ccc !important;
}

.ag-row {
  border: 0px !important;
  border-bottom: 1px solid #7b8389 !important;
}

.ag-cell {
  border: 0px !important;
  border-right: 1px solid #7b8389 !important;
}

.row-span {
  border-bottom: 1px solid #7b8389 !important;
}

.ag-root {
  border: none;
  border-bottom: 1px solid #7b8389 !important;
  border-left: 1px solid #7b8389 !important;
  border-top: 1px solid #7b8389 !important;
}

.ag-body-viewport {
  margin-bottom: -2px;
}

.ag-cell-edit {
  background-color: #c6d9f1;
  color: $black;
  text-align: right;
  &:hover {
    cursor: pointer;
    background-color: $light-grey;
  }
}

.ag-cell-light-green {
  background-color: $light-green;
  color: $black;
}

.ag-cell-dark-green {
  background-color: $dark-green;
  color: $white;
}

.ag-cell-light-grey {
  background-color: $light-grey;
  color: $black;
}

.ag-medium-gray-cell {
  background-color: $medium-grey;
  color: $black;
}

.ag-cell-white {
  background-color: $white;
  color: $black;
}

.ag-cell-edit {
  background-color: #c6d9f1;
  color: $black;
  text-align: left;
  &:hover {
    cursor: pointer;
    background-color: $light-grey;
  }
}

.ag-cell-light-green {
  background-color: $light-green;
  color: $black;
}

.ag-cell-light-orange {
  background-color: $light-orange;
  color: $black;
}

.ag-cell-dark-green {
  background-color: $dark-green;
  color: $white;
}

.ag-cell-light-grey {
  background-color: $light-grey;
  color: $black;
}

.ag-medium-gray-cell {
  background-color: $medium-grey;
  color: $black;
}

.ag-cell-white {
  background-color: $white;
  color: $black;
}

.ag-cell-yellow {
  background-color: $yellow;
  color: $black;
}

.ag-cell-red {
  background-color: $red;
  color: $white;
}

.ag-clickable {
  color: $primary-color;
}

.ag-cell-footer-sum {
  border-top: 2px solid $dark-grey !important;
  background-color: #ecf0f1 !important;
}

.ag-link {
  color: $primary-color;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

// hack for top header of PR table

.by{
  background-color: #ccc !important;
}

.group-header-white {

  .ag-header-group-cell-no-group,
  .ag-header-group-cell {
      text-align: center !important;
      background-color: $white !important;

      &.ag-header-group-cell-with-group {
        background-color: $white !important;
      }

      .ag-header-group-text {
          color: $black !important;
          text-align: center !important;
      }
    }

    .ag-header-group-text {
        color: $black !important;
        text-align: center !important;
        font-style: italic;
    }
}

//hack for top header of actuals tables
// hack for top header of PR table

.actuals-table {

   .ag-header-group-cell-label span {
     text-align: center;
     width: 100%;
  }
}

.ag-theme-balham {
  width: 100%;
}

.ag-theme-balham .ag-header-cell-label .ag-header-cell-text,
.ag-header-cell,
.ag-header-group-cell,
.ag-header-cell-text,
.ag-header-cell-number {
  display: grid;
  padding-left: 2px !important;
  padding-right: 2px !important;
  text-align: center !important;
}

.ag-header-group-cell-label {
  display: grid;
  text-align: center;
}

.ag-theme-balham .ag-header-cell-label {
  display: grid !important;
  text-align: center !important;
  padding-right: 2px !important;
}

// fix for extra row space under Set TOA for CBDP Community ($K) table

.set-toa {
 .ag-root-wrapper-body {
    height: 89px;
  }
}

.ag-body-container {
  min-height: 0px !important;
}

.funding-line-default {
  background-color: #eae9e9;
  text-align: center;
}

.align-column {
  display: flex;
  align-items: flex-end;
}

.isDisabled {
  cursor: not-allowed;
}

.isDisabled > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

.budget-reports {
  table {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #000;
  }

  th {
    height: 40px;
    border: 1px solid #000;
    padding: 6px;
  }

  td,
  th {
    height: 40px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 6px;
  }

  .border {
    border: 1px solid #000 !important;
  }

  .borderRightBottom,
  .borderRightBottom td {
    border-right: 1px solid #000;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #000;
  }

  .borderBottom {
    border: none;
    border-bottom: 1px solid #000;
  }

  .borderBottomBold,
  .borderBottomBold td {
      border-bottom: 3px solid #000;
  }

  .borderRight,
  .borderRight td {
    border-right: 1px solid #000;
  }

  td {
    border: 1px solid #000;
    padding: 6px;
  }

  th {
    height: 40px;
    border: 1px solid #000;
    padding: 6px;
  }

  td, th .noBorder {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
  }

  .borderTop {
    border-top: 1px solid #000;
  }

  .noBorder,
  .noBorder * {
    border: none !important;
    border-style: none;
  }

  .title {
    font-size: 12px;
    font-weight: bold;
  }

  .date {
    font-weight: normal;
  }

  .alignLeft {
    text-align: left !important;
    padding-left: 4px;
  }

  .alignRight {
    text-align: right;
    padding-right: 2px;
  }

  .alignCenter,
  .alignCenter th {
    text-align: center;
  }

  .readOnly {
    background: #e9e9e9;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: bold;
  }

  .content {
    background: #bccedc;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: bold;
  }

  .vericaltext{
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .thin-col {
   width: 30px;
   text-align: center;
  }

}

// radio and checkbox inputs
/* forms */

label {
  color: #8a8787;
}

input[type=radio] {
  -ms-transform: scale(1) !important;
   -webkit-transform: scale(1) !important;
   transform: scale(1) !important;
}


input[type=checkbox] {
  -ms-transform: scale(1.2) !important;
   -webkit-transform: scale(1.2) !important;
   transform: scale(1.2) !important;
}

@supports (zoom:1) {
	input[type="radio"],
  input[type=checkbox]{
	zoom: 1;
	}
}

@supports not (zoom:1) {
	input[type="radio"],
  input[type=checkbox]{
		transform: scale(1);
	}
}
h3.tooltip-h3 {
  font-size: 1rem;
}
.tool-tip-container {
  padding: 1rem;
}
.tooltip-h3 span {
  font-weight: bolder;
}

