@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

// variables
$black: #000000;
$dark-grey: #848282;
$dark-green: #61bb69;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-green: #ebf2de;
$light-grey: #eae9e9;
$medium-grey: #dddddd;
$primary-color: #25527a;
$red: #ff0000;
$white-border: 1px solid #ffffff;
$white: #ffffff;
$yellow: #fec001;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

/* links */
a,
a:active,
a:visited {
color:  #23527c;
text-decoration: none;
}

.text-primary{
  color: $primary-color !important;
}

a:hover {
opacity: .8;
color:  #23527c;
text-decoration: none;
}

// fieldset

legend {
  display: block;
  font-size: 1rem;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  text-align: left;
  white-space:nowrap;
  margin: -5px;
  padding: 5px;
  width: max-content;
  }

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: #ffffff;
  border-image: initial;
  margin-bottom: 20px;
}

.fieldset-padding {
  padding-top: 10px;
}

/* misc styling */

.summary-table {
  font-size: 12px;
}

hr {
  margin: 5px 0;
}

.h5 {
    font-size: 24px;
    padding-bottom: 10px;
    margin: 0;
}

.primary-label {
  color:  $primary-color;
}

/* bootstrap containers */

.card-header-text-pad {
  padding-right: 15px;
}

.error {
  color: red;
  padding-bottom: 20px;
}

.main-content {
  width: 100%;
  margin: auto 0;
  padding: 0;
}

/* accordions */
accordion-group {
  margin: 5px 0;
  padding: 3px;
  cursor: pointer;
}

accordion-group .accordion-heading:hover {
  color: #24527b;
}

accordion-group .acordion-icon:hover  {
  color: #24527b;
}

/* forms */

label {
  color: #8a8787;
}

.form-horizontal {
    width: 100%;
}

.form-horizontal .form-group {
    margin-right: 0;
    width: 100%;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.alert-success-group {
  padding: 10px;
  background-color: #d4edda;
  margin-bottom: 10px;
  border-radius: 6px;
}

/* icons */

.icon-pad {
  margin-right: 5px;
}

/* global buttons */

.btn {
    margin: 0 5px;
}

.btn {
  cursor: pointer;
}

.btn-default {
  background-color: #ccc;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

// disabled buttons and curso behavior

.btn-primary,
.btn-secondary,
.btn-success {
  &:disabled {
    opacity: .5;
   cursor: not-allowed;
  }
  &:disabled:hover {
    opacity: .5;
  }
}

// button primary custom colors
.btn-primary {
  &:hover {
    opacity: 1;
  }
  color: $white;
  background-color: $primary-color !important;
  border-color: #23527c !important;
  opacity: .9;
  border-radius: 0.25rem;
}


.btn-card-header  {
  font-weight: 400;
  height: 30px;
  text-align: center;
  white-space: nowrap;
  color: #000;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc !important;
  background-color: #fff;
  padding: 3px 10px 2px 10px;
  line-height: 1.5;
  font-size: 13px !important;
  border-radius: 0.25rem;
  margin: 0 5px 4px 0;
}

.btn-card-header:hover{
    opacity: .7;
}

.btn-card-header > a {
  color: #000;
  line-height: 30px;
}

.btn-card-header:hover > a {
  opacity: .7;
  color: #000;
  text-decoration: none;
}

.btn-sm {
  cursor: pointer;
}

/* cards */
.card-header {
  float: left;
  margin-bottom: 0 !important;
  height: 40px;
  width: 100%;
  color: #000;
  border-radius: 5px 5px 0 0;
  border: 1px #ccc solid;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0 0;
  padding: 0px 15px !important;
  font-size: 1rem;
  line-height: 2.4rem;
}

.card-container {
  width: 100%;
  margin-bottom: 10px;
  border: 1px #ccc solid;
  border-radius: 5px;
  color: #000;
  padding: 0 0 20px 0;
}

.card {
  border: 1px #ccc solid;
  padding: 0;
}

// styles for radio buttons

.radio-buttons {
  color: #000;
  padding: 2px 0 0 0;
  margin-bottom: 5px;
  width: 100%
}

.radio-item {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;

  input[type='radio'] {
    display: none;
  }

  input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 4px;
    content: " ";
    display: block;
    background: #23527c;
    cursor: pointer;
  }

  label {
    color: #23527c;
    font-weight: normal;
    &:before {
      content: " ";
      display: inline-block;
      position: relative;
      top: 5px;
      margin: 0 10px 0 0;
      width: 20px;
      height: 20px;
      border-radius: 11px;
      border: 2px solid #23527c;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

/* tabs */

.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link {
  color: white;
  background-color: #7c838a;
  border: 1px solid #ccc !important;
  border-bottom: none;
}

select {
  cursor: pointer;
}

tab {
  padding: 30px 15px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px #ccc solid;
  border-top: none;
  color: #000;
}

/* community */

.community-list li {
  list-style: none;
  line-height: 1.5rem;
  padding: 5px 10px;
  margin-left: -50px;
}

.community-list li:nth-child(even) {
  background-color: #f7f7f7;
}

.community-name {
  display: inline-block;
  word-wrap: break-word;
  width: 300px;
  margin-right: 100px;
}

// table pagination

.mat-paginator-page-size {
  font-weight: bold;
  font-size: 15px;
}

.mat-paginator-range-label {
  font-size: 14px;
}

.container-fluid {
  padding-left: 0;
}

// New tab design


.program-tab-style {
  padding: 10px;
  font-size: 14px;
  padding: 0.3rem 1rem;
  > .nav-tabs {
    background-color: #f1f1f1;
    border: 1px solid #ced4da;
  }
  > .nav-tabs .nav-item {
    border-bottom: 1px solid #ced4da !important;
  }
  > .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      color: #fff;
      background-color: #616161;
      border-radius: 0rem;
      border: none !important;
      font-weight: 500;
      border: 1px solid #ddd;
  }
  > .nav-tabs .nav-link,
    .nav-tabs .nav-item.show .nav-link {
      color: #616161;
      background-color: #f1f1f1;
      border-radius: 0rem;
      border: none !important;
      font-weight: 500;
  }
}

// fieldset tables for form elements

.fieldset-table {

 thead {

   margin: 0;
   padding: 0;

    tr {
      margin: 0 5px;
    }

    th {
      font-weight: normal;
      padding: 0 10px;
    }
  }

  tbody {

    margin: 0;
    padding: 0;

    tr {
      margin: 0 5px;
    }

    td {
      font-weight: normal;
      padding: 0 10px;
    }

    .btn {
      margin: 0;
    }
  }
}


//ag-grid customization starts here

.ag-header-container {
  background: #24527b;
  color: white;
}

.ag-row-odd {
  background: #ccc !important;
}

.ag-row {
  border: 0px !important;
  border-bottom: 1px solid #7b8389 !important;
}

.ag-cell {
  border: 0px !important;
  border-right: 1px solid #7b8389 !important;
}

.row-span {
  border-bottom: 1px solid #7b8389 !important;
}

.ag-root {
  border: none;
  border-bottom: 1px solid #7b8389 !important;
  border-left: 1px solid #7b8389 !important;
  border-top: 1px solid #7b8389 !important;
}

.ag-body-viewport {
  margin-bottom: -2px;
}

.ag-cell-edit {
  background-color: #c6d9f1;
  color: $black;
  text-align: right;
  &:hover {
    cursor: pointer;
    background-color: $light-grey;
  }
}

.ag-cell-light-green {
  background-color: $light-green;
  color: $black;
}

.ag-cell-dark-green {
  background-color: $dark-green;
  color: $white;
}

.ag-cell-light-grey {
  background-color: $light-grey;
  color: $black;
}

.ag-medium-gray-cell {
  background-color: $medium-grey;
  color: $black;
}

.ag-cell-white {
  background-color: $white;
  color: $black;
}

.ag-cell-edit {
  background-color: #c6d9f1;
  color: $black;
  text-align: left;
  &:hover {
    cursor: pointer;
    background-color: $light-grey;
  }
}

.ag-cell-light-green {
  background-color: $light-green;
  color: $black;
}

.ag-cell-dark-green {
  background-color: $dark-green;
  color: $white;
}

.ag-cell-light-grey {
  background-color: $light-grey;
  color: $black;
}

.ag-medium-gray-cell {
  background-color: $medium-grey;
  color: $black;
}

.ag-cell-white {
  background-color: $white;
  color: $black;
}

.ag-cell-yellow {
  background-color: $yellow;
  color: $black;
}

.ag-cell-red {
  background-color: $red;
  color: $black;
}

.ag-clickable {
  color: $primary-color;
}

.ag-cell-footer-sum {
  border-top: 2px solid $dark-grey !important;
  background-color: #ecf0f1 !important;
}

.ag-link {
  color: $primary-color;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

// hack for top header of PR table

.by{
  background-color: #ccc !important;
}

.group-header-white {

  .ag-header-group-cell-no-group,
  .ag-header-group-cell {
      text-align: center !important;
      background-color: $white !important;

      &.ag-header-group-cell-with-group {
        background-color: $white !important;
      }

      .ag-header-group-text {
          color: $black !important;
          text-align: center !important;
      }
    }

    .ag-header-group-text {
        color: $black !important;
        text-align: center !important;
        font-style: italic;
    }
}

//hack for top header of actuals tables
// hack for top header of PR table

.actuals-table {

   .ag-header-group-cell-label span {
     text-align: center;
     width: 100%;
  }
}

.ag-header-group-cell-label{
  display: grid;
}

// fix for extra row space under Set TOA for CBDP Community ($K) table

.set-toa {
 .ag-root-wrapper-body {
    height: 89px;
  }
}

.ag-body-container {
  min-height: 0px !important;
}
