<span class="dropdown show actions-menu">
  <a class="super-user dropdown-toggle" href="#" role="button" inumberOfNotificationsd="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="icon-wrapper">
      User Actions
      <i class="fa fa-bell" aria-hidden="true"></i>
      <span class="badge" *ngIf="requests?.length > 0">{{requests?.length}}</span>
    </div>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
    <div *ngFor="let request of requests">
      <ng-template #tipContent>
        <strong>{{request?.type}}</strong>
        <br/>{{request?.name}}
      </ng-template>
      <a class="dropdown-item" href="#" routerLink="{{request.link}}" [ngbTooltip]="tipContent">
        {{request?.date | date:'MM/dd/yyyy @ h:mma'}}
      </a>
    </div>
  </div>
</span>
