.super-user {
  color: #fff;
  font-size: 14px;
  float: right;
  padding: 0 10px 10px;
}

.super-user:hover {
  color: #708CA7;
  text-decoration: none;
}

.super-user > i {
  padding: 0 5px;
  font-size: 20px;
}

a.dropdown-item {
  color: #24537b !important;
}

.actions-menu {
  top: 41px;
  left: 152px;
  width: 200px;
}

.icon-wrapper {
  position: relative;
  float: left;
  margin-right: 10px;
}

.icon-wrapper>i.fa .fa-bell {
  width: 20px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.badge {
  background: rgba(0, 0, 0, 0.5);
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: -13px;
  right: -15px;
  padding: 5px;
}
