<ul class="community-list">
  <li *ngFor="let community of memberOfCommunities">
    <span [class.current-community]="community.id==_user.currentCommunityId" class="">{{community.abbreviation}}</span>
    <span *ngIf="community.id==_user.currentCommunityId"> (Current Community) Organization: {{ currentOrg.abbreviation }}</span>
  </li>
</ul>
<hr/>
<span class="form-group">
  <label class="mb-2 mr-sm-2">Change Current Community</label>
  <select class="form-control-sm mb-2 mr-sm-2" [(ngModel)]="selectedCommunityId">
    <option value="null" disabled selected>Select Community</option>
    <option *ngFor="let community of communitiesToSelectFrom" [value]="community.id">{{community.abbreviation}}</option>
  </select>
</span>
<span>
  <button class="btn btn-primary btn" (click)='change()' [disabled]="!selectedCommunityId">Change</button>
</span>
