$primary-color: #25527a;
$white: #ffffff;
$black: #000000;
$grey-border: 1px solid #7b8389;
$light-blue: #dbe8f7;
$light-green: #ebf2de;
$light-grey: #eae9e9;
$medium-grey: #dddddd;
$dark-grey: #848282;
$dark-green: #61bb69;
$light-grey-border: 1px solid #eae9e9;

fieldset {
  padding: 20px;
  min-height: 70px;
}

label {
  color: #6b757c;
  margin: 0 0 5px 0;
}

.primary-label {
  color:  $primary-color;
}

.execution-titles {
  font-size: 20px;
  padding: 0;
  // color: #4f7494;
  font-weight: 500;
}

.dropdown-year-width {
  width: 100px;
}

.dropdown-width {
  width: 100%;
}

.btn-file{
    position:relative
}

.btn-file input[type=file]{
  position:absolute;
  top:0;
  right:0;
  min-width:100%;
  min-height:100%;
  text-align:right;
  filter:alpha(opacity=0);
  opacity:0;
  cursor:inherit;
  display:block
}

input[readonly]{
  background-color:$white !important;
  cursor:text !important;
}

.form-input {
  display: inline-block;
  width: 300px;
  margin-bottom: 10px;
}

.long-form-input {
  width: 650px;
  margin-bottom: 10px;
}
