<ng-template #updateidline let-line="line">
    {{line.appropriation}}/{{line.blin}}/{{line.item}}/{{line.opAgency}}
</ng-template>

<app-header></app-header>
<div class="row main-content">
  <div class="col-12">
    <div class="row">
      <div class="col-md-7 col-sm-12 mb-4">
        <span class="h5 mr-2">{{phase?.fy|FY}} - Funds Update for Program Execution</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-10">
        <span class="form-group mr-2">
          <select class="form-control-sm dropdown-year-width mb-2" name="fromtodropdown" [ngModel]="fromIsSource" (change)="changeFromIsSource($event)">
            <option [ngValue]="true">From</option>
            <option [ngValue]="false">To</option>
          </select>
        </span>
        <span class="form-group">
          <span class="execution-titles">{{current.line.programName}}</span>
          <ng-container *ngTemplateOutlet="updateidline;context:{line:current.line}"></ng-container>
        </span>
      </div>
      <div class="col-2">
        <button class="btn btn-primary pull-right" (click)="submit()" [disabled]='!table.tableok || isUploading'>Submit</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-lg-2">
         <span class="form-group">
           <label class="mr-2">TOA:</label>
           <span class="font-weight-bold">{{ currencyFormatter(current.line.toa) }}</span>
         </span>
       </div>
      <div class="col-md-6 col-lg-2">
        <span class="form-group">
         <label class="mr-2">Released:</label>
         <span class="font-weight-bold">{{ currencyFormatter(current.line.released) }}</span>
       </span>
      </div>
      <div class="col-md-6 col-lg-2">
        <span class="form-group">
          <label class="mr-2">Withheld:</label>
          <span class="font-weight-bold">{{ currencyFormatter(current.line.withheld) }}</span>
        </span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6 col-lg-2">
        <div class="form-group">
          <label>Select Event Type:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="type" (change)="updatedropdowns()">
            <option *ngFor="let t of types|mapAsList" [ngValue]="t.key">{{t.value}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="form-group">
          <label>Select Event Subtype:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="etype" (change)="updatedropdowns2()">
            <option *ngFor="let t of subtypes" [ngValue]="t">{{t.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-lg-2" *ngIf="showtaginput">
        <div class="form-group">
          <label>Transaction Tag</label>
          <input class="form-control form-input-medium" [(ngModel)]="other">
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="form-group">
          <label class="mr-2">Event Long Name:</label>
          <span class="font-weight-bold">{{etype?.description}}</span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div id="update-program-execution" class="table-editable">
          <app-execution-line-table
          [fromIsSource]="fromIsSource"
          [phase]="phase"
          [exelinefilter]="linefilter"
          [exevalidator]="validator"
          [exeprogramfilter]="programfilter"
          [updatelines]="updatelines"></app-execution-line-table>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <span class="form-group">
          <label class="mb-1">Notes:</label>
          <textarea cols="30" rows="5" wrap="physical" class="form-control" [(ngModel)]="reason"></textarea>
        </span>
     </div>
   </div>
   <div class="row mb-2">
    <div class="col-12">
      <fieldset class="file-upload">
       <legend>Attach File:</legend>
         <file-upload [area]="'execution'" (uploading)="onUploading($event)" (fileUploadEvent)="onFileUploaded($event)"></file-upload>
      </fieldset>
    </div>
    </div>
  </div>
</div>
