<ng-template #updateidline let-line="line">
    {{line.appropriation}}/{{line.blin}}/{{line.item}}/{{line.opAgency}}
</ng-template>

<j-header></j-header>
<div class="row main-content">
  <div class="col-12">
    <div class="row">
      <div class="col-md-7 col-sm-12 mb-4">
        <span class="h5 mr-2">{{phase?.fy|FY}} - Funds Update for Program Execution</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-10">
        <span class="form-group mr-2">
          <select class="form-control-sm dropdown-year-width mb-2" name="yeardropdown" [(ngModel)]="fromIsSource">
            <option [ngValue]="true">From</option>
            <option [ngValue]="false">To</option>
          </select>
        </span>
        <span class="form-group">
          <label class="execution-titles">{{fullname(current.line)}}</label>
          <ng-container *ngTemplateOutlet="updateidline;context:{line:current.line}"></ng-container>
        </span>
      </div>
      <div class="col-2">
        <button class="btn btn-primary pull-right" (click)="submit()" [disabled]='!table.tableok'>Submit</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6 col-lg-2">
         <span class="form-group">
           <label class="mr-2">Toa:</label>
           <label class="primary-label">{{current.line.toa}}</label>
         </span>
       </div>
      <div class="col-md-6 col-lg-2">
        <span class="form-group">
         <label class="mr-2">Released:</label>
         <label class="primary-label">{{current.line.released}}</label>
       </span>
      </div>
      <div class="col-md-6 col-lg-2">
        <span class="form-group">
          <label class="mr-2">Withheld:</label>
          <label class="primary-label">{{current.line.withheld}}</label>
        </span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6 col-lg-2">
        <div class="form-group">
          <label>Select Event Type:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="type" (change)="updatedropdowns()">
            <option *ngFor="let t of types|mapAsList" [ngValue]="t.key">{{t.value}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="form-group">
          <label>Select Event Subtype:</label>
          <select class="form-control-sm dropdown-width" [(ngModel)]="etype">
            <option *ngFor="let t of subtypes" [ngValue]="t">{{t.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="form-group">
          <label class="mr-2">Event Long Name:</label>
          <label class="primary-label">{{etype?.description}}</label>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <div id="update-program-execution" class="table-editable">
          <app-execution-line-table
          [sourceOrTarget]="fromIsSource ? 'to select target programs' : 'from select source programs'"
          [phase]="phase"
          [exelinefilter]="linefilter"
          [exevalidator]="validator"
          [exeprogramfilter]="programfilter"
          [updatelines]="updatelines"></app-execution-line-table>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <span class="form-group">
          <label class="mb-1">Notes:</label>
          <textarea cols="30" rows="5" wrap="physical" class="form-control" [(ngModel)]="reason"></textarea>
        </span>
     </div>
   </div>
   <div class="row">
     <div class="col-6 mb-4">
       <form role="form" id="fileForm" target="uploadFrame" method="post" enctype="multipart/form-data" action="loadImage.php?task=file" onsubmit="return ZM.loadImage(this)">
         <label>Attach Document:</label>
         <div class="input-group input-group">
           <input type="text" class="form-control form-input" placeholder="Choose file" name="uploadname" [ngModel]="fileToUpload?.name" readonly>
           <span class="input-group-btn">
             <span class="btn btn-secondary btn-file">
             Browse… <input type="file" name="file" accept="*.xlsx" (change)="handleFileInput($event.target.files)">
             </span>
           </span>
         </div>
       </form>
     </div>
   </div>
  </div>
</div>
