<j-header></j-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="programRequestPageMode.initialized">
    <div class="col-12">
      <div class="row">
        <div class="col-6" id="program-request" *ngIf="programRequestPageMode.id || programRequestPageMode.programOfRecord">
          <div class="h5 mb-4">Programmatic Request for Program:</div>
            <span class="form-group">
              <label class="badge badge-light mr-sm-4"><h6>{{pr.shortName}}</h6></label>
            </span>
            <span class="form-group">
              <label class="badge badge-light mr-sm-4"><h6>{{pr.longName}}</h6></label>
            </span>
        </div>
        <div class="col-6" id="create-new-subprogram" *ngIf="!programRequestPageMode.id && programRequestPageMode.newSubprogram">
          <div class="h5 mb-4">Programmatic Request - Creating New Sub-Program for Program:</div>
          <input type="text" [(ngModel)]="pr.shortName" placeholder="Subprogram ID" aria-label="short name">
          <input type="text" [(ngModel)]="pr.longName" placeholder="Subprogram Name" aria-label="short name">
        </div>
        <div class="col-6" id="create-new-toplevel" *ngIf="!programRequestPageMode.id && programRequestPageMode.newProgram">
          <div class="h5 mb-4">Programmatic Request - Create new Top Level Program:</div>
          <input type="text" [(ngModel)]="pr.shortName" placeholder="Program ID" aria-label="short name">
          <input type="text" [(ngModel)]="pr.longName" placeholder="Program Name" aria-label="short name">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="pull-right mb-2" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <span>
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                  </span>
                  <span>
                    <a href="#" routerLink="/select-program-request">back to Programmatic Request</a>
                  </span>
                </li>
              </ol>
          </div>
          <div class="pull-right program-controls">
            <span>
              <button class="btn btn-primary">Validate</button>
            </span>
            <span>
              <button class="btn btn-secondary" (click)="save()">Save</button>
            </span>
            <span>
              <button class="btn btn-success" (click)="submit()" [disabled]="pr.state=='SUBMITTED'">Submit</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row main-content">
      <div class="col-lg-10 col-md-12">
        <tabset class="program-tab-style" role="tablist">
          <tab heading="Program" id="tab1" role="tablist">
            <program-tab role="tabpanel"></program-tab>
          </tab>
          <tab heading="Funds" id="tab2">
            <funds-tab role="tabpanel"></funds-tab>
          </tab>
          <tab heading="Proc. Qty" id="tab3">
            <proc-qty-tab role="tabpanel"></proc-qty-tab>
          </tab>
          <tab heading="Justification" id="tab4">
            <justification-tab role="tabpanel"></justification-tab>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
