<div class="main section-banner row col-12 p-0 m-0">
  <div class="title-line row col-12 p-0 m-0">
    <div class="col-6" *ngIf="pomYear">
      <h3>Session Lock for POM{{ pomYear % 100 }}</h3>
    </div>
    <div class="button-container col-6 text-right p-0" *ngIf="selectedWorkspace && appModel.visibilityDef">
      <div class="div-button-return" *pfmIsVisible="'programming-phase-component.lockProgrammingPhase'">
        <button type="button" class="btn btn-primary" (click)="onValidateLockProgrammingPhase()">
          Lock Programming Phase
        </button>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="!workspaces?.length && !busy">
  At least one Workspace must be active prior to locking the POM.
</div>

<ng-container *ngIf="workspaces?.length">
  <div class="mb-3">
    <pfm-dropdown
      (selectionChanged)="onWorkspaceChange($event)"
      [type]="'labelDropdown'"
      [label]="'Select workspace to lock:'"
      [required]="true"
      [id]="'workspaceDropDown'"
      [defaultOption]="dropdownDefault"
      [fieldName]="'value'"
      [fieldLabel]="'name'"
      [options]="workspaces"
      class="d-inline-block"
    ></pfm-dropdown>
    <span *ngIf="selectedWorkspace">
      Last updated on {{ selectedWorkspace.modified | date: 'M/d/yyyy HH:mm':undefined:'en-US' }}
    </span>
  </div>

  <ng-container *ngIf="availableToaCharts?.length">
    <div class="section-pods">
      <gridster [options]="options">
        <gridster-item #orgWidgetItem [item]="gridster[0]">
          <div class="gridster-item-content">
            <pfm-requests-summary-org-widget
              #orgWidget
              [griddata]="gridData"
              [orgs]="orgs"
              [roles]="programmingModel.roles"
              [baBlinSummary]="baBlinSummary"
            >
            </pfm-requests-summary-org-widget>
          </div>
        </gridster-item>

        <gridster-item #toaWidgetItem [item]="gridster[1]">
          <div class="gridster-item-content">
            <pfm-requests-summary-toa-widget
              #toaWidget
              [availableCharts]="availableToaCharts"
              [pomYear]="pomYear"
              [selectedOrg]="defaultOrganizationSelection"
              [programmingModel]="programmingModel"
              [griddata]="gridData"
            >
            </pfm-requests-summary-toa-widget>
          </div>
        </gridster-item>
      </gridster>
    </div>

    <div class="section-datagrid">
      <div class="datagrid">
        <pfm-datagrid (gridIsReady)="onGridIsReady($event)" [columns]="columns" [rows]="gridData"></pfm-datagrid>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="lockConfirmationDlg.display">
  <pfm-custom-dialog
    [title]="lockConfirmationDlg.title"
    [body]="yearSkipBody"
    [actions]="yearSkipActions"
    (onCancelDialog)="lockConfirmationDlg.display = false"
  ></pfm-custom-dialog>

  <ng-template #yearSkipBody>
    <span
      ><b>
        Are you sure you want to lock the POM Session?
      </b>
    </span>
    <br />
    <br />
    <span>
      Be advised that this is irreversible.
    </span>
  </ng-template>

  <ng-template #yearSkipActions>
    <div class="pull-left">
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onLockProgrammingPhase()">
        Lock
      </button>
    </div>

    <div class="pull-right">
      <pfm-cancel-cta (onCancelClicked)="lockConfirmationDlg.display = false"></pfm-cancel-cta>
    </div>
  </ng-template>
</ng-container>

<pfm-busy [busy]="busy"></pfm-busy>
