<pfm-custom-dialog [title]="'Upload'" [body]="body1" [actions]="actions1"></pfm-custom-dialog>

<ng-template #body1>
    <div class="container">
        <div class="mydropbox">
            <span>Specify location of document:</span>
            <div class="mybox">
                <ng-container *ngIf="uploader.queue && uploader.queue.length > 0">
                    <input type="text" value="{{uploader.queue[0].file.name}}" disabled>
                    <label for="file2">Browse</label>
                    <input disabled id="file2" class="fileupload-input-hidden" type="file" ng2FileSelect [uploader]="uploader"/><br/>
                </ng-container>

                <ng-container *ngIf="!uploader || (uploader?.queue?.length === 0)">
                    <input type="text" disabled>
                    <label for="file">Browse</label>
                    <input id="file" class="fileupload-input-hidden" type="file" ng2FileSelect [uploader]="uploader"/><br/>
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #actions1>

    <ng-container *ngIf="uploader.queue && uploader.queue.length > 0">
        <div class="pull-left">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="busy = true;uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload</button>
        </div>

        <div class="pull-right">
            <pfm-cancel-cta [disabled]="busy" (onCancelClicked)="cancel()"></pfm-cancel-cta>
        </div>
    </ng-container>
    <ng-container *ngIf="!uploader || (uploader?.queue?.length === 0)">

        <div class="pull-left">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" disabled>Upload</button>
        </div>

        <div class="pull-right">
            <pfm-cancel-cta (onCancelClicked)="cancel()"></pfm-cancel-cta>
        </div>
    </ng-container>
</ng-template>


