<app-header title="JSCBIS Login"></app-header>
<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isloggedin">
    <div class="col-10 col-md-7">
      <div class="community-data">
        <div class="card-header">
          List of Communities
          <button (click)="findAll()" title="Reload List" class="btn btn-card-header">
            <i class="fa fa-refresh icon-pad" aria-hidden="true"></i>
            Reload
          </button>
        </div>
        <div class="card-container">
          <ul>
            <li *ngFor="let comm of communities">
              {{ comm?.name }}
            </li>
          </ul>
        </div>
      </div>
      <div>
        {{ resultError }}
      </div>
      <accordion>
        <accordion-group #group>
			    <div accordion-heading class="clearfix">
						<span class="acordion-icon"><i class="fa fa-plus-circle"></i></span>
						<span class="accordion-heading">Add Community</span>
					</div>
          <label>Community Name:</label>
          <input #communityName />
          <label>New Community Identifier:</label>
          <input>
          <!-- (click) passes input value to add() and then clears the input -->
          <hr>
          <label>Assign User Approver</label>
          <form>
            <div class="form-group">
              <select class="form-control">
                  <option selected>Select User Approver</option>
                  <option value="Jane Doe">Jane Doe</option>
                  <option value="John Doe">John Doe</option>
                  <option value="John Doe">Deanna Gross</option>
                  <option value="John Doe">Enrico Serafini</option>
                </select>
                <br><br>
                <button class="btn btn-default" value="Cancel">Cancel</button>
                <button class="btn btn-primary" (click)="add(communityName.value); communityName.value=''">
                  <i class="fa fa-plus-square icon-pad" aria-hidden="true"></i>
                  Add Community
                </button>
            </div>
          </form>
          </accordion-group>
          <accordion-group #group>
  			     <div accordion-heading class="clearfix">
  						<span class="acordion-icon"><i class="fa fa-plus-circle"></i></span>
  						<span class="accordion-heading">OR: Create New User as User Approver</span>
  					</div>
            <form>
              <input type="text" required="" placeholder="*First Name" value="" name="name">
              <input type="text" required="" placeholder="MI" value="" name="">
              <input type="text" required="" placeholder="*Last Name" value="" name=""><br>
              <input type="text" required="" placeholder="Title/Rank" value="" name=""><br>
              <input type="text" required="" placeholder="Duty/Job Title" value="" name=""><br>
              <input type="text" required="" placeholder="*Email" value="" name=""><br>
              <input type="text" required="" placeholder="*Phone" value="" name=""><br>
              <input type="text" required="" placeholder="Street, City, State, Zip" value="" name=""><br>
              <input type="text" required="" placeholder="*Community" value="" name="">
              <div class="form-group">
                <select class="form-control form-field">
                    <option selected>Select Branch</option>
                    <option value="army">Army</option>
                    <option value="airforce">Air Force</option>
                    <option value="navy">Navy</option>
                    <option value="marines">Marine Corps</option>
                    <option value="national">National Guard</option>
                    <option value="coast">Coast Guard</option>
                  </select>
                <input type="text" required="" placeholder="*Sponsor Name" value="" name="">
                <input type="text" required="" placeholder="*Phone" value="" name="">
                <input type="text" required="" placeholder="*Email" value="" name="">
                <br><br>
                <button class="btn btn-default" value="Cancel">Cancel</button>
                <button class="btn btn-primary" (click)="add(communityName.value); communityName.value=''">
                  <i class="fa fa-plus-square icon-pad" aria-hidden="true"></i>
                  Add Community
                </button>
              </div>
          </form>
        </accordion-group>
      </accordion>
    </div>
    <div class="col-2 col-md-5">

    </div>
  </div>
</div>
