<div class="grid-container">
    <pfm-datagrid (onGridIsReady)="onGridIsReady($event)" (onColumnIsReady)="onColumnIsReady($event)" (onCellAction)="handleCellAction($event)"
                  (onAddCtaEvent)="onAddProgram($event)" [showAddDropdownCta]="true" [addDropdownCtaOptions]="dropdownOptions"
                  [addDropdownCtaTooltip]="'Add Programming Request for'" [columns]="columns" [rows]="gridData"
                  [isExternalFilterPresent]="isExternalFilterPresent" [doesExternalFilterPass]="doesExternalFilterPass"></pfm-datagrid>
</div>
