div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action:hover {
  cursor: pointer;
}

fa-icon {
  margin-left: 15px;
  font-size: x-large;
}

fa-icon:hover {
  cursor: pointer;
  color: red;
}

.disabled {
  opacity: 0.6;
}

.disabled:hover {
  color: inherit;
  cursor: default;
}
