<div class="card parent-card">
    <div class="header">
        <h5 class="title"> My Current Activity
        </h5>
    </div>
    <div class="content">
        <table class="table">
            <tbody>
            <tr>
                <td>Saved Budget Phase
                    <div class="time-stamp">
                        Updated:  7/10/2019 2:30 pm
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Saved POM Session
                    <div class="time-stamp">
                        Updated:  7/9/2019 2:30 pm
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Update Community Roles
                    <div class="time-stamp">
                        Updated:  7/8/2019 12:30 pm
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    User Role Updates
                    <div class="time-stamp">
                        Updated:  7/6/2019 9:30 am
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Closed POM Session
                    <div class="time-stamp">
                        Updated:  7/3/2019 7:30 am
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <hr>
        <div class="stats">
            <i class="fa fa-history mr-1"></i> Updated 10 minutes ago
        </div>
    </div>
</div>