.single-row{
  display: flex;
}

.main-content {
  margin-top: 20px;
}

.filter-columns {
  bottom: 20px;
  right: 20px;
  position: absolute;

  .forminput {
      &.filter {
        width: 400px;
      }
    }
  }
