<j-header></j-header>

<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-md-12">
      <div class=row>
        <div class="col-md-10 mb-2">
          <span class="h5 mr-sm-4">Unfunded Requests:</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <fieldset>
            <legend>
              <i class="fa fa-filter icon-pad" aria-hidden="true"></i>Filter By</legend>
            <div class="row fieldset-padding">
              <table class="ufr-search-table">
                <tr>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" id="defaultCheck1" [(ngModel)]="useorg" (change)="search()">
                      <label class="form-check-label primary-label" for="defaultCheck1">Organization</label>
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="form-group">
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.orgId" name="org" [disabled]="!useorg"
                        (change)="search()">
                        <option *ngFor="let o of orgs" [ngValue]="o.id" [selected]="">{{o.name}}</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" id="defaultCheck5" [(ngModel)]="usestatus" (change)="search()">
                      <label class="form-check-label primary-label" for="defaultCheck5">Status</label>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.status" name="status" [disabled]="!usestatus" (change)="search()">
                        <option *ngFor="let d of statuses">{{d}}</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" [(ngModel)]="usefa" (change)="search()">
                      <label class="form-check-label primary-label " for="defaultCheck2">Func. Area</label>
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="form-group">
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.fa" name="area" [disabled]="!usefa" (change)="search()">
                        <option *ngFor="let a of fas" [ngValue]="a.abbr" title="{{a.name}}">{{a.abbr}}</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck6" [(ngModel)]="usedisp" (change)="search()">
                      <label class="form-check-label primary-label" for="defaultCheck6">Disposition</label>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.disposition" name="disposition" [disabled]="!usedisp" (change)="search()">
                        <option *ngFor="let d of dispositions">{{d}}</option>
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" [(ngModel)]="usedates" (change)="search()">
                      <label class="form-check-label primary-label" for="defaultCheck3">Date Issued</label>
                    </div>
                  </td>
                  <td colspan="2">
                    <span class="form-group inline-name">
                      <div class="mr-sm-2">
                        <label class="primary-label">From</label>
                      </div>
                      <div class="mr-sm-2">
                        <select class="form-control-sm dropdown-width mb-2 mr-3" [(ngModel)]="filter.from" name="from" [disabled]="!usedates" (change)="search()">
                          <option>from</option>
                        </select>
                      </div>
                    </span>
                    <span class="form-group inline-name">
                      <div class="mr-sm-2">
                        <label class="primary-label">To</label>
                      </div>
                      <div class="mr-sm-2">
                        <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.to" name="to" [disabled]="!usedates" (change)="search()">
                          <option>to</option>
                        </select>
                      </div>
                    </span>
                  </td>
                  <td>
                    <div class="form-check mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck7" [(ngModel)]="usecycle" (change)="search()">
                      <label class="form-check-label primary-label " for="defaultCheck7">Cycle</label>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control-sm dropdown-width mb-2" [(ngModel)]="filter.cycle" name="cycle" [disabled]="!usecycle"
                        (change)="search()">
                        <option *ngFor="let c of cycles" [value]="c">{{c}}</option>
                      </select>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </fieldset>
          <div class="h6">Select UFR of Interest</div>
          <mat-table [dataSource]="datasource" matSort matSortActive="number" matSortDirection="asc">
            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef mat-sort-header>UFR#</mat-header-cell>
              <mat-cell class="ufr-view-link" *matCellDef="let p">{{p.requestNumber}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>UFR Name</mat-header-cell>
              <mat-cell class="ufr-view-link" *matCellDef="let p">{{p.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="progid">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Prog ID</mat-header-cell>
              <mat-cell class="ufr-view-link" *matCellDef="let p"></mat-cell>
            </ng-container>
            <ng-container matColumnDef="parent">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Parent</mat-header-cell>
              <mat-cell class="ufr-view-link" *matCellDef="let p"></mat-cell>
            </ng-container>
            <ng-container matColumnDef="yoe">
              <mat-header-cell *matHeaderCellDef mat-sort-header>YoE?</mat-header-cell>
              <mat-cell class="ufr-view-link" *matCellDef="let p">{{p.yoE}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
              <mat-cell class="ufr-view-link" *matCellDef="let p"> {{p.status}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="disp">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Disp</mat-header-cell>
              <mat-cell class="ufr-view-link" *matCellDef="let p"> {{p.disposition}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cycle">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Cycle</mat-header-cell>
              <mat-cell class="ufr-view-link" *matCellDef="let p">{{cyclelkp.get(p.pomId)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="funding">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Funding Request</mat-header-cell>
              <mat-cell class="ufr-view-link" *matCellDef="let p">&lt;no data?&gt;</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="['number', 'name', 'progid', 'parent', 'yoe', 'status', 'disp', 'cycle', 'funding']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['number', 'name', 'progid', 'parent', 'yoe', 'status', 'disp', 'cycle','funding']" (click)="navigate( row )"></mat-row>
          </mat-table>
          <mat-paginator [pageSize]="10"></mat-paginator>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-sm-12">
          <fieldset>
            <legend>Add New UFR:</legend>
             <app-new-ufr></app-new-ufr>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
