<j-header></j-header>

<div class="container-fluid">
  <div class="row main-content" *ngIf="header.isAuthenticated">
    <div class="col-md-12">
      <div class="row">
        <div class="col-12 mb-2">
          <span class="h5 mr-sm-4">Summary of Unfunded Requirements Requests:</span>
        </div>
      </div>
      <div class="row">
        <new-ufr class="col-5"></new-ufr>
        <div class="col-2"></div>
        <filter-ufrs class="col-5" [cycles]="cycles" [mapCycleIdToFy]="mapCycleIdToFy" (change)="search()"></filter-ufrs>
      </div>
      <div class="row">
        <div class="col-12">
          <all-ufrs [mapCycleIdToFy]="mapCycleIdToFy" [filterUfrsComponent]="filterUfrsComponent"></all-ufrs>
        </div>
      </div>
    </div>
  </div>
</div>
