<app-header></app-header>
<div class="single-row">
  <menu-bar [authUser]="authUser"></menu-bar>
<div class="container-fluid">
    <div class="row main-content">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 mb-2">
            <span class="h5 mr-sm-4">Summary of Unfunded Requirements Requests for {{pom?.fy|FY:'POM'}}</span>
          </div>
        </div>
        <div *ngIf="pom?.status !== 'RECONCILIATION'"  class="row">
          <div class="col-6">
            <new-ufr [phaseType]="PhaseType.POM" [containerId]="pom?.workspaceId"></new-ufr>
          </div>
          <div class="col-6">
            <div class="filter-columns pull-right">
               <input  type="text"  class="form-control forminput filter" placeholder="Filter all columns ..."
                 [(ngModel)] = "allufrs.filtertext"  (input)="allufrs.onFilterTextBoxChanged()" />
            </div>
          </div>
        </div>
        <div *ngIf="pom?.status === 'RECONCILIATION'"  class="row mb-2">
          <div class="col-3">
            <input type="text"  class="form-control forminput filter" placeholder="Filter all columns ..."
                   [(ngModel)] = "allufrs.filtertext"  (input)="allufrs.onFilterTextBoxChanged()" />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <all-ufrs #allufrs [phaseType]="PhaseType.POM" [fy]="pom?.fy" [urlPath]="'ufr-view'" [ufrFilter]="ufrFilter" [mapCycleIdToFy]="mapCycleIdToFy"></all-ufrs>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

