<div class="row mb-2">
  <div class="col-12">
      <ag-grid-angular #agGrid class="ag-theme-balham"
        id="myGrid"
        [enableSorting]="true"
        [enableFilter]="false"
        [gridAutoHeight]="true"
        [gridOptions]="agOptions"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [columnTypes]="columnTypes"
        [toolPanelSuppressSideButtons]="true"
        [pagination]="true"
        [paginationPageSize]="20"
        [enableColResize]="true"
        [suppressDragLeaveHidesColumns]="true"
        [suppressMovableColumns]="true"
        [suppressPaginationPanel]="true"
        (gridReady)="onGridReady($event)"
        >
      </ag-grid-angular>
  </div>
</div>
