fa-icon {
  font-size: x-large;
}

fa-icon:hover {
  cursor: pointer;
  color: red;
}

.pfm-datagrid {
  width: 100%;
  height: 100%;
}

.pfm-datagrid-extras {
  display: flex;
  justify-content: space-between;
  height: 30px;
  border-color: #7b8389;
  border-style: solid;
  border-width: 1px;
  border-bottom: 0;
}

.pagination-container {
  display: flex;
  height: 25px;
  align-self: center;
}

.pagination {
  display: flex;
}

ag-grid-pagination ::ng-deep .pagination > .page-item {
  cursor: pointer;
}

ag-grid-pagination ::ng-deep .pagination > .page-link {
  cursor: default;
}

.add-row-container {
  display: flex;
}

.pfm-data {
  width: 100%;
  height: 100%;
}

fa-icon {
  padding-left: 8px;
}

p {
  padding-right: 3px;
  padding-left: 3px;
}

.disabled {
  opacity: 0.6;
}

.disabled:hover {
  color: black;
  cursor: default;
}

:host ::ng-deep .ag-cell-wrapper.ag-row-group {
  align-items: center;
}

:host ::ng-deep .ag-icon-expanded:before {
  content: 'small-down';
}

:host ::ng-deep .ag-cell-wrapper.ag-row-group {
  padding-left: 0;
}

.ag-grid::ng-deep .ag-root.ag-layout-auto-height {
  padding-bottom: 10px;
}
