<div class="pfm-datagrid">
    <div class="add-row-container">
        <div (click)="addNewRow()">
            <fa name="plus"></fa>
            <fa name="caret-down"></fa>
        </div>
    </div>
    <ag-grid-angular  style="width: 100%; height: 100%;"
                      [columnDefs]="columns"
                      [rowData]="rows"
                      [rowDragManaged]="true"
                      [defaultColDef]="defaultColDef"
                      [modules]="modules"
                      suppressRowClickSelection
                      rowSelection="single"
                      [rowHeight]="50"
                      (gridReady)="onGridReady($event)"
                      (modelUpdated)="onModelUpdated()">
    </ag-grid-angular>

</div>
