<div class="pfm-datagrid">
    <div class="add-row-container">
        <div title="Add">
            <pfm-dropdown (onSelectionChanged)="handleAdd($event)" [type]="'iconDropdown'" [iconName]="'plus'" [label]="'Add'" [required]="true" [id]="'grid_icon_dropdown_id'" [fieldName]="'name'" [fieldLabel]="'name'" [options]="options"></pfm-dropdown>
        </div>
    </div>
    <div class="pfm-data">
        <ag-grid-angular  style="width: 100%; height: 100%;"
                          [columnDefs]="columns"
                          [rowData]="rows"
                          [rowDragManaged]="true"
                          [editType]="'fullRow'"
                          [suppressClickEdit]="true"
                          [defaultColDef]="defaultColDef"
                          [modules]="modules"
                          [suppressRowClickSelection]="true"
                          [animateRows]="true"
                          [tabToNextCell]="tabToNextCell"
                          [rowSelection]="'single'"
                          [rowHeight]="40"
                          (gridReady)="onGridReady($event)"
                          (rowDragEnd)="onRowDragEnd($event)"
                          (cellClicked)="onCellClicked($event)"
                          (modelUpdated)="onModelUpdated()">
        </ag-grid-angular>
    </div>
</div>
